/* General css starts ===== */
.about-image-col{
    float: left;width: 53%;
    img{margin:0 auto; display:block; max-width:100%;}
}
.about-text-col{
    float: right;width: 47%;
}

.about-section.alt{
    background: $lightGray;
    border-top:1px solid $section-border;
    border-bottom:1px solid $section-border;
    .about-image-col{float: right;}
}
.about-text-col-inner{max-width: 360px;margin: 0 auto;}

@media all and (min-width:768px){
    .about-section{
        padding-bottom: $section-spacing;
        padding-top: $section-spacing;
        &.global-think-section{
            padding-top:0;
        }
    }
}
/* General css ends ===== */
/* Globar thinking section starts ===== */
@media all and (min-width:768px){
    .global-think-section .about-image-col{
        img{
            position: relative;
            left: 71px;
        }
    }
    
}
/* Globar thinking section starts ===== */

/* Elephant room css starts ===== */
.elephant-room-section .about-text-col-inner{
    position: relative;
    left: -18px;
}
@media all and (min-width:768px){
    .elephant-room-section{
        .about-image-col{
            img{
                position: relative;
                left: -25px;
            }
        }
    }
    
    
}
/* Elephant room css ends ===== */

/* Solution section css starts ===== */

@media all and (min-width:768px){
    .solution-section{
        .about-image-col{
            img{
                position: relative;
                left: 75px;
            }
        }
    }
}

/* Solution section css ends ===== */


/* Our vision mission section css starts ===== */


.vision-mission-column-wrapper{display:flex;}
.vision-mission-column{
    width:50%;
}
.vision-mission-column-inner{
    max-width: 365px;
    padding-top: $section-space;
    padding-bottom: $section-space;
    @media all and (max-width:767px){
        padding-top: $section-space-responsive;
        padding-bottom: $section-space-responsive;
    }
}
.mission-column{
    background: $primary;padding-right: 138px;
    h2, p{color:$white;}
    .vision-mission-column-inner{margin-left:auto}
}

.vision-column{
    background: $secondary;padding-left: 120px;
    h2, p{color:$Header-title;}
    .vision-mission-column-inner{margin-right:auto}
}

/* Our vision mission section css ends ===== */

/* Core value section css starts ===== */

.core-value-section{
    background: #292929;
    text-align: center;
    padding-top: $section-space;
    padding-bottom: $section-space;
    @media all and (max-width:767px){
        padding-top: $section-space-responsive;
        padding-bottom: $section-space-responsive;
    }
    .container{max-width: 982px;}
    h3{font-size: 20px;line-height: 26px;margin-bottom: 12px;font-weight: 400}
    h2, h3, p{color:$white;}
}
.core-value-column{float: left; width:33.3%; padding:10px;}
.core-value-column-inner{
    margin: 0 auto;
    max-width: 210px;
}

/* Core value section css ends ===== */

/* CSR starts */
.about-top-content > p{
    display: none;
}
.about-csr-section {
    padding-bottom: $section-space;
    @media all and (max-width:767px){
        padding-bottom: $section-space-responsive;
    }
    .about-csr-banner img{
        height:498px;
        width: 100%;
        object-fit: cover;
        @media all and (max-width:767px){
            height:250px;
        }
    }
    .csr-quote-block{
        background: #fff;
        padding: 88px 70px 0 168px;
        padding-bottom:$section-spacing;
        margin-top: -248px;
        position: relative;
        @media all and (max-width:767px){
            padding:15px 15px 50px 70px;
            margin-top: -163px;
        }
        &:before{
            content:'';
            display: block;
            position: absolute;
            left: 53px;
            top: 94px;
            background: url(images/quote-image.jpg) no-repeat;
            width:90px;
            height:74px;
            @media all and (max-width:767px){
                left: 10px;
                top: 20px;
                width: 45px;
                background-size: contain;
            }
        }
    }
    .csr-quote-text{
        font-size: 30px;
        line-height: 45px;
        font-weight: 400;
        color: #333333;
        margin-bottom: 38px;
        @media all and (max-width:767px){
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 10px;
        }
    }
    .csr-quote-author{
        float: left;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        color:$primary;
        @media all and (max-width:767px){
            font-size: 14px;
            line-height: 24px;
        }
    }
    .csr-read-more-link{
        float: right;
    }
    .about-csr-col{
        @media all and (min-width:1024px){
            float: left;
            width: 50%;
            padding:0 10px;
        }
        @media all and (max-width:1023px){
            &:first-child{
                padding-bottom:$mobile-section-spacing;
            }
            
        }
        h2{
            font-size: $inner-title-font-size;
            line-height: $inner-title-line-height;
            margin-bottom:$inner-title-margin-bottom;
            font-weight: $inner-title-font-weight;
            @media all and (max-width:767px){
                font-size: $inner-title-font-size-responsive;
                line-height: $inner-title-line-height-responsive;
            }
        }
    }
    .about-csr-col-inner{
        max-width: 390px;
        margin:0 auto;
        @media all and (max-width:1023px){
            text-align: center;
        }
    }
}
/* CSR ends */

/*About us ends ===========================================================*/

