.agency-communication-section{
    text-align: center;
    position: relative;
    height: 700px;
    p{
        color:$Header-title;
    }
    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: url(images/agency-banner.jpg);
        background-position: center;
        background-size: cover;
        opacity: 0.17;
        z-index: 1;
    }
    &:after{
        background: $primary;
        opacity: 0.17;
        z-index: 2;
    }
    .acs-inner{
        position: relative;
        z-index: 3;
        @media all and (min-width:768px){
            padding: 146px 20px 0;
        }
        @media all and (max-width:767px){
            padding:56px 15px;
        }
    }
    h1 {
        @media all and (min-width:768px){
            font-size: 34px;
            line-height: 40px;
            margin-bottom: 30px;
        }
        font-weight: 300;
        color: $primary;
        .box1 {
            width: 12px;
            height: 12px;
            left: -31px;
            top: -4px;
        }
    }
    .acs-desc{
        max-width: 560px;
        margin: 0 auto 24px;
    }
    @media all and (max-width:767px){
        height:340px;
    }
}

.communication-support-section{
    padding:74px 0 76px;
    @media all and (max-width:767px){
        padding-bottom:30px;
    }
    text-align: center;
    h2{
        @media all and (min-width:768px){
            font-size: 28px;
            line-height: 47px;
            margin: 0 auto 38px;
        }
        color:$primary;
        font-weight: 300;
        text-align: center;
        max-width: 465px;
        @media all and (max-width:767px){
            .square-box-wrapper{
                display: inline-block;
            }
        }
        .box1{
            right: -68px;
            top: -13px;
            width: 18px;
            height: 18px;
            @media all and (max-width:767px){
                right:10px;
                top:-30px;
            }
        }
    }
    .container{
        max-width: 1100px;


    }
}

.bafta-award-section{
    background: $lightPink;
}

.bafta-award-section{
    background: $lightPink;
    padding-bottom: 117px;
    .container{
        @media all and (min-width:991px){
            position: relative;
            left: -9px;
        }
    }
    .bas-left-column{
        float: right;
        width: 50%;
        padding-top: 135px;
        position: relative;
        left: 16px;
        img{
            max-width:410px;
            height:auto;
            display: block;
            margin:0 auto;
        }
        @media all and (max-width:990px){
            float: none;
            width:auto;
            left:0;
        }
        @media all and (max-width:767px){
            padding-top:15px;
            img{
                max-width: 100%;
                height: auto;
                display: block;
                margin: 0 auto;
            }
        }
    }
    .bas-right-column{
        float: left;
        width: 50%;
        padding-top: 118px;
        max-width: 500px;
        padding-left: 61px;
        padding-right:20px;
        @media all and (max-width:990px){
            text-align: center;
            width: auto;
            float: none;
            margin: 0 auto;
            padding-left: 0;
            max-width: none;
            padding-right:0;
            ul{
                text-align: left;
                max-width: 370px;
                margin: 0 auto;
            }
        }
        @media all and (max-width:767px){
            padding-top:30px;
        }
        h2{
            color:$primary;
            max-width: 370px;
            margin:0 auto 46px;
            @media all and (min-width:768px){
                font-size: 28px;
                line-height: 48px;
                margin:0 0 46px;
            }
            .square-box-wrapper {
                display: inline-block;
                .box1{
                    width: 12px;
                    height: 12px;
                    right: 10px;
                    top: -10px;
                    @media all and (max-width:990px){
                        right: -7px;
                        top: -14px;
                    }
                }
            }
        }
        ul{
            padding-top:15px;
            li{
                position: relative;
                padding-left: 37px;
                padding-bottom: 6px;
                font-size: 16px;
                line-height: 22px;
                font-weight: 200;
                color: $paragraph-color;
                @media all and (max-width:767px){
                    font-size: 12px;
                    line-height: 18px;
                }
                &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    left: 5px;
                    top: 6px;
                    width: 6px;
                    height: 6px;
                    border-radius: 3px;
                    border:3px solid $primary;
                }
            }
        }
    }
    @media all and (max-width:767px){
        padding-bottom:30px;
    }
}

.worldclass-employer-section{
    padding:108px 0 98px 0;
    border-bottom:1px solid #e6e6e6;
    text-align: center;
    @media all and (max-width:767px){
        padding:60px 0 30px 0;
    }
    h2{
        color:$primary;
        @media all and (min-width:768px){
            font-size: 28px;
            line-height: 48px;
            margin:0 auto 30px;
        }
        
        max-width: 350px;
        
        .square-box-wrapper{
            display: inline-block;
        }
        .box1{
            position: absolute;
            right: -2px;
            top: -13px;
            width: 18px;
            height: 18px;
            @media all and (max-width:767px){
                top:-33px;
                right:0;
            }
        }
    }
    p{
        margin-bottom:28px;
        &:last-child{
            margin-bottom:0;
        }
    }
    .container{
        max-width: 1120px;
    }
}

.traning-wrapper{
    .agency-communication-section:before{
        background-image:url(images/traning-banner.jpg)
    }
    .agency-communication-section:after{
        background: $theme;
    }
    h1{
        color:$theme;
        margin:0 auto 27px;
        max-width: 450px;
    }
    .communication-support-section { 
        @media all and (min-width:768px){
            padding-bottom:160px;
        }
        h2{
            max-width: 395px;
            color:$theme;
            @media all and (min-width:768px){
                .box1{
                    right:-22px;    
                }
            }
        }
    }
    .bafta-award-section { 
        @media all and (min-width:768px){
            padding-bottom:135px;
        }
        position: relative;
        background: none;
        @media all and (max-width:767px){
            padding-top:30px;
        }
        .bafta-award-inner{
            position: relative;
            z-index: 3;
        }
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: url(images/traning-in-hurry-bg.png);
            background-position: center;
            background-size: cover;
            opacity: 0.17;
            z-index: 1;
        }
        &:after{
            background: $theme;
            opacity: 0.17;
            z-index: 2;
        }

        .bas-right-column { 
            h2{
                color:$theme;
                max-width: 285px;
                margin-bottom:26px;
                @media all and (min-width:768px){
                    .square-box-wrapper .box1{
                        right: 1px;
                        top: 3px;
                    }
                }
            }
            p{
                margin-bottom:28px;
                &:last-child{
                    margin-bottom:0;
                }
            }
        }
        .bas-left-column{
            @media all and (min-width:768px){
                left: -62px;
                img{
                    max-width: 535px;
                }
            }
        }  
    }
    .worldclass-employer-section h2{
        color:$theme;
        @media all and (min-width:768px){
            .box1{
                right: 18px;
                top: -5px;
            }
        }
    }
}

/* Servicespage starts */

.services-wrapper { 
    .agency-communication-section:before{
        background-image: url(images/service-banner.jpg);
    }
    .agency-communication-section h1{
        max-width: 340px;
        margin-left:auto;
        margin-right:auto;
    }
    .communication-support-section h2{
        max-width: 375px;
        margin:0 aut0 15px;
    }
}
.page-template-services{
    .agency-communication-section h1 .box1{
        left:-23px;
        @media all and (max-width:767px){
            left: -13px;
            top: -20px;
        }
    }
    .communication-support-section h2 { 
        .square-box-wrapper{
            display: inline-block
        }
        .box1{
        @media all and (min-width:768px){
            right: -10px;
            top: -13px;
        }
        }
    }
    .visibly-help-block{
        text-align: center;
        .menu-services-menu-container ul li{
            @media all and (min-width:768px){
                float: none;
                display: inline-block;
            }
        }
    }
    .communication-support-section .container{
        max-width: 1080px;
    }
}
/* Servicespage ends */