body.single-post{
    .st-sticky-share-buttons{
        margin-left: 35px !important;
        .st-btn{
            background-color: $white !important;
            border-top-right-radius: 0px !important;
            height: 40px !important;
            width: 40px !important;
            background-repeat: no-repeat;
            border-radius: 50% !important;
            border: 1px solid #b3b3b3 !important;
            margin-right: 14px !important;
            margin-bottom: 12px !important;

            img{
                display: none;
            }
            &:hover{
                width: 40px !important;
            }
            .st-label{
                display: none !important;
            }
        }
        .st-toggle{
            display: none !important; 
        }
        .st-btn[data-network='facebook']{
            background:url(images/facebook.svg);
            background-size: cover;
            &:hover{
                border: 1px solid $primary !important;
                background-image:url(images/facebook_red.svg) !important;
            }

        }
        .st-btn[data-network='twitter']{
            background:url(images/twitter.svg);
            background-size: cover;
            &:hover{
                border: 1px solid $primary !important;
                background-image:url(images/twitter_red.svg) !important;
            }

        }
        .st-btn[data-network='pinterest']{
            background:url(images/pinterest.svg);
            background-size: cover;
            &:hover{
                border: 1px solid $primary !important;
                background-image:url(images/pinterest_red.svg) !important;
            }

        }
        .st-btn[data-network='linkedin']{
            background-image:url(images/linkedin.svg);
            background-size: 21px;
            background-repeat: no-repeat;
            background-position: center;
            &:hover{
                border: 1px solid $primary !important;
                background-image:url(images/linkedin_red.svg) !important;
            }

        }
        .st-btn[data-network='sharethis']{
            background: url(images/share.svg);
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center;
            &:hover{
                border: 1px solid $primary !important;
                background-image:url(images/share_red.svg) !important;
            }

        }
    }
}

// Article Page
#single_article_page{
    .title_section{
        .top_txt{
            .txt{
                font-size: 22px;
                font-weight: $font-black;
                margin-bottom: 7px;
                @media(max-width: 767px){
                    font-size: 18px;
                }
                
                span.line{
                    position: relative;
                    &:before{
                        content: "";
                        position: absolute;
                        top: 49%;
                        height: 4px;
                        width: 41px;
                        background: $primary;
                        left: -55px;
                        @media(max-width: 767px){
                            top: 49%;
                            height: 3px;
                            width: 35px;
                            top: 45%;
                            left: -47px;
                        }
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        top: 49%;
                        height: 4px;
                        width: 41px;
                        background: $primary;
                        right: -52px;
                        @media(max-width: 767px){
                            top: 49%;
                            height: 3px;
                            width: 35px;
                            top: 45%;
                            right: -45px;
                        }
                    }
                }
            }
            .subtxt{
                font-size: 20px;
                color: #b3b3b3;
                font-style: italic;
                @media(max-width: 767px){
                    font-size: 17px;
                }
            }
            .article_title{ 
                margin-top: 41px;
                font-size: 54px;
                font-weight: $font-black;
                line-height: 58px;
                margin-bottom: 15px;
                color: $Header-title;
                @media(max-width: 767px){
                    font-size: 20px;
                    line-height: 28px;
                }
                br{
                    @media(max-width: 1024px){
                        display: none;
                    }
                }
            }
            .article_subtxt{
                font-size: 18px;
                @media(max-width: 767px){
                    font-size: 16px;
                    line-height: 25px;
                }
            }
        }
    }
    .article_banner{
        .nxt_article{
            text-align: right;
        }
        .article_header{
            margin-top: 21px;
                @media all and (min-width:768px){
                    .link_with_arrow{
                        display: none;
                    }
                    br{
                        display: none;
                    }
                }
            .article_cat{
                float: left;
                color: #b3b3b3;
                font-weight: 800;
                font-size: 25px;
                margin-left: 1px;
                border-bottom: 1px solid #b3b3b3;
                padding-bottom: 2px;
                @media(max-width: 767px){
                    float: none;
                    border-bottom: none;
                    text-decoration: underline;
                    font-size: 16px
                }
            }
           @media all and (min-width:768px){
                .navigation{
                    float: right;
                    text-align: right;
                }
            }
            .next_article_url{
                margin: 30px 0 10px;
                font-size: 15px;
                font-weight: 500;
                text-decoration: underline;
                color: $theme;
                position: relative;
                &:after{
                    text-align: center;
                    content: "";
                    position: absolute;
                    border: 2px dotted #316cfa;
                    border-radius: 50%;
                    padding: 10px;
                    background: url(images/right_arrow.png);
                    background-repeat: no-repeat;
                    background-position: center center;
                    top: -2px;
                    left: 30%;
                    @media(max-width: 767px){
                        left: 38%;
                    }
                }
              
            }
            .next_article_title{
                float: right;
                font-weight: $font-black;
                font-size: 23px;
                color: #1c1c1c;
                padding-top: 2px;
                @media(max-width: 767px){
                    width:100%;
                    line-height: 32px;
                    font-size: 20px;
                }

            }
            a{
                @media(max-width: 767px){
                    display: block;
                }
            }
        }
        .article_banner_img{
            margin-top: 22px;
            img{
                max-height:500px;
                object-fit: cover;
            }
        }
    }
    .article_detail{
        padding-left: 5px;
        padding-top:$section-space;
        @media all and (max-width:767px){
            padding-top:$section-space-responsive;
            padding-bottom:$section-space-responsive;
            padding-left: 0;
        }
        .article_parent{
            @media(max-width: 767px){
                -webkit-box-direction: column;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
            }
            .author_detail{
                width: 18%;
                padding-top: 11px;
                @media(max-width: 767px){
                    width: 100%;
                }
                .author_img{
                    max-width: 45px;
                    border-radius: 50%;
                    overflow: hidden;
                    @media(max-width: 767px){
                        margin: 0 auto;
                    }
                }
                .author_name{
                    margin-top: 9px;
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 0;
                    line-height: 1;
                }
                .publish_date{
                    font-size: 14px;
                    font-weight: 500;
                }
            }
            .article_txt{
                width: 63%;
                padding-left: 29px;
                
                ul li{
                    position: relative;
                    padding-left:15px;
                    font-size: $para-font-size;
                    line-height: $para-line-height;
                    @media(max-width: 767px){
                        font-size: $para-font-size-reponsive;
                        line-height: $para-line-height-reponsive;
                    }
                    font-weight: 300;
                    color:$default-content;
                    padding-bottom: 10px;
                    &:before{
                        content:'';
                        display: block;
                        position: absolute;
                        left:0;
                        top: 9px;
                        width: 7px;
                        height: 7px;
                        border-radius: 10px;
                        background-color: $default-content;
                    }
                }
                @media(max-width: 767px){
                    width: 100%;
                    margin-top: 20px;
                    padding-left: 0;
                }
                img{
                    margin-bottom: 28px;
                }
            }
        }
        .article_share{
            margin-left: 230px;
            @media(max-width: 767px){
                margin-left: 0;
            }
            .st-inline-share-buttons{
                text-align: left;
                margin-top:30px;
                @media all and (max-width:767px){
                    text-align: center;
                }
                .st-btn{
                    background-color: $white;
                    height: 40px;
                    width: 40px;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    border: 1px solid #b3b3b3;
                    margin-right: 14px;
                    img{
                        display: none;
                    }
                }
                .st-btn[data-network='facebook']{
                    background:url(images/facebook.svg);
                    background-size: cover;
                    &:hover{
                        border: 1px solid $primary !important;
                        background-image:url(images/facebook_red.svg) !important;
                        opacity: 1 !important;
                    }
                    
                }
                .st-btn[data-network='twitter']{
                    background:url(images/twitter.svg);
                    background-size: cover;
                    &:hover{
                        border: 1px solid $primary !important;
                        background-image:url(images/twitter_red.svg) !important;
                        opacity: 1 !important;
                    }
                    
                }
                .st-btn[data-network='linkedin']{
                    background:url(images/linkedin.svg);
                    background-size: 21px;
                    background-position: center;
                    background-repeat: no-repeat;
                    &:hover{
                        border: 1px solid $primary !important;
                        background-image:url(images/linkedin_red.svg) !important;
                        opacity: 1 !important;
                    }
                    
                }
                .st-btn[data-network='pinterest']{
                    background:url(images/pinterest.svg);
                    background-size: cover;
                    &:hover{
                        border: 1px solid $primary !important;
                        background-image:url(images/pinterest_red.svg) !important;
                        opacity: 1 !important;
                    }
                    
                }
                .st-btn[data-network='sharethis']{
                    background: url(images/share.svg);
                    background-size: 50%;
                    background-repeat: no-repeat;
                    background-position: center;
                    &:hover{
                        border: 1px solid $primary !important;
                        background-image:url(images/share_red.svg) !important;
                        opacity: 1 !important;
                    }
                    
                } 
            }
        }

    }
    .footer-blog-nav{
        padding-bottom: 43px;
    }
    .next_article{
        display: none;
        &.show{
            display: block;
        }
        .next_blog_url{
            position: relative;
            display: block;
            margin-bottom: 16px;
            @media(max-width: 767px){
                text-align: left;
            }
         
        }
        .next_blog_title{
            font-weight: $font-black;
            display: block;
            font-size: 23px;
            color: #1c1c1c;
            padding-top: 2px;
            @media(max-width: 767px){
                text-align: left;
                line-height: 32px;
                font-size: 20px;
            }
        }
    }
    

    // RELATED ARTICLES STARTS
    .related_articles{
        padding-top: $section-space;
        @media all and (max-width:767px){
            padding-top: $section-space-responsive;
        }
        .section_title{
            h3.title{
                font-size: 22px;
                font-weight: $font-black;
                span.line{
                    position: relative;
                    &:before{
                        content: "";
                        position: absolute;
                        top: 42%;
                        height: 4px;
                        width: 41px;
                        background: $primary;
                        left: -55px;
                        @media(max-width: 767px){
                            top: 49%;
                            height: 3px;
                            width: 35px;
                            top: 45%;
                            left: -47px;
                        }
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        top: 42%;
                        height: 4px;
                        width: 41px;
                        background: $primary;
                        right: -52px;
                        @media(max-width: 767px){
                            top: 49%;
                            height: 3px;
                            width: 35px;
                            top: 45%;
                            right: -45px;
                        }
                    }
                }
            }
        }
        .article_list{
            margin-top: 81px;
            .inner_wrap{

                .article_row{
                    margin-right: auto;
                    margin-left: auto;
                    padding: 0 20px;
                    max-width: 1280px;
                    .article{
                        width: 50%;
                        padding: 76px 0;
                        position: relative;
                        @media(max-width: 1024px){
                            width: 100%;
                            padding: 0 0 76px;
                        }
                        span.border{
                            background: #ececec;
                            height: 1px;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 200%;
                            @media(max-width: 1024px){
                                display: none;
                            }
                        }    
                        .article_url{
                            align-items: inherit;
                        }                    
                        .article_image_wrap{
                            width: 45%;
                            @media(max-width: 767px){
                                width: 100%;
                            }
                        }
                        .article_text_wrap{
                            width: 55%;
                            padding-left: 34px;
                            padding-right: 18px;
                            @media(max-width: 767px){
                                width: 100%;
                                padding: 0;
                            }
                            .article_title{
                                font-weight: $font-black;
                                font-size: 19px;
                                margin-bottom: 0;
                                line-height: 25px;
                                padding-top: 7px;
                                a{
                                    color:$Header-title;
                                }
                                @media(max-width: 767px){
                                    font-size: 22px;
                                    margin-top: 12px;
                                }
                                @media(max-width: 1024px){
                                    font-size: 25px;
                                    line-height: 30px;
                                }
                                @media(min-width: 1025px) and (max-width:1400px){
                                    font-size: 18px;
                                }
                            }
                            .article_descr{
                                font-size: 16px;
                                font-weight: 500;
                                margin-bottom: 0;
                                line-height: 32px;
                                padding-top: 4px;
                                padding-right: 32px;
                                @media(min-width: 1025px) and (max-width:1400px){
                                    line-height: 29px;
                                }
                                @media(max-width: 1024px){
                                    font-size: 18px;
                                    padding-right: 0;
                                    padding: 12px 0;
                                }
                                @media(max-width: 767px){
                                    font-size: 15px;
                                    text-align: left;
                                    height:104px;
                                    p{
                                        text-align: left;
                                    }
                                }
                            }
                            .article_category{
                                font-size: 16px;
                                font-style: italic;
                                color: #b3b3b3;
                                @media(max-width: 1024px){
                                    font-size: 18px;
                                }
                                @media(max-width: 767px){
                                    font-size: 14px;
                                    text-align: left;
                                }
                            }
                        }

                        &:nth-child(1){
                            padding-top: 0;
                        }

                        &:nth-child(2){
                            padding-top: 0;
                        }


                        &:nth-child(even){
                            padding-left: 50px;
                            @media(max-width: 1024px){
                                padding-left: 0;
                            }
                            span.border{
                                width: 50%;
                            }
                        }

                        &:nth-child(odd){
                            padding-left: 52px;
                            @media(max-width: 1024px){
                                padding-left: 0;
                            }
                            .article_text_wrap{
                                position: relative;
                                &:after{
                                    content: "";
                                    position: absolute;
                                    top: 20%;
                                    right: 0;
                                    height: 135px;
                                    width: 1px;
                                    background: #ececec;
                                    @media(max-width: 1024px){
                                        content: none;
                                    }
                                }
                            }
                        }

                        &:nth-last-child(2){
                            span.border{
                                display: none;
                            }
                        }
                        &:last-child{
                            span.border{
                                display: none;
                            }
                            .article_text_wrap:after{
                                content: none;
                            }
                        }

                    }

                }
            }
        }
    }
    // RELATED ARTICLES ENDS

    // START TODAY SECTION STARTS
    .start_section{
        .start_today_section{
            padding-top: 101px;
            padding-bottom: 70px;
            h3.section_title{
                font-weight: 500;
            }
            .demo_btn{
                font-size: 16px;
                display: inline-block;
                padding: 19px 11px;
                background: $primary;
                color: $white;
                margin-top: 16px;
            }
        }
    }
    // START TODAY SECTION ENDS
}
.post-navigation br{
    display: none;
}
.nav-previous{
    display: none;       
}
.nav-next{
    display: block;
    
    .meta-nav{
        padding-right: 40px;
        position: relative;
        color: $theme;
        font-size: 14px;
        line-height: 28px;
        font-weight: 500;
        text-decoration: underline;
        display: inline-block;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        &:hover{
            color: $primary;
            text-decoration: none;
        }
    }
}
#new_grid .article_image_wrap img{
height:205px;
object-fit: cover;
}

.st-sticky-share-buttons{
    z-index: 3 !important;
}

#new_grid .take-servey-section .container
{
    @media all and (max-width:767px){
        padding:0;
    }
}
.single #footer .signup-form-wrapper{
    border-bottom:0;
}

.single-article-section{
    padding-bottom:0;
}
.related_articles .link-more{
    display: none;
}

.article_txt, #tinymce { 
    blockquote{
    margin-bottom:15px;
    font-style: italic;
    @media all and (max-width:767px){
        margin-left:15px;
    }
    *{
        display: inline;
    }
    &:before, &:after{
        position: absolute;
        font-size: 50px;
    }
    &:before{
        content:'“';
        margin: 15px 0 0 -30px;
    }
    &:after{
        content:'”';
        margin:13px 0 0 0px;
    }
    p{
        display: inline;
    }
}
}
