// BLOG LISTING PAGE

#blog_listing_page, .blogMainWrapper{
    // JOIN SECTION STARTS
    .join_section{
        padding-bottom:$section-space;
        @media(max-width: 767px){
            padding-bottom:$section-space-responsive;
        }
        .title{
            h3.section_title{
                font-size: 38px;
                font-weight: $font-black;
                @media(max-width: 767px){
                    font-size: 26px;
                }
                .line_txt{
                    position: relative;
                    &:before{
                        content: "";
                        position: absolute;
                        top: 55%;
                        height: 4px;
                        width: 15%;
                        background: $primary;
                        left: -25%;
                        @media(max-width: 767px){
                            top: 50%;
                            left: -20%;
                        }

                    }
                    &:after{
                        content: "";
                        position: absolute;
                        top: 55%;
                        height: 4px;
                        width: 15%;
                        background: $primary;
                        right: -22%;
                        @media(max-width: 767px){
                            top: 50%;
                            right: -20%;
                        }
                    }
                }
            }
            .title_descr{
                font-weight: 500;
                margin-top: 18px;
                font-size: 18px;
                word-spacing: -1px;
                @media(max-width: 767px){
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
        .form_wrapper{
            max-width: 63%;
            margin: 51px auto 0;
            padding: 0 30px;
            @media(max-width: 767px){
                max-width: 100%;
                margin: 30px auto 0;
                padding: 0;
            }
            @media(min-width: 768px)and(max-width: 1024px){
                max-width: 90%;
            }
            form{
                div.hs_email{
                    display: inline-block;
                    width: 75%;
                    @media(max-width: 767px){
                        width: 100%;
                    }
                    label{
                        display: none;
                    }
                    .input{
                        input{
                            border: 1px solid #ececec;
                            padding: 27px 12px;
                            font-size: 16px;
                            font-weight: 300;
                            color: $default-content;
                            @media(max-width: 767px){
                                padding: 20px 12px;
                            }
                        }
                    }
                }
                div.hs_submit{
                    display: inline-block;
                    width: 25%;
                    padding-left: 17px;
                    @media(max-width: 767px){
                        width: 100%;
                        padding: 0;
                        margin: 12px auto;
                        display: block;
                        text-align: center;
                    }
                    .hs-button{
                        padding: 18px 35px;
                        background: $primary;
                        color: $white;
                        font-size: 16px;
                        font-weight: 500;
                        font-family: "Montserrat", sans-serif;
                        border:0;
                        border-radius: 2px;
                        -webkit-border-radius: 2px;
                        -o-border-radius: 2px;
                        -ms-border-radius: 2px;
                        -moz-border-radius: 2px;
                        cursor: pointer;
                        -webkit-appearance: none;
                        &:hover{
                            -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
                            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
                        }
                        @media(max-width: 767px){
                            padding: 12px 34px;
                            font-size: 15px;
                        }
                    }
                }
            }
            p.policy_txt {
                font-size: 12px;
                margin-top: 7px;
                a{
                    color: $theme;
                    text-decoration: underline;
                }
            }
        }
    }
    // JOIN SECTION ENDS

    // HERO SECTION STARTS
    .hero_section{
        .category_title{
            padding-left: 32px;
            margin-bottom: 27px;
            @media(max-width: 1024px){
                padding-left: 0;
            }
            .cat_title{
                font-size: 20px;
                font-style: italic;
                font-weight: 300;
                color: #b3b3b3;
                @media(max-width: 767px){
                    text-align: left;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
        .hero{
            padding-left: 32px;
            .flex_view{
                align-items: unset;
            }
            @media(max-width: 1024px){
                padding-left: 0;
            }
            .blog_hero{
                @media all and (min-width:768px){
                    width: 43%;
                }
                @media(min-width: 768px)and(max-width: 1024px){
                    width: 50%;
                }
                @media all and (min-width:768px){
                    img{
                        height:400px;
                        width:100%;
                        object-fit: cover;
                    }
                }
            }
            
            .blog_txt{
                width: 57%;
                padding-left: 60px;
                @media(max-width: 767px){
                    width: 100%;
                    padding-left: 0;
                    padding-top: 15px;
                    p{
                        text-align: left;
                    }
                }
                @media(min-width: 768px)and(max-width: 1024px){
                    width: 50%;
                    padding-left: 30px;
                }
                .text_wrap{
                    .link-more{
                        display: none;
                    }
                    .blog_title{
                        font-size: $main-title-font-size;
                        font-weight: $main-title-font-weight;
                        line-height: $main-title-line-height;
                        margin-bottom: 0;
                        @media(max-width: 767px){
                            font-size: $main-title-font-size-responsive;
                            line-height: $main-title-line-height-responsive;
                        }
                    }
                    .blog_excerpt{
                        font-size: 19px;
                        margin-top: 18px;
                        line-height: 30px;
                        padding-right: 45px;
                        letter-spacing: -0.4px;
                        @media(max-width: 767px){
                            text-align: left;
                            font-size: 15px;
                            padding-right: 0;
                        }
                        @media(min-width: 768px)and(max-width: 1024px){
                            font-size: 17px;
                            line-height: 26px;
                            padding-right: 0;
                        }
                    }
                    .read_article_url{
                        display: inline-block;
                        margin-top: 2px;
                        margin-left: 2px;
                        @media(min-width: 768px)and(max-width: 1024px){
                            margin-top: 0;
                        }
                       
                    }
                }

            }
        }
    }
    // HERO SECTION ENDS


    // SURVEY SECTION STARTS
    .survey_section{
        padding-top: 13px;
        margin-bottom: 63px;
        .take-servey-section{
            background: #464446;
            .container{
                @media(max-width: 767px){
                    padding:0;
                }
            }
            .take-servey-left{
                padding-top: 76px;
                margin: unset;
                max-width: 100%;
                padding-left: 131px;
                @media(max-width: 1024px){
                    padding-left: 0;
                    padding-top: 40px;
                    padding-bottom: 30px;
                }
                @media(max-width: 767px){
                    padding: 40px 30px 30px;
                }
                h2{ 
                    font-size: 35px;
                    line-height: 50px;
                    word-spacing: 2px;
                    color: $white;
                    @media(max-width: 1024px){
                        font-size: 25px;
                        line-height: 38px;
                    }
                    @media(max-width: 767px){
                        font-size: 17px;
                    }
                    @media(min-width: 1025px) and (max-width: 1400px){
                        font-size: 26px;
                    }
                }
                p{
                    margin-top: 10px;
                    margin-right: 58px;
                    @media(max-width: 767px){
                        text-align: left;
                    }
                    a{
                        color: $white;
                        font-weight: 600;
                        &:before{
                            right: -35px;
                            top: 7px;
                            background: url(assets/images/white-arrow.png);
                            height: 18px;
                            width: 8px;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                        &:after{
                            background: $white;
                        }
                    }
                }
            }
            .take-servey-right{
                width: 457px;
                padding: 96px 51px 38px;
                @media(max-width: 767px){
                    width: 100%;
                    margin: 0;
                }
                p{
                    @media(max-width: 767px){
                        text-align: left;
                    }
                    a:before{
                        right: -34px;
                        top: 9px;
                    }
                }
            }
        }
        .start_today_section{
            padding-top: 86px;
            h3.section_title{
                font-weight: 500;
                .square{
                    position: relative;
                    &:after{
                        content: "";
                        position: absolute;
                        width: 6px;
                        height: 6px;
                        border: 2px solid $primary;
                        right: -14px;
                        top: -13px;
                    }
                    .square_two{
                        position: relative;
                        &:after{
                            content: "";
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            border: 2px solid $orange;
                            right: -48px;
                            top: -41px;
                        }
                    }
                }
            }
            .demo_btn{
                font-size: 16px;
                display: inline-block;
                padding: 19px 11px;
                background: $primary;
                color: $white;
                margin-top: 16px;
            }
        }
    }
    // SURVEY SECTION ENDS
}


 // ARTICLE SECTION STARTS
 .articles_section{
    padding-top:$section-space;
    @media(max-width: 767px){
        padding-top:$section-space-responsive;
    }
    .title_section{
        .title_txt{
            font-weight: $font-black;
            text-transform: uppercase;
            @media(max-width: 767px){
                font-size: 20px;
            }
            .line_txt{
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    top: 48%;
                    height: 4px;
                    width: 24%;
                    background: $primary;
                    left: -32%;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 45%;
                    height: 4px;
                    width: 24%;
                    background: $primary;
                    right: -34%;
                }
            }
        }
    }
    .cat_select_div{
        margin-top: 62px;
        .category_div{
            -webkit-box-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            max-width: 490px;
            margin: 0 auto;
            cursor: pointer;
            position: relative;
            .custom_select_trigger{
                border: 1px solid #ececec;
                .current_cat{
                    color: $theme;
                    width: 100%;
                    padding: 23px 0;
                    font-weight: 500;
                    position: relative;
                    font-size: 17px;
                    text-transform: capitalize;
                    display: block;
                    @media(max-width: 767px){
                        font-size: 15px;
                    }
                    &:after{
                        text-align: center;
                        content: "";
                        position: absolute;
                        right: 27px;
                        border: 2px dotted #316cfa;
                        border-radius: 50%;
                        padding: 12px;
                        background: url(images/right_arrow.png);
                        background-repeat: no-repeat;
                        background-position: center center;
                        top: 20px;
                        background-size: 32%;
                        transform: rotate(90deg);
                        transition: 0.5s all;
                        @media(max-width: 767px){
                            right: 9px;
                            padding: 10px;
                        }
                    }
                }
                &.show_options{
                    .current_cat:after{
                        transform: rotate(270deg);
                    }
                }
            }
            .custom_option_box{
                display: none;
                border: 1px solid #ececec;
                
                span.custom_option {
                    display: block;
                    padding: 15px 0;
                    font-weight: 500;
                    cursor: pointer;
                    &:hover{
                        background: $primary;
                        color: $white;
                    }
                }
            }
            
        }
    }
    .article_list{
        margin-top: 76px;
        .inner_wrap{
            
            .article_row{
                margin-right: auto;
                margin-left: auto;
                padding: 0 20px;
                max-width: 1280px;
                .article{
                    width: 50%;
                    padding: 76px 0;
                    position: relative;
                    @media(max-width: 1024px){
                        width: 100%;
                        padding: 0 0 76px;
                    }
                    span.border{
                        background: #ececec;
                        height: 1px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 200%;
                        @media(max-width: 1024px){
                            display: none;
                        }
                    }    
                    .article_url{
                        align-items: unset;
                    }                    
                    .article_image_wrap{
                        width: 45%;
                        img{
                            height:200px !important;
                            object-fit: cover;
                        }
                        @media(max-width: 767px){
                            width: 100%;
                        }
                    }
                    .article_text_wrap{
                        width: 55%;
                        padding-left: 34px;
                        padding-right: 18px;
                        @media(max-width: 767px){
                            width: 100%;
                            padding: 0;
                        }
                        .article_title{
                            font-weight: $font-black;
                            font-size: 19px;
                            margin-bottom: 0;
                            line-height: 25px;
                            a{
                                color:$Header-title;
                            }
                            @media(max-width: 767px){
                                font-size: 22px;
                                margin-top: 12px;
                            }
                            @media(max-width: 1024px){
                                font-size: 25px;
                                line-height: 30px;
                            }
                            @media(min-width: 1025px) and (max-width:1400px){
                                font-size: 18px;
                            }
                        }
                        .article_descr{
                            font-size: 16px;
                            font-weight: 500;
                            margin-bottom: 0;
                            line-height: 32px;
                            padding-top: 4px;
                            padding-right: 32px;
                            .link-more{
                                display: none;
                            }
                            p{
                                text-align: left;
                                margin-bottom:0;
                            }
                            @media(min-width: 1025px) and (max-width:1400px){
                                line-height: 29px;
                            }
                            @media(max-width: 1024px){
                                font-size: 18px;
                                padding-right: 0;
                                padding: 12px 0;
                            }
                            @media(max-width: 767px){
                                font-size: 15px;
                                text-align: left;
                            }
                        }
                        .article_category{
                            font-size: 16px;
                            font-style: italic;
                            color: #b3b3b3;
                            @media(max-width: 1024px){
                                font-size: 18px;
                            }
                            @media(max-width: 767px){
                                font-size: 14px;
                                text-align: left;
                            }
                        }
                    }

                    &:nth-child(1){
                        padding-top: 0;
                    }

                    &:nth-child(2){
                        padding-top: 0;
                    }
                   

                    &:nth-child(even){
                        padding-left: 50px;
                        @media(max-width: 1024px){
                           padding-left: 0;
                        }
                        span.border{
                            width: 50%;
                        }
                    }
                   
                    &:nth-child(odd){
                        padding-left: 52px;
                        @media(max-width: 1024px){
                           padding-left: 0;
                        }
                        .article_text_wrap{
                            position: relative;
                            &:after{
                                content: "";
                                position: absolute;
                                top: 20%;
                                right: 0;
                                height: 135px;
                                width: 1px;
                                background: #ececec;
                                @media(max-width: 1024px){
                                    content: none;
                                }
                            }
                        }
                    }

                    &:nth-last-child(2){
                        span.border{
                            display: none;
                        }
                    }
                    &:last-child{
                        span.border{
                            display: none;
                        }
                        .article_text_wrap:after{
                            content: none;
                        }
                    }

                }
                
            }
        }
    }
}
.no-related-post-message{
 text-align: center;
 padding-bottom: $section-spacing;
 @media all and (max-width:767px){
    padding-bottom: $mobile-section-spacing;
 }            
}
// ARTICLE SECTION ENDS

.ose-soundcloud.responsive{
    margin-bottom: 15px;
}

.pagenav{
    overflow: hidden;
    padding-bottom:20px;
    a {
    padding-right: 40px;
    position: relative;
    color: $theme;
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
    text-decoration: underline;
    display: inline-block;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    &:hover{
        color:$primary;
        text-decoration: none;
        svg{
            fill: $primary;
            stroke: $primary;
        }
    }
    svg{
        position: absolute;
        right: 0;
        top: 1px;
        width: 28px;
        height: 28px;
        fill: $theme;
        stroke: $theme;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease;
        .round_arrow_st1{
            fill: none;
            stroke-width: 16;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
            stroke-dasharray: 1,36,0,0,0,0;
        }
    }
    }
    .alignleft{
        float: left;
        a { 
            padding-right:0;
            padding-left: 40px;
            svg{
                left:0;
                right:auto;
                transform: rotate(180deg);
            }
        }
    }
    .alignright{
        float: right;
    }
}
#blog_listing_page .custom_option_box .custom_option[data-value="attended"]{
    display: none !important;
}
#blog_listing_page .articles_section .article_list .article{
    float: left;
}
#blog_listing_page .blog_main_wrap{
    border-bottom: 1px solid #ececec;
    margin-bottom: 76px;
}

