.contact-form-wrapper{
    width: 735px;
    position: relative;
    margin:0 auto;
    padding-bottom:$section-spacing;
    max-width: 100%;
   @media all and (max-width:767px){
       padding-bottom:$mobile-section-spacing;
   }
    .contact-form-inner{
        position: relative;
        z-index: 1;
    }
    
}

#integration-contact-form,  .contact-form-wrapper{


input[type=text], input[type=email], textarea{
        background: none;
        font-size: 16px;
        font-weight: 300;
        color: #333333;
        line-height: 55px;
        border: 1px solid #efefef;
        width: 100%;
        height: 58px;
        padding: 10px;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        -ms-border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        padding: 0 10px;
        &.wpcf7-not-valid{
            background: #ffefef;
        }
    }
    .wpcf7-not-valid-tip{
        display: none !important;
    }
    textarea{
        height:100px;
        line-height: 26px;
    }
}
.contact-form-wrapper .wpcf7-response-output{
    display: none !important;
}
#integration-contact-form textarea{
    height:$textarea-height;
    padding: $textarea-padding;
}

.contact-form-wrapper, #integration-contact-form{
    input[type = submit]{
        @include primaryButton; 
    }
}

.contact-image-wrapper{
    position: absolute;
    right: -206px;
    top: 284px;
    @media all and (max-width:767px){
        display: none;
    }
}
.contact-text-col-wrapper{
    display: flex;
    margin:0 -17px;
    @media all and (max-width:767px){
        flex-flow: column;
    }
}
.contact-text-col {
    padding: 10px 17px;
    text-align: center;
    @media all and (min-width:768px){
        width: 33.3%;
    }
    .contact-text-col-inner{
        border: 1px solid #d7d7d7;
        padding: 25px;
        @media all and (min-width:768px){
            height: 192px;
        }
    }
    
}
.contact-text-col-title {
    font-size: $inner-title-font-size;
    line-height: $inner-title-line-height;
    color: $Header-title;
    font-weight: 600;
    margin-bottom: 16px;
    @media all and (max-width:767px){
        font-size: $inner-title-font-size-responsive;
        line-height: $inner-title-line-height-responsive;
    }
}
.contact-text-col-email { 
    margin-bottom:16px;
    a {
        color: $Header-title;
        font-size: 18px;
        line-height: 28px;
        @media all and (max-width:767px){
            font-size: 12px;
            line-height: 22px;
        }
        &:hover{
            color:$primary;
        }
    }
}
.contact-text-col-number {
    color: $Header-title;
    font-size: 18px;
    line-height: 28px;
    @media all and (max-width:767px){
        font-size: 12px;
        line-height: 22px;
    }
}
.contact-text-block{
    .contact-text-title{

        font-size: $inner-title-font-size;
        line-height: $inner-title-line-height;
        margin-bottom:$inner-title-margin-bottom;
        font-weight: $inner-title-font-weight;
        @media all and (max-width:767px){
            font-size: $inner-title-font-size-responsive;
            line-height: $inner-title-line-height-responsive;
        }
         margin-bottom: 57px;
        color:$Header-title;
        text-align: center;
        @media all and (max-width:767px){
            margin-bottom:30px;
        }
    }
  
}

.contact-form-wrapper, #integration-contact-form { 
    .form-btn{
    position: relative;
    .ajax-loader{
        position: absolute;
    right: 0;
    top: 0;
    background-color: #f1f1f1;
    width: 100%;
    height: 58px;
    background-repeat: no-repeat;
    background-position: center;
    }
    .wpcf7-response-output{
        border: 0;
    padding: 5px;
    color: $primary;
    margin-top: 0;
    text-align: center;
    }
}
}