
#CybotCookiebotDialog a, #CybotCookiebotDialog div, #CybotCookiebotDialogBodyContentTitle , #CybotCookiebotDialogDetailBody{
    font-family: 'Montserrat', sans-serif !important;
    max-width:800px; 
    margin:0 auto !important;
    margin-bottom: 10px;
}
#CybotCookiebotDialogDetail{
    max-width:750px !important;   
}
#CybotCookiebotDialogBodyContent{
    padding: 12px 0 8px 18px !important;
    margin: 0 auto;
    text-align: center;
    color: $Header-title;
    font-size: 16px !important;
    font-weight:200 !important;
    line-height: 26px !important;
}
#CybotCookiebotDialogBodyLevelButtons{
    margin-left:10 !important;
    margin-right:0 !important;
    font-family: 'Montserrat', sans-serif !important; 
    float:none !important;
    margin:0 auto !important;
}
#CybotCookiebotDialogBodyLevelButtonAcceptWrapper{
    padding:10px 0 !important;;
}
#CybotCookiebotDialogBodyLevelButtonAcceptWrapper ,#CybotCookiebotDialogBodyContentText{
    padding-right:40px;
    text-align: center !important; 
    float:none !important;
    display: block !important;
    font-weight: 300;
    line-height: 26px !important;
}

#CybotCookiebotDialogBodyLevelButtonAcceptWrapper a#CybotCookiebotDialogBodyLevelButtonAccept{
    display: block;
    height: 58px;
    line-height: 56px;
    font-size: 18px;
    text-transform: capitalize;
    background: $primary;
    border: 1px solid $primary;
    text-align: center;
    margin-bottom: 8px;
    position: relative;
    color: $white;
    margin: 0 auto;
    width:375px !important;
    padding:0 !important;
}
#CybotCookiebotDialogDetailBodyContentCookieContainerTypeDetails{
    padding:0 !important;
}
#CybotCookiebotDialogDetailBodyContentTabsOverview , #CybotCookiebotDialogDetailBodyContentCookieContainerTypes{
    max-width: 186px !important;;
    width: 100% !important;;
}
.CybotCookiebotDialogBodyLevelButtonWrapper{
    padding-right:20px !important;
}
#CybotCookiebotDialogDetailBodyContentTabs a{
    font-size:16px !important;
    font-weight:300 !important;
    color:$Header-title !important;
}
.CybotCookiebotDialogDetailBodyContentTabsItemSelected{
    padding:8px 7px 0;
}
.CybotCookiebotDialogDetailBodyContentTab.CybotCookiebotDialogDetailBodyContentTabsItemSelected{
   font-weight:300;
}
#CybotCookiebotDialogDetailBodyContentTabsOverview,#CybotCookiebotDialogDetailBodyContentTabsAbout{
   
    font-size:16px  !important; 
    font-weight:200  !important;
    color:#333333 !important;;
    padding:0;
    margin-right:20px;
}
#CybotCookiebotDialogDetailBodyContentCookieContainerTypes {
   
    font-size:14px !important;
    font-weight:200  !important;
    color:#333333 !important;;
    margin-right:20px !important;
}
.CybotCookiebotDialogDetailBodyContentCookieTypeIntro ,#CybotCookiebotDialogDetailBodyContent a{
    font-size:14px  !important;
    font-weight:200  !important;
    color:#333333  !important;
}
 .CybotCookiebotDialogDetailBodyContentCookieTypeTable thead th{
    font-size:14px  !important;
    font-weight:300   !important;;
    color:$Header-title  !important;
    line-height:28px  !important;
 }
#CybotCookiebotDialogDetailBodyContentTextAbout{
     padding:0 !important;

 }
 #CybotCookiebotDialogDetailBody{
     padding-top:10px !important;
 }
 #CybotCookiebotDialogDetailFooter{
    font-size: 12px !important;;
    font-weight: 200 !important;;
 }
table {
   
     tr td{
        font-size:14px !important;
        font-weight:200;
        color:#333333;
        line-height:28px !important;
   }
}
#CybotCookiebotDialogBodyLevelButtonsTable{
    width: 600px  !important;
    margin: 0 auto !important;
    display: block  !important;
    margin-bottom: 20px !important;
}
#CybotCookiebotDialogBodyLevelButtonsRow{
  margin:0 auto
}
#CybotCookiebotDialogDetailBodyContentCookieTabsNecessary{
    margin-left:17px !important;
}

#CybotCookiebotDialogDetailBodyContentCookieContainerTypes a{
    padding-left:0;
}
.CybotCookiebotDialogBodyLevelButtonWrapper  label,#CybotCookiebotDialogBodyLevelDetailsButton  label ,#CybotCookiebotDialogBodyLevelDetailsButton,#CybotCookiebotDialogDetailBodyContentTextAbout{
        color:#333333 !important;
        font-size:14px !important;
        font-weight:200  !important;
        padding-top:0 !important;
}
#CybotCookiebotDialogDetailBodyContentTabsAbout{
    color:$Header-title !important;
}
#CybotCookiebotDialogDetailBodyContentTabs{
    padding-bottom: 16px !important; 
}