.container2 {
    max-width: 1286px;
    margin: 0 auto;
    padding: 0 15px;
}

.csr-wrapper {
    @media all and (max-width:990px) {
        text-align: center;
    }
}

.csr-title {
    position: absolute;
    left: -999em;
}

.ots-column-wrapper {
    margin-bottom: 57px;

    @media all and (max-width:767px) {
        margin-bottom: 30px;
        overflow: hidden;
    }
}

.ots-left-column {
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: $primary;
        opacity: 0.61;
    }

    @media all and (min-width:991px) {
        float: left;
        width: 50%;
        padding-right: 86px;

        &:before {
            right: 86px;
        }

        img {
            float: right;
        }
    }



    position: relative;

    @media all and (min-width:991px) {
        float: left;
        width: 50%;
    }

    img {
        min-width: 626px;
        width: 100%;
        height: auto;
    }

    @media all and (max-width:990px) {
        padding-bottom: 30px;
        margin: 0 -20px;

        &:before {
            bottom: 30px;
        }

        img {
            width: 100%;
            height: auto;
            min-width: 0;
            display: block;
        }
    }
}

.ots-right-column {
    @media all and (min-width:991px) {
        float: left;
        width: 50%;
    }

    margin-top: 100px;
    max-width: 500px;

    @media all and (max-width:1700px) {
        margin-top: 35px;
    }

    @media all and (max-width:990px) {
        margin: 0 auto;
        max-width: none;
        padding: 0 15px;
    }

    h2 {
        @media all and (min-width:768px) {
            font-size: 28px;
            line-height: 47px;
            margin: 0 auto 38px;
        }
    }
}

.csr-top-section {
    padding: 74px 0 76px;
    text-align: center;

    @media all and (max-width:767px) {
        padding: 30px 0;
    }
   h2{
        color: #ff595e;
        font-weight: 300;
        text-align: center;
        max-width: 465px;
   }
    h2 {
        @media all and (min-width:768px) {
            font-size: 28px;
            line-height: 47px;
            margin: 0 auto 38px;
        }

        color:$primary;
        font-weight: 300;
        text-align: center;
        max-width: 465px;

        .square-box-wrapper {
            @media all and (max-width:767px) {
                display: inline-block;
            }
        }
        .box1{
            right: -133px;
            top: -13px;
            width: 18px;
            height: 18px;
            @media all and (max-width:767px){
                right:0;
                top:-20px;
            }
        }
    }

    strong {
        font-weight: 400;
    }
}

.ots-right-column {
    @media all and (min-width:991px) {
        float: left;
        width: 50%;
    }
}

.charity-large-text-section {
    font-size: 37px;
    line-height: 59px;
    color: $Header-title;
    text-align: center;
    font-weight: 300;
    max-width: 980px;
    padding: 0 15px;
    margin: 0 auto 57px;

    strong {
        font-weight: 400;
    }

    @media all and (max-width:767px) {
        font-size: 22px;
        line-height: 32px;
    }
}

.importance-of-val-section {
    background: #f7f7f7;
    overflow: hidden;
}

.ivs-left-column {
    .ivsl-img-wrapper {
        position: relative;
    }

    @media all and (min-width:991px) {
        float: right;
        width: 50%;
    }

    .ivs-quote-wrapper {
        background: $green;
        color: $white;
        padding: 40px 20px;
        font-size: 43px;
        line-height: 60px;
        font-weight: 300;

        .ivs-quote-inner {
            max-width: 540px;
            margin: 0 auto;
            position: relative;
            padding: 0 60px;
            text-align: left;

            @media all and (max-width:767px) {
                padding: 0 50px;
            }

            i {
                font-size: 30px;

                &:first-child {
                    position: absolute;
                    top: 0;
                    margin-left: -55px;
                }

                &:last-child {
                    position: absolute;
                    bottom: 0;
                    margin-left: 20px;
                }

                span {
                    display: none;
                }

                @media all and (max-width:767px) {
                    font-size: 20px;

                    &:first-child {
                        margin-left: -30px;
                    }

                    &:last-child {
                        margin-left: 10px;
                    }
                }
            }
        }

        .large-text {
            font-weight: 400;
            font-size: 64px;
            line-height: 70px;

            @media all and (max-width:767px) {
                font-size: 26px;
                line-height: 36px;
            }
        }

        @media all and (max-width:767px) {
            font-size: 22px;
            line-height: 32px;
            padding: 20px;
        }
    }

    img {
        width: 100%;
        height: 100%;
        min-width: 626px;
        display: block;

        @media all and (min-width:991px) {
            min-height: 711px;
            object-fit: cover;
        }

    }

    @media all and (max-width:990px) {
        padding-bottom: 30px;
        margin: 0 -20px;

    }
}

.ivs-right-column {
    @media all and (min-width:991px) {
        float: left;
        width: 50%;

        .ivs-right-column-inner {
            max-width: 534px;
            margin-left: auto;
            padding-top: 57px;
            padding-right: 78px;
            padding-left: 15px;
        }
    }

    @media all and (max-width:990px) {
        padding: 0 15px 50px;
    }

    @media all and (max-width:767px) {
        padding-bottom: 30px;
        text-align:center;
    }
    h2{
        color:$primary;
        max-width: 370px;
        @media all and (min-width:768px){
            font-size: 28px;
            line-height: 48px;
            margin-bottom:46px;
        }
        .square-box-wrapper {
            display: inline-block;
            .box1{
                width: 12px;
                height: 12px;
                right:-20px;
                top: -10px;
                @media all and (max-width:990px){
                    right: -7px;
                    top: -14px;
                }
            }
        }
    }
  
}


.pfd-left-column {
    .pfd-left-column-image-wrapper {
        position: relative;
    }

    @media all and (min-width:991px) {
        float: left;
        width: 50%;

        img {
            display: block;
            width: 100%;
            min-width: 626px;
            float: right;
            min-height: 711px;
            object-fit: cover;
        }
    }

    @media all and (max-width:990px) {
        padding-bottom: 30px;
        margin: 0 -15px;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    @media all and (max-width:767px) {
        padding-bottom: 0;
    }

    position: relative;
    z-index: 1;

}

.pfd-left-column-woman-count-block {
    background: #ffbf00;
    padding: 100px 20px;
    font-size: 43px;
    line-height: 60px;
    font-weight: 300;
    color: $white;

    .wc-number {
        font-weight: 400;
        font-size: 64px;
        line-height: 70px;
    }

    .pfdlcwcb-inner {
        max-width: 421px;
        margin: 0 auto;
    }

    @media all and (max-width:767px) {
        font-size: 22px;
        line-height: 32px;
        padding: 50px 20px;

        .wc-number {
            font-size: 26px;
            line-height: 36px;
        }
    }
}

.pfd-right-column {
    @media all and (min-width:991px) {
        float: left;
        width: 50%;
        max-width: 534px;
        padding: 57px 15px 0 78px;
    }
    @media all and (max-width:767px) {
        text-align: center;
    }
    h2{
        color:$primary;
        max-width: 370px;
        @media all and (min-width:768px){
            font-size: 28px;
            line-height: 48px;
            margin-bottom:46px;
        }
        .square-box-wrapper {
            display: inline-block;
            .box1{
                width: 12px;
                height: 12px;
                right: -14px;
                top: -11px;
                @media all and (max-width:990px){
                    right: -7px;
                    top: -14px;
                }
            }
        }
    }
    @media all and (max-width:990px) {
        margin: 0 auto;
        padding: 30px 15px 40px;
    }

    @media all and (max-width:767px) {
        padding-bottom: 20px;
    }
}

.jops-left-column {
    @media all and (min-width:991px) {
        float: left;
        width: 50%;

        h2 {
            margin-bottom: 53px;
        }
    }

    padding-top: 72px;

    @media all and (max-width:767px) {
        padding: 30px 0;
    }

    h3 {
        font-size: 18px;
        line-height: 28px;
        color: $default-content;
        font-weight: 400;
        margin-bottom: 2px;
        a{ color: $default-content;}
        @media all and (max-width:767px) {
            font-size: 14px;
            line-height: 24px;
        }
    }

    p {
        margin-bottom: 0;
    }

    .job-block-wrapper {
        padding-bottom: 20px;
    }

    .job-item {
        position: relative;
        padding-bottom: 26px;
        margin-bottom: 28px;

        &.last {
            padding-bottom: 0;

            &:before {
                visibility: hidden;
            }
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1px;
            width: 91px;
            background: #b8b8b8;

            @media all and (max-width:990px) {
                left: 50%;
                margin-left: -45px;
            }
        }
    }

    .view-all-job-link-wrapper a {
        font-size: 18px;
        line-height: 18px;
        color: $primary;
        border-bottom: 1px solid $primary;
        display: inline-block;
        text-transform: capitalize;

        @media all and (max-width:767px) {
            font-size: 14px;
            line-height: 24px;
        }
    }
}

.passion-for-diversity-section,
.job-openin-promise-section {
    overflow: hidden;
}

.job-right-column {
    @media all and (min-width:991px) {
        float: right;
        width: 50%;
    }

    background: $primary;
    padding-top:72px;
    padding-bottom:93px;

    @media all and (max-width:990px) {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 -15px;
    }

    @media all and (max-width:767px) {
        padding: 30px 15px;
        text-align: center;
    }

    .jrc-inner {
        max-width: 420px;
        margin: 0 auto;
        padding: 0 15px;

        h2 {
            color: $white;

            @media all and (min-width:991px) {
                margin-bottom: 52px;
            }
        }

        p {
            color: $white;
            font-weight: 300;
        }
    }
}

.jopslc-inner {
    margin: 0 auto;
    max-width: 390px;
    padding:0 15px;
    @media all and (max-width:767px){
        text-align: center;
    }
}
.page-template-csr {

    .take-servey-section,
    .signup-form-wrapper {
        display: none;
    }
}

.csr-hero-section {
    text-align: center;
    position: relative;
    height: 700px;

    @media all and (max-width:767px) {
        height: 340px;
    }

    .chs-inner {
        position: relative;
        z-index: 3;
        @media all and (min-width:768px) {
            padding: 146px 20px 0;
        }

        @media all and (max-width:767px) {
            padding: 56px 15px;
        }
        .chs-desc{
            max-width: 560px;
            margin: 0 auto 24px;
        }
    }
 
    h1{
        color: $primary;
        margin: 0 auto 27px;
        max-width: 450px;
    }
    h1 {
        font-weight: 300;
        font-size: 34px;
        line-height: 40px;
        @media all and (max-width:767px) {
            font-size: 22px;
            line-height: 28px; 
        }
        .box1 {
            width: 12px;
            height: 12px;
            left: -31px;
            top: -4px;

            @media all and (max-width:767px) {
                left: -13px;
                top: -14px;
            }
        }
    }

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: url(images/operation-task-image.jpg);
        background-position: center;
        background-size: cover;
        opacity: 0.17;
        z-index: 1;
    }

    &:after {
        background: $primary;
        opacity: 0.17;
        z-index: 2;
    }
}

.csr-quote-wrapper{
    padding: 30px 30px 30px 110px;
    max-width: 780px;
    margin: 100px auto 34px;
    position: relative;
    text-align: left;
    @media all and (max-width:767px){
        padding: 108px 0px 35px;
        text-align: center;
        margin: 30px auto 5px;
    }
    .quote-icon{
        position: absolute;
        left: 30px;
        top: 31px;
        @media all and (max-width:767px){
            left: 50%;
            margin-left: -30px;
        }
        i{
            font-size: 60px;
            color:#e5e5e5;
        }
        .icon-text{
            display: none;
        }
    }
    .csr-quote-text{
        font-size: 22px;
        line-height: 32px;
        color: #333333;
        margin-bottom: 20px;
        font-weight: 300;
        @media all and (max-width:767px){
            font-size: 14px;
            line-height: 24px;
        }
    }
    .csr-quote-author{
        font-size: 14px;
        line-height: 24px;
        color: $primary;
        font-weight: 300;
        float: left;
        margin-top:5px;
    }
    .learn-more-in-homaPage{
        float: right;
    }
    @media all and (max-width:767px){
        .csr-quote-author{
            float: none;
            margin-bottom:20px;
            margin-top:0;
        }
        .learn-more-in-homaPage{
            float: none;
        }

    }
}