#customerSuccessPage{

    /* Banner section starts */

    .banner_section{
        position: relative;
        .banner_background{
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0.18;
        }
        .banner_wrap{
            overflow: hidden;
            position: relative;
            .banner_img{
                @media all and (min-width:1201px){
                    float: left;
                    width: 50%;
                    padding-top:30px;
                }
                @media all and (max-width:1200px){
                    max-width: 300px;
                    margin: 0 auto;
                }
                @media all and (max-width:767px){
                    max-width: 150px;
                }
                img{
                    max-width: 100%;
                    max-height: 574px;
                    display: block;
                    margin: 0 auto;
                }
            }
            .banner_txt{
                @media all and (min-width:1201px){
                    float: right;
                    width: 50%;
                    margin-top: 147px;
                }
                @media all and (max-width:1200px){
                    margin: 100px auto 0;
                    text-align: center;
                    max-width: 640px;
                }
                @media all and (max-width:767px){
                    max-width: 370px;
                    margin: 50px auto 0;
                }

                .banner_title{
                    color: $Header-title;
                    font-weight: $main-title-font-weight;
					font-size: $main-title-font-size;
					line-height: $main-title-line-height;
					margin-bottom: $main-title-margin-bottom;
					@media(max-width: 767px){
						font-size: $main-title-font-size-responsive;
						line-height: $main-title-line-height-responsive;
					}
                }

                p{
                    font-size: $hero-sub-title-font-size;
					line-height: $hero-sub-title-line-height;
					font-weight: $hero-sub-title-font-weight;
					margin-bottom: $hero-sub-title-margin-bottom;
					@media all and (max-width:767px){
						font-size: $hero-sub-title-font-size-responsive;
						line-height: $hero-sub-title-line-height-responsive;
						margin-bottom: $hero-sub-title-margin-bottom-responsive;
					}
                }

                .request-demo-btn{
                    display: inline-block;
                    background: $white;
                    color: $primary;
                    padding: 0 12px;
                    font-size: 16px;
                    font-weight: 600;
                    @media(max-width: 1200px){
                        padding: 0px 12px;
                        margin-top: 5px;
                        font-size: 11px;
                        height: 40px;
                        line-height: 40px;
                    }
                    &:hover{
                        background: #d8d1d1;
                        color: #584c4c;
                    }
                }
            }
        }
    }
    /* Banner section ends */

    /* exploration section starts */
    .exploration_section{
        text-align: center;
        .container{
            max-width: 1060px;
        }
    }
    /* exploration section ends */

    /* Planning section starts */
.planning_section{
    position: relative;
    padding:0;
    .planning-bg{
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        object-fit: cover;
        opacity: 0.18;
    }
    .planning_description{
        @media all and (min-width:1201px){
            float: left;
            width:40%;
            padding-top: $section-spacing;
            max-width: $half-column-container-width;
        }
        @media all and (max-width:1200px){
            text-align: center;
        }
        @media all and (max-width:767px){
            padding:$mobile-section-spacing 0;
        }
    }
    .planning_image{
        @media all and (min-width:1201px){
            float: left;
            width: 60%;
            padding-top:35px;
        }
        @media all and (max-width:1200px){
            max-width: 300px;
            margin: 0 auto;
        }
        img{
            margin:0 auto;
            display: block;
            max-width: 100%;
        }
    }
    .container{
        position: relative;
        z-index: 1;
    }
}
    /* Planning section ends */

    /* Training section starts */
    .training-top-part{
        text-align: center;
        margin-bottom: $section-space;
        @media all and (max-width:767px){
            margin-bottom:$section-space-responsive;
        }
    }
    .training-top-part-content{
        max-width:$full-column-container-width;
        margin:0 auto;
    }
    .training_image_wrapper{
        @media all and (min-width:1201px){
            float: left;
            width: 60%;
            padding-right:26px;
        }
        @media all and (max-width:1200px){
            margin-bottom: 100px;
        }
        @media all and (max-width:767px){
            margin-bottom: 50px;
        }
        
        .training_image_col{
            float: left;
            width: 50%;
            padding:0 14px;
            opacity: 0.53;
            @media all and (max-width:767px){
                padding:0 7px;
            }
            &:nth-child(2){
                opacity: 0.77;
            }
        }
        .training_image_inner_wrapper{
            margin:0 -14px;
            @media all and (max-width:767px){
                margin:0 -7px;
            }
        }
        img{
            height:352px;
            object-fit: cover;
            max-width: 100%;
            @media all and (max-width:767px){
                height:150px;
            }
        }
    }

    .training_description{
        @media all and (min-width:1201px){
            float: right;
            width:40%;
            padding-top: 20px;
            max-width:$half-column-container-width;
        }
        @media all and (max-width:1200px){
            text-align: center;
        }
    }

    /* Training section ends */

    .launch_support_section{
        padding-top:0;
        text-align: center;
    }
    .launch_support_content{
        max-width:$full-column-container-width;
        margin:0 auto;
    }
}
