.pageTitleWrapper{
     .innerPageTitleWrapper{
          display: flex;
          margin-bottom:$section-space;
          @media all and (max-width:767px){
               margin-bottom: $section-space-responsive;
          }
          .bannerTitle,.bannerTitleImage{
               width:50%;
          }
          .bannerTitle{
               order: 1;
               .text-description{
                    padding-bottom: 40px;
                    max-width: 504px;
                    padding-right: 30px;
               }
          }
        .bannerTitleImage{
               order:2;
               .image-container{
                    width:452px;
                    max-width:100%;
                    margin:0 auto;
                    margin-left:51px;

                    img{
                         width:100%;
                         height:100%;
                         object-fit: cover;
                    }
               }
          }
          &.alt{
               .bannerTitleImage{
                    order:1;
               }
               .bannerTitle{
                    order:2;
               }
          }
          .PageTitle{
               @include PageTitle;
          }
          .mainTitle{
               font-size: 30px;
               font-weight: 300;
               line-height: 1.5em;
               margin-bottom: 41px;
               color: $primary;
               @media all and (max-width:979px){
                    text-align: center;
               }
               @media all and (max-width:767px){
                    font-size: 18px;
                    margin-bottom: 20px;
                    line-height: 24px;
               }
          }
          .Paragraph{
               @include Paragraph;
               margin-bottom: 30px;
          }
     }
}

//responsive css
@media only screen and (max-width:1024px) {
     .pageTitleWrapper .innerPageTitleWrapper{
           padding:165px 20px;
     }  
     .pageTitleWrapper .innerPageTitleWrapper .mainTitle{
          margin:0 auto 10px;
     }
}

@media only screen and (max-width:979px) {
     .pageTitleWrapper {
          .signupForm{
               margin:0 auto;
               .demoBtnBlock{
                    margin:0 auto;
               }
               
          }
          .innerPageTitleWrapper .bannerTitle  .text-description{
               padding-right:0;
          }
          .innerPageTitleWrapper  .bannerTitle,.innerPageTitleWrapper .text-description,.innerPageTitleWrapper .bannerTitleImage{
               max-width:100% !important;
               width:100%;
          }
          .innerPageTitleWrapper .text-description  .Paragraph{
             margin-bottom:30px;
          }
          .innerPageTitleWrapper{
               display: block;
               padding:60px 20px 40px 20px;
               text-align: center;
               margin-bottom: 0;
          }
          .bannerTitleImage{
          .bannerTitle{
               order: 2;
          }
          .bannerTitleImage{
               order:1;
          }

     }
 }

.pageTitleWrapper .innerPageTitleWrapper .bannerTitleImage .image-container{
          width:200px;
          margin-left:0;
          margin:0 auto;
     }
}

//aaytlics css
.anyalitcsMainContainerWrapper{
     margin-bottom:$section-space;
     @media all and (max-width:767px){
          margin-bottom: $section-space-responsive;
     }
}
.anyalticsWrppaerContainer{ 
  .mainTitle{
          @include mainTitle;
          color: set-bg-color($primary);
     }
     .textWrapper  .content{
          @include Paragraph;
     }
     .textWrapperContent{
           margin-bottom: 40px;
     }
     .mainContainerOfanyalitcs{
          .anyalitcsContent{
             float:left;
             width:50%;
             padding-right:30px;
             max-width:425px;
             order:1;
          }
          .anyalitcsImageContainer{
                   float: right;
                    width: 50%;
                    order:2;
                    img{
                         width:802px;
                         height:auto;
                    }
         }
     }
}
.anyalitcsMainContainerWrapper{
     overflow: hidden;
}
.anyalitcsImageFullSize{
     img{
           width:1015px;
           height: auto; 
     }
}

@media only screen and (max-width:979px) {
     .anyalticsWrppaerContainer .mainContainerOfanyalitcs .anyalitcsImageContainer ,.anyalitcsImageFullSize{
          img{
                width:100%;
                height:100%;
          }
     }
     .innerAnyalticsWrppaerContainer .mainTitle{
          text-align: center;
     }
     .anyalitcsMainContainerWrapper .anyalticsWrppaerContainer .content.textWrapperContent{
           margin-bottom: 20px;
     }
     .anyalticsWrppaerContainer .mainContainerOfanyalitcs .anyalitcsContent ,.anyalticsWrppaerContainer .mainContainerOfanyalitcs .anyalitcsImageContainer{
          float:none;
          width:100%;
          max-width:100%;
          padding-right:0;
          max-width:100%;
     }
     .anyalticsWrppaerContainer .mainContainerOfanyalitcs{
          margin-bottom:20px;
     }
     .anyalitcsImageFullSize{
         width: 100%;
         padding-left: 0;
    }
    .anyalitcsMainContainerWrapper{
         margin-bottom: 30px;
    }
}

// visibly block 
.visibly-help-block{
     background: $lightPink;
     position: relative;
     padding: $section-space 0; 
     @media all and (max-width:767px){
          padding: $section-space-responsive 0;
     }
     .title-visibly-block{
           width:350px;
           max-width:100%;
           margin:0 auto;
    }
     .main-title-of-the-visibly-help{
          margin: 0 auto;
           @include mainTitle;
           margin-bottom:34px;
           color:set-bg-color($primary);
           text-align: center;
           strong{
                font-weight: $font-black;
           }
     }
     .subTitleOfTheVisiblyHelp{
          @include Paragraph;
          font-size: 20px;
          text-align: center;
          margin-bottom:49px;
          color:$Header-title;
     }
}
.visibly-help-block { 
     .menu-customertypemenu-container, .menu-complete-platform-container, .menu-services-menu-container{
     .menu:before, .menu:after{content:''; display: table}
     .menu:after{clear: both;}
     position: relative;
     z-index:1;
       #menu-customertypemenu{
          margin:0 -15px;
       }
       ul li{
          width: 33.3%;
          float: left;
          position: relative;
          padding: 18px 15px;
       }
       ul li a{
          max-width:270px;
          height: 154px;
          margin:0 auto;
          background: $white;
          display: block;
          padding: 63px 0;
          text-align: center;
          text-decoration: none;
          color:set-bg-color($primary);
          transition: all 0.6s ease-out 0s;
          @include visiblyHelpBlockMenu;
       }
     
     ul li a:hover{
          background:$lightPinkForHelpBoxHover;
          color:$white;
          &::before{
               border: 1px solid  $white !important; 
          }
     }
     ul li.current-menu-item a{
          background: $primary;
          color:$white;
          &::before{
               border: 1px solid  $white !important; 
          }
     }
     ul li a::before{
         content: '';
         position: absolute;
         top: 50%;
         left:50%;
         display: block;
         border: 1px solid  $primary;
         width: 35px;
         margin-top: 26px;
         margin-left: -17px;
         transition: all 0.6s ease-out 0s;
    }
}

}
@media only screen and (min-width:768px) and (max-width:979px) {
    .visibly-help-block{
          .menu-customertypemenu-container  #menu-customertypemenu{
               max-width: 758px;
               margin: 0 auto;
          }
          .menu-customertypemenu-container{
            ul li{
                  width:50%;
                  margin:0 auto;
            }
          }
     }
}
@media only screen and (max-width:979px) {
     .visibly-help-block  .page-container  .subTitleOfTheVisiblyHelp{
          margin-bottom: 30px;
      }
      .visibly-help-block .menu-customertypemenu-container:before{
          display:none;
     }
}
@media only screen and (max-width:767px) {
     .visibly-help-block{
          padding:50px 0;
     }
   .visibly-help-block   .img-of-rounder-visibly-help{
           display: none;
     }
     .visibly-help-block{
          .title-visibly-block{
               width:100%;
               margin-bottom: 20px;
     }
    
 }
 .visibly-help-block{
     .menu-customertypemenu-container, .menu-complete-platform-container, .menu-services-menu-container {
       ul li{
             float:none ;
             margin:0 auto;
             width:auto;
       }
     }
}
}

#tinymce {
     .image-container{
          min-height: 851px;
          border:1px dotted #000;
     }
     .anyalitcsImageContainer{
          min-height: 367px;
          border:1px dotted #000;
     }
}
@media only screen and (max-width:767px){
     .page-template-customertypepage {  .pageTitleWrapper .innerPageTitleWrapper{
          padding:0 20px 40px 20px;
     }
     .mainWrapper{
          padding-top:0;
     }
}
}