.ees-top-section{
    text-align: center;
    position: relative;
   height:700px;
   @media all and (max-width:767px){
       height:300px;
   }
    &:before, &:after{
        content:'';
        display: block;
        position: absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        background: url(images/ee-main-banner.jpg);
        background-position: center;
        background-size:cover; 
        opacity: 0.17;
        z-index: 1;
    }
    &:after{
        background: $primary;
        opacity: 0.17;
        z-index: 2;
    }
    .ees-top-section{
        position: relative;
        z-index: 3;
    }
    .ees-top-section-inner{
        position: relative;
        z-index: 3;
        padding:146px 20px 0;
        @media all and (max-width:767px){
            padding-top:56px;
        }
        h1{
            @media all and (min-width:768px){
                font-size: 34px;
                line-height: 40px;
                margin-bottom:30px;
            }
            font-weight: 300;
            color:$primary;
            
            .box1{
                width: 12px;
                height: 12px;
                left: -18px;
                top: -4px;
            }
        }
        .ees-banner-cation-wrapper{
            max-width: 550px;
            margin: 0 auto 24px;
            p{
                color:$Header-title;
            }
            @media all and (max-width:767px){
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

.ee-mean-section{
    padding:74px 0 76px;
    @media all and (max-width:767px){
        padding-bottom:30px;
    }
    text-align: center;
    h2{
        @media all and (min-width:768px){
            font-size: 28px;
            line-height: 47px;
            margin: 0 auto 38px;
        }
        color:$primary;
        font-weight: 300;
        text-align: center;
        max-width: 415px;
        @media all and (max-width:767px){
            .square-box-wrapper{
                display: inline-block;
            }
        }
        .box1{
            right: 25px;
            top: -13px;
            width: 18px;
            height: 18px;
            @media all and (max-width:767px){
                right: 0px;
                top: -30px;
            }
            @media all and (max-width:320px){
                right: 30px;
                top: -20px;
            }
        }
        @media all and (max-width:767px){
            max-width: none;
        }
    }
    .container{
        max-width: 1100px;


    }
}

    .employee-communications-section{
        .ee-mean-section h2 .box1{
            @media all and (min-width:768px){
                right: -85px;
            }
            @media all and (max-width:767px){
                right: 20px;
                top: -20px;
            }
            @media all and (max-width:320px){
                right: 0;
            }
        }
        .ee-slow-section .ees-right-column h2 .square-box-wrapper .box1{
            @media all and (min-width:768px){
                right:-10px;
            }
            @media all and (min-width:991px){
                left: 240px;
                right: auto;
            }
            @media all and (max-width:767px){
                right:-10px;
            }
            @media all and (max-width:320px){
                right:43px;
            }
        }
        .ee-solution-section h2 .box1{
            @media all and (max-width:320px){
                right:0;
            }
        }
    }

    .employee-advocacy-section { 
        .ee-mean-section h2 .box1{
            @media all and (min-width:768px){
                right: 5px;;
            }
            @media all and (max-width:767px){
                top:-20px;
            }
            @media all and (max-width:320px){
                right: -10px;
                top: -30px;
            }
        }
        .ee-slow-section .ees-right-column h2 .square-box-wrapper .box1{
            @media all and (min-width:768px){
                right:-10px;
            }
            @media all and (max-width:767px){
                right:13px;
            }
            @media all and (max-width:320px){
                right:0;
            }
        }
        .ee-solution-section h2 .box1{
            @media all and (max-width:320px){
                right:5px;
            }
        }
    }

.ee-slow-section{
    background: $lightPink;
    padding-bottom: 102px;
    .container{
        @media all and (min-width:991px){
            position: relative;
            left: -9px;
        }
    }
    .ees-left-column{
        float: right;
        width: 50%;
        padding-top: 158px;
        position: relative;
        left: 2px;
        img{
            max-width:100%;
            height:auto;
            display: block;
            margin:0 auto;
        }
        @media all and (max-width:990px){
            float: none;
            width:auto;
            left:0;
        }
        @media all and (max-width:767px){
            padding-top:15px;
        }
    }
    .ees-right-column{
        float: left;
        width: 50%;
        padding-top: 118px;
        max-width: 500px;
        padding-left: 61px;
        padding-right:20px;
        @media all and (max-width:990px){
            text-align: center;
            width: auto;
            float: none;
            margin: 0 auto;
            padding-left: 0;
            max-width: none;
            padding-right:0;
            ul{
                text-align: left;
                max-width: 370px;
                margin: 0 auto;
            }
        }
        @media all and (max-width:767px){
            padding-top:30px;
        }
        h2{
            color:$primary;
            @media all and (min-width:768px){
                font-size: 28px;
                line-height: 48px;
                margin-bottom:46px;
            }
            .square-box-wrapper {
                display: inline-block;
                .box1{
                    width: 12px;
                    height: 12px;
                    right: 158px;
                    top: -3px;
                    @media all and (max-width:990px){
                        right: -7px;
                        top: -14px;
                    }
                }
            }
        }
        ul{
            padding-top:15px;
            li{
                position: relative;
                padding-left: 37px;
                padding-bottom: 6px;
                font-size: 16px;
                line-height: 22px;
                font-weight: $font-weight-paragraph;
                color: $paragraph-color;
                @media all and (max-width:767px){
                    font-size: 12px;
                    line-height: 18px;
                }
                &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    left: 5px;
                    top: 3px;
                    width: 6px;
                    height: 6px;
                    border-radius: 3px;
                    border:3px solid $primary;
                }
            }
        }
    }
    @media all and (max-width:767px){
        padding-bottom:30px;
    }
}

.ee-solution-section{
    padding:116px 0 86px 0;
    border-bottom:1px solid #e6e6e6;
    text-align: center;
    @media all and (max-width:767px){
        padding:60px 0 30px 0;
    }
    h2{
        color:$primary;
        @media all and (min-width:768px){
            font-size: 28px;
            line-height: 48px;
        }
        
        max-width: 350px;
        margin:0 auto 30px;
        .square-box-wrapper{
            display: inline-block;
        }
        .box1{
            position: absolute;
            right: -3px;
            top: -3px;
            width: 18px;
            height: 18px;
            @media all and (max-width:767px){
                top: -23px;
                right: 20px;
            }
            @media all and (max-width:320px){
                right:0;
            }
        }
    }
    p{
        margin-bottom:28px;
        &:last-child{
            margin-bottom:0;
        }
    }
}


.employee-advocacy-section { 
    .ees-top-section-inner { 
        h1{
            color:$theme;
        }
        .ees-banner-cation-wrapper{
            max-width: 555px;
        }
        
        
    }
    .ee-slow-section{
        background: $light-blue;
        h2{
            color:$theme;
        }
        .ees-right-column ul li:before{
            border-color: $theme;
        }
    }
    .ee-solution-section, .ee-mean-section { 
        h2{
            color:$theme;
        }
    }
    .ees-top-section{
        &:after{
            background: $theme;
        }
        &:before{
            background-image: url(images/ea-main-banner.jpg);
        }
    }
}


.employee-communications-section { 
    .ees-top-section-inner { 
        h1{
            color:$secondary;
        }
        .ees-banner-cation-wrapper{
            max-width: 555px;
        }
        
        
    }
    .ee-slow-section{
        background: $lightYellow;
        h2{
            color:$secondary;
        }
        .ees-right-column ul li:before{
            border-color: $secondary;
        }
    }
    .ee-solution-section, .ee-mean-section { 
        h2{
            color:$secondary;
        }
    }
    .ees-top-section{
        &:after{
            background: $secondary;
        }
        &:before{
            background-image: url(images/ec-main-banner.jpg);
        }
    }
}
