body.page-template-engage-features{
    .headerWrapper{
        margin-bottom: 0;
    }

    #enagage_features{
        // Banner Section Starts
        .banner_section{
            background: #316cfa;
            @media all and (min-width:768px){
                min-height: $banner-height;
            }
            .banner_wrap{
                overflow: hidden;
                position: relative;
                .banner_img{
                    float: right;
                    width: 67%;
                    position: relative;
                    z-index: 2;
                    text-align: right;
                    img{
						width: auto;
						max-width: 115%;
						max-height: $banner-height;
						object-fit: cover;
						@media all and (max-width:767px){
							width:auto;
							height:$banner-image-height-responsive;
						}
						@media(min-width: 1441px){
							width: 100%;
							max-width: 100%;
						}
					}
                }
                .banner_txt{
                    float: left;
                    position: absolute;
                    z-index: 2;
                    top: 24%;
                    margin-top: 7px;
                    max-width: 550px;
                    @media(max-width: 767px){
                        left: 2%;
                        top:7%;
                        max-width: 220px;
                    }
                    @media(min-width: 768px)and(max-width: 1024px){
                        left: 2%;
                    }
                    @media(min-width: 1025px)and(max-width: 1400px){
                        left: 7%;
                    }
                    @media(min-width: 1401px){
                        left: 15%;
                    }
                    .banner_title{
                        font-weight: $main-title-font-weight;
                        font-size: $main-title-font-size;
                        line-height: $main-title-line-height;
                        color: $white;
                        margin-bottom: $main-title-margin-bottom;
                        @media(max-width: 767px){
                            font-size: $main-title-font-size-responsive;
                            line-height: $main-title-line-height-responsive;
                        }
                    }

                }
            }
        }
        // Banner Section Ends



        // Engage  Features section starts
        .engage_features_overview{
            .inner_wrap{
                .section_title{
                    h3.title{
                        position: relative;
                        font-size: $inner-page-main-title-font-size;
                        line-height: $inner-page-main-title-line-height;
                        font-weight: $inner-page-main-title-font-weight;
                        @media(max-width: 767px){
                            margin-top: 90px;
                            margin-bottom: 55px; 
                            font-size: $inner-page-main-title-font-size-responsive;
                            line-height: $inner-page-main-title-line-height-responsive;
                        }
                    }
                }
                .features_list{
                    padding-top: 24px;
                    max-width: 100%;
                    margin: 0 auto;
                    ul.feature_ul{
                        li.feature_li{
                            width: 33.3%;
                            padding: 0px 0 $section-space 103px;
                            @media(max-width: 767px){
                                width: 100%;
                                padding: 0px 0 $section-space-responsive 50px; 
                            }
                            @media(min-width: 768px)and(max-width: 1024px){
                                width: 50%;
                            }
                            .feature{
                                .feature_title{
                                    font-weight: 500;
                                    font-size: 17px;
                                    margin: 0;
                                    position: relative;
                                    .icon{
                                        position: absolute;
                                        left: -30px;
                                        svg{
                                            width: 100%;
                                            height: 100%;
                                            max-width: 24px;
                                            vertical-align: sub;
                                        }
                                    }
                                }
                                .feature_descr{
                                    margin: 4px 0px 0 0;
                                    @media(max-width: 767px){
                                        text-align: left;
                                    }

                                }
                            }

                            &:nth-child(3n){
                                padding-left: 110px;
                                @media(max-width: 767px){
                                    padding-left: 50px;
                                }
                                @media(min-width: 768px)and(max-width: 1024px){
                                    padding-left: 85px;
                                }
                            }
                        }
                    }
                }

            }
        }
        // Engage Features section ends
        
    
        // All Categories Section starts
        .all_categories{
            #all_category {
                .all_cat_wrap{
                    .title{
                        margin-bottom: 98px;
                        text-align: center;
                        @media(max-width: 767px){
                            padding: 0 25px;
                            margin-bottom: 50px;
                        }
                        .title_txt{
                            font-weight: 500;
                            line-height: 33px;
                            font-size: 25px;
                            @media(max-width: 767px){
                                font-size: 19px;
                            }
                            .red_square{
                                position: relative;
                                br{
                                    @media(max-width: 767px){
                                        display: none;
                                    }
                                }
                                &:before{
                                    content: "";
                                    position: absolute;
                                    width: 6px;
                                    height: 7px;
                                    border: 3px solid $primary;
                                    left: -24px;
                                    top: -17px;
                                }
                            }
                        }
                    }

                    .category_div{
                        @media(min-width: 768px) and (max-width: 1024px){
                            -webkit-align-items: stretch;
                            -ms-flex-align: stretch;
                            align-items: stretch;
                        }
                        .category{
                            @media(min-width: 768px) and (max-width: 1024px){
                                width: 50%;
                                margin-bottom: 50px;
                            }

                            @media(max-width: 767px){
                                width: 100%;
                                margin-bottom: 30px;
                            }
                        }
                    }
                }

            }
        }
        // All Categories Section ends
    }
}