/*Old feature css starts */
/*General css starts ====*/
.featurePageInnerTitle{
    @include mainTitle;
    max-width: 640px;
    margin-left:auto;
    margin-right:auto;
    
}


.featurePageInnerText p{
    @include Paragraph;
    margin: 0 auto;
}

/*General css ends ====*/


/*Banner section starts ====*/
.featureBannerCols{padding-bottom: 122px;}
@media all and (max-width:1190px) and (min-width:980px){
    .featureImageCol{
        .wistia_click_to_play, .wistia_embed{
            position: static !important;
        }
    }
}
.featureImageCol{
    float: left;
    width: 47%;
    padding-right: 64px;
    position: relative;
    left: 3px;
    min-height:1px;
    .svg-link{
        display: none;
        @media all and (min-width:1191px), (max-width:979px){
            position: relative;
        }
    }
    .wistia_click_to_play .svg-link{
        display: block;
    }
    .wistia_embed{
        width: 770px;
        height: auto;
        float: right;
    }
    img{
        width: 744px;
        height: auto;
        max-width: 100%;
        
    }
    .play-btn{
        background: rgba(0,0,0,0.27);
        width:135px;
        height:87px;
        position: absolute;
        left:50%;
        top:50%;
        margin:-43px 0 0 -67px;
        &:after{
            content:'';
            display: block;
            position: absolute;
            left:50%;
            top:50%;
            margin:-29px 0 0 -18px;
            border-left:36px solid #fff;
            border-top:29px solid transparent;
            border-bottom:29px solid transparent;
        }
    }
}
.featureContentCol{
    float: left;
    width: 53%;
    overflow: hidden;
    .signupForm{
        margin-left: 82px;
        margin-bottom: 5px;
        
    }
}
.bannerFeaturesListWrapper{padding-bottom: 70px;}
.bannerFeatureBlock:last-child .bannerFeatureBlockInner{padding-bottom: 0;}


.featureMainBox{
    .bannerFeatureBlockInner{
    svg{
        position: absolute;
        left: 0;
        top: 10px;
        width: 34px;
        height: 34px;
        .for-employees-icon{
            fill: $secondary;
        }
        .for-customer-icon{
            fill: $primary;
        }
        .For-job-seeker{
            fill: $theme;
        }
        .for-guest-icon{
            fill: $green;
        }
    }
}
    
    .customBlock svg{
        left: -2px;
        top: 9px;
    }
    .talentBlock svg{
        left: 0px;
        top: 5px;
    }
    .guestBlock svg{
        left: -5px;
        width: 44px;
        height: 44px;
        top: 6px;
    }
    
    .pageTitleForH1Tag{
        @include bannerMainTitle;
        max-width: 790px;
        margin: 0 auto;
        strong{
            font-weight:400;
        }
    }
    
    
    .featureContentColInner {
        margin-top: -47px;
        padding-left: 35px;
        padding-top: 40px;
        
    }
    .bannerFeatureBlockInner{
        position: relative;
        padding-left: 79px;
        
    }
}
.bannerFeatureTitle{
    font-size: 18px;
    font-weight: 500;
    color: $Header-title;
    line-height: 44px;
    text-transform: uppercase;
    padding-bottom:1px;
}

.bannerFeatureDesc{
    @include Paragraph;
    color: $Header-title;
}

.featurePageInnerTitle {
    margin-top: 5px;
}


/*Banner section ends ====*/

/*Tabbing section starts ====*/
.featureMainBox{
    .featureTabBtnWrapper {
        padding-top: 6px;
        text-align: center;
        border-bottom: 1px solid $footerBorder; 
        position: absolute; 
        left:0; 
        top:0; 
        width:100%; 
        background: $white; 
        z-index: 5; 
        -webkit-transition: all 0.5s ease; 
        -moz-transition: all 0.5s ease; 
        transition: all 0.5s ease;
        &.sticky{
            padding-top:10px;
            .featureTabText{display: none;}
            .featureTabBtn{padding-bottom: 0; transform: scale(0.5); padding-top: 100px; position: relative;top: -20px;}
        }
    }
    .featurePageInnerTitle{
        max-width:483px !important;
        margin-left:auto;
        margin-right:auto;
        text-transform: uppercase;
    }
    .featurePageInnerText{
        @include Paragraph;
        max-width:878px;
        margin: 0 auto;
    }
    .featureTabBtn-col {
        float: left;
        width: 25%;
        position: relative;
    }
}


#featureTabbingSection{min-height: 263px; position: relative;}
.featureTabBtn{
    font-size: 18px;
    line-height: 24px;
    color:$Header-title;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    padding-top: 157px;
    padding-bottom: 18px; 
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    transition: all 0.5s ease; 
    text-transform: uppercase; 
    cursor: pointer; 
    max-width: 160px;
    margin: 0 auto;
    &:before{content:'';display: block;position: absolute;left: 50%;top: 3px;background: #b7b6b6;width:113px;height:113px;border-radius:113px;-webkit-border-radius:113px;-o-border-radius:113px;-ms-border-radius:113px;-moz-border-radius:113px;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;transition: all 0.5s ease;margin-left: -63px;}
    &:after{
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 21px;
        background: url(images/sprite.png) no-repeat 0 -124px;
        width: 116px;
        height: 116px;
        margin-left: -56px;
    }
    &.tab-content:before{margin-left: -55px;}
}
.featureTabText{
    @include blockTitle;
    font-weight:$font-weight-feature-tab-title;
    @media all and (max-width:900px){
        font-size:15px;
    }
    @media all and (max-width:767px){
        font-size:10px;
    }
}
.featureTabBtn-col{
    &:before{content:'';display:block;position:absolute;bottom: -3px;width:0;height:5px;background:$secondary;left: 50%;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;transition: all 0.5s ease;}
    &.active:before{width:255px;margin-left: -129px;}
    &.tab-organisation{
        .featureTabBtn:hover:before, 
        &.active .featureTabBtn:before,
        &:before
        {background: $theme;}
        .featureTabBtn:after{
            background-position: -241px -124px;
            width:82px;
            height:83px;
            top: 58px;
            margin-left: -100px;
        }
    }
    &.tab-insights{
        .featureTabBtn:hover:before, 
        &.active .featureTabBtn:before,
        &:before
        {background: $orange;}
        .featureTabBtn:after {
            background-position: -206px -16px;
            width: 89px;
            height: 89px;
            top: 58px;
            margin-left: -100px;
        }
    }
    &.tab-content{
        .featureTabBtn:hover:before, 
        &.active .featureTabBtn:before,
        &:before
        {background: $green;}
        .featureTabBtn:after{
            background-position: -127px -125px;
            width:104px;
            height:81px;
            margin-left: -50px;
            top: 58px;
        }
    }
    &.tab-communication{
        .featureTabBtn:hover:before, 
        &.active .featureTabBtn:before,
        &:before
        {background: $secondary;}
    }
    
}

.featureTabWrapper{
    height:0; overflow: hidden;
    &.active{height:auto;}
}

.featureMainTabbingWrapper {
    .featureTabBtn:after {
        margin-left: -33px;
    }
} 

.featureMainBox{
    .featureTabBtn-col{
        &.active:before {
            width: 130px;
            margin-left: -67px;
        }
        &.tab-content .featureTabBtn:after {
            margin-left: -28px;
            top: 58px;
        }
        &.tab-organisation .featureTabBtn:after {
            top: 54px;
            margin-left: -78px;
        }
        .tab-insights .featureTabBtn:after {
            top: 54px;
            margin-left: -61px;
        }
    }
    .a-center {
        text-align: center;
    }
    .pagemainTitleWrapper{
        margin-bottom: 85px !important;
    }
}

/*Feed tab starts ====*/


.feedCommunicationTitle{
    @include mainTitle;
    color: $secondary;
    max-width: 492px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.feedCommunicationContent{
    @include Paragraph;
    margin: 0 auto;
    text-align: center;
    max-width: 900px;
    margin-top: 20px;
}
.feedCommunicationTitle, .publishHeading, .shareCuratedHeading{
    &:before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border:3px solid $secondary;
        width: 15px;
        height: 17px;
        margin-right:-31px;
        margin-top:-2px;
    }
}



.featureDesktopImg{
    margin: 81px auto;
    text-align: center;
    position: relative;
    position: relative;
    z-index: 0;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background: $background-color;
        width: 100%;
        height: 937px;
        z-index: -1;
        margin-top: 377px;
    }
    img{
        width:974px;
    }
}


.publishHeading, .shareCuratedHeading{
    @include mainTitle;
    max-width:325px;
    color: $secondary;
    position: relative;
    text-align: left;
}

.publishParagraph, .shareCuratedParagraph{
    @include Paragraph;
    max-width: 434px;
    text-align: left;
}
.shareCuratedParagraph{
    max-width: 370px;
}
.publishNetworkContent{
    width: 50%;
    padding: 0 20px;
    float: left;
    padding-top: 45px;
    position: relative;
}
.publishNetworkWrapper{
    margin-top: 249px !important;
}
.publishNetworkImg{
    width: 50%;
    float: right;
    position: relative;
    img{
        width: 929px;
        height: auto;
        position: relative;
        z-index: 2;
    }
}

.shareCuratedImg{
    width: 50%;
    float: left;
    padding-left: 64px;
    padding-top: 40px;
    img{
        width: 308px;
    }
}
.shareCuratedContent{
    width: 50%;
    float: right;
    margin-top: 75px;
    padding-left: 76px;
    padding-top: 41px;
}
.shareCuratedParagraph {
    max-width: 420px;
}
.shareCuratedHeading {
    max-width: 335px;
    position: relative;
    :before{
        content: "";
        position: absolute;
        top: -5px;
        left: -32px;
        border:3px solid $secondary;
        width: 15px;
        height: 17px;
    }
}


/*Feed tab ends ====*/




.featureTabsContentWrapper{
    padding-bottom: 100px;
    @media all and (max-width:767px){
        padding-bottom: 30px;
    }
    .mainWrapper{
        padding-top: 18px;
    }
}



/*Tabbing  section ends ====*/

/*Our features  section starts ====*/
.our-feature-main-title{
    font-size:30px;
    line-height: 48px;
    font-weight:300;
    color:$Header-title;
    text-align: center;
    margin-bottom:69px;
    font-weight: $font-black;
    @media all and (max-width:767px){
        font-size: 20px;
        line-height: 26px;
        margin-bottom:0;
    }
    strong{
        font-weight: $font-black;
    }
    .box1{
        left: -29px;
        top: -19px;
        width: 16px;
        height: 18px;
    }
    .box2{
        left: -47px;
        top: -33px;
        width: 12px;
        height: 12px;
    }
}
.our-feature-section { 
    padding-bottom:84px;
    .container{
        max-width:980px;
    }
}
@media all and (max-width:1200px) and (min-width:768px){
.fds-description .homeBannerSignupForm {
    width: 340px;
    margin: 0 auto;
    position: relative;
    left: -13px;
}
}
.feature-column-wrapper{
    display: flex;
    flex-wrap: wrap;
    @media all and (max-width:767px){
        display: block;
        max-width: 300px;
        margin: 0 auto;
    }
    .feature-column{
        width: 33.3%;
        padding:39px 0 39px 75px;
        
        @media all and (max-width:900px){
            width:50%;
        }
        @media all and (max-width:767px){
            width:100%;
            padding:30px 0;
            text-align: center;
        }
        
        .fc-title{
            font-size: 16px;
            line-height: 26px;
            color:#383c3d;
            font-weight: 500;
            margin-bottom:3px;
            position: relative;
            display: inline-block;
            text-transform: uppercase;

            @media all and (max-width:767px){
                font-size:14px;
                padding-top:40px;
            }
            .fc-icon-wrapper{
                position: absolute;
                left: -40px;
                top:0;
                width:25px;
                height: 25px;
                color:transparent;
                @media all and (max-width:767px){
                    left:50%;
                    margin-left:-12px;
                }
                img{
                    max-width: 31px;
                    height:auto;
                }
                svg{
                    width:100%;
                    height:100%;
                }
            }
        }
        .fc-content{
            font-size:16px;
            line-height: 28px;
            color:$paragraph-color;
            margin-bottom:5px;
            font-weight:400;
            @media all and (max-width:767px){
                font-size:14px;
            }
        }
    }
}
.featureMainBox .pageTitleForH1Tag{
    .box1{
        left: -29px;
        top: -17px;
        width: 21px;
        height: 21px;
        @media all and (max-width:767px){
            left: -26px;
            top: -26px;
        }
    }
    .box2{
        right: 9px;
        top: -41px;
        width: 11px;
        height: 11px;
        @media all and (max-width:767px){
            right: -41px;
            top: -50px;
        }
    }
    .box3{
        right: -20px;
        top: -13px;
        height: 18px;
        width: 18px;
        @media all and (max-width:767px){
            right: -40px;
            top: -22px;
        }
    }
}
.featureMainBox.plateform .pageTitleForH1Tag{
    .box2{
        right: -53px;
        top: -7px;
        width: 11px;
        height: 11px;
        @media all and (max-width:767px){
            right: -21px;
            top: -50px;
        }
    }
    .box3{
        right: -75px;
        top: -37px;
        height: 18px;
        width: 18px;
        @media all and (max-width:767px){
            right: -50px;
            top: -22px;
        }
    }

}

.feature-main-video-wrapper{
    max-width: 611px;
    margin:0 auto 136px;
    padding:0 20px;
}
.page-template-featurepage, .page-template-template1-features-detail {
    .personalise-every-piece{
        .fds-image{
            padding-top:0;
        }
    }
    @media all and (max-width:767px){
        .homeBannerSignupForm{
            left:0;
        } 
    }
    
}
/* Svg colors starts */


    .st0{fill:$primary;}
    .st1{fill:$primaryLight2;}
    .st2{fill:#FC7A83;}

    
    .advocacy-st0{fill:$primaryLight3;}
	.advocacy-st1{fill:$primaryLight1;}
    .advocacy-st2{fill:$primary;}
    
    .analytic-st0{fill:none;}
	.analytic-st1{fill:$primary;}
	.analytic-st2{fill:$primaryLight2;}

    .asset-mgt-st0{display:none;fill:$primaryLight2;}
	.asset-mgt-st1{display:none;fill:$primaryLight1;}
	.asset-mgt-st2{display:none;fill:$primary;}
	.asset-mgt-st3{fill:$primary;}
    .asset-mgt-st4{fill:$primaryLight2;}
    
    .campaign-st0{fill:$primaryLight3;}
	.campaign-st1{fill:$primary;}
    .campaign-st2{fill:$primary2;}

    
    
    .feeds-st0{fill:$primary;}
	.feeds-st1{fill:$primaryLight2;}
    .feeds-st2{fill:$primaryLight1;}
    
    .gamification-st0{fill:$primaryLight2;}
	.gamification-st1{fill:$primary;}


    .integration-st0{fill:$primaryLight2;}
	.integration-st1{fill:$primary;}
    .integration-st2{fill:$primaryLight1;}
    
    .media-editors-st0{fill:$primary;}
    .media-editors-st1{fill:$primaryLight2;}
    
    .mobile-app-st0{display:none;fill:$primaryLight2;}
	.mobile-app-st1{display:none;fill:$primary;}
	.mobile-app-st2{fill:$primary;}
    .mobile-app-st3{fill:$primaryLight2;}

    .moderation-st0{fill:$primary;}
	.moderation-st1{fill:$primaryLight2;}
    
    .polls-plus-st0{fill:$primaryLight2;}
	.polls-plus-st1{fill:$primaryLight1;}
    .polls-plus-st2{fill:$primary;}
    
    .print-management-st0{fill:$primary;}
	.print-management-st1{fill:$primaryLight2;}

// $primary: #ff595e;
// $primaryLight1:#FC7A83;
// $primaryLight2:#FFC5CD;


/* Svg colors ends */

/*Our features  section ends ====*/


/*Editor css starts ====*/

#tinymce {
    .featureImageCol{
        border:1px dotted #000;
        min-height: 470px;
    }
    .featureDesktopImg{
        border:1px dotted #000;
        min-height: 1227px;
    }
    .publishNetworkImg{
        border:1px dotted #000;
        min-height: 411px;
    }
    .shareCuratedImg{
        border:1px dotted #000;
        min-height: 658px;
    }
    .innerimagePartOfWrppaerEmojiFeed{
        border:1px dotted #000;
        min-height: 323px;
    }
    .inneremployeeImagePart{
        border:1px dotted #000;
        min-height: 552px;
    }
   
    .content-bannerfor-creative-ownership{
        border:1px dotted #000;
        min-height: 983px;
    }
    .image-intergration{
        border:1px dotted #000;
        min-height: 388px;
    }
    .imagePartMainEmployeeContent{
        border:1px dotted #000;
        min-height: 765px;
    }
    .image-banner-for-feed{
        border:1px dotted #000;
        min-height: 373px;
    }
    .FeedBackImageContainer{
        border:1px dotted #000;
        min-height: 455px;
    }
    .amazon-img{
        border:1px dotted #000;
        min-height: 70px;
        min-width: 249px;
    }
    .featureTabWrapper{
        height:auto; 
        margin-bottom: 40px;
    }
    .fc-icon-wrapper{
        border:1px dotted #000;
        min-height: 50px;
        position: relative;
        display: block;
    }
}

/*Editor css ends ====*/

/* Feature detail template1 css starts */
.feartures-detail-title{
    position: absolute;
    left: -999em;
}
.fds-title-inner { 
    position: relative;
    display: inline-block;
    .squareBox{
    }
}
@media all and (max-width:767px){
    .feature-moderation-page .edit-media-section .fds-title-inner{
        display: inline;
    }
}
@media all and (min-width:1201px){
.personalise-every-piece .fds-title-inner{
    max-width:320px;
}
}

.fds-image{
    float: left;
    width: 60%;
    img{
        float: right;
        display: block;
        margin:0 auto;
    }
    @media all and (max-width:1200px){
        float: none;
        width:auto;
        padding-bottom:30px;
        padding-right: 0px !important;
        img{
            float: none;
            max-width: 100%;
            height:auto;
        }
    }
}

.edit-media-section{
    overflow: hidden;
    padding-bottom:3px;
    @media all and (min-width:768px){
        min-height: $banner-height;
    }
    @media all and (max-width:767px){
        padding-bottom:0;
    }
    .fds-image{
        position: relative;
        left: 10px;
        padding-top: 58px;
        margin-bottom: -3px;
        @media all and (max-width:767px){
            margin-bottom:0;
            padding-bottom:0;
        }
    }
    .yellow-section{
            
        @media all and (max-width:767px){
            .fds-image{
                padding-top:0;
            }
        }
    }
        
}
.yellow-section{
    @media all and (max-width:767px){
        padding:$section-space-responsive 0;
    }
}
.features-print-mgt-page {  
    .edit-media-section .yellow-section{
        @media all and (min-width:768px){
            min-height: $banner-height;
        }
    }
}

.fun-content-creation-section{
    overflow: hidden;
    position: relative;
    padding:$section-space 0;
    @media all and (max-width:767px){
        padding:$section-space-responsive 0;
    }
    .squareBox{
        width: 18px;
        height: 18px;
        left: -27px;
        top: -12px;
        @media all and (max-width:767px){
            left: -10px;
            top: -25px;
        }
    }
    @media all and (min-width:1201px){
        
        
        .fds-image{
            padding-right:162px;
        }
        &:before{
            content:'';
            position: absolute;
            left:0;
            right:0;
            bottom:0;
            height:327px;
            background: $background-color;
            z-index: -1;
            border-top:1px solid $section-yellow-border;
        }
    }
    @media all and (max-width:1200px){
        padding-bottom:56px;
    }
}
.personalise-every-piece{
    overflow: hidden;
    
    @media all and (min-width:1201px){
        .container{
            padding-bottom: 0;
        }
        &.alt .fds-image{
            padding-left:115px;
            padding-top:0;
        }
    }
    .squareBox{
        width: 11px;
        height: 11px;
        right: 71px;
        top: 1px;
        @media all and (max-width:1200px){
            right: -20px;
            top: -15px;
        }
        @media all and (max-width:767px){
            right:-20px;
            top:-14px;
        }
    }
}
.feature-campaign-page .personalise-every-piece .squareBox{
    right: -9px;
    top: -9px;
}
.fds h3{
    font-size:$inner-title-font-size;
    line-height: $inner-title-line-height;
    margin-bottom:$inner-title-margin-bottom;
    font-weight:$inner-title-font-weight;
    strong{
        font-weight: $font-black;
    }
    @media all and (max-width:767px){
        font-size:$inner-title-font-size-responsive;
        line-height: $inner-title-line-height;
    }
}

@media all and (min-width:1201px){
    .feature-feed-page .edit-media-section .squareBox{
        right:123px;
    }
}

.feature-feed-page .personalise-every-piece .squareBox{
    @media all and (min-width:768px){
        right: -9px;
        top: -5px;
    }
}
.features-sms-page .edit-media-section .squareBox{
    @media all and (max-width:767px){
        right:-10px;
    }
}


.edit-media-section .squareBox{
    width: 12px;
    height: 12px;
    right: 53px;
    top: -1px;
    @media all and (max-width:1200px){
        right:0;
        top:-14px;
    }
    
}
@media all and (min-width:768px){
.feature-analytics-section .edit-media-section .squareBox{
    right: -17px;
    top: -14px;
}
.feature-polls-pulse-page .edit-media-section .squareBox{
    right: 23px;
    top: -11px;
}
.feature-polls-pulse-page .personalise-every-piece .squareBox{
    right: 34px;
    top: -9px;
}
.feature-analytics-section .personalise-every-piece .squareBox{
    right:111px;
}

.feature-gamification-page{
    .fds-detail-description .squareBox{
        left: 14px;
        top: -5px;
    }
    .organise-content .fds-inner-detail-description .organise-sec.squareBox{
        right:9px;
    }
}
.feature-email-page{
    .fds-detail-description .squareBox{
        left: 9px;
        top: -7px;
    }
}
.features-sms-page{
    .edit-media-section .squareBox{
        right: -17px;
        top: -11px;
    }
    .personalise-every-piece .squareBox{
        right:101px;
    }
}
}

@media all and (min-width:1201px){
    .features-print-mgt-page{
        .edit-media-section .squareBox{
            right: 43px;
            top: -11px;
        }
        .personalise-every-piece .squareBox{
            right:11px;
        }
    }
}

.feature-email-page{
    @media all and (max-width:767px){
        .fds-title-inner{
            display: inline;
        }
    }
}

@media all and (min-width:1201px){
    .alt .fds-image{
        float: right;
        img{
            float: none;
        }
    }
}
ul.feature_ul li.feature_li .feature .feature_title{
    text-transform: uppercase;
}
.fds-description{
    float: left;
    width: 40%;
    max-width: $half-column-container-width;
    position: relative;
    padding-top: $section-space;
    @media all and (max-width:767px){
        padding-top: $section-space-responsive;
    }
    @media(max-width: 1200px){
        max-width: 300px;
        margin:0 auto;
    }
    h2{
        font-weight: $main-title-font-weight;
        font-size: $main-title-font-size;
        line-height: $main-title-line-height;
        margin-bottom: $main-title-margin-bottom;
        @media(max-width: 767px){
            font-size: $main-title-font-size-responsive;
            line-height: $main-title-line-height-responsive;
        }
        &, strong{
            font-weight: $font-black;
        }
        & + p{
            font-size: $hero-sub-title-font-size;
            line-height: $hero-sub-title-line-height;
            font-weight: $hero-sub-title-font-weight;
            margin-bottom: $hero-sub-title-margin-bottom;
            @media all and (max-width:767px){
                font-size: $hero-sub-title-font-size-responsive;
                line-height: $hero-sub-title-line-height-responsive;
                margin-bottom: $hero-sub-title-margin-bottom-responsive;
            }
        }
    }
    
    @media all and (max-width:1200px){
        float: none !important;
        width:auto;
        text-align: center;
        padding-top:0;
    }
}
.yellow-section{
    background: $background-color;
}
.edit-media-section .yellow-section{
    border-bottom:1px solid $section-yellow-border;
}
.edit-media-section p{
    font-size: $hero-sub-title-font-size;
    line-height: $hero-sub-title-line-height;
    font-weight: $hero-sub-title-font-weight;
    margin-bottom: $hero-sub-title-margin-bottom;
    color:$Header-title;
    @media all and (max-width:767px){
        font-size: $hero-sub-title-font-size-responsive;
        line-height: $hero-sub-title-line-height-responsive;
        margin-bottom: $hero-sub-title-margin-bottom-responsive;
    }
    

}

.more-feature-section { 
    padding-top:$section-space;
    h2{
    @media all and (min-width:768px){
        font-size:30px;
        line-height: 40px;
        margin-bottom:47px;
        font-weight: $font-black;
    }
    text-align: center;
    .squareBox{
        left: -21px;
        top: -10px;
        width: 12px;
        height: 12px;
    }
    }
    @media all and (max-width:767px){
        padding-top:$section-space-responsive;
    }
}
/* Feature detail template1 css ends */


/* Old feature css ends */


    .st0{fill:$primary;}
    .st1{fill:$primaryLight2;}
    .st2{fill:#FC7A83;}

    
    .advocacy-st0{fill:$primaryLight2;}
    .advocacy-st1{fill:$primaryLight1;}
    .advocacy-st2{fill:$primary;}
    
    .analytic-st0{fill:none;}
    .analytic-st1{fill:$primary;}
    .analytic-st2{fill:$primaryLight2;}

    .asset-mgt-st0{display:none;fill:$primaryLight2;}
    .asset-mgt-st1{display:none;fill:$primaryLight1;}
    .asset-mgt-st2{display:none;fill:$primary;}
    .asset-mgt-st3{fill:$primary;}
    .asset-mgt-st4{fill:$primaryLight2;}
    
    
    .feeds-st0{fill:$primary;}
    .feeds-st1{fill:$primaryLight2;}
    .feeds-st2{fill:#FC7A83;}
    
    .gamification-st0{fill:$primaryLight2;}
    .gamification-st1{fill:$primary;}


    .integration-st0{fill:$primaryLight2;}
    .integration-st1{fill:$primary;}
    .integration-st2{fill:$primaryLight1;}
    
    .media-editors-st0{fill:$primary;}
    .media-editors-st1{fill:$primaryLight2;}
    
    .mobile-app-st0{display:none;fill:$primaryLight2;}
    .mobile-app-st1{display:none;fill:$primary;}
    .mobile-app-st2{fill:$primary;}
    .mobile-app-st3{fill:$primaryLight2;}

    .moderation-st0{fill:$primary;}
    .moderation-st1{fill:$primaryLight2;}
    
    .polls-plus-st0{fill:$primaryLight2;}
    .polls-plus-st1{fill:$primaryLight1;}
    .polls-plus-st2{fill:$primary;}
    
    .print-management-st0{fill:$primary;}
    .print-management-st1{fill:$primaryLight2;}

    .culture-st0{opacity:0.3;fill:$primary;}
	.culture-st1{fill:none;}
    .culture-st2{fill:$primary;}
    
    .social-analytics-st0{opacity:0.3;fill:$primary;}
	.social-analytics-st1{fill:none;}
    .social-analytics-st2{fill:$primary;}
    
    
    
    .customer-adovocacy-st0{opacity:0.3;fill:$primary;}
	.customer-adovocacy-st1{fill:none;}
    .customer-adovocacy-st2{fill:$primary;}
    
    .employee-advocacy-st0{opacity:0.3;fill:$primary;}
	.employee-advocacy-st1{fill:none;}
    .employee-advocacy-st2{fill:$primary;}
    
    .employee-referral-st0{fill:none;}
	.employee-referral-st1{fill:$primary;}
	.employee-referral-st2{opacity:0.3;fill:$primary;}

// FEATURE PAGE NEW SCSS STARTS
#feature_page{
    // Banner section starts
    .banner_section{
        padding-top: 90px;
        position: relative;
        @media all and (min-width:768px){
            height: $banner-height;
        }        
        @include mq('phone'){
            padding-top:0;
        }
        img{
            max-height: 514px;
            object-fit: cover;
        }
        &:before{
            content: "";
            display: block;
            background: url(images/feature_bg_banner.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0.18;
        }
        .inner_wrap{
            .banner_title{
                padding-top: 62px;
                padding-bottom: 113px;
                @media(max-width: 767px){
                    padding-bottom: 70px;
                }
                @media(min-width: 768px)and(max-width: 1024px){
                    padding-top: 0px;
                    padding-bottom: 40px;
                }
                .title_txt{
                    position: relative;
                    font-weight: $font-black;
                    font-size: 58px;
                    line-height: 70px;
                    @media(max-width: 767px){
                        font-size: 30px;
                        line-height: 40px;
                        padding: 0 12px;
                    }
                    @media(min-width: 768px)and(max-width: 1024px){
                        font-size: 40px;
                    }
                    span.square{
                        position: relative;
                        br{
                            @media(max-width: 767px){
                                display: none;
                            }
                        }
                    }
                }
            }
            .banner_image{
                position: relative;
                @media(max-width: 767px){
                    display: flex;
                    flex-direction: column;
                }
                .img{
                    display: inline-block;
                    width: 54%;
                    padding-left: 34px;
                    @media(max-width: 767px){
                        width: 100%;
                        padding-left: 0;
                        max-width: 300px;
                        margin:0;
                        position: relative;
                        left: 50%;
                        margin-left: -260px;
                    }
                }
                .banner_txt{
                    display: inline-block;
                    position: absolute;
                    text-align: center;
                    left: 52%;
                    top: 118px;
                    @media(max-width: 767px){
                        top: 90px;
                        left: 50%;
                        margin-left: -60px;
                        width: 230px;
                    }
                    @media(min-width: 768px)and(max-width: 1024px){
                        left: 46%;
                        top: 10%;
                    }
                    h3.quote_txt {
                        font-size: 46px;
                        line-height: 61px;
                        font-style: italic;
                        font-weight: 500;
                        letter-spacing: -2px;
                        @media(max-width: 767px){
                            font-size: 20px;
                            line-height: 30px;
                            letter-spacing: 0;
                        }
                        @media(min-width: 768px)and(max-width: 1024px){
                            font-size: 32px;
                            line-height: 45px;
                        }
                    }
                    h3.author_name {
                        color: #bbb;
                        font-weight: 800;
                        font-size: 27px;
                        margin-top: 24px;
                        @media(max-width: 767px){
                            font-size: 24px;
                        }
                        @media(min-width: 768px)and(max-width: 1024px){
                            font-size: 25px;
                            margin-top: 24px;
                        }
                    }
                    h3.author_desgn {
                        color: #bbb;
                        font-weight: 500;
                        font-size: 27px;
                        margin-left: 10px;
                        @media(max-width: 767px){
                            font-size: 23px;
                        }
                        @media(min-width: 768px)and(max-width: 1024px){
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
    // Banner section ends
}

// FEATURE PAGE NEW SCSS ENDS
    // Features overview section starts
    .features_overview{
        padding-top:$section-space;
        @media all and (max-width:767px){
            padding-top:$section-space-responsive;    
        }
        .inner_wrap{
            .section_title{
                margin-bottom: $section-title-bottom-space;
                @media(max-width: 767px){
                   margin-bottom: $section-title-bottom-space-responsive; 
                }
                h3.title{
                    position: relative;
                    font-weight: $font-black;
                    text-align: center;
                    font-size: $inner-page-main-title-font-size;
                    line-height: $inner-page-main-title-line-height;
                    font-weight: $inner-page-main-title-font-weight;
                    @media all and (max-width: 767px){
                        font-size: $inner-page-main-title-font-size-responsive;
                        line-height: $inner-page-main-title-line-height-responsive;
                    }
                }
            }
            .features_list{
                padding-top: 24px;
                max-width: 100%;
                margin: 0 auto;
                ul.feature_ul{
                    li.feature_li{
                        width: 33.3%;
                        padding: 0px 0 $section-space 103px;
                        @media(max-width: 767px){
                            width: 100%;
                            padding: 0px 0 $section-space-responsive 50px; 
                        }
                        @media(min-width: 768px)and(max-width: 1024px){
                            width: 50%;
                            padding: 0px 0 $section-space-responsive 85px;
                        }
                        .feature{
                            .feature_title{
                                font-weight: 500;
                                font-size: 17px;
                                margin: 0;
                                position: relative;
                                @media(max-width: 767px){
                                    font-size: 18px;
                                }
                                .icon{
                                    position: absolute;
                                    left: -30px;
                                    svg{
                                        width: 100%;
                                        height: 100%;
                                        max-width: 24px;
                                    }
                                }
                            }
                            .feature_descr{
                                margin: 4px 0px 0 0;
                                &, p{
                                    text-align: left;
                                }
                            }
                            .learn_more{
                                display: inline-block;
                                margin-top: 7px;
                                padding-bottom: 10px;
                                @media(max-width: 767px){
                                    margin-top: 14px;
                                }
                            }
                        }
                    
                        &:nth-child(3n){
                            padding-left: 110px;
                            @media(max-width: 767px){
                                padding-left: 50px;
                            }
                            @media(min-width: 768px)and(max-width: 1024px){
                                padding-left: 85px;
                            }
                        }
                    }
                }
            }

        }
    }

    .page-template-template1-features-detail, .page-template-usescase-template1 { 
        li.feature_li{
            display: none;
            &.show{
                display: block;
            }
        }
    }
    // Features overview section ends


.page-template-featurepage { 
    #category_main_section .inner_wrap #all_category{
        padding-top:0;
        padding-bottom:40px;
    }
    #footer .signup-form-wrapper{
        padding-top:68px;
        @media all and (max-width:767px){
            padding-top:0;
        }
    }
}


/* Feature main pages  starts*/
.Blue-theme{
    .centralised-background, .bg-white.fun-content-creation-section, .connect-sec-background{
        &:before{
            background: $blue-theme-bgcolor;
        }
    }
    .centralised-background:before{
        border-bottom-color:$blue-theme-bordercolor;
    }
    .bg-white.fun-content-creation-section:before{
        border-top-color:$blue-theme-bordercolor;
    }
    .connect-sec-background:before{
        border-bottom-color:$blue-theme-bordercolor;
    }
    .theme-background{
        background: $blue-theme-bgcolor;
        border-top:1px solid $blue-theme-bordercolor;
        border-bottom:1px solid $blue-theme-bordercolor;
    }
}

.Pink-theme{
    .centralised-background, .bg-white.fun-content-creation-section, .connect-sec-background{
        &:before{
            background: $pink-theme-bgcolor;
        }
    }
    .centralised-background:before{
        border-bottom-color:$pink-theme-bordercolor;
    }
    .bg-white.fun-content-creation-section:before{
        border-top-color:$pink-theme-bordercolor;
    }
    .connect-sec-background:before{
        border-bottom-color:$pink-theme-bordercolor;
    }
    .theme-background{
        background: $pink-theme-bgcolor;
        border-top:1px solid $pink-theme-bordercolor;
        border-bottom:1px solid $pink-theme-bordercolor;
    }
}

.Green-theme{
    .centralised-background, .bg-white.fun-content-creation-section, .connect-sec-background{
        &:before{
            background: $green-theme-bgcolor;
        }
    }
    .centralised-background:before{
        border-bottom-color:$green-theme-bordercolor;
    }
    .bg-white.fun-content-creation-section:before{
        border-top-color:$green-theme-bordercolor;
    }
    .connect-sec-background:before{
        border-bottom-color:$green-theme-bordercolor;
    }
    .theme-background{
        background: $green-theme-bgcolor;
        border-top:1px solid $green-theme-bordercolor;
        border-bottom:1px solid $green-theme-bordercolor;
    }
}

.feature-main-page{
    .fds-detail-description{
        max-width: 570px;
    }
    .feature-first-section{
        .fds-image { 
            img{
                width: 972px;
                @media all and (max-width:767px){
                    width:100%;
                    height:auto;
                }
            }
        }
    }
    .feature-second-section{
        .fds-image { 
            img{
                width: 929px;
                @media all and (max-width:767px){
                    width:100%;
                    height:auto;
                }
            }
        }
    }
    .feature-third-section{
        @media all and (max-width:1200px){
            padding-bottom:$feature-section-space;
        }
        @media all and (max-width:767px){
            padding-bottom:$feature-section-space-responsive;
        }
        .fds-image { 
            img{
                width: 832px;
                @media all and (max-width:767px){
                    width:100%;
                    height:auto;
                }
            }
        }
    }
    .feature-third-section, .feature-fifth-section{
        .fds-image{
            padding-right: 49px;
        }
        .fds-description{
            float: right;
        }
    }
    &.feature-engage-page{
        .feature-fourth-section{
            .fds-image { 
                img{
                    width: 1000px;
                max-width:none;
                @media all and (max-width:767px){
                width: auto;
                max-width:100%;
                }
                   
                }
            }
        }    
    }
    .feature-fourth-section{
        overflow: hidden;
        .fds-image { 
            img{
                width: 1000px;
                @media all and (max-width:767px){
                    width:100%;
                    height:auto;
                }
            }
        }
    }
    .feature-fifth-section{
        @media all and (min-width:1201px){
            padding-bottom:0;
        }
        .fds-image { 
            margin-bottom:-5px;
            img{
                width: 972px;
                height: auto;
                @media all and (max-width:767px){
                    width:100%;
                    height:auto;
                }
            }
        }
    }
    
   
    .feature-detail-description-page .fds-detail-description{
        padding-top:78px;
        @media all and (max-width:767px){
            padding-top:$feature-section-space-responsive;
        }
    }
    .edit-media-section .fds-image{
        padding-top:$section-half-space;
        @media all and (max-width:767px){
            padding-top:$feature-section-space-responsive;
        }
    }
    .feature-fourth-section, .feature-fifth-section{
        .fds-inner-detail-description{
            @media all and (max-width:1200px){
                width:auto;
            }
        }
    }
}
.feature-detail-page {
    .feature-fourth-section{
        .fds-image { 
            img{
                width: 1000px;
                max-width:none;
                @media all and (max-width:767px){
                width: auto;
                max-width:100%;
                }
            }
        }
    }    
}
.feature-fourth-section .fds-description{
    padding-top: 40px;
}

/* Feature main pages  ends*/