
//feature4 anaylics part
.mainEmployeeContent.featureInsightMainWrapperContainer{
     padding:0;
     margin-bottom:4px;
    .innerMainEmployeeContent.innerMainEmployeeinsight{
        .titleContainer{
            max-width:810px;
            .pageTitleOfFeatureContent{
                max-width:455px;
                color:$orange;
                margin:0 auto 20px auto;
            }  
            .rounder-small-bg:before{
                border-color:$orange;
                right:-17px;
            }
        }
        .imagePartMainEmployeeContent{
            max-width:882px;
            margin:0 auto;
            padding-bottom: 96px;
        }
    }
}

//part2 

//testmonial  css
.EmojiFeedBahiviourWrapper.testimonialContainer{
    margin-bottom:100px;
}
.EmojiFeedBahiviourWrapper{
    .innerEmojiFeedBahiviourWrapper{
        .imagePartOfWrppaerEmojiFeed , .textPartOfWrppaerEmojiFeed{
            float:left;
            width:50%;
            .innerimagePartOfWrppaerEmojiFeed{
                max-width:429px;
                margin:0 auto;
            }
        }
        .textPartOfWrppaerEmojiFeed{
            padding-top:19px;
        }
        .testimonialMainWrapper{
            float:none;
            margin:0 auto;
        }
    }
}
@media (max-width:979px){
   
.EmojiFeedBahiviourWrapper{
    margin-bottom: 0 !important;
    .innerEmojiFeedBahiviourWrapper{
        .imagePartOfWrppaerEmojiFeed , .textPartOfWrppaerEmojiFeed{
            float:none;
            width:100%;
            margin:0 auto 30px 0;
        }
    }
  } 
}
@media (max-width:979px){
.textPartOfWrppaerEmojiFeed{display: none;}
}
//employeeTextPart
.employeeAdvocasyContainer{
    margin-bottom:170px;
    .innerEmployeeAdvocasyContainer{
        .rounder-small-bg:before{
            margin-right:47px;
            margin-top: -5px;
            border-color: $orange;
        }
        .rounded-image-for-box{
              position: absolute;
              right:0;
              top:0;
              margin-top: -133px;
              margin-right: -156px;
        }
        .employeeTextPart{
            float:left;
            width:60%;
            background: $lightOrange;
            position: relative;
            padding:253px 0 471px 121px;
            .title-container{
                max-width: 343px;
                .main-title{
                  @include mainTitle;
                  color:$orange;
                  position: relative;
                }
                .content{
                   @include Paragraph;
                } 
            }
        }
        .employeeImagePart{
            float:right;
            width:40%;
            padding:188px 0 227px;
            position: relative;
            z-index:1;
            .inneremployeeImagePart{
                max-width: 947px;
                margin-left: -287px;
            }
        }
    }
}
@media screen and (min-width:1200px){
    .employeeAdvocasyContainer{
        .innerEmployeeAdvocasyContainer{
            .employeeTextPart{
                padding:253px 0 471px 0;
                .title-container{
                    margin:0 auto;
                }
            }
        }
    }
}
@media screen and (min-width:978px) and  (max-width:1200px) {
    .employeeAdvocasyContainer{
        .innerEmployeeAdvocasyContainer{
            .employeeTextPart{
                padding:253px 0 471px 30px;
             }
        }
    }
}
@media (max-width:979px){
    .employeeAdvocasyContainer{
        margin-bottom: 40px;
        .rounded-image-for-box{
            display:none;
        }
        .innerEmployeeAdvocasyContainer{
            .employeeTextPart{
                padding:120px 0 60px;
                .title-container{
                    margin:0 auto;
                } 
            }
            .employeeImagePart{
                margin:30px auto 0 auto;
                padding:0;
                img{
                    display: block;
                }
            }
            .employeeTextPart,.employeeImagePart{
              float:none;
              width:100%;
              .inneremployeeImagePart{
                  margin-left:0;
                  margin-bottom: -88px;
                  img{
                      width:100%;
                      height:auto;
                      object-fit:cover;
                  }
              }
            }
        }
    }
}
.mainEmployeeContent.featureInsightMainWrapperContainer.behavioursMainContainer{
    .rounder-small-bg:before{
        margin-right:-14px;
    }
    .imagePartMainEmployeeContent{
        max-width:977px !important;
    }
    .titleContainer{
        max-width:750px !important;
        .pageTitleOfFeatureContent{
             @include  mainTitle;
             max-width:352px !important;
        }
    }

}

//pricing css
 .pricingTestimonialSection.testimonialContainer {
     margin-bottom: 0;
    .testimonialMainWrapper{
        padding-left:0;
        float:none;
        margin:0 auto;
    }
    .avatar-image{
        text-align: center;
        padding-left:10px;
    }
    .avtart-img{
        margin:0 auto;
    }
}
.pricingMainWrapper .testimonialContainer .avatar-image{
    text-align: center;
     padding-left: 0; 
    position: relative;
    float: left;
    width: 145px;
}