
//-------------------centralised-background sec----------------//
.fds-detail-description{
    float: none;
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
    position: relative;
    padding-top: 117px;
}
.fds-detail-description h1{
    font-weight: $main-title-font-weight;
    font-size: $main-title-font-size;
    line-height: $main-title-line-height;
    margin-bottom: $main-title-margin-bottom;
    @media(max-width: 767px){
        font-size: $main-title-font-size-responsive;
        line-height: $main-title-line-height-responsive;
    }
    & + p{
        font-size: $hero-sub-title-font-size;
        line-height: $hero-sub-title-line-height;
        font-weight: $hero-sub-title-font-weight;
        margin-bottom: $hero-sub-title-margin-bottom;
        @media all and (max-width:767px){
            font-size: $hero-sub-title-font-size-responsive;
            line-height: $hero-sub-title-line-height-responsive;
            margin-bottom: $hero-sub-title-margin-bottom-responsive;
        }
    }
}
.fds-detail-description .squareBox{
    width: 12px;
    height: 12px;
    left: 44px;
    top: -1px;
}
.feature-moderation-page .fds-detail-description .squareBox{
    left: -6px;
    top: -11px;
}
.feature-advocacy-diagnostics-page .fds-detail-description .squareBox{
    left: 14px;
    top: -11px;

}


.pink-section{
    background: $lightPink;
}

// responsive
@media screen and (max-width: 1200px) {
.feature-detail-description-page .fds-detail-description{
    width: 100%;
    .homeBannerSignupForm{
        margin:0 auto;
        width:auto;
    }
}
.feature-detail-description-page .fds-detail-description .squareBox {
    left: -15px;
}
}

.feature-detail-description-page .fds-detail-description .squareBox {
    @media screen and (max-width: 767px) {
        left: -15px;
        top: -16px;
    }
    @media screen and (max-width: 320px) {
        left:45px;
    }
}

//---------------- centralised-background sec end-----------------//

//----------------- organise sec start---------------------//
.fds-inner-detail-description .connect-sec.squareBox {
    left: -14px;
    top: -3px;
    width: 12px;
    height: 12px;
    @media all and (max-width:767px){
        top:-14px;
    }
}
.fds-inner-detail-description .organise-sec.squareBox{
    width: 18px;
    height: 18px;
    right: 69px;
    top: -19px;
    left: auto;
}
.feature-detail-description-page.alt .fds-image img{
    margin: 0 auto;
}
.feature-detail-description-page .fds-image{
    float: none;
    margin: 0 auto;
    left: 0;
    width: 100%;
}
.feature-detail-description-page .fds-detail-description {
    padding-top: 78px;
}
.bg-white.fun-content-creation-section:before{
    background: $lightPink;
    height: 291px;
    border-top:1px solid $section-pink-border;
}
.centralised-background:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: $banner-height;
    background:$lightPink;
    border-bottom:1px solid $section-pink-border;
    z-index: -1;
}

.centralised-background, .connect-sec-background{
    position: relative;
}
.organise-content.fun-content-creation-section{
    padding-top: $section-space;
    padding-bottom: $section-space;
    @media all and (max-width:767px){
        padding-top:$section-space-responsive;
        padding-bottom:$section-space-responsive;
    }
}
.organise-content .fds-image{
    padding-top: 0px;
    padding-left: 26px;
}

.organise-content .fds-inner-detail-description .organise-sec.squareBox {
    width: 18px;
    height: 18px;
    right: 19px;
    top: -11px;
    left: auto;
}
.feature-advocacy-diagnostics-page .organise-content .fds-inner-detail-description .organise-sec.squareBox{
    right: -11px;
    @media all and (max-width:767px){
        right:-24px;
        top:-19px;
    }
}
.feature-moderation-page .organise-content .fds-inner-detail-description .organise-sec.squareBox{
    @media all and (min-width:768px){
        right:39px;
    }
    @media all and (max-width:767px){
        right: -20px;
        top: -20px;
    }
}
.feature-asset-management-page .organise-content .fds-inner-detail-description .organise-sec.squareBox{
    right: 69px;
    @media all and (max-width:767px){
        right: -10px;
        top: -23px;
    }
}
.feature-analytics-section{
    .fun-content-creation-section .fds-image{
        padding-top:0;
    }
}
.features-sms-page { 
    .edit-media-section { 
        overflow: visible;
        padding-bottom:0;
        .fds-image{
            margin-bottom: 0;
            padding-bottom:0;
            left:0;
            img{
                max-width: 421px;
                width: 100%;
            }
            
        }
        @media all and (min-width:1201px){
            .fds-description{
                padding-top:185px;
            }
        }
        @media all and (max-width:1200px){
            .fds-description{
                padding-top:60px;
            }
            .yellow-section{
                padding-bottom:0;
            }
        }
    }
    .personalise-every-piece{
        overflow: visible;
        .fds-image{
            margin-bottom:0;
        }
        @media all and (max-width:1200px){
            .fds-image{
                padding-bottom:0;
            }
            &.yellow-section{
                padding-bottom:0;
            }
            .fds-description{
                padding-top:60px;
            }
        }
    }
}
.features-print-mgt-page{
    .edit-media-section .fds-image{
        @media all and (min-width:768px){
            padding-top:77px;
        }
    }
    .fds-description{
        z-index: 1;
    }
}
// responsive
@media screen and (max-width: 1200px) {
    .organise-content .fds-inner-detail-description{
        width: 100%;
    }
    .organise-content.fun-content-creation-section .fds-description {
        padding-top: 0px;
    }
    .organise-content .fds-image {
        padding-left: 0px;
    }
    .organise-content.fun-content-creation-section {
        padding-top: 50px;
        margin-bottom: 50px;
        padding-bottom: 0;
    }
    .organise-content .fds-inner-detail-description .organise-sec.squareBox {
        right: -24px;  
        @media all and (max-width:320px){
            right: -4px;
            top: -21px;
        }
    }

    
}

.features-print-mgt-page{
    .edit-media-section .yellow-section{
        .fds-image{
            @media all and (max-width:767px){
                left:0;
            }
        }
    }
}
.feature-gamification-page .organise-content .fds-inner-detail-description .organise-sec.squareBox{
    @media all and (max-width:767px){
        right: -14px;
        top: -20px;
    }
    @media all and (max-width:767px){
        right: -4px;
    }
}
//------------- organise sec end-----------------//

//---------------connect sec start----------------//
.connect-sec-background{
    @media all and (max-width:767px){
        padding-top: $section-space-responsive;
        padding-bottom:$section-space-responsive;
    }
    &:before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom:0;
        background:$lightPink;
        z-index: -1;
        border-bottom:1px solid $section-pink-border;
    
    } 
   
}
@media screen and (max-width: 1200px) {
.connect-sec-background .fds-image{
    width: 100%;
    padding-right: 0px !important;
}
.connect-sec-background .fds-inner-detail-description {
    width: 100%;
}
.connect-sec-background .fds-description {
    padding-top: 50px;
    padding-left: 0px;
}

.centralised-background.feature-detail-description-page:before{
    height: 375px;
}
}
@media screen and (max-width: 767px) {
.fds-detail-description p, .fds-inner-detail-description p{
    font-size: 12px;
    br{display: none}
}
.connect-sec-background .fds-description {
    padding-top:16px; 
    float: none !important;
}
.connect-sec-background .fds-image{
    padding-right: 0px !important;
}
.feature-fourth-section .fds-description {
    padding-top: 0px;
}
}

// -------------------connect sec-end-------------------//

.cat_wrap{
    -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
    .cat_title{
        -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
    }
    &.active{ 
        .link_with_arrow{
            visibility: hidden;
            color:$white;
            svg{
                fill: $white;
                stroke:$white;
            }
        }
    }
    &:hover{
        background: $themeLight1;
    }
}
.cat_two{
    .cat_wrap:hover{
        background: $primaryLight2;
        .cat_title{
            color:$primary;
        }
    }
}
.cat_three{
    .cat_wrap:hover{
        background: $greenLight1;
        .cat_title{
            color:$green;
        }
    }
}
.cat_four{
    .cat_wrap:hover{
        background: $secondaryLight1;
        .cat_title{
            color:$secondary;
        }
    }
}

.page-template-engage-features, 
.page-template-communicate, 
.page-template-monitor, 
.page-template-advocate{
    .hero-sub-title{
        font-size: $hero-sub-title-font-size;
        line-height: $hero-sub-title-line-height;
        font-weight: $hero-sub-title-font-weight;
        margin-bottom: $hero-sub-title-margin-bottom;
        color:$white;
        @media all and (max-width:767px){
            font-size: $hero-sub-title-font-size-responsive;
            line-height: $hero-sub-title-line-height-responsive;
            margin-bottom: $hero-sub-title-margin-bottom-responsive;
        }
    }
}

.main-feature-page{
    .inner_wrap .section_title{
        margin-top: $section-space;
        margin-bottom: $section-title-bottom-space;
        @media(max-width: 767px){
            margin-top: $section-space-responsive;
            margin-bottom: $section-title-bottom-space-responsive; 
        }
    }
    #all_category {
        padding-bottom:$section-space;
        @media(max-width: 767px){
            padding-bottom: $section-space-responsive;
        }
    }
}

#all_category .cat_header{
    align-items: inherit;
    -webkit-align-items: inherit;
    -ms-flex-align: inherit;
}

.page-template-engage-features .cat_one .cat_wrap{
    background-color: $theme;
}
.page-template-communicate .cat_two .cat_wrap{
    background-color: $primary;
}
.page-template-monitor .cat_three .cat_wrap{
    background-color: $green;
}
.page-template-advocate .cat_four .cat_wrap{
    background-color: $secondary;
}
.all_cat_wrap{
    .icon_div{
        .feature-active-icon{
            display: none;
        }
    }
}
.page-template-engage-features .cat_one,
.page-template-communicate .cat_two,
.page-template-monitor .cat_three,
.page-template-advocate .cat_four{
    p{
        color: $white !important;
    }
    .cat_link{
       display: none;
    }
    .icon_div{
        img{
            &.feature-normal-icon{
                display: none;
            }
            &.feature-active-icon{
                display: block;
            }
        }
        .engage_st2{
            fill: $white;
        }
        .communicate_st1 {
            fill: $white;
        }
        .monitor_st0 {
            fill: $white;
        }
        .advocatenew_st2 {
            fill: $white;
        }
    }
}