// content css
.mainEmployeeContent{
     padding:0 0 75px 0;
     .titleContainer{
         max-width:820px;
         margin:0 auto;
         padding:0 10px;
 }
     .pageTitleOfFeatureContent{
        @include mainTitle;
        color:$green;
        text-align:center;
        position:relative;
    }
     .content{
        @include Paragraph;
        text-align: center;
        margin-bottom:84px;
     } 
     .imagePartMainEmployeeContent{
        max-width:100%;
        margin:0 auto;
         img{max-width:100%;height:auto; display: block;}
     }
}
.featureContentMainWrapper .mainEmployeeContent .titleContainer .pageTitleOfFeatureContent{
    max-width:486px;
    margin:0 auto;
    margin-bottom: 57px;
}
.pageTitleOfFeatureContent.rounder-small-bg:before{
    right:0;
    top:0;
}
.creativeOwnershipText .block-title.rounder-small-bg:before{
    right: 18px;
    top: 3px;
}
@media (max-width:979px){
    .mainEmployeeContent{
          padding:0 0 40px 0;
    }
    .mainEmployeeContent .innerMainEmployeeContent .content{
        margin-bottom: 40px;
    }
}
//testimonial css
.testimonialContainer{
    margin-bottom:200px;
    .innerTestimonialContainer{
         position: relative;
         
         .testimonialMainWrapper{
            float: right;
            width: 559px;
            position: relative;
            padding-left:96px;
             .testimonialText{
                 @include testimonialParagraph;
                 margin-bottom:12px;
             }
         }
         .avatar-image{
            position: absolute;
            left: 2px;
            top: 4px;
         }
         .avtart-img{
              width:59px;
              height:59px;
              border:1px solid $border;
              border-radius: 59px;
              img{
                  width:100%;
                  height:100%;
                  object-fit: cover;
                  border-radius: 59px;
              }
         }
         .avtart-sign{
          @include testimonialName;
         }
    }
}
.pricingMainWrapper .testimonialText{    
    float: left;
    width: 100%;
    margin-left: -145px;
    padding-left: 155px;
    padding-top: 27px;
}
@media (max-width:767px){
.testimonialContainer{
    .innerTestimonialContainer{
         .testimonialMainWrapper{
             float:none;
             margin:0 auto;
             width:auto;
         }
    }
  }
}
@media (max-width:979px){
 .testimonialContainer{
    margin-bottom:40px;
   }
}
.rounder-small-bg:before{
    content: '';
    position: absolute;
    right: 7px;
    top:0px;
    border:3px solid $green;
    height: 17px;
    width: 15px;
}

.featureContentMainWrapper{
    overflow: hidden;
}
// creative ownership block
.creativeOwnershipBlock{
    margin-bottom: 140px;
    .creativeOwnershipImage{
        float:right;
        width:50%;
        position: relative;
        .banner-img-ownership{
            width: 1050px;
            height:auto;
        }
    }
  
    .rounder-img-for-owernership{
        position: absolute;
        top:0;
        left:0;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: -116px;
        margin-left: -152px;
    }
    .content-bannerfor-creative-ownership{
        background: $lightGreen;
        padding: 140px 65px 89px 65px;
        width: 1050px;
        position: relative;
    }

    .creativeOwnershipText{
         float:left;
         width:50%;
         max-width:337px;
         padding:247px 20px 20px 0;
        .block-title{
             @include mainTitle;
             color:set-bg-color($green);
             position: relative;
        }
         .content{
            @include Paragraph;
         }
    }
}
@media (max-width:1200px){
    .creativeOwnershipBlock .creativeOwnershipText{
        max-width:100%;
        padding-left:20px;
    }
}
@media (max-width:979px){
    .rounder-small-bg:before{
      display: none;
    }
    .creativeOwnershipBlock .rounder-img-for-owernership{
        margin-top:-66px;
        width: 100px;
        margin-left: -46px;
    }
    .creativeOwnershipBlock .creativeOwnershipImage  .content-bannerfor-creative-ownership{
        width:auto;
        padding:20px;
    }
    .creativeOwnershipBlock  .innerCreativeOwnershipBlock  .creativeOwnershipImage{
        img{
            width:100%;
            height:auto;
            object-fit: cover;
        }
    }
    .creativeOwnershipBlock{
        margin-bottom:40px;
        .creativeOwnershipImage , .creativeOwnershipText{
            float: none;
            width: auto;
            max-width: 100%;
            padding: 30px 0 0 0;
            margin: auto;
            text-align: center;
        }
      
        .content{
            text-align: center;
        }
        .content-bannerfor-creative-ownership{
            margin-left:auto;
        }
    }
}
//integration
.mainTitleForIntergration.rounder-small-bg:before{
    right: 33px;
     top: 3px;
}
.intergrationPageInFeaturePage{
    .title-intergration{
         max-width:315px;
        .mainTitleForIntergration{
            @include mainTitle;
            color:set-bg-color($green);
            position: relative;
        }
        .content{
            @include Paragraph;
        }
    }
    .image-intergration{
        float:left;
        width:60%;

        img{
             width:100%;
             height:auto;
             object-fit: cover;
        }
    }
    .title-intergration{
        float:left;
        width:40%;
        margin-bottom: 20px;
    }
}
@media (max-width:979px){
    .title-intergration{
        max-width:100%;
    }
    .intergrationPageInFeaturePage{
        margin-bottom:0;
    .image-intergration,.title-intergration{
        float:none;
        width:100%;
        max-width:100%;
        text-align: center;
    }
    .content{
        text-align: center;
    }
 }
}