.featureGovernerMainContainer{
    padding-bottom:0;
    .titleContainer{
        max-width: 657px;
    }
    .pageTitleOfFeatureContent{
        color:set-bg-color($theme);
        max-width:304px;
        margin:0 auto;
        margin-bottom: 20px;
    }
    .pageTitleOfFeatureContent.rounder-small-bg:before{
         margin-right:-5px;
         border-color:$theme;
    }
}
//request  post box
.requestPostDivWrapper{
    background: $light-blue;
    padding:413px 0 0 0;
    overflow: hidden;
    .image-banner-for-feed{
        position: relative;
        z-index:2;
        margin-left:-144px;
        img{
            display: block;

        }
    }
    .postImagePart{
        position: relative;
    }
    .rounderBlueImage{
        position: absolute;
        top: 0;
        left: 0;
        margin-top: -190px;
        max-width:308px;
        margin-left: -211px;
        z-index:0;
      img{
          width:100%;
          height:auto;
          display: block;
          object-fit: cover;
        
      }
    }
    .postImagePart{
       float:right;
       width:50%;
    }
    .postTextPart{
        float:left;
        width:50%;
        max-width:374px;
        padding-right:20px;
        padding-top:56px;
    }
    .feed-hide-post-banner{
        width:1096px;
        height:auto;
    }
    .title-container{
        .main-title{
         @include mainTitle;
         color:$theme;
         position: relative;
        }
        .main-title.rounder-small-bg:before{
         border-color:$theme;
            right: 56px;
            top: -6px;
        }
        .paragraph{
           @include Paragraph;
    
        }
    }
                
}

@media (max-width:979px){
    .requestPostDivWrapper  .image-banner-for-feed{
        margin-left:0;
    }
    .requestPostDivWrapper .image-banner-for-feed img{
        width: 100%;
        height: auto;
    }
    .requestPostDivWrapper .page-container .innerRequestPostDivWrapper .postTextPart{
        max-width:100%;
        .paragraph{
            margin-bottom: 0;
        }
    }
   .requestPostDivWrapper{
      padding-top:70px;
    }
  .requestPostDivWrapper .innerRequestPostDivWrapper .feed-hide-post-banner{
        width:100%;
        height:auto;
    }
    .requestPostDivWrapper .innerRequestPostDivWrapper .postImagePart, .requestPostDivWrapper .innerRequestPostDivWrapper .postTextPart{
       float:none;
       width:auto;
       text-align: center;
       padding-right:0;
       margin-bottom: 40px;
     }
     .requestPostDivWrapper .innerRequestPostDivWrapper  .rounderBlueImage{
        max-width: 135px;
        margin-left: -45px;
        z-index: 0;
        margin-top: -78px;
     }
    
}

//send feedbackpart
.requested-image-moderation-container{
     padding:185px 0 0 0 ;
     background:$white;
    .feedbackTextPart,.feedbackImagePart{
      float:left;
      width:50%;
    }
    .feedbackImagePart{
        .FeedBackImageContainer{
             margin-left:-381px;
            img{
                width:856px;
                height:auto;
            }
        }
    }
    .feedbackTextPart{
        padding-top:100px;
        .title-container{
            max-width: 576px;
            padding-left: 124px;
            margin: 0 auto;
            text-align: left;

        }
    }

}
.requested-image-moderation-container .title-container .main-title.rounder-small-bg:before{
    left: 0;
    margin-left: -37px;
    top: -3px;
}
@media (max-width:979px){
.requested-image-moderation-container.requestPostDivWrapper{
        padding:40px 0 ;
        .FeedBackImageContainer{
            margin-left:0;
        }
       .feedbackTextPart,.feedbackImagePart{
         float:none;
         width:100%;
         margin-bottom: 40px;
         img{
             width:100%;
             height:auto;
             margin:auto;
         }
        }
        .feedbackTextPart{
            padding-top:0;
            margin-bottom: 0;
        }
        .title-container{
            max-width: 100%;
            padding-left: 0;
            text-align: center;
        }
   }
}

// safeHand logo part
.safeHandLogoPart{
    padding-top:157px;

    .innerSafeHandLogoPart{
        .safehandlogo{
            max-width:102px;
            margin:0 auto;
            margin-bottom:18px;
          img{
              width:100%;
              height:auto;
          }
        }
        .main-title{
            @include mainTitle;
            text-align: center;
            font-weight: 400;
        }
        .logoPartSafeHand{
            max-width: 750px;
            margin: 0 auto;
            margin-bottom:55px;
            text-align: center;

            .amazon-img{
                 width:33.3%;
                 margin-right: -4px;
                 display: inline-block;
                 img{
                    max-width:157px;
                     height:auto;
                     object-fit: cover;
                 }
            }
        }
        .content-safe-hand{
           @include Paragraph;
           text-align: center;
           margin-bottom: -5px;
        }
    }
}
@media (max-width:767px){
    .featureGovernerMainContainer .titleContainer{
        max-width:100%;
    }
    .safeHandLogoPart{
        margin-bottom: 40px;
        .innerSafeHandLogoPart{
            .safehandlogo{
                max-width: 70px;
                margin-bottom: 20px;
            }
            .logoPartSafeHand{
                max-width:100%;
                margin-bottom:0;
                .amazon-img,.security-img,.gdrp-image{
                     margin-bottom:30px;
                     padding:0 5px;
                     img{
                         max-width:100%;
                         
                     }
                }
            }
        }
    }
}
@media (max-width:979px){
    .safeHandLogoPart{
        padding-top:20px;
    }
}