html.background-fixed{
  margin-top:0 !important;
}
.featureTabsContentWrapper .mainWrapper{
    padding-top:40px;
    
}

.pageTitleForH1Tag{
  @include PageTitle;
}
.entry-content, #tinymce{
  .pagemainTitleWrapper{
    padding-bottom:33px;
  }
  .pagemainTitle{
    @include PageTitle;
    margin-bottom: 0;
   }
   ol, ul{
    margin-left:30px;
    margin-bottom: 15px;
   }
   ol li ol, ul li ul{
    margin:13px 0 13px 30px;
   }
   ol li ol li{
    padding-left: 23px;
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 4px;
      top: 14px;
      width: 9px;
      height: 1px !important;
      background: $Header-title;
     }
  }
   
  h4{
    @include subTitle;
  }
  table{
    border:1px solid $footerBorder;
    border-collapse:collapse;
    margin-bottom: 10px;
    -webkit-appearance: none;
    margin:30px auto;
    width:100%;
    .header-table{
      padding:5px 20px;
      @include tableHeader;
     }
     p.table-title , p {
      @include tableHeader;
    }
    tr{
      border:1px solid $footerBorder;
      th{
        background: $footerBorder;
        text-align: left;
       }
       td{
        padding:5px 20px;
        white-space: nowrap;
        overflow: hidden;
        @include tableContent;
          margin-bottom:0;
       }
     }
    td, th{
      -webkit-appearance: none;
     }
   }
   .page-date{
    font-size: 14px;
    line-height: 28px;
    color: $Header-title;
    font-weight: 400;
   }
   
   article{
    padding-bottom: 113px;
   }
   p a{
    color: $primary;
    font-size: inherit;
    font-weight:inherit;
    text-decoration: none;
    border-bottom: 0;
    display: inline-block;
   }
   @media screen and (max-width:900px) {
    .table-wrap{
     width: 100%;
     overflow: auto;
     word-wrap: normal;
    }
    }
}

@media screen and (max-width:979px) {
.featureTabsContentWrapper .mainWrapper{
  padding-top:0;
}
}

.pricingMainWrapper .subscribePopup .pagemainTitleWrapper{padding-top:0;margin: 0;background: none;min-height: 0;}
.pricingMainWrapper .subscribePopup .pageInnerText{margin:0;}
.subscribeFormInnerMailIcon{
  background: url(images/subscribe-icon.png) no-repeat;
  width: 76px;
  height: 85px;
  text-align: center;
  margin: 0 auto;
}
.subscribeFormMainWrapperBox{
  float: left;
  background: $subscribeFormBackground;
  margin-bottom: 60px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  margin-top: -285px;
  z-index: 6;
  margin-left: -300px;
}
.hs-form-iframe{height:254px;}
.subscribeFormInnerHeadingContent h2{
  @include mainTitle;
  font-weight: 400;
  margin-bottom: 0px;
  
}
.subscribeFormInnerText{
  text-align: center;
  padding-top: 60px;
}
.subscribeFormInputBox{
  padding-bottom: 45px;
    padding-left: 48px;
    padding-top: 40px;
}
.subscribe-popup-overlay{
  position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}
.subscribe-popup-close-icon{
  float: right;
    padding-right: 12px;
    padding-top: 11px;
}
.subscribe-popup-close-icon{
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .subscribeFormMainWrapper{
    display: none;
  }
}
.free-trial-link, .request-demo-btn{
  @include RequestDemoButton;
  margin-bottom: 8px;
  min-width: 136px;
  text-align: center;
  vertical-align: top;
  &.white-button{
    cursor: pointer;
    color: #1c1c1c;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .13);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .13);
    margin-left: 20px;
    border:solid 1px rgba(0, 0, 0, .03);
    @media all and (max-width:767px){
      margin-left:5px;
    }
    &:hover{
      background-color: rgb(242, 242, 242);
      -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .13);
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .13);
      color: rgb(144, 157, 160);
    }
  }
  &.theme-button{
    background: $theme;
    border-color:$theme;
  }
  &.green-button{
    background: $green;
    border-color:$green;
  }
  &.yellow-button{
    background: $secondary;
    border-color:$secondary;
  }
}

.free-trial-link{
  background: #f2f2f2;
  color:#9ea2a3;
  box-shadow:0 0 0 0 #e4e4e4;
}

.demoBtnBlock{
  max-width: 375px;
  .accountAvaibilityText {
      float: right;
      margin-top: 2px;
  }
}
.demoBox  .demoHeading .demoMailForm .requestdemo-paragraph{
    font-size:16px;
    font-weight:300;
    color:$default-content;
 }
 .cup-of-tea-image{
  margin-top: 43px;
  max-width: 257px;
  img{
    width:100%;
    height:auto;
    object-fit: cover;
  }
 }


 
 /*Owl carousel starts ===========================================================*/

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
 /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
 /* fix firefox animation glitch */
}
.owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-stage-outer {
  position: relative;
  overflow: hidden;
 /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-wrapper, .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
.owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-item img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.owl-nav.disabled, .owl-dots.disabled {
  display: none;
}
.owl-nav .owl-prev, .owl-nav .owl-next, .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-nav button.owl-prev, .owl-nav button.owl-next, button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding:0!important;
  font: inherit;
}
.owl-loaded {
  display: block;
}
.owl-loading {
  opacity: 0;
  display: block;
}
.owl-hidden {
  opacity: 0;
}
.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-rtl {
  direction: rtl;
}
.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}

.owl-dots .owl-dot{width:14px; height:14px; border:1px solid #7c7c7c; border-radius:14px; -webkit-border-radius:14px; -o-border-radius:14px; -ms-border-radius:14px; -moz-border-radius:14px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease; margin-right:20px;}
.owl-dots .owl-dot:last-child{margin-right:0;}
.owl-dots .owl-dot:hover, .owl-dots .owl-dot.active{background: #fc6769; border-color:#fc6769}

/*Owl carousel ends ===========================================================*/

/* Partner section starts ===================================================*/
.partner-title-wrapper{
  max-width: 700px;
  margin: 0 auto 55px;
}

.partner-section{
  margin-bottom: 130px;
  margin-top:85px;
  .pageInnerTitle{
      max-width: 500px;
      margin: 0 auto 27px;;
  }
  .container{
    padding:0;
  }
}

.partner-list{
  text-align: center;
  .partner{
      padding: 15px 40px;
      display: inline-block;
      @media all and (max-width:1100px){
        padding:15px 5px;
      }
      @media all and (max-width:767px){
        display: block;
      }
      img{
        max-width:100%;
        height:auto;
      }
  }
}
/* Partner section ends ===================================================*/

/* Signup form starts ===================================================*/
.signupForm{max-width: 539px;}
.successSignup .signupForm{max-width:none;}
.successSignup .email-suceess-message{font-size: 18px;line-height: 34px;text-align: left;}
.signupInputWrapper{
   float: left;
   margin-right:-211px;
   width: 100%;
   padding-right:220px;
}
.signupInput{
   padding-bottom: 5px;
}
.appAvaibilityText{
   font-size:12px;
   line-height: 18px;
   font-weight: 200;
   float: left;
}
.forDevice{display: none;}
.platformIconWrapper {
   margin-left: 5px;
   vertical-align: middle;
   position: relative;
   top: 1px;
}
.appAvaibilityText i{
    font-size: 20px;
    margin-right: 5px;
    color: #bbbbbb;
   width:18px;
}
.appAvaibilityText i.fa-desktop{
    font-size: 16px;
    position: relative;
    top: 0;
}
.appAvaibilityText i:last-child{
   margin-right:0;
}
.signupForm input[type="email"]{
   @include inputStyle;
   background: #fff;
}
.signupForm input[type="email"].wpcf7-not-valid{border-color:$primary;}
.signupForm .wpcf7-not-valid-tip{display: none;}
.signupForm input[type="email"]:focus{
   border:1px solid $primary;
}
.signupForm input[type="email"]::-webkit-input-placeholder {
  @include placeHolder;
}
.signupForm input[type="email"]:-moz-placeholder {
   @include placeHolder;
    opacity: 1;
}
.signupForm input[type="email"]::-moz-placeholder {
   @include placeHolder;
    opacity: 1;
}
.signupForm input[type="email"]:-ms-input-placeholder {
   @include placeHolder;
}

.signupSubmit{
    float: left;
    width:211px;
    position: relative;
    height: 58px;
    margin-bottom: 5px;
}
.limitNote{
   text-align:center;
    color:$white;
}

.accountAvaibilityText{
    color: $light-text;
    font-size: 12px;
    font-weight: 200;
}
.accountAvaibilityText a{
    @include Formlink;
 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: 1px solid $primary;
}
.GetTouch{
   display: inline;
   font-size: 100%;

}


.platformTextWrapper{vertical-align:5px; margin-right:5px; @include smallTextBelowForm;}
.accountAvaibilityText a:hover{
   color:$white;
}
.accountAvaibilityText a:hover{
    color: #cb2e33;
}
/* Signup form ends ===================================================*/

.a-center {
  text-align: center;
}
.pageInnerTitle{
  @include mainTitle;
}

.no-free-trial-block{
  @include subTitle;
}

.login-link{
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: #1c1c1c;
  text-transform: capitalize;
  line-height: 58px;
  display: block;
  height: 58px;
  text-transform: capitalize;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  margin-right: 30px;
}



.a-center .pageInnerTitle{padding:0;}
.pageInnerText, .pricingMainWrapper .pageInnerText p{
    @include Paragraph;
}
.pricingMainWrapper .pricingHeroSection .pageInnerText p{
    color:$Header-title;
}
.pricingMainWrapper .pageInnerText p{line-height: 38px;}
.pageInnerLink{
    padding-top: 13px;
}
.pageInnerLink a{
    color: $primary;
    text-decoration: underline;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}
.pageInnerLink a:hover{
    text-decoration:none;
}

.sqaure-shape{border:3px solid; width: 21px; height: 23px; position: absolute; left: 0; top:0;}
.site-content-contain .entry-content{
   padding-bottom: $section-space;
   @media all and (max-width:767px){
     padding-bottom:$section-space-responsive;
   }
}

#h1_title{
  position: absolute;
  left:-999em;
}

/* Blue rounded arrow */
.link_with_arrow{
  padding-right:40px;
  position: relative;
  color: $theme;
  font-size: 14px;
  line-height: 28px;
  font-weight: $font-medium;
  text-decoration: underline;
  display: inline-block;
  -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
  svg{
    position: absolute;
    right:0;
    top:1px;
    width: 28px;
    height: 28px;
    fill:$theme;
    stroke:$theme;
    -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
    .round_arrow_st1{
      fill:none;
      stroke-width:16;
      stroke-linecap:round;
      stroke-linejoin:round;
      stroke-miterlimit:10;
      stroke-dasharray:1,36,0,0,0,0;
    }
  }
  &:hover{
    color:$primary;
    svg{
      fill:$primary;
      stroke:$primary;
    }
  }
}


/* Shape starts */
.shape{
  position: absolute;
  &.green{
    background: $green;
  }
  &.orange{
    background: $orange;
  }
  &.yellow{
    background: $secondary;
  }
  &.theme{
    background: $theme;
  }
  &.primary{
    background: $primary;
  }
}



/* Shape ends */

/* Section css starts */
.section{
  padding:$section-space 0;
  @media all and (max-width:767px){
    padding:$section-space-responsive 0;  
  }
  h2{
    font-weight: $inner-title-font-weight;
    font-size: $inner-title-font-size;
    line-height: $inner-title-line-height;
    color:$Header-title;
    margin-bottom:$inner-title-margin-bottom;
    @media all and (max-width:767px){
      line-height: $inner-title-line-height-responsive;
      font-size: $inner-title-font-size-responsive;
    }
  }
}
/* Section css ends */


/* Form section starts */
.form-main-title{
  font-weight: $font-black;
  color: $Header-title;
  font-size: $main-title-font-size; 
  line-height: $main-title-line-height; 
  text-align: center;
  padding-bottom: 8px;
  margin-bottom:0;
  @media all and (max-width:767px){
    font-size: $main-title-font-size-responsive;
    line-height: $main-title-line-height-responsive;
  }
}
.form-sub-title{
  font-size: 18px;
    line-height: 28px;
    color: $Header-title;
    text-align: center;
    margin-bottom: 77px;
    @media all and (max-width:767px){
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 30px;
    }
}
.form-page{
  overflow: hidden;
}
.form-wrapper{
  position: relative;
  max-width:467px;
  margin:0 auto;
}
.form-image-wrapper{
  position: absolute;
  right: -367px;
  top: 107px;
}
input.error-input:-webkit-autofill,
input.error-input:-webkit-autofill:hover, 
input.error-input:-webkit-autofill:focus, 
input.error-input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #ffefef inset !important;
}

/* Form section ends */

/* share popup close starts */
.st-close{
  padding:8px !important;
  
}
@media all and (max-width:767px){
 .st-close{
    bottom: 10px !important;
    width: 30px  !important;
    height: 30px  !important;
    padding: 0  !important;
    text-align: center  !important;
    line-height: 27px  !important;

    img{
      width:20px  !important;
      height:auto  !important;
    }
  }
  .st-logo{
    padding-bottom:10px !important;
  }
}
/* share popup close starts */