// Header minor change
header#header{
    .mega-menu-link{
        @media(max-width: 767px){
            height: 58px !important;
        }
        span.mega-indicator{
            @media(min-width: 1025px){
                float: none !important;

            }
        }

    } 
}

.survey-image{
    margin-top: 250px !important;
    @media all and (max-width:767px){
        margin-top: 100px !important;
    }
}

/* left column  starts*/
.mainBannerDescription{
    max-width: 520px;
    width: 100%;
    margin-bottom: 24px;
    @include breakpoint(xs) {
        max-width: none;
    }
    p{
        @include homePageSubTitle;
        @include breakpoint(xs) {
            span{font-size: inherit !important;}
        }
    }
    
}
.heading-for-second-section {
    h2{
        margin-bottom: 15px;
        font-size:25px;
        line-height: 40px;
        color:$Header-title;
        font-weight: 300;
        text-align: center;
        strong{
            font-weight: 400;
        }
        > span{
            position: relative;
        }
        @include breakpoint(xs) {
            font-size:14px;
            line-height: 20px;
            br{
                display: none;
            }
        } 
    }
}
.mainBannerCaptionInner{
    @include breakpoint(xs) {
        p {
            text-align: center !important;
        }
    }
    h1 {
        position: relative;
        @include breakpoint(xs) {
            text-align: center !important;
            font-size:20px;
        }
    }
  .hero-banner-title{
        span, strong{
            
            font-size:49px;
            line-height: 60px;
            color:$Header-title;
            position: relative;
            @media all and (max-width:1200px){
                font-size:34px;
                line-height: 40px;
            }
        }
        strong{
            font-weight:800;
            @include breakpoint(xs) {
                font-size: 20px;
                line-height: 28px;
            }
        }
        @media all and (max-width:1101px){
           text-align: center !important;
           display: inline-block;
           span{
               text-align: center !important;;
           }
        } 
    }
}
.square-box-wrapper{
    position: relative;
}

.heading-for-second-section { 
    position: relative;
    .squareBox{
        left: -38px;
        top: -46px;
        width: 10px;
        height: 11px;
        &.box2{
            left: -16px;
            top: -26px;
            width: 17px;
            height: 19px;
        }
    }
}
.mainBannerCaptionInner p{
    font-size:18px;
    line-height:28px;
    color:$Header-title;
    @include breakpoint(xs) {
        font-size: 16px;
    }
}
.mainBannerCaptionWrapper{
    margin-top:36px;
    position: relative;
    text-align: center;
    max-width: 700px;
    margin:36px auto 0;
    p{
        @media all and (max-width:1101px){
            text-align: center !important;
        }
    }
}
@media all and (max-width:767px){
    .mainBannerCaptionWrapper .sqaure-shape{
        &:nth-child(1){
            left:-5px !important;
        }
     } 
     .feature-detail-page {
     .feature-fifth-section section{ 
         .fds-image{
        padding-right: 0px;
     }
     .fds-description.fds-inner-detail-description{
        float: none;
        text-align: center;
        margin: 0 auto;
     } 
    }
}
}
$home-signup-width:345px;
$home-mobile-signup-width:295px;
.homeBannerSignupForm {
    @media all and (max-width:1100px){
        width: $home-signup-width;
        margin:0 auto;
        position: relative;
    }
    @media all and (max-width:767px){
      width:$home-mobile-signup-width;
    }
    
    .book-demobutton{
        min-width: $home-signup-width;
        @media all and (max-width:767px){
            min-width: $home-mobile-signup-width;
        }
        
    }
    @media all and (max-width:767px){
    .signupForm input[type=email]::-webkit-input-placeholder {font-size: 12px;}
    :-moz-placeholder {font-size: 12px;}
    ::-moz-placeholder {font-size: 12px;}
    :-ms-input-placeholder {font-size: 12px;}
}
    .signupForm {
        display: flex; 
        min-width: $home-signup-width;
        @media all and (max-width:767px){
            min-width: $home-mobile-signup-width;
        }
        input{
        margin-right: 10px;
        }
        button{
        border:none;
        background: $primary;
        font-size: 16px;
        font-weight: 300;
        color: $white;
        text-transform: capitalize;
        line-height: 58px;
        height: 58px;
        padding: 0 15px;
        display: inline-block;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        -ms-border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        margin-bottom: 8px;
        width: 140px;
        @media all and (max-width:767px){
            width:90px;
            font-size: 12px;
        }
        cursor: pointer;
        text-align: center;
        }
        
        input[type="submit"]{
            position: absolute;
            left: -999em;
        }
        .signform-btn{width:140px; height:67px;}
        &.loading {
            .signform-btn{
                background: url(assets/images/visibly-loader.gif) no-repeat center center #fff;
                background-size: 50px;
                button{display: none;}
            }
        }
    }
    .play-icon{
        @include playIconCircle;
        position: absolute;
        right: -29px;
        width: 20px;
        height: 20px;
        margin-left:5px;
        top:5px;
        border-color:$primary;
        i{
            @include playIcon;
            font-size: 7px;
            left: 6px;
            top: -11px;
        }
        
    }
} 
.emailform-wrapper{
    padding-top:26px;
    &.success .free-trial-block{
        left: -200%;
    }
    &.show-signup .free-trial-block{
        left: -100%;
    }
}
.homePageBanner{
    .watchVideoLink i{
        font-size: 17px;
        vertical-align: -2px;
    }
    .watchvideolinkwrapper{
        margin-bottom: 30px;
    }
.watchVideoLink .watchOverViewLink{
    color:$primary; float: left; margin-top:13px; font-size: 14px; position: relative;text-transform: capitalize;
    &::before{
        content:'';
        height:1px;
        background: $primary;
        position: absolute;
        left: 0px;
        bottom: 7px;
        width: 86%;
    } 
    @media all and (max-width:767px){
       
        text-align: center;
        margin-bottom: 20px;
        float: none;
        display: inline-block;
        margin-right: 12px;
        &:before {
            content: "";
            height: 1px;
            background: #ff595e;
            position: absolute;
            left: 0px;
            bottom: 7px;
        }
    }
}
    
}

@media all and (max-width: 767px) {
    .homepageWrapper .mainBannerCaptionWrapper{
      margin-top: 55px;
    }
  }

/* left column  ends*/
.codeComment{display: none;}
/* Right column  starts*/
.mainBannerIllustrator{
    float: left;
    width:46%;
    position: relative;
    left: 29px;
    .hero-banner-container-wrapper{
        width:608px;
        margin-top:-27px;
        @media screen and (max-width:1240px) {
            max-width:100%;
        }
    }
    img{
        max-width:100%;
        height:auto;
        position: relative;
         z-index: 1;
     }
}

/* Right column  ends*/

@media screen and (max-width: 1100px) {

    .mainBannerCaptionWrapper .signupForm {
        margin: 0 auto;
        text-align: center;
        float: none;
    }
    .watchVideoLink{
        float: none !important;
        display: inline-block; 
     }
    }
/*Banner ends ===========================================================*/

/* New Banner starts */
.animated-hero-image-col{
    float: right;
    width:100%;
    margin-left:-478px;
    padding-left:498px;
    @media all and (max-width:990px){
        float: none;
        width: auto;
        padding-right:0;
        max-width: 500px;
        margin:0 auto;
        padding-left:0;
    }
    img{
        max-width: none;
        height: auto;
        position: relative;
        z-index: 1;
        width: 751px;
        @media all and (min-width:1101px){
            height:611px;
        }
        @media all and (max-width:1100px){
            left:0;
            max-width: 100%;
        }
    }
}
.animate-hero-content{
    float: left;
    width: 478px;
    padding-top:111px;
    position: relative;
    z-index: 1;
    @media all and (max-width:1100px){
        padding-top:35px;
    }
    @media all and (max-width:1023px){
        padding-top:27px;
    }
    @media all and (max-width:990px){
        float: none;
        width: auto;
        padding-right:0;
        max-width: 540px;
        margin:0 auto;
        text-align: center;
        padding-bottom:30px;
    }
    
    h1{
        font-weight: $font-extra-bold;
        color:$Header-title;
        margin-bottom:$main-title-margin-bottom;
        font-size: $main-title-font-size;
        line-height: $main-title-line-height;
        .wrap{
            border-right:0.08em solid $Header-title;
            display: none;
        }
        @media all and (max-width:1023px){
            font-size: 37px;
            line-height: 47px;
        }
        @media all and (max-width:767px){
            font-size: $main-title-font-size-responsive;
            line-height: $main-title-line-height-responsive;
            min-height: 62px;
            .typewrite{
                display: block;
            }
        }
    }    
    .text_section{
        margin-bottom:$hero-sub-title-margin-bottom;
        max-width: 510px;
        p{
            font-weight: $font-light;
            line-height: 28px;
            font-size: 18px;
            @media all and (max-width:767px){
                font-size: 12px;
                line-height: 22px;
            }
        }
    }
}
.btn_div a{
    margin-right:10px;
    &:last-child{
        margin-right:0;
    }
}
/* New Banner ends */

/* unique-challenges-section starts */
.unique-challenges-section{
    text-align: center;
    max-width: 925px;
    margin: 0 auto;
    padding:$section-space 15px 0;
    @media all and (max-width:767px){
        padding:$section-space-responsive 15px 0;
    }
    
    p{
        a{
            color:$theme;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
.unique-challenges-section h2, .home-why-visibly-block .home-why-visibly-title{
    font-size: 35px;
    line-height: 45px;
    font-weight: 500;
    word-spacing: -1px;
    margin-bottom: 25px;
    color:$Header-title;
    @media all and (max-width:767px){
        font-size: 14px;
        line-height: 24px;
        margin-bottom:20px;
    }
}

.homepage-banner_bottom{
    margin: 45px auto 0;
    iframe{
        width:640px;
        height:360px;
        display: block;
        margin: 0 auto;
        border:1px solid #f1f1f1;
        @media all and (max-width:767px){
            width: 100%;
            height: 190px;
        }
        @media all and (max-width:320px){
            width: 100%;
            height: 157px;
        }
    }
    img{
        max-width: 100%;
        height:auto;
        display: block;
    }
    .wistia_embed{
        display: block !important;
        width:100% !important;
        height:410px !important;
        @media all and (max-width:767px){
            height:300px !important;
        }
    }
}
/* unique-challenges-section ends */

.home-why-visibly-block{
    text-align: center;
}


/*Second section starts ===========================================================*/

.homeSecondSectionWrapper{
    padding-bottom:43px;

    @media screen and (max-width:900px) {
        padding-bottom: 30px;
    }
}
.home-second-section{
    p{
        margin-bottom: 38px;
        &:last-child{
            margin-bottom: 0;
        }
        @include breakpoint(xs) {
            margin-bottom: 20px;
            text-align: center !important;
        }
    }
    @include breakpoint(xs) {
        h2{
            text-align: center !important;
        }
    }

}
.home-second-img-column{
    @media all and (min-width:901px){
        margin-top: 9px;
        float: left;
        width:50%;
        position: relative;
        left: -8px;
    }
    img{
        max-width: 100%;
        height:auto;
        height: auto;
        width: 250px;
        display: block;
        margin: 0 auto;
    }
    @media all and (max-width:901px){
        margin:0 auto 30px;
    }
}
.home-second-section{
    padding-bottom:159px;
    @media all and (max-width:1024px){
        padding-bottom:50px;
    }
}
.home-second-content-column{
    text-align: left;
    .home-video-sec-title{
        font-size: 20px;
        line-height: 33px;
        color:$Header-title;
        font-weight: 300;
        margin-bottom:7px;
        @media all and (max-width:767px){
            font-size: 14px;
            line-height: 20px;
        }
    }
    .home-video-sec-content{
        font-size: 16px;
        line-height: 29px;
        font-weight: $font-weight-paragraph;
        color:$paragraph-color;
        margin-bottom:29px;
        @media all and (max-width:767px){
            font-size: 14px;
            line-height: 20px;
        }
    }
    .find-out-how-visibly-text{
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
        color:$primary;
        strong{
            font-weight: 400;
        }
        @media all and (max-width:767px){
            font-size: 14px;
            line-height: 20px;
        }
    }
    @media all and (min-width:901px){
        float: right;
        width: 47%;
        padding-left: 78px;
        padding-top: 50px;
    }
    @media all and (max-width:767px){
        text-align: center;
    }
    
}
.find-out-how-visibly-text{
    text-align:left;
}

.watch-platform{
    position: relative;
}
.watch-platform:before{
    background: url(assets/images/video-arrow.png) no-repeat;
    position: absolute;
    left: 97px;
    top: 35px;
    content: "";
    width: 226px;
    height: 87px;
    margin-left: -207px;
    background-size: contain;
    @media all and (max-width:1141px){
        margin-left: -221px;
    }
}
/*second section ends ===========================================================*/

/*feature section starts ========================================================*/


.homeFeatureSectionWrapper{
    .internal-communication-seciton .homeFeatureInnterColumn:first-child {
        margin-top: 25px;
        padding-right: 31px;
        @media all and (max-width:767px){
           padding-right: 0px;
        }
    }
    padding-bottom:150px;
    @include breakpoint(xs) {
        padding-bottom:30px;
    }
    .homeFeatureSection{
        overflow: hidden;
        min-height: calc(100vh - 90px);
        padding:150px 0;
        &.pinkSection{
            background: #ffe3e5;
            h2{
                color:#ff595b;
            }
        }
        &.blueSection{
            background: #dbe7ff;
           h2{
                color: #266eff;
           }
        }
        @include breakpoint(xs) {
            padding: 30px 0;
        }
        .container{
            margin-top:100px;
        }
    }
    .alt {
        .homeFeatureImage{
            float: right;
            @media all and (min-width:901px){
                padding-left: 50px;
            }
            @include breakpoint(xs) {
                float: none;
            }
        }
   }
  .internal-communication-seciton{
        .homeFeatureImage img{
            width: 538px; 
            margin: auto; 
            display: block;
            margin-top:61px; 
            height:auto;

            @media all and (max-width:767px){
                width:300px;
                margin-top: 0;
            }
        }
        @media all and (min-width:901px){
            .homeFeatureDescription{
                margin-top: 60px;
                left:58px;
               
            }
        }
    }
 }
.employeeSocialEmpowermentSection .homeFeatureImage img{
    width:1210px;
}
.culture-measurement-section .homeFeatureImage img{
    width:1000px;
}
.homeFeatureImage{
    float: left; 
    width: 64%;
    margin-top:9px;
    position: relative;
    img{
        display: block;
        margin:0 auto;
        @media all and (max-width:1100px){
            max-width:100%;
        }
    }
    @media all and (min-width:901px){
        padding-left: 0;
    }
    @media all and (max-width:900px){
        float: none;
        width: auto;
        margin-bottom:50px;
    }
    @include breakpoint(xs) {
        padding-bottom: 30px;
        margin-bottom: 0;
    }
}
.internal-communication-seciton {
    .homeFeatureImage{
        width:45%;
        position: relative;
        left: -88px;
        @media all and (max-width:767px){
            left:0;
            width:auto;
        }
    }
    .homeFeatureDescription{
        width:55%;
        @include breakpoint(xs) {
            width: auto;
        }
    }
}
@include breakpoint(xs) {
    .employeeSocialEmpowermentSection img{
        max-width: 180%;
    }
}

.homeFeatureDescription{
    float: left;
    width:36%;
    position: relative;
    h2{
        margin-bottom: 30px;
    }
    h4{
        margin-bottom: 4px;
        @media all and (max-width:767px){
            font-size:14px;
        }
    }
    p{
        margin-bottom: 37px;
    }
    @media all and (max-width:900px){
        float: none;
        width:auto;
        text-align: center;
        padding-bottom: 15px;
    }
    @include breakpoint(xs) {
        h2, p{
            margin-bottom: 15px;
        }
    }
}
.internal-communication-seciton {
    .homeFeatureDescription {
        p, .homeFeatureInnterColumn p{margin-bottom: 58px}
    } 
} 

.all-feature-link-wrapper{
    a{
        font-size: 16px;
        line-height: 24px;
        font-weight: 200;
        color:$theme;
        text-decoration: underline;
        @include breakpoint(xs) {
            font-size: 12px;
            line-height: 18px;
        }
    }
    
}

@include breakpoint(xs) {
    .smile-icon{
        vertical-align: -8px !important;
        width: 25px;
        height: 25px;
    }
}

.homeFeatureDescriptionInner{
    margin-bottom: 54px;
    .homeFeatureIcon{
        margin-bottom: 10px;
    }
    .homeFeatureSqaureShapeWrapper{
        width: 44px;
        overflow: hidden;
        margin-bottom: 15px;
        .sqaure-shape{
            position: static;
            float: left;
            margin-bottom: 3px;
            margin-right: 3px;
            width:17px;
            height:19px;
            border-color:#ffbf00;
            &:nth-child(2), &:nth-child(3){background: #ffbf00}
        }
        @include breakpoint(xs) {
            margin:0 auto;
            text-align: center;
        } 
    }
   .homeFeatureSqaureShapeWrapper.homeFeatureSqaureShapeWrapperFirstBlock{
        width:22px;
     }
}
@media all and (min-width:768px){
    .homeFeatureInnterColumns{
        margin:0 -5px;
    }
    .homeFeatureInnterColumn{float: left; width:50%; padding:0 5px;
        &:last-child{margin-right: 0;}
    }
}



.internal-communication-seciton{

    .homeFeatureInnterColumn:first-child{
        margin-top:25px;
    }
    .homeFeatureDescriptionInner img{
        width:auto;
    }

    .homeFeatureImage{
        @media screen and (max-width: 1199px) {
            width: 45%;
            position: relative;
            left: -50px;
            img{
                width: 488px;
                margin: auto;
                display: block;
                margin-top: 180px;
            }
        }
        @media screen and (max-width: 1152px) {
            left: -11px;
        }
        @media screen and (max-width: 900px) {
            left: 0;
            width:100%;
            img{
                margin-top: 0px;
            }
        }
    }
    .homeFeatureDescription{
        @media screen and (max-width: 1199px) {
            left: 51px;
        }
        @media screen and (max-width: 1100px) {
            left: 10px;
        }
        @media screen and (max-width: 900px) {
            width: 100% !important;
            left: 0px;
        }
    }
}



@include breakpoint(xs) {
    .internal-communication-seciton .sqaure-shape{
        right: 0!important;
    }
}
/*feature section ends ========================================================*/

/*Our process starts ========================================================*/
.ourProcessSection{
    .ourProcessHeding{
        text-align: center;
        margin-bottom:65px;
        position: relative;
        @include breakpoint(xs) {
            margin-bottom:20px;
        }
    }
}
.process-column-description{
    min-height:100px;
    margin-bottom:0;
    h3{
        font-size:18px;
        color:$Header-title;
        line-height:23px;
        margin-bottom: 30px;
        @media all and (max-width:900px){
            text-align: center;
        }
        @include breakpoint(xs) {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 10px;
        }
     }
    p{
    @media all and (max-width:900px){
            text-align: center;
        }
   }
   @media all and (max-width:767px){
     min-height:50px;
   }
}
@media all and (max-width:1182px){
.ourProcessSection{
    overflow: hidden;
    padding:20px 0;
}
}
.processColumnWrapper .innerColumnProcess{
    margin:0 -17px;
    display:flex;
    flex-wrap: wrap;
}
.processColumn{
    width:25%;
    padding:17px;
    position: relative;
    max-width: 349px;
    margin: 0 auto;
    @media all and (max-width:1023px){
        width:50%;
    }
    .innerProcessColumn{
        padding:30px 25px 30px 30px;
        position: relative;
        z-index:1;
        h3{
            font-size:22px;
            line-height:28px;
            color:$theme;
            margin-bottom:14px;
            @media all and (max-width:767px){
                font-size: 18px;
                line-height: 22px;
                text-align: center;
            }
        }
       
    }
.processImage{
        margin-bottom: 20px;
        min-height:165px;
        width:169px;
        margin: 0 auto;
        max-width: 100%;
       img{
            width:100%;
            height:auto;
            display: block;
            margin:0 auto;
        }
    }
}
.ourProcessSection .process-title{
   font-size: 28px;
   font-weight: 300;
   line-height: 38px;
   color:$Header-title;
   text-align: center;
   margin-bottom:65px;
   .process-title-inner{
       position: relative;
       .box1{
        left: 188px;
        top: -39px;
        width: 11px;
        height: 11px;
       }
       .box2{
        left: 204px;
        top: -22px;
        width: 17px;
        height: 18px;
        @media all and (max-width:767px){
            top:-17px;
        }
       }
   }
}
.processColumn{
    &:before{
        content: '';
    position: absolute;
    left:17px;
    right:17px;;
    top:17px;
    bottom:17px;;
    box-shadow: 0px 16px 25.92px 6.08px rgba(0, 1, 1, 0.05);
    -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
    }
    &:hover:before{
        box-shadow: 0px 16px 25.92px 6.08px rgba(0, 1, 1, 0.1);
    }
}
@media all and (max-width:767px){
    .processColumnWrapper .innerColumnProcess{
     display: block;
    }
    .processColumn{
        width:auto;
        margin-bottom:30px;
  }
  .processColumn:before{
      visibility: hidden;
  }
  .processColumn .innerProcessColumn{
      padding:0;
  }
}

/*Our process starts ========================================================*/

/*Editor css starts =====*/
#tinymce {
    padding:30px;
    .ourProcessHeding{
        text-align: center;
    }
    .homeFeatureDescription{
        text-align: left;
        p{
            text-align: left;
        }
    }
    .homeFeatureSection{
        min-height: 0;
    }
    .mainBannerIllustrator, .homeFeatureImage, .home-second-img-column{
        min-height: 300px;
        border:1px dotted #000;
    }
    .processImage{
        border:1px dotted #000;
        min-height: 193px;
    }
} 
/*Editor css ends =====*/
@media all and (max-width:1024px){
.home-second-img-column {
    margin-top: 0;
}
}
@media all and (max-width:979px){
.home-second-img-column {
    margin-top:100px;
 }
}
@media all and (max-width:901px){
    .home-second-img-column {
        margin-top: 0px;
    }
    .home-second-content-column span:before{
        display: none;
    }
    .home-second-content-column{
        text-align: center;
    }
}
@media all and (max-width:767px){
 .featureMainBox   .mainWrapper{
        padding-top:0;
 }
 .email-popup-text{
width: 100% !important;
 }

 .mainWrapper.featureMainWrapper .bannerFeatureBlock .bannerFeatureBlockInner{
        padding-left: 53px;
   }
   .book-demobutton a.free-trial-link.white-button{
       margin-left: 8px;       
   }
}
.responsive-watch-platform{
    display: none;
}
@media all and (max-width:900px){
 .watch-platform{
    display: none;
    text-align: center;
  }
 .responsive-watch-platform, .responsive-watch-platform .watch-platform{
     display: block;
  }
  .responsive-watch-platform{
    .watch-platform{
        margin-top:20px;
    }
      .watch-platform:before{
           visibility: hidden;
           display: none;
      }
  }
}

.block-title ,.textwidget h2, .partner-section-title-wrapper{
    position: relative;
}


.section-section-visibly-help-title:before{
    content: '';
    border: 3px solid #ffbf00;
    width: 11px;
    height: 13px;
    position: absolute;
    left: -21px;
    top: -11px;
}
.partner-section-title-wrapper:after{
    content: '';
    border: 3px solid $orange;
    width:6px;
    height: 7px;
    position: absolute;
    left: -21px;
    top: -11px;
    @media all and (max-width:767px){
        left: -12px;
    }
}
.partner-section-title-wrapper:before{
    content: '';
    border: 3px solid $primary;
    width: 11px;
    height: 13px;
    position: absolute;
    left: -43px;
    top: -30px;
    @media all and (max-width:767px){
        left: -34px;
    }
}
@media all and (max-width:767px){
    .partner-section{
        h2,span,p{
            line-height: 28px;
            font-size: 14px !important; 
        }
    }
}


/* Complete employee platform section starts */
.homeCompEmpPlatSection{
    padding-bottom:97px;
    @media all and (max-width:767px){
        padding-bottom:30px;

    }
}
.hcepLeftColumn{
    @media all and (min-width:901px){
        float: left;
        width:50%;
    }
}
.hcepLeftColumnInner{
    max-width: 470px;
    margin: 0 auto;
    position: relative;
    left: 27px;
    @media all and (max-width:1024px){
        left:0;
    }
}
.hcepboxes .squareBox.box2{
    right: 119px;
    top: -10px;
    width: 12px;
    height: 12px;
    @media all and (max-width:767px){
        right:-11px;
        top:-20px;
    }
}
.hcepRightColumn{
    @media all and (min-width:901px){
        float: right;
        width:50%;
    }
    position: relative;
    img{
        width: 401px;
        height: auto;
        @media all and (max-width:767px){
            width: 290px;
        }
    }
    .box1{
        left: 13px;
    top: -38px;
    width: 21px;
    height: 21px;
    }
    .box2{
        left: -16px;
        top: -53px;
        width: 12px;
        height: 12px;
    }
    .box3{
        left: -13px;
        top: 12px;
        width: 18px;
        height: 18px;
        @media all and (max-width:1024px){
            top:-15px;
        }
    }
}

.hcepLeftColumn{
    @media all and (max-width:767px){
        text-align: center
    }
}
.hcepMainTitle{
    font-size: 28px;
    line-height: 38px;
    font-weight: 300;
    color:$Header-title;
    margin-bottom:42px;
    strong{
        font-weight: 400;
    }
    .square-box-wrapper{
        display: inline-block;
    }
    @media all and (max-width:767px){
        font-size: 18px;
        line-height: 24px;
        max-width: 230px;
        margin: 0 auto 35px;
    }
}
.hcepBlock{
    margin-bottom:73px;
    &:last-child{
        margin-bottom:0;
    }
    @media all and (max-width:767px){
        margin-bottom:40px;
    }
}
.hcepSubTitle{
    font-size: 22px;
    line-height: 32px;
    color:$primary;
    font-weight: 300;
    margin-bottom: 4px;
    @media all and (max-width:767px){
        font-size: 14px;
        line-height: 20px;
    }
}
.hcepDesc{
    font-size: 16px;
    line-height: 29px;
    color:$paragraph-color;
    font-weight: $font-weight-paragraph;
    margin-bottom: 12px;
    @media all and (max-width:767px){
        font-size: 12px;
        line-height: 18px;
    }
}


 $thick : 3px;
 $pad : 0.7em;
 $extra : calc(#{$pad} * 1.2);
 $color : $primary;
 
 
 .learn-more-in-homaPage, .fc-learn-more-link-wrapper {
   a {
     display: inline-block;
     border: $thick solid transparent;
     position: relative;
     color: #1c1c1c;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
     cursor: pointer;
    @media all and (max-width:767px){
        font-size: 12px;
        line-height: 18px;
    }
     
     &:after {
       position: absolute;
       content: '';
       bottom: -$thick;
       left: 0;
       right: 0;
       height: $thick;
       background: $color;
      }


     &:before {
        position: absolute;
        content: '';
        bottom: -$thick;
        left: 0;
        right: 100%;
        height: $thick;
        background: $color;
      }

     &:hover:before {
        right: 0;
        transition: 
        transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
        right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
        left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
        transform-origin: left;
      }

      &:hover,
      &:active {
     &:after {
          transform: scale3d(0,1,1);
          right: -$thick;
          left: -$thick;
          transform-origin: right;
          transition: 
            transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
            right 0.2s cubic-bezier(1,0,.65,1.01),
            left 0s 0.3s;
        }
    
       
    
      }
 
   }
 
   
 
  
 }

 .hcepImageWrapper{
    max-width: 401px;
    margin: 0 auto;
    position: relative;
    left: 60px;
    top: -22px;
    @media all and (max-width:1024px){
        left:0;
        top:0;
    }
    img{
        max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
    }
    video{
        position: absolute;
    left: 55px;
    top: 53px;
    width: 290px;
    height: auto;
    border-radius: 35px;
    }
    @media all and (max-width:767px){
        max-width:280px;
        margin:0 auto;
        video{
            left: 41px;
            top: 38px;
            width: 210px;
            border-radius: 20px;
            height: auto;
        }
    }
 }


// HOME PAGE 

.homepageWrapper{
    overflow: unset !important;

    // HOME PAGE BANNER AND VIDEO SECTION STARTS
    .homePageBanner{
        padding: 0 0 135px 0;
        position: relative;
        overflow: hidden;
        @media all and (max-width:767px){
            padding-bottom:65px;
        }
        &:before{
            content:'';
            display: block;
            position: absolute;
            left:0;
            right:0;
            height: 176px;
            bottom: 13px;
            background: $secondary;
            @media all and (max-width:767px){
                height: 100px;
            }
        }
        .shape{
            &.shape1{
              width:53px;
              height:23px;
              border-radius: 23px;
              right: -71px;
              top: -30px;
              transform: rotate(-45deg);
              @media all and (max-width:767px){
                right: 9px;
                top: -100px;
              }
            }
            &.shape2{
                width: 62px;
                height: 27px;
                border-radius: 10px;
                left: 18px;
                bottom: -5px;
                transform: rotate(-73deg);
            }
            &.shape3{
                width: 47px;
                height: 21px;
                border-radius: 7px;
                right: 146px;
                bottom: 75px;
                transform: rotate(-122deg);
                @media all and (max-width:767px){
                    right: 46px;
                  }
            }
          }
        .mainBannerCaptionWrapper{
            text-align: center;
            max-width: unset;
            margin: 12px 75px 70px;
            @media(max-width: 767px){
                margin: 80px 0;
            }
            .mainBannerCaptionInner{
                @include breakpoint(lg) {
                    padding-top: 70px;
                }
                h1.hero-banner-title{
                    font-weight: $font-black;
                    margin-bottom: 9px;
                    @include breakpoint(xs) {
                        font-size: 25px;
                    }
                    span{
                        font-size: 37px;
                    }
                }
                .sub_txt{
                    font-weight: 500;
                    line-height: 40px;
                    font-size: 23px;
                    margin-bottom: 58px;
                    @include breakpoint(xs) {
                        line-height: 25px;
                        font-size: 15px;
                        margin-bottom: 32px;
                    }
                    br{
                        @media (max-width: 1024px){
                            display: none;
                        } 
                    }
                }
                .banner_btn{
                    background: $primary;
                    color: #ffffff;
                    display: inline-block;
                    font-weight: 500;
                    font-size: 16px;
                    padding: 19px 16px;
                    border-radius: 2px;
                    &:hover{
                        background: #d8d1d1;
                        color: #584c4c;
                    }
                }

            }
        }

        .video_section_top{
            .video_inner{
                @include breakpoint(xs) {
                    -webkit-box-direction: column;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    flex-direction: column;
                }
                .img_section {
                    width: 52%;
                    padding-left: 41px;
                    @media (max-width: 1024px){
                        width: 100%;
                        padding-left: 0;
                    }
                    @media(min-width: 992px) and (max-width: 1024px){
                        width: 60%;
                    }
                    .top_img {
                        padding-left: 5px;
                        @media (max-width: 1024px){
                            padding-left: 0;
                        }
                        img{
                            margin: 0 auto;
                            display: block;
                            max-width: 100%;
                        }
                    }
                    .video_frame {
                        box-shadow: 0px 9px 17.22px 3.78px rgba(0, 1, 1, 0.11);
                        position: relative;
                    }
                }
                .text_section {
                    width: 48%;
                    padding: 0 41px;
                    @media (max-width: 1024px){
                        width: 100%;
                        padding: 0;
                    }
                    @media(min-width: 992px) and (max-width: 1024px){
                        width: 85%;
                    }
                    .text_wrapper{
                        padding-top: 82px;
                        padding-left: 38px;
                        @media (max-width: 1024px){
                            padding: 45px 20px;
                        }
                        @media (max-width: 1024px){
                            text-align: center;
                        }
                        .para{
                            line-height: 32px;
                            .hl{
                                font-weight: 400;
                                color: #1c1c1c;
                            }
                            &.para_one{
                                font-size: 18px;
                                line-height: 32px;
                                font-weight: 500;
                                color: #1c1c1c;
                                @media (max-width: 767px){
                                    font-size: 16px;
                                }
                            }
                            &.para_two{
                                font-size: 16px;
                                @media (max-width: 767px){
                                    font-size: 14px;
                                }
                            }
                        }

                        .btn_div{
                            padding-top: 47px;
                            .banner_btn{
                                background: $primary;
                                color: $white;
                                display: inline-block;
                                font-weight: 500;
                                font-size: 16px;
                                padding: 19px 16px;
                                border-radius: 2px;
                                &:hover{
                                    background: #d8d1d1;
                                    color: #584c4c;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // HOME PAGE BANNER AND VIDEO SECTION ENDS


    // EXPERT SECTION STARTS

    #expert_section_main{
        $bgcolor:#e9e9e7;
        $width:33.3%;
        $margin: 0px auto;

        .expertsection{
            background-color: #fafafa;
            border-top:1px solid $section-border;
            border-bottom:1px solid $section-border;
        }
        
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .subcontainer{
            text-align: center;
            margin:auto;
            padding: $section-space 0;
            @media(max-width: 767px){
                padding: $section-space-responsive 0;
            }
        }

        .expertsection {  
            h2{
                font-size: 30px;
                line-height: 40px;
                font-weight: 500;
                word-spacing: -1px;
                margin-bottom: 8px;
                @media all and (max-width:990px){
                    font-size: 24px;
                }
                @media all and (max-width:990px){
                    font-size: 14px;
                    line-height: 24px;
                }
            }

        }
        .expert-section-content{
            margin-bottom:$para-margin-bottom;
        }
        .subheader{
            font-size: 21px;
            color: #1c1c1c;
            font-weight: 400;
            @media all and (max-width:767px){
                font-size: 12px;
                line-height: 22px;
            }
        }
        .col-container {
            margin-top:48px;
            @media(min-width: 1025px){
                padding: 0 52px;

            }

        }

        .expertsectionSVG{
            width:30px;
            height:30px;
            margin: $margin;
            position:relative;
            margin-bottom:7px;

            &:before{
                position: absolute;
                content: "";
                width: 22px;
                height:2px;
                margin: $margin;
                top: 15px;
                left:-35px;
                border: 1px solid #256eff;
                background-color: #256eff;
            }
            &:after {
                position: absolute;
                content: "";
                width: 22px;
                height:2px;
                margin: $margin;
                top: 15px;
                right: -35px;
                border: 1px solid #256eff;
                background-color: #256eff;
            }
        }
        //Podcast SVG 
        .podcast-st0{
            fill:#256EFF;
        }
        .podcast-st1{
            opacity:0.3;fill:#256EFF;stroke: #256EFF;enable-background:new;
        }
        //Blog SVG
        .blog-st0{
            opacity:0.3;fill:#256EFF;enable-background:new ;
        }
        .blog-st1{
            fill:#256EFF;
        }
        //Ebook SVG
        .ebook-st0{
            opacity:0.3;fill:#256EFF;
        }
        .ebook-st1{
            fill:#256EFF;stroke:#256EFF;stroke-width:16;stroke-miterlimit:10;
        }


        .col {
            float: left;
            padding: 16px;
            width:$width;
            box-sizing: border-box;

        }
       
        .colheader{
            h3{
                font-size: 22px;
                margin-bottom: 12px;
                font-weight: 500;
            }
        }

        @media only screen and (max-width: 991px) {
            .col{ 
                float: none;
                width: auto;
            }
            .expertsectiondescription{

                font-size: 14px;
            }
        }
        
    }

    // EXPERT SECTION ENDS


    



    // EXPERTS VIDEO SECTION STARTS
    #expert_video_section_main{
        background: #fae3e5;
        overflow: hidden;
        margin-top: $section-space;
        @media(max-width: 767px){
            margin-top: $section-space-responsive;
        }
        .inner_wrap{
            .parent_div{
                .text_div{
                    width: 28%;
                    padding: 0;
                    position: relative;
                    top: -17px;
                    @media(max-width: 767px){
                        position: static;
                        width: 100%;
                        padding: 25px 14px;
                    }
                    @media(min-width: 768px) and (max-width: 1024px){
                        padding: 0;
                        position: static;
                        width: 35%;
                    }
                    .section_title{
                        color: $primary;
                        font-weight: 400;
                        font-size: 22px;
                        @media(max-width: 767px){
                            font-size: 20px;
                        }
                        @media(min-width: 768px) and (max-width: 1024px){
                            font-size: 19px;
                        }
                    }
                    .section_descr{
                        &, p{
                            text-align: left;
                        }
                    }
                    .section_link{
                        margin-top:25px;
                    }
                }
                .video_section{
                    width: 63%;
                    @media(max-width: 767px){
                        width: 100%;
                    }

                }

            }
        }
    }
    // EXPERTS VIDEO SECTION ENDS

    

    

    // ENGAGE SECTION STARTS
    #engage_section, 
    #commmunicate_section, 
    #measure_section, 
    #advocate_section, 
    #implementation_section_main{
        .inner_wrap{
            .flex_parent{
                -webkit-align-items: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;
                &.implement{
                    flex-direction: row-reverse;
                    @media all and (min-width:1025px){
                        margin-bottom: 20px;
                        .text_section{
                            width:42%;
                        }
                        .image_section{
                            width: 58%;
                            padding-top: 68px;
                            left: -60px;
                            position: relative;
                        }
                    }
                    .image_section{
                        .img{
                            max-width: none;
                        }
                    }
                }
                .image_section{
                    width: 63%;
                    @media(max-width: 1024px){
                        width: 100%;
                    }
                    .img{
                        .three-screenshot-col{
                            float: left;
                            width:33.3%;
                            
                            &:nth-child(2){
                                position: relative;
                                margin-top:100px;
                            }
                            &:nth-child(3){
                                position: relative;
                                margin-top:276px;
                            }
                            img{
                                width:243%;
                                max-width: none;
                                box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
                            }
                            @media all and (max-width:767px){
                                &:nth-child(2){
                                    margin-top:30px;
                                }
                                &:nth-child(3){
                                    margin-top:60px;
                                }
                            }
                        }
                        .hcepImageWrapper {
                            left:0;
                            @media (max-width: 767px){
                                img{
                                    width:290px;
                                }
                            }
                           video {
                            position: absolute;
                            left: 55px;
                            top: 53px;
                            width: 290px;
                            height: auto;
                            border-radius: 35px;
                            z-index: 2;

                                @media (max-width: 767px){
                                    left: 39px;
                                    top: 37px;
                                    width: 210px;
                                    border-radius: 20px;
                                    height: auto;
                                }
                            }
                        }
                        
                        img, video{
                            max-width: 100%;
                            width: 100%;
                            height: auto;
                            display: block;
                            position: relative;
                            z-index: 1;
                            @media(max-width: 1024px){
                                max-width: 700px;
                                margin: 0 auto;
                            }
                            @media(max-width: 767px){
                                max-width: 300px;
                            }

                        }
                    }
                }
                .text_section{
                    width: 37%;
                    @media(max-width: 1024px){
                        width: 100%;
                    }
                    .text_wrap{
                        padding: 80px 0 0 92px;
                        @media(max-width: 1024px){
                            text-align: center;
                            padding-left: 0;
                            padding-top: 40px;
                            padding-bottom: 0px;
                        }
                        .icon_div{
                            span.icon{
                                position: relative;
                                display: block;
                                width: 150px;
                                text-align: center;
                                margin-bottom:8px;
                                @media all and (max-width:767px){
                                    margin:0 auto 8px;
                                }
                                svg, img{
                                    max-width: 47px;
                                    display: block;
                                    margin: 0 auto;
                                }
                                &:before{
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    margin-top: -2px;
                                    left: 0;
                                    height: 4px;
                                    width: 40px;
                                    background: #256EFF;
                                }
                                &:after{
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    right: 0;
                                    height: 4px;
                                    width: 40px;
                                    margin-top: -2px;
                                    background: #256EFF;
                                }
                            }
                        }
                        

                    }
                }
                &.engage{
                    .text_section{
                        .text_wrap{
                            .btn_div{
                                .learn_more:after{
                                    @media(max-width: 767px){
                                        top: -4px;
                                    }
                                    @media(min-width: 768px) and (max-width:1024px){
                                        top: -5px;
                                    }
                                }
                            }
                        }
                    }
                }
                &.communicate{
                    .text_section{
                        .text_wrap{
                            .btn_div{
                                .learn_more:after{
                                    background-position: center 7px !important;
                                }
                                .learn_more:hover:after{
                                    background-position: center 7px !important;
                                }
                            }

                        }
                    }
                }
                &.communicate, &.advocate{
                    flex-direction: row-reverse;
                    .image_section{
                        width: 59%;
                        @media(max-width: 1024px){
                            width: 100%;
                        }
                    }
                    .text_section{
                        width: 41%;
                        @media(max-width: 1024px){
                            width: 100%;
                        }
                        .text_wrap{
                            padding: 90px 0;
                            @media(max-width: 1024px){
                                padding: 40px 0 0;
                                text-align: center;
                            }
                            .icon_div{
                                span.icon{
                                    &:before{
                                        background: $primary;
                                    }
                                    &:after{
                                       background: $primary;
                                    }
                                }
                                svg{
                                    max-width: 45px;
                                }
                            }
                          

                            .btn_div{
                                padding-left: 0;
                                .learn_more{
                                    margin-left: 9px;
                                    
                                    &:after{
                                        right: -38px;
                                        top: -5px;
                                        @media(max-width: 767px){
                                            right: -38px;
                                            top: 26px;
                                        }
                                        
                                    }
                                }
                            }
                        }

                    }
                }
                &.measure{
                    .text_wrap{
                        .icon_div{
                            span.icon{
                                &:before{
                                    background: #2FBF71;
                                }
                                &:after{
                                    background: #2FBF71;
                                }
                            }
                        }
                        
                        .btn_div{
                            .learn_more{
                                margin-left: 7px;
                            }
                        }
                    }
                }
                &.advocate{
                    .image_section{
                        width: 62%;
                        @media(max-width: 1024px){
                            width: 100%;
                        }
                    }
                    .text_section{
                        width: 38%;
                        @media(max-width: 1024px){
                            width: 100%;
                        }
                        .text_wrap{
                            padding: 58px 0;
                            @media(max-width: 1024px){
                                padding: 40px 0 0;
                                text-align: center;
                            }
                            .icon_div{
                                @media(max-width: 1024px){
                                    padding-left: 0;
                                    margin-left: 0;
                                }
                                span.icon{
                                    position: relative;
                                    left: -1px;
                                    &:before{
                                        background: #F7BA24;
                                    }
                                    &:after{
                                        background: #F7BA24;
                                    }
                                }
                            }
                            .section_descr{
                                width: 62%;
                                @media(max-width: 1024px){
                                    padding-left: 0;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                &.engage, &.measure{
                    .img{
                        max-width: 400px;
                        @media all and (max-width:767px){
                            max-width: 150px;
                            margin: 0 auto;
                            position: relative;
                            left: -55px;
                        }
                    }
                }
                
            }

            .bottom_txt{
                margin-top: 73px;
                @media all and (max-width:767px){
                    margin-top:$section-space-responsive;
                }
                text-align: center;
                position: relative;
                .shape{
                    &.shape1{
                    width: 53px;
                    height: 23px;
                    border-radius: 23px;
                    left: 177px;
                    top: -164px;
                    transform: rotate(-31deg);
                    @media all and (max-width:990px){
                        left:100px;
                    }
                    @media all and (max-width:767px){
                        left: 0;
                        top: -54px;
                    }
                    }
                    &.shape2{
                        width: 53px;
                        height: 23px;
                        border-radius: 23px;
                        left: 459px;
                        top: -48px;
                        transform: rotate(-79deg);
                        @media all and (max-width:767px){
                            left: -40px;
                            top: 142px;
                            transform: rotate(-49deg);
                        }
                    }
                    &.shape3{
                        width: 81px;
                        height: 35px;
                        border-radius: 48px;
                        right: 176px;
                        top: -158px;
                        transform: rotate(-104deg);
                        @media all and (max-width:990px){
                            right:100px;
                        }
                        @media all and (max-width:767px){
                            right: -40px;
                            top: -18px;
                        }
                    }
                    &.shape4{
                        width: 49px;
                        height: 21px;
                        border-radius: 8px;
                        right: 354px;
                        bottom: -1px;
                        transform: rotate(-104deg);
                        @media all and (max-width:990px){
                            right:250px;
                        }
                        @media all and (max-width:767px){
                            right:30px;
                        }
                    }
                    &.shape5{
                        width: 72px;
                        height: 32px;
                        border-radius: 12px;
                        right: 72px;
                        bottom: -103px;
                        transform: rotate(-130deg);
                    }
                }
                p{
                    font-weight: 500;
                    font-size: 23px;
                    padding: 0 15px;
                    line-height: 36px;
                    @media(max-width: 1024px){
                        font-size: 16px;
                    }
                }
                .txt_url{
                    position:relative;
                    margin-top:26px;
                }
            }

        }
        .section_title{
            font-weight: $font-extra-bold;
            font-size: $home-block-big-title-font-size;
            line-height: $home-block-big-title-line-height;
            margin-bottom:0;
            letter-spacing: -1.4px;
            position: relative;
            left:-2px;
            margin-top:-7px;
            @media(max-width: 1024px){
                font-size: 40px;
                letter-spacing: -1px;
                padding-left: 0;
            }
            @media(max-width: 1024px){
                font-size: 30px;
                line-height: 40px;
            }
        }
        .section_descr{
            margin-top: $title-bottom-margin;
            max-width: 275px;
            @media all and (max-width:1024px){
                margin:8px auto 0;
            }
        }
        .btn_div{
            margin-top:30px;
            .btn_link{
                min-width: 138px;
                text-align: center;
            }
            .learn_more{
                position:relative;
                margin-top:14px;
                margin-left: 6px;
                display: inline-block;
            }
        }
    }
    #engage_section .inner_wrap .flex_parent{
        &.engage{
            .image_section .img { 
                margin:0;
                max-width:590px;
                @media all and (max-width:767px){
                    left:0;
                    max-width:67%;
                }
                .three-screenshot-col{
                    width:33.33%;
                    img{
                        max-width: 307px;
                    }
                    &:nth-child(2){
                        margin-top:128px;
                        @media all and (max-width:767px){
                            margin-top: 30px;
                        }
                    }
                    &:nth-child(3){
                        margin-top:254px;
                        @media all and (max-width:767px){
                            margin-top: 60px;
                        }
                    }
                }
            }
            
        }
    }
    $engage_animation_time:1s;

    #engage_section{
        .three-screenshot-col{
            opacity: 0;
            top:20px;
            position: relative;
            -webkit-transition: opacity $engage_animation_time, top $engage_animation_time ease; 
            -moz-transition: opacity $engage_animation_time, top $engage_animation_time ease; 
            transition: opacity $engage_animation_time, top $engage_animation_time ease;
            z-index: 1;
        }
        &.focused{
            .three-screenshot-col{
                opacity: 1;
                top:0;
                &:nth-child(2){
                    transition-delay: 0.5s;
                }
                &:nth-child(3){
                    transition-delay: 1s;
                }
            }
        }
    }


    #measure_section .inner_wrap .flex_parent{
        &.measure{
            .image_section { 
                @media all and (max-width:767px){
                    margin-bottom:-20px;
                }
                

                .img { 
                .three-screenshot-col{
                    width:50%;
                    &.heatmap-image{
                        position:relative;
                        .green-box{
                           position: absolute;
                            left: 336px;
                            top: 181px;
                            width: 72px;
                            height: 50px;
                            z-index: 1;
                            line-height: 50px;
                            color: $white;
                            text-align: center;
                            font-weight: 500;
                            @include mq('phone'){
                                left: 126px;
                                top: 68px;
                                width: 27px;
                                height: 19px;
                                line-height: 19px;
                                font-size: 6px;
                            }
                        }
                    }
                    &.pulse-image{
                        width: 25%;
                        margin-top: -440px;
                        float: right;
                        margin-right: -86px;
                        position:relative;
                        @media all and (max-width:767px){
                            margin-top: 52px;
                            margin-right: -39px;
                            width: 24%;
                        }
                        .pulse-box{
                            background: #f7f5f5;
                            box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
                            width: 240px;
                            height: 185px;
                            position: relative;
                            z-index: 1;
                            left: 2px;
                            border:3px solid $white;
                            @include mq('phone'){
                                transform: scale(0.35);
                                transform-origin: 0 0;
                            }
                            .pulse-date{
                                position: absolute;
                                left: 5px;
                                bottom: 5px;
                                div{
                                    font-weight: 500;
                                    font-size: 12px;
                                    line-height: 16px;
                                    color:$Header-title;
                                }
                            }
                        }
                        .variation-box-wrapper{
                        position: absolute;
                        right: 20px;
                        top: 15px;
                        z-index: 1;
                        font-weight: 500;
                        font-size: 14px;
                        color:$Header-title;
                        }
                        svg{
                                width: 205px;
                                height: 100px;
                                position: absolute;
                                left: 20px;
                                top: 30px;
                                z-index: 1;
                                polyline, line{
                                    fill: none;
                                    stroke-width: 3px;
                                    
                                }
                                polyline{
                                    stroke: #3dc378;
                                }
                                line{
                                    stroke:#fa5a62
                                }
                        }
                    }
                }
            }
        }
        }
    }
    $red_line_animation_delay:3.7s;
    $red_line_animation_time:2s;
    #measure_section{
        .measure_section{
            margin-bottom:-21px;
        }
        polyline, line{
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            -webkit-transition: all 5s ease; 
            -moz-transition: all 5s ease; 
            transition: all 5s ease;
        }
        line, .green-box{
            
            -webkit-transition: all $red_line_animation_time ease; 
            -moz-transition: all $red_line_animation_time ease; 
            transition: all $red_line_animation_time ease;
            transition-delay:$red_line_animation_delay;
        }
        .green-box{
            background: #3dc378;
        }
        &.focused{
            polyline{
                stroke-dashoffset: 720;
            }
            line{
                stroke-dashoffset: 950;
            }
            .green-box{
                background: #fa5a62;
            }
        }
    }

    // ENGAGE SECTION ENDS
// IMPLEMENTATION SECTION STARTS

#implementation_section_main{

    padding: $section-space 0;
    @media(max-width: 1024px){
        padding: $section-space-responsive 0;
    }

    $bgcolor:#e9e9e7;
    $width:33.3%;
    $margin: 0px auto;
    .inner_wrap{

        .flex_parent .text_section  .text_wrap{
            padding-left:0;
            @media all and (min-width:1025px){
                padding-top:0;
            }
            @media(max-width: 1024px){
                padding-bottom:40px;
            }
            @media(max-width: 767px){
                text-align: center;
            }
            .icon_div{
                display: inline-block;
                text-align: center;
                width:148px;
                
                span.icon {
                    position: relative;
                    left: -8px;
                    svg, img{
                        max-width: 32px;
                        display: inline-block;
                    }
                    &:before{
                        content: "";
                        position: absolute;
                        top: -3px;
                        left: -50px;
                        height: 4px;
                        width: 40px;
                        background: $primary;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        top: -3px;
                        right: -52px;
                        height: 4px;
                        width: 40px;
                        background: $primary;
                    }
                }
            }
            
            .descr_div {
                position: relative;
                .image_div {
                    position: absolute;
                    left: 34%;
                    top: 38px;
                    @media(max-width: 767px){
                        position: static;
                    }
                    img{
                        max-width: 100%;
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .banner_btn {
                background: $primary;
                color: $white;
                display: inline-block;
                font-weight: 500;
                font-size: 16px;
                padding: 19px 16px;
                margin-top: 40px;
                border-radius: 2px;
                margin-left: 2px;
                &:hover{
                    background: #d8d1d1;
                    color: #584c4c;
                }

            }
        }
        .step_column_wrapper{
            @media all and (max-width: 1024px){
                max-width: 540px;
                margin:0 auto;
            }
        }
        .steps_grid{
            margin:0 -15px;
            .step_column{
                width: 25%;
                padding:0 15px;
                @media all and (max-width: 767px){
                    width: 100%;
                    margin-bottom: 20px;
                }
                @media all and (min-width: 768px) and (max-width: 1024px){
                    width: 50%;
                    margin-bottom: 30px;
                }
                .step_parent{
                    -webkit-flex-wrap: nowrap;
                    -ms-flex-wrap: nowrap;
                    flex-wrap: nowrap;
                    .logo_section{
                        background: $primary;
                        padding: 18px;
                        border-radius: 50%;
                        
                    }

                    .text_section{
                        padding-left: 17px;
                        padding-top: 4px;
                        max-width: 200px;
                        p{
                            text-align: left;
                        }
                        .step_title{
                            color: #1c1c1c;
                            font-weight: 500;
                            font-size: 22px;
                            margin-bottom: 5px;
                        }
                    }
                }


                &.step_two{
                    @media(min-width: 1025px){
                        position: relative;
                        top: 33px;
                    }
                }
                &.step_three{
                    @media(min-width: 1025px){
                        position: relative;
                        top: 67px;
                        
                    }
                }
                &.step_four{
                    @media(min-width: 1025px){
                        position: relative;
                        top: 104px;
                    }
                }

            }

            //Hierarchy SVG

            .hierarchy-st1{
                stroke: white;
                stroke-width: 0.5;
                fill: white;
            }
            //Brand SVG
            .brand-st1{
                stroke: white;
                stroke-width: 0.5;
                fill: white;
            }
            //Values SVG
            .values-st1{
                stroke: white;
                stroke-width: 0.5;
                fill: white;
            }
            //Consultancy SVG
            .consultancy-st1{
                stroke: white;
                stroke-width: 0.5;
                fill: white;
            }
         
        }

    }
}
// IMPLEMENTATION SECTION ENDS

    #commmunicate_section{
        background: $lightPink;
        padding: $section-space 0;
        @media all and (max-width: 767px){
            padding: $section-space-responsive 0;
        }
        .text_section{
            .text_wrap{
                .icon_div{
                    .icon{
                        svg{
                            max-width: 45px;
                        }
                    }
                }

            }
        }
        .image_section{
            position: relative;
            padding-bottom:130px;
            @media all and (max-width:767px){
                padding-bottom:66px;
            }
        }
        .hcepImageWrapper{
            position: absolute;
            left: -88px;
            top: 121px;
            max-width: 290px;
            @media all and (max-width:767px){
                left: 2px;
                top: 21px;
                max-width: 150px;
            }
            
            video{
                position: absolute;
                left: 39px;
                top: 36px;
                width: 211px;
                height: auto;
                border-radius: 22px;
                z-index: 2;
                @media all and (max-width:767px){
                    left: 20px;
                    top: 20px;
                    width: 108px;
                    border-radius: 12px;
                }
            }
        }
    }
    
    #advocate_section{
        padding-top: $section-space;
        @media(max-width: 767px){
            padding-top: $section-space-responsive;
            overflow: hidden;
        }

    }    
}


// CATEGORY MAIN SECTION STARTS
#category_main_section{
    overflow: hidden;
    .inner_wrap{
        #all_category {
            padding: $section-space 0;
            @media(max-width: 767px){
                padding: $section-space-responsive 0;
            }
            .all_cat_wrap{
                .title{
                    margin-bottom: 104px;
                    text-align: center;
                    @media(max-width: 767px){
                        margin-bottom: 30px;
                    }
                    .title_txt{
                        p{
                            font-weight: 500;
                            line-height: 33px;
                            font-size: 25px;
                            @media(max-width: 767px){
                                font-size: 14px;
                                line-height: 24px;
                            }
                        }
                        .red_square{
                            position: relative;
                            br{
                                @media(max-width: 767px){
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .category_div{
                    margin:0 -22px;
                    @media(min-width: 768px) and (max-width: 1024px){
                        -webkit-align-items: stretch;
                        -ms-flex-align: stretch;
                        align-items: stretch;
                    }
                    .category{
                        width: 33.3%;
                        @media(min-width: 768px) and (max-width: 1024px){
                            width: 50%;
                        }

                        @media(max-width: 767px){
                            width: 100%;
                        }
                        .cat_wrap{
                            margin: 0 15px;
                            box-shadow: 0px 13px 26px 10px #f1f1f1;
                            padding: 33px 22px 80px;
                            -webkit-transition: all 0.5s ease;
                            -moz-transition: all 0.5s ease;
                            transition: all 0.5s ease;
                            @media all and (min-width:768px){
                                height: 100%;
                            }
                            position: relative;
                            .cat_header{
                                .icon_div{
                                    width:50px;
                                    height:35px;
                                    position: relative;
                                    padding-right: 12px;
                                    svg, img{
                                        width: 35px;
                                        position: absolute;
                                        left:0;
                                        top:-4px;
                                        @media(max-width: 767px){
                                            top:-8px;
                                        }
                                    }
                                }
                                .title_div{
                                    .cat_title{
                                        font-weight: 500;
                                        font-size: 21px;
                                    }
                                }
                            }
                            .cat_body{
                                .cat_descr{
                                    margin-bottom: 0;
                                    padding: 18px 0;
                                    @media(max-width: 767px){
                                        text-align: left;
                                        p{
                                            text-align: left;
                                        }
                                    }
                                }
                                .cat_link{
                                    position: absolute;;
                                    bottom: 30px;
                                }
                            }
                            &:hover{
                                -webkit-transition: all 0.5s ease;
                                -moz-transition: all 0.5s ease;
                                transition: all 0.5s ease;
                                box-shadow: 0px 16px 25.92px 6.08px rgba(0, 1, 1, 0.1);

                            }

                        }

                        &.cat_one{
                            .icon_div svg{
                                .st0{
                                    opacity:0.3;
                                    fill:#256EFF;
                                }
                                .st1{
                                    fill:none;
                                }
                                .st2{
                                    fill:#256EFF;
                                }
                            }
                        }
                        &.cat_two{
                            .icon_div svg{
                                .st0{
                                    opacity:0.3;
                                    fill:#FF595E;
                                }
                                .st1{
                                    fill:#FF595E;
                                }
                                
                            }
                            
                        }
                        &.cat_three{
                            .icon_div svg{
                                .st0{opacity:0.3;fill:#2FBF71;}
                                .st1{fill:none;}
                                .st2{fill:#2FBF71;}
                            }
                            
                        }
                        &.cat_four{
                            .icon_div svg{
                                .st0{
                                    
                                    fill:none;
                                }
                                .st1{
                                    fill:#F7BA24;fill-opacity:0.3;
                                }
                                .st2{
                                    fill:#F7BA24;
                                }
                            }
                            
                        }
                    }
                }
            }
            
        }


    }
}
.page-template-homepage #category_main_section .inner_wrap #all_category .all_cat_wrap .title{
    display: none;
}
// CATEGORY MAIN SECTION ENDS

/* Chat animation starts (693 X 496) */
.chat-anim-block{
    max-width: 693px;
    height:496px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.09);
    background: #fff;
    @media all and (max-width:767px){
        max-width: 300px;
        margin:0 auto;
        height:215px;
    }
    // .chat-other-area{
    //     position: absolute;
    //     left:0;
    //     top:0;
    //     bottom:0;
    //     right:0;
    //   //  background: url(images/chat.png) no-repeat;
    //     background-size: 100% auto;
    // }
    .chat-anim-chat-area{
        position: relative;
        top:-40px;
        height:1200px;
        background: url(images/chat-content-1.png) no-repeat;
        background-size: 100% auto;
        opacity: 0;
        animation: mymove 8s infinite;
                animation-delay: 2s;
        @media all and (max-width:767px){
            height:600px;
        }
    }

    @keyframes mymove {
       0%{
           top:-40px;
           opacity: 0;
       }
       7%{
            top:-40px;
            opacity: 1;
       }
        14%{
                top:-40px;
                opacity: 1;
        }
       21%{
            top:-110px;
        }
        28%{
            top:-110px;
        }
        35%{
            top:-240px;
        }
        42%{
            top:-240px;
        }
        49%{
            top:-350px;
        }
        56%{
            top:-350px;
        }
        63%{
            top:-590px;
        }
        70%{
            top:-590px;
        }

        77%{
            top:-680px;
        }
        84%{
            top:-680px;
            opacity: 1;
        }
        91%{
            top:-680px;
            opacity: 0;
        }
        100%{
            opacity: 0;
        }
      }

      @media all and (max-width:767px){
        @keyframes mymove {

            0%{
                top:-10px;
                opacity: 0;
            }
            7%{
                 top:-10px;
                 opacity: 1;
            }
            14%{
                 top:-10px;
                 opacity: 1;
            }
            21%{
                 top:-35px;
             }
             28%{
                 top:-35px;
             }
             35%{
                 top:-105px;
             }
             42%{
                 top:-105px;
             }
             49%{
                 top:-135px;
             }
             56%{
                 top:-135px;
             }
             63%{
                 top:-245px;
             }
             70%{
                 top:-245px;
             }
     
             77%{
                 top:-275px;
             }
             84%{
                 top:-275px;
                 opacity: 1;
             }
             91%{
                 top:-275px;
                 opacity: 0;
             }
             100%{
                 opacity: 0;
             }
           }
      }
   
}


#commmunicate_section{    
    &.focused{
        .chat-anim-block{
            .chat-anim-chat-area{
                
            }
        }
    }
}
/* Chat animation ends */