body.page-template-industries-sectors{
    .headerWrapper{
        margin-bottom: 0;
    }
}

#industries_sectors{
	// Banner section starts
	.banner_section{
		position: relative;
        padding-top: 24px;
		&:before{
			content:'';
			display: block;
			background: url(images/industries_bg_banner.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: absolute;
			left:0;
			top:0;
			right:0;
			bottom:0;
			opacity: 0.18;
		}
		&:after{
			content:'';
			display: block;
			position: absolute;
			background: rgba(255,255,255,0.66);
			opacity: 0.18;
			left: 0;
			right:0;
			top:0;
			bottom:0;
		}
		.container{
			position: relative;
			z-index: 1;
		}
		.inner_wrap{
			.parent_div{
				&.flex_view_xs.center{
					align-items: flex-end;
					-webkit-align-items: flex-end;
				}
				.image_div{
					width: 50%;
					@media(max-width: 767px){
						width: 100%;
						order:2;
						max-width: 300px;
						margin:0 auto;
					}
				}	
				.text_div{
					width: 50%;
					@media(max-width: 767px){
						width: 100%;
					}
					.text_wrap{
						padding-left: 114px;
						padding-top: 30px;
						@media(max-width: 767px){
							padding-left: 70px;
							padding-top: 45px;
						}
						.top_ul{
							.top_li{
								margin-bottom: 21px;
								.descr{
									.header{
										font-size: 18px;
										font-weight: 500;
										margin-bottom: 6px;
										position: relative;
										span.icon{
											position: absolute;
											display: inline-block;
											left: -77px;
											top: 0;
											@media(max-width: 767px){
												left: -55px;
											}
											svg{
												width: 35px;
												height: 35px;
											}
										}
									}
									.descr{
										margin:0;
										@media(max-width: 767px){
											text-align: left;
											font-size: 16px;
											line-height: 26px;
										}
									}
								}
								&:nth-child(4) {
									.descr{
										.header{
											span.icon{
												svg{
													height: 44px;
													width: 44px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	// Banner section ends
	
	// Overview section starts
	.overview_section{
		.inner_wrap{
			.section_title{
				margin-top: 108px;
				margin-bottom: 86px;
				@media(max-width: 767px){
					margin-top: 90px;
					margin-bottom: 55px; 
				}
				h3.title{
					position: relative;
					font-size: $inner-page-main-title-font-size;
					line-height: $inner-page-main-title-line-height;
					font-weight: $inner-page-main-title-font-weight;
					@media(max-width: 767px){
						margin-top: 90px;
						margin-bottom: 55px; 
						font-size: $inner-page-main-title-font-size-responsive;
						line-height: $inner-page-main-title-line-height-responsive;
					}
				}
			}
			.features_list{
				padding-top: 24px;
				max-width: 100%;
				margin: 0 auto;
				ul.feature_ul{
					li.feature_li{
						width: 33.3%;
						padding: 0px 0 92px 103px;
						@media(max-width: 767px){
							width: 100%;
							padding: 0px 0 90px 35px;
						}
						@media(min-width: 768px)and(max-width: 1024px){
							width: 50%;
							padding: 0px 0 109px 85px;
						}
						.feature{
							.feature_title{
								font-weight: 500;
								font-size: 17px;
								margin: 0;
								position: relative;
								@media(max-width: 767px){
									font-size: 18px;
								}
								.icon{
									position: absolute;
									left: -30px;
									svg{
										width: 100%;
										height: 100%;
										max-width: 24px;
										vertical-align: sub;
									}
								}
							}
							.feature_descr{
								margin: 4px 0px 0 0;
								@media(max-width: 767px){
									text-align: left;
								}

							}
							.learn_more{
								display: inline-block;
								margin-top: 7px;
								@media(max-width: 767px){
									margin-top: 14px;
								}
							}
						}

						&:nth-child(3n){
							padding-left: 110px;
							@media(max-width: 767px){
								padding-left: 50px;
							}
							@media(min-width: 768px)and(max-width: 1024px){
								padding-left: 85px;
							}
						}
					}
				}
			}

		}
	}
	// Overview section ends

	
}