.automate-workflow-section{
    padding-top:63px;
    position: relative;
    padding-bottom:$section-space;
    min-height: $banner-height;
    @media all and (max-width:767px){
        padding-bottom:$section-space-responsive;
    }
    &:before{
        content:'';
        display: block;
        position: absolute;
        left:0;
        right:0;
        top:0;
        bottom:127px;
        background: $background-color;
        @media all and (max-width:767px){
            bottom:7px;
        }
    }
    .container{
        position: relative;
    }
    h1{
        font-size: $main-title-font-size-responsive;
        line-height: $main-title-line-height-responsive;
        margin-bottom:$main-title-margin-bottom;
        font-weight: $main-title-font-weight;
        @media all and (min-width:768px){
            font-size: $main-title-font-size;
            line-height: $main-title-line-height;
        }
        color:$Header-title;
        
        .square-box-wrapper{
            display: inline-block;
        }
        
        .box1{
            right: 23px;
            top: -1px;
            width: 12px;
            height: 12px;
            @media all and (max-width:767px){
                right:23px;
                top:-21px;
            }
        }
    }
    p{
        font-size: $hero-sub-title-font-size;
        line-height:$hero-sub-title-line-height ;
        margin-bottom:$hero-sub-title-margin-bottom;
        @media all and (max-width:767px){
            font-size: $hero-sub-title-font-size-responsive;
            line-height:$hero-sub-title-line-height-responsive;
        }
    }
    .integration-main-illustration-wrapper{
        max-width: 1206px;
        margin-left: auto;
        padding-left: 380px;
        @media all and (max-width:990px){
            padding-left:0;
        }
        img{
            width: 100%;
            height:auto;
            max-height: 568px;
            object-fit: contain;
        }
    }
    .aws-caption-wrapper{
        width:480px;
        margin:0 auto 30px;
        .square-box-wrapper{
            font-weight: $font-black;
        }
        @media all and (min-width:991px){
            position: absolute;
            left: 20px;
            top: 57px;
        }
        @media all and (max-width:990px){
            text-align: center;
        }
        @media all and (max-width:767px){
            width:285px;
        }
        
        
    }
}
.integration-three-col-wrapper{
    padding-top:$section-space;
    padding-bottom:$section-space;
    @media all and (max-width:767px){
        padding-top:$section-space-responsive;
        padding-bottom:$section-space-responsive;
    }
}
.itc-column{
    text-align: center;
    @media all and (min-width:768px){
        float: left;
        width:33.3%;
        padding-bottom:30px;    
        &:last-child{
            padding-bottom:0;
        }
    }
    @media all and (max-width:767px){
        padding:15px 0;
    }
    .itcc-top-text{
        font-size: 35px;
        line-height: 45px;
        color:$Header-title;
        font-weight: $font-black;
        @media all and (max-width:767px){
            font-size: 34px;
        }
    }
    .itcc-bottom-text{
        font-size: 25px;
        line-height: 35px;
        color:$Header-title;
        font-weight: 300;
        @media all and (max-width:1160px){
            font-size: 24px;
            line-height: 40px;    
        }
    }
}

.integration-we-help-you-section{
    text-align: center;
    padding-bottom:$section-space;


    @media all and (max-width:1000px){
        .square-box-wrapper{
            display: inline-block;
        }
    }
    @media all and (max-width:767px){
        padding-bottom:$section-space-responsive;
    }
    h1{
        font-size: $inner-title-font-size;
        line-height: $inner-title-line-height;
        margin-bottom:$inner-title-margin-bottom;
        font-weight: $inner-title-font-weight;
        @media all and (min-width:768px){
            margin: 0 auto 27px;
        }
        @media all and (max-width:767px){
            font-size: $inner-title-font-size-responsive;
            line-height: $inner-title-line-height-responsive;
        }
        
        max-width: 1000px;
        @media all and (max-width:767px){
            .square-box-wrapper{
                display: inline-block;
                .box1{
                    right: -4px;
                    top: -30px;
                }
            }
        }
        
    }
    p{
        max-width: 990px;
        margin: 0 auto 25px;
    }
    .request-link-wrapper a{
        color:$theme;
        font-size: 16px;
        line-height: 22px;
        font-weight: 200;
        text-decoration: underline;
    }
    .box1{
        position: absolute;
        right: -24px;
        top: -10px;
        width: 18px;
        height: 18px;
        @media all and (max-width:1000px){
            right:-14px;
        }
    }
}
.integration-logo-wrapper{
    max-width: 625px;
    margin:0 auto;
    padding-bottom:$section-space;
    @media all and (max-width:767px){
        padding-bottom:$section-space-responsive;
    }
    .integration-logo-item{
        float: left;
        width:50%;
        padding:15px;
        @media all and (max-width:767px){
            float: none;
            width: auto;
        }
        .integration-logo-item-inner{
            padding: 20px;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
            border-radius: 7px;
            img{
                width: 70%;
                height: 105px;
                object-fit: contain;
                display: block;
                margin: 0 auto;
            }
        }
    }
}

.nis-left-column{
    @media all and (min-width:991px){
        float: left;
        width: 55%;
    }
    img{
        width: 839px;
        height:auto;
        float: right;
        @media all and (max-width:990px){
            width:100%;
            float: none;
        }
    }
}
.native-integration-section{
    position: relative;
    @media all and (min-width:991px){
        &:before{
            content:'';
            display: block;
            position: absolute;
            left:0;
            right:0;
            bottom:0;
            background: $background-color;
            height:175px;
        }
}
    .container{
        position: relative;
        z-index: 1;
        @media all and (max-width:990px){
            padding-bottom:60px;
        }
        @media all and (max-width:767px){
            padding-bottom:30px;
        }
    }
    
}
.nis-right-column{
    padding:0 15px;
    .square-box-wrapper{
        font-weight: inherit;
    }
    @media all and (min-width:991px){
        float: right;
        width: 45%;
        padding-left: 120px;
    }
    @media all and (min-width:1251px){
        position: relative;
        left: 32px;
    }
    @media all and (max-width:1150px){
        padding-left:60px;
    }
    @media all and (max-width:990px){
        text-align: center;
        padding-left:15px;
        margin:0 auto;
    }
    @media all and (max-width:767px){
        padding-top:30px;
    }
    padding-top: 84px;
    max-width: 590px;
    
    h2{
        color:$Header-title;
        font-size: $inner-title-font-size;
        line-height: $inner-title-line-height;
        margin-bottom:$inner-title-margin-bottom;
        font-weight: $inner-title-font-weight;
       @media all and (max-width:767px){
        font-size: $inner-title-font-size-responsive;
        line-height: $inner-title-line-height-responsive;
       }
        .box1{
            left: -24px;
            top: -17px;
            width: 18px;
            height: 18px;
        }
    }
    p a{
        color: $theme;
        text-decoration: underline;
    }
   
}
.connect-slack-env-section{
    background: $background-color;
    padding-top:$section-space;
    overflow: hidden;
    @media all and (max-width:990px){
        padding-bottom:$section-space;
    }
    @media all and (max-width:767px){
        padding-top:$section-space-responsive;
        padding-bottom:$section-space-responsive;
    }
}
.cles-left-column{
    @media all and (min-width:991px){
        float: right;
        width: 50%;
        position: relative;
        left: -47px;
    }
    img{
        width:848px;
        height:auto;
        display: block;
        margin:0 auto;
        @media all and (max-width:990px){
            width:100%;
        }
    }
    
}
.cles-right-column{
    @media all and (min-width:991px){
        float: left;
        width: 50%;
    }
    padding-top: 106px;
    max-width: 380px;

    .square-box-wrapper{
        display: inline-block;
        font-weight: inherit;
    }
    h2{
        font-size: $inner-title-font-size;
        line-height: $inner-title-line-height;
       font-weight: $inner-title-font-weight;
        color:$Header-title;
        margin-bottom:$inner-title-margin-bottom;
        @media all and (max-width:767px){
            font-size: $inner-title-font-size-responsive;
            line-height: $inner-title-line-height-responsive;
           }
        .box1{
            right: 5px;
            top: -3px;
            width: 12px;
            height: 12px;
            @media all and (max-width:767px){
                top: -17px;
            }
        }
    }
    @media all and (max-width:991px){
        text-align: center;   
        margin:0 auto;     
        h2{
            margin: 0 auto 20px;
        }
    }
    @media all and (max-width:767px){
        padding-top:30px;
    }
}

#integration-contact-form{
    @media all and (max-width:767px){
        padding:15px;
    }
    .wpcf7-response-output{
        border: 0;
        text-align: center;
        margin: 10px 0 0;
    }
    .wpcf7-mail-sent-ok{
        color: $green;
    }
    .wpcf7-validation-errors{
        color: $primary;
    }
    .form-btn{
       width:$btn-width;
       margin-left:auto;
    }
}
#tinymce .automate-workflow-section{
    height:775px;
}

.integration-section{
    h1 { 
        strong{
            font-weight: inherit;
        }
    }
    h2{
        strong{
            font-weight: inherit;
        }
    }
}