.lw-images-wrapper{
    max-width: 1122px;
    position: relative;
    margin-bottom:172px;
    left: -88px;
    @media all and (max-width:1149px){
        margin-bottom:30px;
        left:0;
    }
}
.leadership-overview-section{
    padding:$section-space 0;
    @media all  and (max-width:1149px){
        padding:$section-space-responsive;
    }
}
.lw-title{
    font-size: 37px;
    color: $Header-title;
    font-weight: 300;
    line-height: 60px;
    max-width: 863px;
    margin: 0 auto 145px;
    @media all  and (max-width:1149px){
        max-width: 995px;
        margin-bottom:30px;
    }
    @media all  and (max-width:767px){
        font-size: 22px;
        line-height: 28px;
        text-align: center;
    }
    strong{
        font-weight: 400;
    }
}

.lw-images-wrapper{
    .lw-images-inner{
        display: flex;
        flex-wrap: wrap;
        @media all and (max-width:1149px){
            overflow: hidden;
        }
        .lw-image-item{
            width: 14.28%;
            position: relative;
            @media all and (max-width:1149px){
                width:33.3%;
                img{
                    max-width:100%;
                    height: auto;
                    display: block;
                    margin:0 auto;
                }
            }
            @media all and (max-width:767px){
                width:100%;
                text-align: center;
            }
            .lw-image-item-inner{
                display: inline-block;
                position: relative;
            }
            
            .lw-image-caption{
                position: absolute;
                left: 17px;
                right: 17px;
                top: 20px;
                bottom: 40px;
                background: rgba(255, 255, 255, 0.42);
                text-align: center;
                padding-top: 74px;
                opacity: 0;
                -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
                .lwi-title{
                    color:$white;
                    text-transform: uppercase;
                    font-size: 22px;
                    line-height: 32px;
                    font-weight: 500;
                    margin-bottom:8px;
                }
                .lwi-caption{
                    color:$white;
                    font-size: 22px;
                    line-height: 32px;
                    font-weight: 300;
                }
            }
            &:hover .lw-image-caption{
                opacity: 1;
            }
            @media all and (min-width:1150px){
                &:nth-child(odd){
                    top:192px;
                    z-index: 2;
                }
                &:nth-child(even){
                    top:-27px;
                    z-index: 1;
                }
                &:nth-child(2){
                    top:-100px;
                    left:-11px;
                }
                &:nth-child(3){
                    top: 150px;
                    left: 22px;
                }
                &:nth-child(4){
                    top: -27px;
                    left: 33px;
                }
                &:nth-child(5){
                    top: 192px;
                    left: 44px;
                }
                &:nth-child(6){
                    top: -30px;
                    left: 83px;
                }
                &.odd-item{
                    z-index: 0;
                }
                &.lw-image-item7{
                    left:70px;
                    top:172px;
                }
            }
            &:hover{
                z-index: 3;
            }
        }
    }
}

.leadership-overview-section {
    text-align: center; 
    .container{
        max-width:1036px;
    }
    h2{
        margin-bottom:33px;
        @media all and (max-width:767px){
            text-align: center;
        }
    }
}

.leadership-team-banner-section {
    margin-bottom:$section-space;
    @media all and (max-width:767px){
        margin-bottom:$section-space-responsive;
    }
     img{
        width: 100%;
        height:auto;
        display: block;
     }
}


.leadership-wrapper .container{
    max-width: 1023px;
    @media all  and (max-width:1149px){
        margin-bottom:30px;
    }
}
.leadership-wrapper .our-increadible-team-section{
    margin-bottom: $section-space;
    text-align: center;
    @media all and (max-width:767px){
        margin-bottom:$section-space-responsive;
    }
}



.page-template-teampage {
    .signup-form-wrapper, .take-servey-section{
        display: none;
    }
}