.no-page-section{
    padding-bottom: 92px;
    padding-top: 51px;
    @media all and (max-width:767px){
        padding-top:0;
        padding-bottom:30px;
    }
}
.no-page-section-cover{
    text-align: center;
    img{
        max-width: 680px;
        width: 100%;
    }
    h2{
        font-size: 45px;
        margin-bottom: 45px;
        line-height: 40px;
        color: $Header-title;
        font-weight: 400;
        @media all and (max-width:767px){
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 20px;
        }
    }
}

.homebutton{
    a{
        font-size: 16px;
        font-weight: 300;
        color: #ffffff;
        text-transform: capitalize;
        line-height: 58px;
        height: 58px;
        background: #ff595e;
        padding: 0 10px;
        display: inline-block;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        -ms-border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border: 1px solid #ff595e; 
    }
}
