/*Platformpage starts ===========================================================*/
.platformMainWrapper{}
 .platform-page{
    background: $lightGray;
    position: relative;
    overflow: hidden;
}
 .platform-page .container{
     position: relative;
     z-index: 3;
     max-width: 1030px;
}
 .pagemainTitle {
    font-size: $inner-page-main-title-font-size;
    line-height:$inner-page-main-title-line-height;
    font-weight:$inner-page-main-title-font-weight;
    @media all and (max-width:767px){
        font-size: $inner-page-main-title-font-size-responsive;
        line-height:$inner-page-main-title-line-height-responsive;
    }
}
 .platform-title-wrapper .pageInnerText{
     margin-bottom: 30px;
}
 .down-arrow{
     background: url(assets/images/sprite.png) no-repeat -108px -30px;
     width: 42px;
     height: 41px;
     margin: 0 auto;
}
 .create-message-section{
    margin-bottom: 82px;
    position: relative;
}
 .chatbox{
    background: $secondary;
    width:366px;
    height:104px;
    padding: 17px 11px 0 15px;
    z-index: 2;
    border-radius:104px;
    -webkit-border-radius:104px;
    -o-border-radius:104px;
    -ms-border-radius:104px;
    -moz-border-radius:104px;
}

 .moderate-message-section .platformMessageDescription{
     max-width: 210px;
}

 .moderatorChatbox .chatbox{
     background: $theme;
     width: 390px;
}
 .moderate-message-section.selected .chatbox{
    transition-delay: 0.5s;
}
 .chatboxWrapper{
    float:left;
    margin-top: 5px;
}
 .no-sweat-block .chatboxWrapper{
    float:none;
    padding-bottom: 90px;
    position: relative;
    z-index: 1;
    margin-top: 10px;
}
 .no-sweat-block .chatboxText{
     padding-top: 26px;
}
 .no-sweat-block.selected .chatboxText div{
    transition-delay:1s
}
 .no-sweat-block .chatbox{
    float:none;
    margin: 0 auto 0;
    width: 282px;
    position: relative;
    left: -27px;
}
 .alt .chatboxWrapper{
    float:right;
    width: 50%;
    margin-top: 39px;
    position: relative;
    left: 82px;
}
 .user-thumbnail{
    width:72px;
    height:72px;
    border-radius:72px;
    -webkit-border-radius:72px;
    -o-border-radius:72px;
    -ms-border-radius:72px;
    -moz-border-radius:72px;
    border:3px solid $border;
    overflow: hidden;
    float: left;
}
 .user-thumbnail img{
    width:100%;
     height:100%;
     object-fit: cover;
}
 .chatboxText{
     font-size: 16px;
     line-height: 22px;
     color: $white;
     float: left;
     width: 100%;
     margin-left: -80px;
     margin-right: -46px;
     padding: 14px 0 0 96px;
}
 .chatboxText div{
    white-space: nowrap;
    overflow: hidden;
}


 .selected .chatboxText div{
    width:100%;
}
 .moderate-message-section.selected .chatboxText div{
    transition-delay: 1.5s;
}
 .moderate-message-section.selected .chatboxText div:nth-child(2){
    transition-delay: 2s;
}
 .chatbox-smile-icon-wrapper{
    float:left;
    margin-top: 12px;
    animation-name: bounceIn;
    -webkit-animation-name: bounceIn;
    width: 48px;
}
.chatbox-smile-icon-wrapper img{max-width:100%; height:auto;}
 .create-message-section.selected .chatbox-smile-icon-wrapper{
    display: block;
}
 .no-touch .create-message-section.selected .chatbox-smile-icon-wrapper{
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}
 .no-touch .no-sweat-block.selected .user-thumbnail{
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
 .no-sweat-block.selected .chatbox-smile-icon-wrapper{
    display: block;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
 .feedback-section.selected .chatbox-smile-icon-wrapper{
    -webkit-animation-delay: 6.5s;
    animation-delay: 3.5s;
    display: block;
}
 .platform-title-wrapper{
    margin-bottom: 33px;
    position: relative;
    z-index: 1;
    padding-top: 80px;
}
 
 .platform-title-wrapper.selected .down-arrow{
    opacity: 1;
     transition-delay: 1s;
}
 .platformMessageWrapper{
    float: right;
    width: 50%;
}
 .publish-message-inner{
    height: 465px;
}
 .alt .platformMessageWrapper{
    float:left;
}
 .platformMessage{
     max-width: 420px;
     margin-top: 0;
     margin-left: 0;
}
 .create-message-section .platformMessage{
 margin-left: 4px;
}
 .moderate-message-section{
    margin-bottom: -72px;
    position: relative;
    z-index: 2;
}
 .moderate-message-inner{
    height:350px;
}
 .moderate-message-section .platformMessage{
     margin-left: 292px;
     width: 260px;
}
 .publish-message-section{
     position: relative;
     z-index: 2;
     margin-left: 42px;

}
 .publish-message-section .platformMessageDescription{
     max-width: 237px;
}
 .publish-message-section .platformMessageWrapper{
    /* float:right;
     */
    margin-top: 0;
    margin-left: 28px;
}
 .platformMessageTitle{
     font-size: 20px;
     line-height: 30px;
     font-weight: 500;
     color: #dc1118;
     margin-bottom: 7px;
     letter-spacing: -1px;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     transition: all 0.5s ease;
     opacity:1;
}

 .create-message-section .platformMessageDescription{
     max-width: 300px;
}
.platform-title-icon i{
     font-size: 12px;
     text-align: center;
     position: relative;
     top: -6px;
     left: 9px;
}
.watchVideoLink{
     font-size: 18px;
     line-height: 30px;
     font-weight: 400;
     color: #2978fc;
     text-transform: uppercase;
     cursor: pointer;
     }
 .platform-title-icon{
     width: 30px;
     height: 30px;
     border: 2px solid #2978fc;
     border-radius:30px;
     -webkit-border-radius:30px;
     -o-border-radius:30px;
     -ms-border-radius:30px;
     -moz-border-radius:30px;
     display: inline-block;
     vertical-align: -4px;
     margin-right: 5px;
     top: -2px;
     position: relative;
     text-align: left;
     line-height: 34px;
     cursor: pointer;
}
 .platformMessageDescription{
     font-size: 16px;
     line-height: 28px;
     color: $primary;
     max-width: 377px;
     font-weight: 300;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     transition: all 0.5s ease;
     margin-bottom: 15px;
}

 .measure-section .platformMessageDescription{
     max-width: 180px;
}

 .thanks-message-section .chatbox{
     width: 260px;
    /* float: right;
     */
     margin-right: 8px;
}
 .thanks-message-section .chatboxText{
     padding-top: 24px;
}
 .thanks-message-section.selected .chatboxText div{
    transition-delay: 0.5s;
}
 .thanks-message-section.selected .chatbox-smile-icon-wrapper{
    animation-delay: 1.5s;
     -webkit-animation-delay: 1.5s;
    display: block;
}
 .thanks-message-section .chatboxWrapper{
    margin-top: 3px;
    position: relative;
    z-index: 2;
    padding-left: 36px;
    left: 0px;
}


 .thanks-message-inner{
    position: relative;
    height: 430px;
}
 .sky-dive-section{
    position:relative;
}
.plane-wrapper{position: absolute;
    z-index: 2;
    top: 670px;
    left: 50%;
    margin-left: -553px;}
 .platform-plane-image{
    margin-top:-100px;
}
 .platform-plane-image-2{
    display: none;
    top: 59px;
    margin-left: -579px;
}
 .show-plane2 .platform-plane-image-2{
    display: block;
}
 .fixed-plane .platform-plane-image{
    position: fixed;
    top: auto;
    margin-left: -579px;
    bottom: 172px;
}

 .platform-internal-icon:before{
    content:'';
    display: block;
    position: absolute;
    background: url(assets/images/sprite.png) 0 -80px;
    width: 35px;
    height: 35px;
    left: 50%;
    top:50%;
    margin: -19px 0 0 -16px;
}
 .internal-comment-count{
    background: $white;
    padding: 0px 10px 0px 11px;
    color:#dc1118;
    font-size: 16px;
    line-height: 29px;
    font-weight: 600;
    border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    -moz-border-radius:5px;
    position: absolute;
    left: 86px;
    top: 12px;
    text-align: left;
    z-index: 2;
    letter-spacing: 2px;
    white-space: nowrap;
    display: block;
    border: 1px solid rgba(0,0,0,0.1);
}
 .about-photo-block.selected .internal-comment-count{
    opacity:1;
}
 .internal-comment-count::before{
    content:'';
    display: block;
    position: absolute;
    left:-10px;
    top: 5px;
    border-right:20px solid $white;
    border-bottom: 12px solid transparent;
}
 .platform-facebook-icon, .platform-internal-icon, .platform-linkedin-icon, .platform-twitter-icon{
    width:73px;
    height: 71px;
    border-radius:73px;
    -webkit-border-radius:73px;
    -o-border-radius:73px;
    -ms-border-radius:73px;
    -moz-border-radius:73px;
    background: $white;
    position: absolute;
    left:50%;
    top: 151px;
    margin-left: -79px;
    text-align: center;
    line-height: 86px;
    border: 1px solid rgba(0,0,0,0.1);
}
 .platform-internal-icon{
    background: $primary;
    top: 228px;
    margin-left: 77px;
    transition-delay: 1s;
}
 .platform-linkedin-icon{
    top: 219px;
    margin-left: -450px;
    z-index: 2;
    transition-delay:3s;
}
 .platform-twitter-icon{
    top: 240px;
    margin-left: -372px;
    z-index: 2;
}
 .platform-facebook-icon i, .platform-linkedin-icon i, .platform-twitter-icon i{
    color:#3b5998;
    font-size: 38px;
}
 .platform-linkedin-icon i{
    color:#107bab;
}
 .linkedin-like-count{
    background: $white;
    padding: 3px 10px 5px 7px;
    color:#107bab;
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    -moz-border-radius:5px;
    position: absolute;
    left: 86px;
    top: 12px;
    text-align: left;
    height: 33px;
    letter-spacing: 2px;
    white-space: nowrap;
    border: 1px solid rgba(0,0,0,0.1);
}
 .linkedin-like-count::before{
    content:'';
    display: block;
    position: absolute;
    left:-10px;
    top: 5px;
    border-right:20px solid $white;
    border-bottom: 12px solid transparent;
}
 .linkedin-like-count i{
     font-size: 18px;
     line-height: 26px;
     display: inline-block;
     position: relative;
     top: 0px;
     margin-right: -2px;
}
 .platform-twitter-icon i{
    color:#55acee;
    position: relative;
    top: 3px;
}
 .feedback-section{
    z-index: 3;
    position: relative;
    margin-left: 229px;
    margin-right: 70px;
}
 .feedback-section .container{
    max-width: 750px;
}
 .feedback-section-inner{height: 330px;}
 .feedback-section .platformMessageWrapper{
    width: 260px;
    float: left;
    margin-left: -230px;
    margin-top: 19px;
}
 .feedback-section .chatboxWrapper{
    width: 350px;
    float: right;
    margin-top: 34px;
}
 .feedback-section .chatboxText{
     padding-top: 2px;
}

 .feedback-section .platformMessage{
    margin-top: -9px;
}
 .feedback-section .platformMessageDescription{
    max-width: 225px;
}
 .about-photo-block {
    position:relative;
    z-index: 2;
}
 .about-photo-block-inner{
    height: 415px;
}
 .about-photo-block .chatboxWrapper{
    float: none;
    margin-top: 30px;
    margin-left: 90px;
}
 .about-photo-block .chatbox{
     width: 310px;
     margin-right: 68px;
}
 .feedback-chatbox-block{
    text-align:center;
    padding-top: 128px;
    position: relative;
}
 .feedback-chatbox-block .chatboxWrapper{
    float: none;
    display: inline-block;
    position: relative;
    left: -52px;
}
 .feedback-chatbox-block .moderatorChatbox .chatbox{
     width: 395px;
}
 .feedback-chatbox-block .chatboxText{
     padding-top: 1px;
     text-align: left;
     line-height: 23px;
}
 .feedback-chatbox-block.selected .chatboxText div{
    transition-delay:0.5s
}
 .feedback-chatbox-block.selected .chatboxText div:nth-child(2){
    transition-delay: 0.7s;
}
 .feedback-chatbox-block.selected .chatboxText div:nth-child(3){
    transition-delay: 0.9s;
}
 .feedback-chatbox-block.selected .chatbox-smile-icon-wrapper{
    transition-delay: 1.5s;
     opacity:1;
}
 .measure-section{
    position: relative;
    z-index: 3;
}
 .measure-block{
    float: left;
    width: 236px;
    padding-top: 0px;
    position: relative;
    padding-bottom: 148px;
    margin-left: 130px;
}

 .platform-social-wrapper{
     max-width: 600px;
     margin: 0 auto;
     padding-top: 33px;
     position: relative;
     left: -4px;
     z-index: 3;
}
 .platform-social-inner{
    padding-bottom:70px;
    position: relative;
    z-index: 1;
}
 .platform-social-col{
    float: left;
    width:33.3%;
    padding: 5px;
}

 .selected .platform-social-col:nth-child(2){
    transition-delay:0.25s
}
 .selected .platform-social-col:nth-child(3){
    transition-delay:0.5s
}
 .platform-social-col-inner{
    border:1px solid #d3d3d3;
    position:relative;
    overflow:hidden;
    border-bottom: 11px solid #3b5998;
    padding-bottom: 0px;
    box-shadow: 15px 15px 35px -4px rgba(0, 0, 0, 0.15);
}
 .platform-social-icon{
    position:absolute;
    left: -96px;
    top: -95px;
    width:161px;
    height:161px;
    border-radius:161px;
    -webkit-border-radius:161px;
    -o-border-radius:161px;
    -ms-border-radius:161px;
    -moz-border-radius:161px;
    background: #3b5998;
}
 .twitter-col .platform-social-icon{
    background: #1da1f2;
}
 .twitter-col .platform-social-col-inner{
    border-bottom-color:#1da1f2;
}
 .twitter-col .platform-icon i{
    color:#1da1f2;
}
 .twitter-col .platform-social-icon i{
     right: 26px;
}
 .linkedin-col .platform-social-icon{
    background:#0077b5;
}
 .linkedin-col .platform-social-col-inner{
    border-bottom-color:#0077b5
}
 .linkedin-col .platform-icon i{
    color:#0077b5;
}
 .linkedin-col .platform-social-icon i{
     right: 27px;
     bottom: 29px;
}
 .platform-social-row{
    display:flex;
    padding: 10px 0 10px 83px;
    border-bottom: 1px solid #e6eef2;
    background: $white;
}
 .platform-social-count{
    width: 50%;
    text-align: left;
    font-size: 20px;
    color: $Header-title;
}
 .platform-icon{
    width: 50%;
    text-align:center;
}
 .platform-icon i{
    font-size: 22px;
    color:#3b5998;
}
 .platform-icon i.fa-thumbs-up{
     position: relative;
     top: 4px;
     left: -2px;
}
 .platform-icon i.fa-comment{
     position: relative;
     top: 1px;
}
 .platform-no-sweat-text-block{
     position: relative;
}
 .platform-no-sweat-text-block-inner{
    padding-bottom: 200px;
    position: relative;
    z-index: 1;
}
 .platform-no-sweat-text-block h2{
 font-size: 30px;
     line-height: 36px;
    color:$white;
    font-weight: 700;
    margin-bottom: 15px;
}

 .platform-no-sweat-text-block p{
    font-size: 16px;
    line-height: 22px;
    color:$white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}
 .platform-social-icon i{
    color:$white;
    font-size: 30px;
    position: absolute;
    right: 33px;
    bottom: 25px;
}

 .platform-arrow{
    background: url(assets/images/arrow-sprite.png) no-repeat;
    width: 129px;
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -143px;
    height: 176px;
}
.platform-arrow2{background-position: -497px -230px;width: 162px;height: 120px;top: 261px;z-index: 2;transform: rotate(50deg);margin-left: -145px;}

 .platform-arrow3{
    width: 264px;
    background-position: 0 -284px;
    top: 216px;
    left: 50%;
    margin-left: -552px;
    height: 318px;
    transform: rotateY(180deg) rotateZ(-29deg);
}

 .platform-arrow4{
    width: 247px;
    background-position: 0 -175px;
    top: 126px;
    left: 50%;
    margin-left: -132px;
    z-index: 2;
    height: 330px;
}

.platform-arrow5{
    background-position: -365px -150px;
    width: 301px;
    height: 199px;
    transform: rotateY(180deg) rotateZ(60deg);
    top: 178px;
    margin-left: -426px;
}

 .platform-arrow6{
    height: 62px;
    background-position: -683px 0;
    top: 18px;
    right: 50%;
    margin-left: 0;
    margin-right: 264px;
    left: auto;
    transform: rotateY(180deg);
    width: 143px;
}

 .platform-arrow7{
    width: 80px;
    background-position: -602px 0;
    top: auto;
    left: 50%;
    margin-left: -509px;
    transform: rotateX(180deg);
    bottom: 680px;
    height: 205px;
}

 .platform-arrow8{
    height: 145px;
    background-position: -295px 0;
    top: -310px;
    left: 50%;
    margin-left: -299px;
    width: 175px;
}

 .platform-arrow9{
    width: 316px;
    background-position: 0px -205px;
    top: -65px;
    left: 50%;
    margin-left: -427px;
    height: 584px;
}

 .platform-arrow10{
    width: 33px;
    background-position: -190px 0px;
    top: 183px;
    left: 50%;
    margin-left: -405px;
    height: 129px;
}

 .platform-arrow11{
    height: 76px;
    background-position: -705px -129px;
    top: 157px;
    left: 50%;
    margin-left: 166px;
    width: 97px;
}

 .platform-arrow12{
    width: 129px;
    background-position: 0 0px;
    top: 170px;
    left: 50%;
    margin-left: -27px;
    height: 176px;
    transform: rotateY(180deg);
}

.platform-arrow13{
    width: 321px;
    background-position: -335px 0;
    top: 74px;
    left: 50%;
    margin-left: -511px;
    height: 349px;
}

 .platform-arrow14{
    width: 112px;
    background-position: -263px -353px;
    top: -16px;
    left: 50%;
    margin-left: 169px;
    height: 197px;
}

 .cloud{
    position: absolute;
}
 .cloud1, .cloud2, .cloud3{
    background: url(assets/images/cloud1.jpg) no-repeat;
    width: 1341px;
    height: 557px;
    top: 90px;
    z-index: 1;
    left: 50%;
    margin-left: -1282px;
}
 .cloud2{
    background: url(assets/images/cloud2.jpg) no-repeat;
    height: 417px;
    width: 536px;
    top: 530px;
    left: auto;
    right: 50%;
    margin-left: 0;
    margin-right: -770px;
    z-index: 1;
}
 .cloud3{
    background: url(assets/images/cloud3.jpg) no-repeat;
    height: 438px;
    width: 755px;
    margin-left: -640px;
    top: 660px;
}
 .earth-view{
    position: absolute;
    background: url(assets/images/platform-earth-view.jpg) repeat bottom center;
    bottom:0;
    width: 100%;
    height: 722px;
}

 .parachute-man-warpper{
    position: fixed;
     right:0;
     top:0;
     width:100px;
     height: 100px;
     background: #f00;
}

 .fp-auto-height.fp-section, .fp-auto-height .fp-slide, .fp-auto-height .fp-tableCell {
     height: auto !important;
}
 #create-message-section .fp-tableCell {
    vertical-align: middle;
     display: table-cell;
     vertical-align: middle;
     width: 100%;
     height: 100%;
}

/*Platformpage ends ===========================================================*/