body.page-template-podcast{
	.headerWrapper{
		margin-bottom: 0;
	}
}
#podcast_page{
	// Baner Section
	.banner_section{
		background: $green;
		padding-top: 45px;
		position: relative;
		min-height: $banner-height;
		.banner_wrap{
			position: relative;
			.banner_image{
				position: relative;
				z-index: 2;
				padding-left: 138px;
				@media(max-width: 767px){
					padding-left: 0;
				}
				@media (min-width: 768px) and (max-width: 1024px){
					padding-left: 0;
				}
				img{
					display: block;
					object-fit: cover;
					@media(max-width: 990px){
						margin:0 auto;
					}
					@media(min-width: 1024px){
						position: relative;
    					left: -110px;
					}
					@media(min-width: 768px){
						height: 559px;
						width: auto;
					}
					@media(max-width: 767px){
						width: 100%;
						max-width: 280px;
					}
				}
			}
			.blog_txt{
				position: absolute;
				top: 0;
				right: 0;
				margin-top: 16px;
				z-index: 3;
				@media(max-width: 990px){
					position: relative;
					margin-top: 25px;
					text-align: center;
				}
				a{
					display: inline-block;
					font-size: 24px;
					font-weight: $font-black;
					text-decoration: underline;
					color: $white;
					@media(max-width: 767px){
						font-size: 19px;
					}
					@media (min-width: 768px) and (max-width: 1024px){
						font-size: 20px;
					}
				}
			}
			.banner_txt{
				position: absolute;
				z-index: 3;
				top: 90px;
				right: 82px;
				max-width:520px;
				@media(max-width: 990px){
					position: relative;
					right: unset;
					top: unset;
					text-align: center;
					margin: 0 auto;
					padding-bottom: 37px;
				}
				
				.banner_title{
					color: $white;
					font-weight: $main-title-font-weight;
					font-size: $main-title-font-size;
					line-height: $main-title-line-height;
					margin-bottom: $main-title-margin-bottom;
					@media all and (max-width: 990px){
						margin:55px auto 0
					}
					@media(max-width: 767px){
						font-size: $main-title-font-size-responsive;
						line-height: $main-title-line-height-responsive;
					}
			
				}
				.banner_descr{
					color: $white;
					font-size: $hero-sub-title-font-size;
					line-height: $hero-sub-title-line-height;
					font-weight: $hero-sub-title-font-weight;
					margin-bottom: $hero-sub-title-margin-bottom;
					@media all and (max-width:767px){
						font-size: $hero-sub-title-font-size-responsive;
						line-height: $hero-sub-title-line-height-responsive;
						margin-bottom: $hero-sub-title-margin-bottom-responsive;
					}
				}

			}

			.icon_ul{
				position: absolute;
				width: 100%;
				z-index: 3;
				bottom: 90px;
				padding: 0 54px;

				
				@media (min-width: 768px) and (max-width: 1024px){
					bottom: 30px;
					padding: 0;
				}
				@media(max-width: 767px){
					position: relative;
					bottom: 0;
					z-index: 2;
				}
				
				.icon_li{
					@media (min-width: 768px) and (max-width: 1024px){
						text-align: center;
					}
					@media(max-width: 767px){
						margin-bottom: 25px;
					}
					a.icon_url{
						display: inline-block;
						@media (min-width: 768px) and (max-width: 1024px){
							max-width: 75%;
						}
					}
				}
				
			}
		}
		.overlay{
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
		//	background: url(images/background-squares-copy.png);
			background-position: 19px 56px;
			z-index: 1;
		}
	}
	// Podcast Section
	.podcast_section{
		padding:$section-space 0;
		@media(max-width: 767px){
			padding:$section-space-responsive 0;
		}
		.title{
			.section_title{
				font-weight: $font-black;
				.line_txt{
					position: relative;
					&:before{
						content: "";
						position: absolute;
						top: 40%;
						height: 4px;
						width: 30%;
						background: $primary;
						left: -38%;
					}
					&:after{
						content: "";
						position: absolute;
						top: 40%;
						height: 4px;
						width: 30%;
						background: $primary;
						right: -38%;
					}
				}
			}
		}

		.podcast{
			margin-top: 100px;
			padding: 0 54px;
			@media(max-width: 767px){
				padding: 0;
			}
			.podcast_parent{
				.image_div{
					width: 12%;
					@media(max-width: 767px){
						width: 100%;
					}
					.img{
						max-width: 90px;
						border-radius: 50%;
						margin-top: 7px;
						margin-left: 12px;
						img{
							width: 90px;
							max-width: 100%;
							height: 90px;
							vertical-align: middle;
							object-fit: cover;
							border-radius: 90px;
						}
						@media(max-width: 767px){
							margin: 0 0 50px;
						}
					}
				}
				.text_div{
					width: 88%;
					padding-left: 23px;
					@media(max-width: 767px){
						width: 100%;
						padding-left: 0;
					}
					.podcast_title{
						font-size: 33px;
						font-weight: 500;
						font-style: italic;
						color: #b3b3b3;
						margin-bottom: 15px;
						@media(max-width: 767px){
							font-size: 28px;
						}

					}
					.podcast_subtitle{
						font-size: 21px;
						font-weight: 600;
						margin-bottom: 22px;
						@media(max-width: 767px){
							font-size: 17px;
						}
					}
					.podcast_descr{
						text-align: left;
						margin-bottom:30px;
					}
					.listen_now{
						border: 1px solid $primary;
						padding: 15px 31px;
						display: inline-block;
						margin-top: 20px;
						font-size: 16px;
						font-weight: 500;
						color: $primary;
						-webkit-transition: all 0.5s ease;
						-moz-transition: all 0.5s ease;
						transition: all 0.5s ease;
						border-radius: 2px;
						-webkit-border-radius: 2px;
						-o-border-radius: 2px;
						-ms-border-radius: 2px;
						-moz-border-radius: 2px;
						&:hover{
							background: $primary;
							color:$white;
							box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
						}
					}
				}
			}
		}
	}
}