/*General starts =====*/
.pricingMainWrapper{
    .pagemainTitle{
        font-size: $main-title-font-size;
        line-height:$main-title-line-height;
        font-weight:$main-title-font-weight;
        margin-bottom:$main-title-margin-bottom;
        @media all and (max-width:767px){
            font-size: $main-title-font-size-responsive;
            line-height:$main-title-line-height-responsive;
        }
    }
}
.pricingColWrapper .pricingColInner{
    border: none;
    position: relative;
}


.haveQueTitle{
    color: $Header-title;
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 30px;
}
.haveQueTitle span{
    display: block;
    font-weight: 400;
    color: $Header-title;
    margin-bottom: 18px;
    font-size: 30px;
}
.haveQueDescription a{
    border-bottom: 1px solid $theme;
    color: $theme;
    font-weight: 300;
}
.haveQueBlock {
    padding-top: 125px;
}
.pricingColInner.pricingBorder::before{
    visibility: hidden;
}

.haveQueDescription p{
    max-width: 299px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
}


.pricingTableWrapper{
    padding-bottom: $section-space;
    @media all and (max-width:767px){
        padding-bottom: $section-space-responsive;
    }
    .container{
        max-width: 935px;
    }
}

.pricingMainWrapper .pageInnerText{
    &, p{
        font-size: $hero-sub-title-font-size;
        line-height:$hero-sub-title-line-height;
        font-weight:$hero-sub-title-font-weight;
        @media all and (max-width:767px){
            font-size: $hero-sub-title-font-size-responsive;
            line-height:$hero-sub-title-line-height-responsive;
        }
    }
    max-width: 470px;
    margin: 0 auto;    
}

/*General ends =====*/

/*Pricing hero section starts =====*/
.pricingMainWrapper {
    .pagemainTitleWrapper{
        text-align: center;
        max-width: 570px;
        margin:0 auto;
        position: relative;
        z-index: 1;
    }
}
.pricingHeroSection{
    position: relative;
    padding-bottom:$section-space;
    @media all and (max-width:767px){
        padding-bottom:$section-space-responsive;
    }
    .pricingHeroIllustration{
        position: absolute;
        top: -68px;
    }
    .pricingHeroLeftIllustration{
        left: 50%;
        margin-left: -386px;
        img{
            width:90px;
            height:auto;
        }
        
    }
    .pricingHeroRightIllustration{
        left: 50%;
        top: 44px;
        margin-left: 255px;
        img{
            width:200px;
            height:auto;
        }
    }
}
/*Pricing hero section ends =====*/

/* Covid block starts */
.covid-block{
    text-align: center;
    margin-bottom: 59px;
    p{
        text-align: left;
    }
    .covid-block-inner{
        display: inline-block;
        position: relative;
        padding-left:62px;
    }
}
.covid-block-image{
    position: absolute;
    left:0;
    top:-12px;
    width:59px;
    img{
        width:100%;
        height: auto;
    }
}

/* Covid block ends */

/*pricing column starts =====*/


.pricingTableWrapper .pricingColWrapper{
    @media all and (min-width:991px){
        box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.19); 
    }
}
.pricingColWrapper{
    display: flex;
    width:100%;
    position: relative;
    z-index: 1;
    @media all and (min-width:991px){
        border-radius: 3px 3px 0 0;
        overflow: hidden;
    }
    @media all and (max-width:1023px){
        max-width: 300px;
        margin:0 auto;    
    }
}

.pricingCol{
    text-align: center;
    flex-basis: 33.33%;
    position: relative;
    @media all and (max-width:990px){
        box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.19); 
        margin-bottom:30px;
    }
    
    .pricingColInner{
        padding: 32px 15px 40px;
        min-height: 100%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .standardCol .pricingColInner{
        box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.19);
    }
    .price-col-title{
        font-size: $hero-sub-title-font-size;
        line-height: $hero-sub-title-line-height;
        font-weight: $font-black;
        color:$white;
        text-align: center;
        padding:11px;
        background: $primary;
        @media all and (max-width:767px){
            font-size: $hero-sub-title-font-size-responsive;
            line-height:$hero-sub-title-line-height-responsive;
        }
    }
    &:nth-child(1){
        .price-col-title{
            @media all and (max-width:990px){
                border-radius:3px 3px 0 0;
            }
        }
    }
    &:nth-child(2){
        box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.19); 
        .price-col-title{
            background: $theme;
            @media all and (max-width:990px){
                border-radius:3px 3px 0 0;
            }
        }
    }
    &:nth-child(3){
        .price-col-title{
            background: $green;
            @media all and (min-width:991px){
                margin-right:-1px;
            }
            @media all and (max-width:990px){
                border-radius:3px 3px 0 0;
            }
        }
    }
    .below-title-para{
        margin-bottom:25px;
    }
    .price-billing-type{
        font-weight: $font-regular;
        color:$theme;
        margin-bottom:30px;
        font-size: $para-font-size;
        line-height: $para-line-height;
        @media all and (max-width:767px){
            font-size: $para-font-size-reponsive;
            line-height: $para-line-height-reponsive;
        }
    }
    .price-request-demo-btn-wrapper{
        margin-bottom: 77px;
        @media all and (max-width:767px){
            margin-bottom: 30px;
        }
    }
    
    &:nth-child(2){
        .request-demo-btn{
            background: $theme;
            border-color:$theme;
        }
    }
    &:nth-child(3){
        .request-demo-btn{
            background: $green;
            border-color:$green;
        }
    }
    

    .price-amount{
        font-size: $hero-sub-title-font-size;
        line-height: $hero-sub-title-line-height;
        font-weight: $font-black;
        color:$Header-title;
        @media all and (max-width:767px){
            font-size: $hero-sub-title-font-size-responsive;
            line-height:$hero-sub-title-line-height-responsive;
        }
        span{
            font-size: 20px;
            line-height: 26px;
            font-weight: $font-semi-bold;
            color:$Header-title;
            position: relative;
            left: -8px;
            top: -9px;
            @media all and (max-width:767px){
                font-size: 10px;
                line-height: 20px;
            }
        }
    }
    .price-service-block{
        margin-bottom: 25px;
        position: relative;
        .covid-block-image{
            right: -7px;
            left: auto;
            top: -30px;
        }
        @media all and (max-width:767px){
            margin-bottom: 30px;
        }        
    }
    
    .price-per{
        margin-bottom: 2px;
    }
    .price-service-block{
        p{
            margin-bottom: 0;
        }
        .service-supoort-type{
            font-size: $para-font-size;
            line-height: $para-line-height;
            color:$Header-title;
            font-weight: $font-semi-bold;
            min-height: 56px;
            @media all and (max-width:767px){
                font-size: $para-font-size-reponsive;
                line-height: $para-line-height-reponsive;
            }
        }
    }
    .price-col-feature-title{
        font-size: $para-font-size;
        line-height: $para-line-height;
        color:$Header-title;
        font-weight: $font-semi-bold;
        margin-bottom:25px;
        @media all and (max-width:767px){
            font-size: $para-font-size-reponsive;
            line-height: $para-line-height-reponsive;
        }
        span{
            font-weight: $font-light ;
        }
    }
    .price-col-feature-item{
        &, p{
            font-size: 14px;
            line-height: 28px;
            font-weight: $para-font-weight;
            color:$Header-title;
            @media all and (max-width:767px){
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}



.pricingTermContent, .basic-feature-link{
    font-size:14px; 
    line-height: 28px;
    color: $default-content;
    font-weight:$font-weight-paragraph;
    padding-bottom: 15px;
}


.basic-feature-link{color:$theme; border-bottom:1px solid $theme; padding-bottom: 0; }
.freeCol .pricingPlanDetail{max-width: 185px}
.pricingBtnWrapper a{
    @include RequestDemoButton;
    background: $green;
}
@media all and (min-width:901px){
    .freeCol .pricingBtnWrapper{
        padding-bottom:73px;
    }
}
.standardCol .pricingBtnWrapper a{background:$theme;}
.plusCol .pricingBtnWrapper a{background:$green;}
.pricingBtnWrapper{padding-bottom: 33px;}
.pricingLevevText{
    text-transform: uppercase;
    color: $Header-title;
    font-weight: $font-weight-pricing-levev-text;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    strong{
        font-weight: 500;
    }
}
.from-text{
    font-size: 31px;
    color:$Header-title;
    font-weight:500;
    text-transform: uppercase;
    @media all and (max-width:767px){
        font-size:20px;
    }
}
.from-text-inner{
    position: relative;
    left:-15px;
}
.amount-currency{
    font-size: 36px;
    color:$Header-title;
    font-weight:400;
    vertical-align: top;
    position: relative;
    top: 29px;
    left: -21px;
    @media all and (max-width:767px){
        font-size:20px;
        top:10px;
    }
}
.amount-number-wrapper{
    margin-bottom:15px;
}
.amount-number{
    font-size: 116px;
    line-height: 126px;
    color: $Header-title;
    font-weight: 400;
    position: relative;
    left: -13px;
    @media all and (max-width:767px){
        font-size:56px;
        line-height: 66px;
    }
}
/*pricing column ends =====*/

/*pricing features section starts =====*/

.pricingBasicFeatureWrapper{
    padding-bottom: 78px;
    .pageInnerTitle{
        margin-bottom: 57px; 
        margin-top: 57px;
    }
}

.basicFeatueColWrapper{
    display:flex;
    flex-flow: wrap;
}
.featureCol{
    flex-basis: 33.3%;
    text-align: center; 
    max-width: 380px; 
    margin:0 auto;
    .featureTitle{
        font-weight: 500;
        color: $Header-title;
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 7px;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}
.featureColInner{position:relative;padding: 0 20px 77px 20px;}
.featureIconWrapper{
    padding-bottom:20px; height: 48px;
    img{width:auto; height: auto; max-height: 100%;}
}

/*pricing features section ends =====*/

/*pricing compare plan section starts =====*/
.compare-plan-section{
    max-width: 895px;
    margin:0 auto;
    padding-bottom:$section-space;
    @media all and (max-width:767px){
        padding-bottom:$section-space-responsive
    }
    .compare-plan-title{
        text-align: center;
        font-size: $inner-page-main-title-font-size;
        line-height: $inner-page-main-title-line-height;
        color:#1c1c1c;
        font-weight:$inner-page-main-title-font-weight;
        margin-bottom:51px;
        @media all and (max-width:767px){
            font-size: $inner-page-main-title-font-size-responsive;
            line-height: $inner-page-main-title-line-height-responsive;
            margin-bottom:30px;
        }
        strong{
            font-weight: 400;
        }
    }
    .compare-plan-table { 
        overflow-x:auto;
        overflow-y:hidden;  
        table{
            width:100%;
            th:first-child, td:first-child{
                text-align: left;
            }        
            th, td{
                padding-left:35px;
            }
            th{
                font-weight:$font-semi-bold;
                font-size: 22px;
                line-height: 48px;
                color:#1c1c1c;
                padding-top:24px;
                padding-bottom:27px;
                text-align: center;
                border-bottom:2px solid #cccbcb;
                @media all and (max-width:767px){
                    font-size:14px;
                    line-height: 20px;
                }
            }
            td{
                font-weight: $font-medium;
                font-size: 16px !important;
                line-height: 22px !important;
                padding-top: 24px;
                padding-bottom: 24px;
                text-align: center;
                vertical-align: top;
                &.essential-col{
                    color:$primary;
                }
                &.standard-col{
                    color:$theme;
                }
                &.advanced-col{
                    color:$green;
                }
                @media all and (max-width:767px){
                    font-size:12px !important;
                    line-height: 18px !important;
                    padding-right:20px;
                }
            }
            .button-row { 
                a{
                    font-size: 16px;
                    font-weight: 300;
                    color: #ffffff;
                    text-transform: capitalize;
                    line-height: 58px;
                    height: 58px;
                    background: #ff595e;
                    padding: 0 15px;
                    display: inline-block;
                    border-radius: 2px;
                    -webkit-border-radius: 2px;
                    -o-border-radius: 2px;
                    -ms-border-radius: 2px;
                    -moz-border-radius: 2px;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                }
                .standard-col a{background: #256eff;}
                .advanced-col a{background: #2fbf71;}
            }
            tbody tr:nth-child(odd){
                background: #eeeded;
            }
            tbody tr.no-bg{
                background: none;
                td{
                    padding-bottom:0;
                    .request-demo-btn{
                        margin-bottom:0;
                    }
                }
            }
            .essential-col{
                .pricing-check-icon{
                    fill:$primary;
                }
            }
            .standard-col{
                .pricing-check-icon{
                    fill:#256eff;
                }
            }
            .advanced-col{
                .pricing-check-icon{
                    fill:#2fbf71;
                }
            }
            
            
            tfoot td{
                padding-top:80px;
                @media all and (max-width:767px){
                    padding-top:20px;
                    padding-bottom:0;
                }
            }
        }
    }
    
}
/*pricing compare plan section ends =====*/



/*pricing not ready section starts =====*/
.pricingNotreadySection {
    .container{
        position: relative;
        :before{content:'';display: block;position: absolute;left: 50%;top: -51px;background: url(assets/images/pricingNotreadyShape.png) no-repeat;width:155px;height: 195px;background-size:cover;margin-left: -410px;}
    }
} 
.notreadyTitle{font-size:16px;line-height: 22px;font-weight: 500;color:$Header-title;margin-bottom: 21px;position: relative;z-index: 1;}
.notreadyContent{max-width: 450px;margin:0 auto;}
.pricingNotreadySection{padding-bottom: 118px;}
/*pricing not ready section ends =====*/

/*pricing hounorable section starts =====*/

.honourablePricingSection{
    background:#464446;
    text-align: center;
    padding: $section-space 0; 
    @media all and (max-width:767px){
        padding:$section-space-responsive 0;
    }
    
    .pageInnerTitle{
        color:$white;
    }
    .honourablePricingContent{
        color: $white;
        max-width: 920px;
        margin:0 auto;
        padding-bottom: 37px;
       &, p{
            color:$white;
            line-height: $para-line-height;
            font-size: $para-font-size;
            @media all and (max-width:767px){
                line-height: $para-line-height-reponsive;
                font-size: $para-font-size-reponsive;
                br{
                    display: none;
                }
            }
        }
    }
}
/*pricing hounorable section ends =====*/


/*More than software section starts =====*/

.more-than-soft-section{
    overflow: hidden;
    .container{
        max-width: 1038px;
        @media all and (min-width:1131px){
            position: relative;
            left: 31px;   
        }
    }
    .more-than-soft-image-col{
        @media all and (min-width:991px){
            float: right;
            width:69%;
        }
        max-width: 645px;
        margin:0 auto;
        // @media all and (min-width:1131px){
        //     position: relative;
        //     left:-141px;        
        // }
        img{
            max-width: 100%;
            height:auto;
        }
    }
    .more-than-soft-content-col{
        @media all and (min-width:991px){
            float: left;
            width:31%;
        }
        max-width: 310px;
        margin:0 auto;
        padding-top:126px;
        @media all and (max-width:990px){
            padding-top:50px;
            text-align: center;
        }

    }
}
/*More than software section ends =====*/


/*pricing faq section starts =====*/
.pricingFaqSection{
    padding-bottom:$section-space;
    @media all and (max-width:767px){
        padding-bottom:$section-space-responsive;
    }
    .pageInnerTitle{padding-bottom: 38px;}
    .container{
        max-width: 1000px;
        margin: 0 auto;
    }
}
.faqTitle{
    color:$para-color;
    font-weight: $para-font-weight;
    position: relative;
    padding: 25px 50px 25px 0px; 
    margin-bottom: 0;cursor: pointer;
    font-size: $para-font-size;
    line-height: $para-line-height;
    @media all and (max-width:767px){
        font-size: $para-font-size-reponsive;
        line-height: $para-line-height-reponsive;
    }
}
.faqToggleHandle
{
    position: absolute;right:0;top:50%;margin-top: -10px;cursor: pointer;width: 30px;height: 30px;
    &:before, &:after{content:''; display: block; position: absolute; left:0; top:0; width:3px; height:19px; background: #246af5; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;}
    &:after{transform: rotate(90deg); }
    i{display: none;}
}


.active .faqToggleHandle:before{transform: rotate(90deg)}
.pricingFaqWrapper{padding-bottom: 53px;}
.faqContentInner{
    padding-bottom: 25px;
    p strong{
        font-weight: $font-semi-bold;
    }
}
.faqBlock{border-bottom:1px solid #ebeaea;}
.faqBlock:last-child{border-bottom:0;}
.faqContent{display: none;}
#tinymce .faqContent{display: block;}
.moreQustionSection{
    color:$Header-title; 
    font-weight: $font-weight-faqTitle; 
    font-size: $para-font-size;
    line-height: $para-line-height;
    @media all and (max-width:767px){
        font-size: $para-font-size-reponsive;
        line-height: $para-line-height-reponsive;
    }
}
.moreQustionSection a{color:$theme; border-bottom:1px solid $theme; }
.faqContentInner{
    .faqContentContent{
        padding-left: 30px;
        position: relative;
        .faqContentBold{
            position: absolute;
            left: 0;
        } 
    } 
}

@media all and (max-width:767px){
    .faqContentInner p {
        text-align:left;
    }
}
/*pricing faq section ends =====*/





/*Pricing ends ===========================================================*/

/*Editor css starts ===========================================================*/

#tinymce {
    .pricingHeroLeftIllustration{
        min-height: 419px;
        min-width: 177px;
        border:1px dotted #000;
        
    }
    .pricingHeroRightIllustration{
        min-height: 233px;
        min-width: 278px;
        border:1px dotted #000;
        
    }
    .pricingImgWrapper{
        min-height: 165px;
        border:1px dotted #000;
    }
    .featureIconWrapper{
        min-height: 48px;
        border:1px dotted #000;
    }
}

/*Editor css ends ===========================================================*/