.demoBtnBlock .appAvaibilityText{
    float: left;
}

.demoBtnBlock .accountAvaibilityText {
    float: right;
    margin-top: 2px;
}
.demoBtnBlock{
    max-width: 375px;
}

.book-demobutton a.free-trial-link{
    @include RequestDemoButton;
    margin-bottom: 8px;
}
.entry-content .book-demobutton a.free-trial-link{
    line-height: 58px !important;
}
.email-popup-text{
    position: absolute;
    bottom: 100px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
    background: $white;
    width: 360px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
    &:before{
        content:'';
        display: block;
        position: absolute;
        left: 50%;
        background: url(assets/images/popup-arrow.png);
        bottom: -19px;
        margin-left: -16px;
        width: 32px;
        height:21px;
    }
        
}
.error{
    .email-popup-text{
        opacity: 1;
        visibility: visible;
    }
}
.error .email-popup-text{
    color:$primary;
}
.success{
    color:$green;
}
.demoBox{
    .um-field-error{
        background: $white !important;
        color: rgb(61, 22, 22) !important;
        box-shadow: 0 0 4px 0 #000 !important;
        padding: 10px;
        position: relative;
        margin-bottom: 20px;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        -ms-border-radius: 2px;
        -moz-border-radius: 2px;
        min-height: 40px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        position: absolute;
        left: 0;
        right: 0;
        top:-51px;
        color:$primary !important;
        font-weight: 200 !important;
        text-align: center;
    }
    .um-field-error:before{
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
        border-top: 10px solid #aaa;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
    .um-field-arrow{
        display: none;
    }
    .um-field-arrow{
        color:$white !important;
    }
    }


.demoBox {
       position: relative;
        z-index: 1;
        .um-field:first-child{
            padding-top:0;
        }
    .um{margin-bottom:-15px !important;}
    .rmfield{display: none;}
    .rminput{display: block;width: auto;float: none;padding: 0;
        .country-dropdown-wrapper .fa:before{
            content:"\f0dd";
            font-family: "Font Awesome 5 Free";
            position: absolute;
            right: 0;
            top: 0;
            margin-right: 10px;
            margin-top:20px;
        }
        select{
            padding:10px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: relative;
          }
    }
    .rmrow{padding:0 0 20px;}
    .selected-flag{margin-top: 7px;}
    .um .um-form input[type=text]:focus, .um .um-form input[type=tel]:focus, .um .um-form input[type=number]:focus, .um .um-form input[type=password]:focus, .um .um-form .um-datepicker.picker__input.picker__input--active, .um .um-form .um-datepicker.picker__input.picker__input--target, .um .um-form textarea:focus{
        border: 1px solid $primary !important;
    }
}

.demo-by-email-box .um .um-form{
    input[type=text], input[type=number], [type=tel], input[type=password], textarea{
        @include inputStyle;
    }
    .select2.select2-container .select2-selection{
        @include inputStyle;
    }
}
.demo-by-email-box{
    .select2.select2-container .select2-selection .select2-selection__arrow:before{line-height: 57px;}
    .select2-container .select2-selection--single .select2-selection__rendered{padding-left:0;}
    .um-field-select .um-field-area.um-field-area-has-icon .select2-selection__rendered{text-indent: 0; text-transform: capitalize}
    .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 58px;}
    .um input[type=submit].um-button {
        @include primaryButton;
        display: none;
    }
    .um input[type=submit].um-button:hover, .um a.um-button:hover{ background: $primary;
        border: 1px solid $primary;
    }
    input::-webkit-input-placeholder { /* Edge */
       text-transform: capitalize;
      }
      
      input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        text-transform: capitalize;
      }
      
      input::placeholder {
        text-transform: capitalize;
      }
}
.demoMailForm {
    max-width: 600px;
    input:focus, .demoMailForm textarea:focus, .demoMailForm select:focus{border-color:$primary !important;}
}
.demoFormBtn .demoBtnBlock {
    max-width: 600px;
}



.uimob800 ~ .demoFormBtn, .uimob800 ~ .rde-checksbumit-wrapper{opacity: 1;}
.demoMailImage .signupFormImage {
    float: right;
    max-width: 640px;
    position: absolute;
    left: 50%;
    top: 150px;
    margin-left: -120px;
    margin-top: 0;
}



.rde-checksbumit{
    @include primaryButton; 
    width: 100%;
}

#footer .book-demo{
    max-width: 370px;
    margin: 0 auto
}
.book-demo{
    text-align: center;
    h2{
        font-size: 25px;
        line-height: 30px;
         margin-bottom: 30px;
         font-weight:$font-light;
         @media all and (max-width:767px){
             font-size: 18px;
         }
      > span{
          position: relative;
      }
      .box1{
        left: 246px;
        top: -41px;
        width: 18px;
        height: 18px;
        @media all and (max-width:767px){
            left: 176px;
            top: -34px;
        }
      }
      .box2{
        left: 217px;
        top: -13px;
        width: 12px;
        height: 12px;
        @media all and (max-width:767px){
            left: 157px;
            top: -11px;
        }
      } 
    }
    h4{
        @include Paragraph;
        padding-bottom: 37px;
    }
}
.disappear{position: absolute; left: -999em; opacity: 0;}

#footer .book-demobutton{text-align: center;}

/* Request a demo by email css ends */
@media all and (max-width:767px){
    .demo-by-email-box {
        .demoBox  .demoHeading h1{
           font-size:20px;  
        }
    }
    .demoFormBtn{
        margin-top: 10px;
    }
}