.demo-by-email-box{
    margin-bottom:$section-space;
    @media(max-width: 767px){
        margin-bottom:$section-space-responsive;
    }
    .demoBox{
        position: relative;
        z-index: 1;
        min-height: unset;
        text-align: center;
        .demoHeading{
            .demoMailForm{
                margin: 0 auto;
                max-width: 467px;
                @media(max-width: 767px){
                    width: 100%;
                }
            }

        }
    }
    .demoMailImage{
        .signupFormImage{
            float: unset;
            position: absolute;
            top: 65%;
            left: 70%;
            margin-left: unset;
            img{
                width: unset;
            }
        }
    }
}
