@media all and (max-width:1100px){
    .mainBannerIllustratorWrapper{position: relative;width: 520px;margin: 0 auto;left: -33px;top: 0;}
    .mainBannerCaptionWrapper{
        float: none;
        width:auto;
        text-align: center;
        padding-bottom: 30px;
        .signupForm{
            margin:0 auto;
        }
    }
    .mainBannerInner{padding: 0 20px;}
    .mainBannerWrapper{margin-bottom: 20px;}
    .featurePageInnerTitle {
        margin: 0 auto 22px;
    }
    .featureTabBtnWrapper {
        padding-top: 0px;
        
    }
    .signup-form-wrapper .container,
    .footer-quick-links-section .container{left:0;}
    
    
    .platform-arrow4{
        margin-left: 0;
        left: 340px;;
    }
    .about-image-col, .about-text-col-inner{padding:0 15px;}
    .global-think-section .about-image-col img, .solution-section .about-image-col img, .elephant-room-section .about-image-col img, .elephant-room-section .about-text-col-inner{left:0;}
    .vision-mission-column{padding:0 20px;}
    .vision-mission-column-inner{margin:0 auto;}
    .featureFeedTabContentCol{left:0;padding-left: 80px;}
    .featureImageCol{
        width: 40%;
    }
    .featureContentCol{
        width: 60%;
        padding-left: 20px;
    }
    .featureContentColInner{max-width:590px;}
    .featureCampaignImg{left:0;}
    .featurePointsContentCol{left:0;}
    .featurePointsImageCol{left: -140px;}
    
    
    /* Pricing page ends */
    .platform-arrow1{
        margin-left: -86px;
    }
    .create-message-section .platformMessage{margin-left:auto}
}
@media all and (min-width:990px) and (max-width:768px){
.page-template-pricingpage .headerWrapper{
    margin-bottom:155px;
}
}
@include mq('phone-and-tablet'){
     /* Pricing page stats */
     .mega-indicator svg{
        fill:#fff;
        width:25px;
        height:20px;
    }
    .mega-menu-wrap{
        float: none;
        margin-right:0;
    }
    body.show-menu{overflow: hidden;}
        .mainNav{position: fixed;left: auto;top:0;right: -100%;bottom:0;overflow-y:auto;/* overflow-x:hidden; *//* text-align: left; */background: $primary;width: 100%;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;transition: all 0.5s ease;z-index: 1;}
        .show-menu .mainNav{right:0;}
        .mainNav ul#mega-menu-top{
            padding: 20px 0;
        }
        .mainNav ul#mega-menu-top > li{display: block;float: none;text-align: left;margin-right: 0;}
        #mega-menu-wrap-top #mega-menu-top > li.mega-menu-item > a{
            height: auto;
            line-height: 40px;
            font-size: 24px;
            color: $white;
            font-weight: 500;
            text-transform: capitalize;
            padding: 10px 20px;
            &.menu-toggle-handler{
                position: absolute;
                right:0;
                top:12px;
                width:30px;
                height:30px;
                transform: rotate(0deg);
                -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
                background: none !important;
                &.active{
                    transform: rotate(-180deg);
                }
                &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    border-top: 10px solid #fff;
                    border-left: 10px solid transparent;
                    width: 1px;
                    border-right: 10px solid transparent;
                    height: auto;
                    opacity: 1;
                    transform: scale(1);
                    left: 50%;
                    top: 50%;
                    margin: -5px 0 0 -10px;
                    background: none;
                }
            }
        }
        
        .mainNav ul li a:hover, .mainNav ul li.current-menu-item > a{
            background: rgba(255, 255, 255, 0.18);
            color: $white;
        }
        .menu-main-menu-container{float:none; margin-right: 0;}
        .menu-mobile-menu-container{
            padding-bottom:58px;
        }
        .mainNav ul li.special-link, .start-link-wrapper{
            bottom: 0;
            left: 0;
            text-align: center;
            color: $primary;
            border: 0;
            position: absolute;
            background: $white;
            right: 0;
        }
        .mainNav ul li.special-link a, .start-link-wrapper a{
            color: $primary;
            text-transform: uppercase;
            border: 0;
            font-size: 26px;
            line-height: 58px;
            font-weight: 600;
        }
        .mobileMenuTitle{display: block;font-size: 16px;line-height: 22px;color: $white;padding: 10px 15px;border-bottom: 1px solid rgba(255,255,255,0.3);text-transform: uppercase;font-weight: 500;}
        .mobileMenuTitle .close-menu{float: right;color: $white;font-size: 62px;display: block;width: 30px;text-align: center;line-height: 28px;}
        #logo{
            width: 110px;
        }
        .mobile-menu-logo-wrapper{float:left;}
        .mobile-menu-logo{width: 55px; height:55px;background: $white;overflow: hidden;padding: 0px 10px 0px 10px;border-radius: 10px;-webkit-border-radius:10px;-o-border-radius:10px;-ms-border-radius:10px;-moz-border-radius:10px;}
        .mobile-menu-logo svg{width: 190px;}
        .headerRight{padding-left:0; margin-left:0; width:auto;}


    /* Header css */
    .mainNav ul#mega-menu-top > li{margin-right:10px;}
    .mainNav ul li a{min-width: 0;padding: 0 10px;}

    .menuNavShapeWrapper{position: absolute;left:0;right:0;top:0;bottom:0;z-index: 1; overflow: hidden;}
    .menuNavShape{position: absolute;right: 0px;top: 50%;background: rgba(0, 0, 0, 0.11);width: 200px;height: 200px;transform: rotate(30deg);margin-top: -110px;}
    .menuNavShape2{background:url(assets/images/menuWaveImage.png) no-repeat;background-size: cover;margin-top: 0;left: -10px;top: 0;}
    .menuNavShape3{background:url(assets/images/menuWaveImage.png) no-repeat;background-size: cover;margin-top: -30px;left: 200px;}
    .manuNavWrapper{position:relative;z-index:1;min-height: calc(100vh);}

    /* Header css ends*/
    .employeeBuildTextWrapper{margin-left: -276px;}
    .featureMainBox .featureImageCol {
        padding-left: 0px;
    }
    #footer-bottom-section{padding:10px;}
    .footer-social-links-wrapper{ text-align: center;}
    .footer-social-links-wrapper li{float:none; display: inline-block;}
    .footer-copyright-block{float: none; text-align: center; margin-left: 0; padding-left: 0;}  
    .footer-bottom-left-links li{float:none; display: inline-block;}
    
    /* Platform page css */
    .platform-arrow{top: 0;margin-left: -14px;position: relative;left: 50%;}
    .platform-arrow2-1{}
    .platform-title-wrapper{padding-top: 100px;}
    .moderate-message-section .platformMessage{margin: 0 auto;}
    .thanks-message-section .chatbox{margin: 0 auto 0;}
    .thanks-message-inner{height:auto;}
    .moderate-message-inner{height:auto;}
    .moderate-message-section{margin-bottom: 0;}
    /* Platform page css ends */
    .chatboxWrapper{float: none;
        margin-top: 0;
        margin-bottom: 20px;}
        .no-sweat-block .chatboxWrapper{
            padding-bottom: 30px;
        }
        .platform-no-sweat-text-block-inner{
            padding-bottom: 30px;
        }
        .platformMessageWrapper{width: auto; float: none;}
        .chatbox{margin:0 auto;}
        .platformMessage{margin:0 auto; text-align: center;}
        .platformMessageDescription{margin:0 auto;}
        .platform-arrow{background-position: -190px 0;width: 34px;height: 133px;transform: rotate(19deg);margin-bottom: 30px;}
        .create-message-section{
            margin-bottom: 0;
        }
        .platform-arrow14{display:none;}
        .platform-plane-image, .platform-plane-image-2{display:none;}
        .alt .chatboxWrapper{float: none;left:0;width:auto;margin-top: 0;}
        .alt .platformMessageWrapper, .platformMessageWrapper{margin: 0 auto 30px;float: none;}
        .publish-message-section{margin-bottom: 0;margin-left: 0;}
        .publish-message-inner{height:auto;}
        .about-photo-block .chatbox{margin:0 auto;}
        .about-photo-block .chatboxWrapper{margin-left:0;margin-top: 0;}
        .about-photo-block-inner{height:auto;}
        .feedback-section .platformMessageWrapper{float: none;margin: 0 auto 30px;}
        .feedback-section{margin:0;}
        .feedback-section .chatboxWrapper{float: none;margin: 0 auto 30px;}
        .feedback-section-inner{padding-bottom: 0;height: auto;}
        .measure-block{margin:0 auto;float: none;text-align: center;padding-bottom: 0px;}
        .measure-section .platformMessageDescription{max-width: none;}
        .platform-social-inner{
            padding-bottom: 30px;
        }
        .no-sweat-block .chatbox{left:0;}
        .platform-social-wrapper{margin-bottom:30px;padding-top: 0;}
        
        .featureImageCol{
            width: auto;
            float: none;
            margin-bottom: 30px;
            padding-right:0;
            .wistia_embed{
                float: none;
            }
            svg{
                float: none;
                width:100%;
                
            }
        }
        .featureImageCol img{margin:0 auto;display: block;}
        .featureContentCol{
            width: auto;
            padding-left: 0;
            float: none;
        }
        .featureContentColInner{margin:0 auto; padding-left:0;}
        
        .featureFeedTabImageCol{float:none;width:auto;left: 0;}
        .featureFeedTabContentCol{float:none;width:auto;padding-left: 0;}
        .featureFeedTabContentColInner{margin:0 auto; text-align: center;}
        .featureFeedTabImageCol img{display:block; margin:0 auto;}
        .featurePointsContentCol{float: none; width: auto; padding-bottom: 20px; margin:0 auto; text-align: center; padding-right:0;}
        .featurePointsImageCol{float: none; width: auto; left: 0;}
        .featurePointsImageCol img{width: 100%; left: -15px;}
        .featureToolImageCol{width:auto; float: none; padding-bottom:40px; padding-right:0;}
        .featureToolImageCol img{max-width:100%; height:auto;}
        .featureToolContentCol{float: none; width:auto; padding-top:0; margin: 0 auto; text-align: center;}
        
        .featureEmployeLicenseImageCol{float: none; width: auto;}
        .featureEmployeLicenseImageCol img{width:100%;}
        .featureEmployeLicenseTextCol{float: none;width:auto;padding-top:20px;text-align: center;max-width: 400px;margin:0 auto;padding-right: 0;}
        
        /* Pricing page stats */
        
        .pricingMainWrapper .pagemainTitleWrapper{    max-width: 380px;
            padding-top: 0;}
        .pricingMainWrapper .pagemainTitle{font-size: 32px; line-height: 56px;}
        .pricingMainWrapper .subscribePopup .pageInnerText{
            font-size: 16px;
            line-height: 22px;
        }
        /* Pricing page ends */




    }
    /* 979px ends */
    @media all and (max-width:1024px){
        .signupFormBox{float:none; width:auto; position: static; margin-top:0;}
    }
    @include mq('phone-and-tablet'){
        #header{
            padding: 10px 0;
        }
        .mainBannerWrapper{padding-top: 66px;}
        
        
        
        .mainBannerCaptionTitle{
            font-size: 16px;
            line-height: 30px;
            /* font-weight: 700; */
            margin-bottom: 15px;
            min-height: 60px;
        }
        .mainBannerCaptionDescription{
            font-size: 16px;
            line-height: 22px;
        }
        .mainBannerInner {
            min-height: 0;
            margin-bottom: 40px;
        }
        .homePageBanner .mainBannerInner {
            min-height: 0;
            margin-bottom: 0px;
        }
        
        .mainBannerIllustratorSection{text-align:center;}
        .mainBannerIllustratorWrapper{/* display:inline-block */width: auto;left: 0px;}
        .employeeBuildTextWrapper{margin-left: -150px;width: 300px;bottom: -90px;}
        .employeeBuidText{
            font-size: 20px;
            line-height: 26px;
        }
        .pageInnerText{font-size:14px; line-height:20px}
        .employeeBuildInfluenceCol{padding:20px 10px;}
        .employeeBuildInfluenceWrapper{margin-bottom: 40px;overflow: hidden;padding: 0 20px;}
        .buildbrand-image-wrapper{
            padding-top: 0px;
        }
        .buildbrand-image-block{left:10px;display: block;width: auto;max-width: 612px;margin: 0 auto;}
        .platformMainWrapper #footer{margin-top:0;}
        .partner-section + #footer{margin-top:0;}
        .about-template #footer{margin-top:0;}
        .signup-form-wrapper{padding: 40px 0;}
        .signup-left-col{float: none;width:auto;margin-bottom:20px;text-align: center;}
        .signup-left-col .pageInnerTitle, .signup-left-col .pageInnerText{padding:0;}
        .signup-left-col .pageInnerTitle{margin-bottom:15px}
        .signup-right-col{float: none;width:auto;margin: 0 auto;}
        .footer-quick-links-section .container{
            padding: 0;
        }
        .footer-description-col{
            float: none;
            width: auto;
            padding: 0;
            
            text-align: center;}
        .footer-column-wrapper{
            float: none;
            width:auto;
            padding: 20px 20px 0;
            margin:0;    
        }
        
        .partner-title-wrapper{margin-bottom: 20px;}
        .footer-logo{
            margin:0 auto;
            top:9px;
        }
        .footer-description p{font-size: 14px;margin: 0 auto;}
        .footer-bottom-left-links li{margin-right: 5px;}
        #footer-bottom-section .container{padding:0;}
        .footer-quick-links-section{padding:0;}
        #footer .signup-form-wrapper{border-bottom:1px solid $footerBorder;}
        
        .mainBannerSocialIcon.twitter i{margin-top:-9px;}
        /* Platform page starts */
        
        .platform-title-wrapper{padding-top:40px;}
        .platform-title{font-size: 24px; line-height: 30px;}
        .chatbox, .moderatorChatbox .chatbox{width:auto; height:45px; padding:5px 5px 0}
        .chatboxText{font-size: 12px;line-height: 18px;margin-left: -36px;padding-left: 41px;padding-top: 0;margin-right: -24px;padding-right:30px;}
        .user-thumbnail{width: 36px;
            height: 36px;}
            .chatbox-smile-icon-wrapper img{width: 24px;height: auto;}
            .chatbox-smile-icon-wrapper{margin-top:6px;width: 24px;}
            .feedback-section .chatbox-smile-icon-wrapper{margin-top:15px;}
            .thanks-message-section .chatboxText{padding-top:9px;}
            .about-photo-block .chatbox{width:200px;}
            .about-photo-block .chatbox .chatboxText{padding-right:0;}
            .feedback-section .chatboxWrapper{width: auto;}
            .feedback-section .chatboxWrapper .chatbox{height:65px; width: 250px;}
            .feedback-section .user-thumbnail{margin-top:10px;}
            .create-message-section .chatbox{width:220px;}
            .moderatorChatbox .chatbox{width:260px;}
            .moderatorChatbox .chatbox .chatboxText{padding-right:0;}
            .thanks-message-section .chatbox{width:130px;}
            .thanks-message-section .chatbox-smile-icon-wrapper{display: block;}
            .platformMessageTitle{font-size: 16px; line-height: 22px;}
            .platformMessageDescription{margin-bottom:15px;}
            .moderate-message-section .platformMessageDescription{max-width: none;}
            .platform-social-col{float: none; width: 200px; margin:0 auto 15px;}
            .platform-social-inner{padding:0 15px;}
            .no-sweat-block .chatboxText{padding-top:9px;}
            .no-sweat-block .chatbox-smile-icon-wrapper{display: block}
            .no-sweat-block .chatbox{width: 155px;}
            .platform-no-sweat-text-block h2{font-size: 22px; line-height: 28px;}
            .platform-no-sweat-text-block-inner{padding:0 15px 30px;}
            
            .platform-facebook-icon, .platform-internal-icon, .platform-linkedin-icon, .platform-twitter-icon{display: none;}
            .videoPopup{width:300px; height:173px; margin:-86px 0 0 -150px;}
            .closeVideoPopup{opacity: 1;}
            /* Platform page ends */
            
            /* About us page */
            .about-image-col, .about-text-col, .about-section.alt .about-image-col{float: none;width:auto;margin-bottom: 30px;}
            .about-text-col{text-align:center; margin-bottom: 0;}
            .about-text-col h2{font-size: 22px; line-height: 28px;}
            .about-section{padding:40px 0;}
            .about-image-col, .about-text-col-inner{padding:0;}
            
            .vision-mission-column-wrapper{flex-flow: column;}
            .vision-mission-column{width: auto;}
            .vision-mission-column-inner{text-align: center;}
            
            .core-value-column{float: none; width:auto;}
            .core-value-section h3{font-size: 16px;}
            .core-value-section p{font-size: 14px;}
            /* About us page ends*/
            
            .platformMessageTitle i{top: -8px;}
            .create-message-section .platformMessageTitle i{left:8px}
            .footer-bottom-left-links{float: none;}
            .footer-social-links-wrapper{float: none;}
            #footer-bottom-section{padding:10px 10px 75px;}
            
            /* Features page starts*/
            
            .featureMainWrapper .pagemainTitleWrapper{padding-top:40px;}
            .pagemainTitle{
                font-size: 24px;
                line-height: 34px;
            }
            .featureBannerCols{
                padding-bottom: 40px !important;
            }
            .featurePageInnerTitle{
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 10px;
            }
            .featureTabContentTitle{
                font-size: 22px;
                line-height: 30px;
            }
            .featureTabBtnWrapper{margin-bottom:20px;}
            .featureTabbingSection .featurePageInnerText{font-size: 14px;}
            .featureTabBtnWrapper .container{padding:0;}
            .featureTabContentSubtitle{margin-bottom:30px;}
            .featureTabbingSection{margin-bottom: 40px;}
            .featureCampaignTitle{
                font-size: 20px;
                line-height: 34px;
                margin-bottom: 15px;
            }
            .featureCampaignText{margin-bottom: 15px;}
            .featureCampaignSection{
                padding: 40px 0;
            }
            .featureCampaignImg{left:0;}
            .featureTabBtn{
                font-size: 12px;
                padding-bottom: 0px;
                padding-top: 70px;
                transform: scale(1) !important;
                top:-4px !important;
            }
            .tab-communication.featureTabBtn:before{
                width: 80px;
                height: 80px;
                margin-left: -40px;
            }
            .tab-content.featureTabBtn:before{
                width: 80px;
                height: 80px;
                margin-left: -40px;
            }
                .book-demo h2 {
                    margin-bottom: 10px;
                }
                .featureTabBtn-col.tab-content .featureTabBtn:after{
                    top:0;
                    transform: scale(0.6);
                }
                .featureTabBtn-col.tab-organisation .featureTabBtn:after{
                    top:0;
                    transform: scale(0.6);
                    margin-left: -39px;
                }
                #featureTabbingSection{min-height: 160px; margin-bottom: 20px;}
                .featureTabBtnWrapper.sticky .featureTabBtn{top:-15px; transform: scale(0.5)}
                .featureMainBox .featureTabBtnWrapper.sticky .featureTabBtn{padding-top:80px;}
                .featureTabBtn-col.active:before{
                    width: 100%;
                    margin-left: 0;
                    left: 0;
                }
                // .featureTabText{display: none;}
                
                .featureCampaignWaveImg{width:80px; right:0;}
                .slide2 .featureCampaignWaveImg{top:60px; left:0;}
                
                .featureToolCols{padding-bottom: 40px;}
                .feature-social-icons{width:100%; left:0; margin-left:0;}
                .featureEmployeLicenseSection{padding: 40px 0;}
                .featureSafeHandsSection{padding-bottom:20px;}
                .organisation-image-wrapper .orgnisation-social-icons-wrapper{left:0; width: 100%; margin-left:0; top:-30px; height: 200px;overflow: hidden;}
                
                .featureTestimonialSection{padding: 0 20px 40px;}
                .featureAnalyticSection{padding: 40px;}
                .featureAnalyticSocialIcons{width:100%;left:0;margin-left:0;top: 20px;}
                .featurePointsSection{padding: 40px 0;}
                .featurePointsContentCol{padding-top:30px;padding-bottom: 0;}
                
                .captionLoginNote, .signuploginText{text-align: center;}
                .mainBannerInput{padding-bottom:15px}
                .partner-section{margin:40px 0; }
                
                
                .pagemainTitleWrapper{padding:0 20px 40px;}
                .bannerFeaturesListWrapper{padding-bottom: 40px;}
                .featureFeedTabCols{padding-bottom: 40px;}
                .featureAssetImageWrapper{padding-bottom:100px;}
                .organisation-image-wrapper{padding-bottom:40px;}
                .organisation-image-wrapper:before{
                    width: 200px;
                    margin-left: -100px;
                }
                /*Features page ends */
                
                /* Pricing page stats */
                .pricingHeroSection .pricingHeroLeftIllustration, .pricingHeroSection .pricingHeroRightIllustration {
                    display: none;
                } 
                 
                .pricingMainWrapper .pagemainTitleWrapper{
                    max-width: none;
                    padding-top: 0px;
                    background: rgba(255, 255, 255, 0.8);
                    padding-bottom: 20px;
                }
                
                .pricingHeroSection{padding: 0 0 30px;min-height: 0;}
                .pricingMainWrapper .pageInnerText{
                    line-height: 22px;
                }
                
                .pricingTableWrapper .pricingColWrapper{flex-direction:column;}
                .pricingColInner{border-right:0; border-bottom:1px solid #eaeaea;}
                .pricingCol:last-child .pricingColInner{border-bottom:0;}
                .pricingCol h2{
                    font-size: 22px;
                    line-height: 28px;
                }
                .pricingAmount{font-size:22px; line-height:28px;}
                .basicFeatueColWrapper{flex-direction:column;}
                .pricingTableWrapper{padding-bottom:40px;}
                .featureColInner{padding: 0px 15px 40px;}
                .featureCol:last-child .featureColInner{padding-bottom: 0;}
                .pricingBasicFeatureWrapper{padding-bottom:40px;}
                .pricingNotreadySection{padding-bottom:40px;}
                .honourablePricingSection{padding:40px 15px}
                .pricingFaqSection{padding:40px 0;}
                .pricingFaqSection .pageInnerTitle{padding-bottom: 0;}
                .pricingFaqWrapper{padding-bottom: 15px;}
                .pricingTestimonialSection .container{padding:40px 0;}
                
                .subscribePopup .signupInputWrapper{margin-right:0; padding-right:0; padding-bottom:10px; float:none;}
                .subscribePopup .signupSubmit{float: none; width: auto; }
                .subscribePopup .appAvaibilityText, .subscribePopup .accountAvaibilityText{float: none; text-align: center;}
                .pricingMainWrapper .subscribePopup .pagemainTitleWrapper {text-align: center;}
                /* Pricing page ends */
                
                .successSignup .email-suceess-message{
                    text-align: center;
                    font-size: 16px;
                    line-height: 25px;
                    max-width: 310px;
                    margin: 0 auto;
                    position: relative;
                }
            }
            
            /* 767px ends */
            
            @media all and (max-width:479px){
                
                .signupInputWrapper{float: none; padding-right:0; padding-bottom:10px; margin-right:0;}
                .signupSubmit{float: none; width:auto;}
                .forDesktop{display: none;}
                .forDevice{display: block; }
                .appAvaibilityText, .accountAvaibilityText{ text-align: center;}
                .signup-input-wrapper{padding-right:0; margin-right:0; float: none; width:auto; padding-bottom:10px;}
                .footer-column{}
                .footer-column:last-child{margin-bottom:0;}
                .footer-link-heading{line-height: 30px;padding-bottom: 0;}
                
            }
            
            @media all and (max-width:359px){
                
                
            }
            
            @media all and (-webkit-min-device-pixel-ratio: 1.5) {
                .featureToolShape, .platform-arrow {background-image:url(assets/images/arrow-sprite@2x.png);
                    background-size:656px auto;  }
                    .bannerFeatureBlockInner:before{background-image:url(assets/images/sprite@2x.png);
                        background-size:323px auto; }
                    }
                    
               
                    @media screen and (max-width: 1100px) {
                    .internal-communication-seciton .homeFeatureDescription {
                        width: 50%;
                    }
                }
                    @media screen and (max-width: 1100px) {
                        .mainBannerIllustrator {
                            float: none;
                            width:auto;
                            max-width: 351px;
                            margin:0 auto;
                            margin-top:82px;
                        }

                    }
                    @media screen and (max-width: 979px) {
                        .featureMainBox .featureContentColInner {
                            padding-left: 0px; 
                            margin-top: 0px; 
                            margin-left: auto; 
                        }
                        .publishNetworkImg {
                            width: 100%;
                        }
                        .publishNetworkImg img {
                            
                            height: auto;
                            
                            width: 100%;
                        }
                        .publishNetworkWrapper {
                            margin-top: 74px !important;
                        }
                        .shareCuratedContent {
                            margin-top: 15px;
                        }
                        .featureDesktopImg img{
                            width: 100%;
                            height: auto;
                        }
                        .publishNetworkContent, .shareCuratedContent{
                            width: 100%;
                            padding-left: 0px;
                            padding-right: 0px;
                            
                        }
                        .publishHeading, .shareCuratedHeading{
                            margin: 0 auto;
                        }
                        .publishParagraph, .shareCuratedParagraph{
                            margin: 15px auto;
                            max-width: none;
                            text-align: center;
                        }
                        .shareCuratedImg {
                            width: 100%;
                            float: left;
                            padding-left: 0px;
                            padding-top: 40px;
                            margin: 0 auto;
                            text-align: center;
                            position: relative;
                        }
                        .featureDesktopImg:before{
                            height: 100%;
                            margin-top: 50px;
                        }
                      }
                    @media screen and (max-width: 800px) {
                        .footer-bottom-left-links {
                            width: auto;
                            float: none;
                            text-align: center;
                        }
                        .footer-social-links-wrapper{
                            float: none;
                        }
                        .footer-social-links-wrapper .textwidget {
                            margin-top: 11px;
                        }
                        .signup-right-col {
                            max-width: 435px;
                            
                        }
                    }
                    @media screen and (max-width: 767px) {
                        .featureTabBtn-col.tab-insights .featureTabBtn:after {
                            background-position: -206px -16px;
                            width: 89px;
                            height: 89px;
                            top: -4px;
                            transform: scale(0.5);
                            margin-left: -44px;
                        }
                        .featureTabBtn-col.active:before{
                            width: 100%;
                            margin-left: 0;
                            left: 50%;
                        }
                        .featureMainBox .featureTabBtn:before {
                            margin-left: 0px;
                        }
                        .featureMainBox .featureTabBtn:before {
                            content: "";
                            display: block;
                            position: absolute;
                            left: 50%;
                            margin-left: -30px;
                        }
                        .homePageBanner .mainTitle {
                            font-size: 18px;
                            margin-bottom: 20px;
                            line-height: 25px;
                            text-align: left;
                        }
                        .bannerFeatureDesc{
                            text-align: inherit;
                        }
                        .pageTitleForH1Tag {
                            font-size: 20px !important;
                            line-height: 26px !important;
                        }
                        .homeFeatureMainWrapper .featureTabBtnWrapper {
                            border-bottom: 0px;
                            padding-top: 27px;
                        }
                        .featureMainBox .a-center {
                            text-align: center;
                            margin-bottom: 4px !important;
                        }
                        .featureDesktopImg {
                            margin: 15px auto;
                        }
                        
                        .shareCuratedImg {
                            padding-top: 105px;
                        }
                        .mainBannerIllustrator{
                            padding-left: 0px;
                            margin-top: 0;
                            left: 0;
                            margin-bottom: 40px;
                        }
                        .requestPostDivWrapper .postTextPart {
                            float: left;
                            width: 50%;
                            max-width: 374px;
                            padding-right: 20px;
                            padding-top: 15px;
                        }
                        
                        .shareCuratedHeading:before {
                            width: 10px;
                            height: 10px;
                            margin-right: 0px;
                            margin-top: -22px;
                            
                        }
                        
                        .footer-column-wrapper .footer-column-inner {
                            float: left;
                        }
                        .featureMainBox .featureTabBtn:before{
                            width: 60px;
                            height: 60px;
                        }
                        .featureMainBox .featureTabBtn-col .featureTabBtn:after {
                            top: -23px;
                            transform: scale(0.3);
                            margin-left: -57px;
                        }
                        
                        .signupInputWrapper {
                            float: none;
                            padding-right: 0;
                            padding-bottom: 10px;
                            margin-right: 0;
                            max-width: none;
                        }
                        .featureMainBox .featureMainTabbingWrapper .featureTabBtn:after {
                            margin-left: -58px;
                            top: -28px;
                        }
                        .signupSubmit {
                            float: none;
                            width: auto;
                        }
                        
                        .homeFeatureMainWrapper .featureTabBtn-col {
                            float: left;
                            width: 100%;
                            position: relative;
                        }
                        .featureMainBox .featureTabBtn-col.active:before {
                            width: 92px;
                            
                        }
                        .featureMainBox .featureTabBtn-col.tab-content .featureTabBtn:after {
                            margin-left: -54px;
                            top: -8px;
                        }
                        .featureMainBox .featureTabBtn-col.tab-insights .featureTabBtn:after {
                            top: -11px;
                            margin-left: -44px;
                        }
                        
                        .feedCommunicationTitle:before, .publishHeading:before {
                            margin-right:0;
                            width: 10px;
                            height: 10px;
                            margin-top: -18px;
                        }
                        .featureMainBox .featureTabBtn-col.active:before {
                            width: 82px;
                            margin-left: -42px !important; 
                        }
                        .featureMainBox #featureTabbingSection {
                            min-height: 112px;
                            margin-bottom: 20px;
                        }
                        
                        .featureMainBox .featureTabBtn-col.tab-organisation .featureTabBtn:after {
                            top: -8px;
                            margin-left: -41px;
                        }
                        .homeFeatureMainWrapper #featureTabbingSection {
                            min-height:670px;
                        }
                        .homeFeatureMainWrapper .a-center {
                            text-align: center;
                            margin-bottom: 6px;
                        }
                        .featuresFindMoreLink {
                            display: inline-block;
                            margin-top: 0px;
                        }
                        .mainBannerCaptionWrapper .signupForm{
                            margin: 0px;
                        }
                        .homePageBanner .paragraph {
                            display: none;
                        }
                        .homeFeatureMainWrapper .featureTabBtn-col .featureTabBtn:after{
                            transform: scale(0.6);
                        }
                        .featuresFindMoreLink {
                            display: inline-block;
                            margin-top: 8px;
                            margin-bottom: 20px;
                        }
                        .visibly-help-block {
                            margin-bottom: 100px;
                        }
                    }
                    @media screen and (max-width: 400px) {
                        .feedCommunicationTitle:before{
                            margin-right: 0px;
                        }
                        .shareCuratedImg img {
                            width: 207px;
                        }
                    }
                    
                    
                    
                    
                    