.isms-section{
    background: $background-color;
    padding-bottom:42px;
    min-height: $banner-height;
    h1{
        @media all and (min-width:768px){
            font-size: $pageH1fontSize;
            line-height: 48px;
        }
        color:$Header-title;
        .box1{
            position: absolute;
            right: 110px;
            top: -3px;
            width: 12px;
            height: 12px;
        }
    }
    .isms-left-column{
        width:57%;
        float: left;
        padding-top:117px;
        h1{
            font-weight: $main-title-font-weight;
            font-size: $main-title-font-size;
            line-height: $main-title-line-height;
            margin-bottom: $main-title-margin-bottom;
            @media(max-width: 767px){
                font-size: $main-title-font-size-responsive;
                line-height: $main-title-line-height-responsive;
            }
        }
        .isms-desc{
            p{
                font-size: $hero-sub-title-font-size;
                line-height: $hero-sub-title-line-height;
                font-weight: $hero-sub-title-font-weight;
                margin-bottom: $hero-sub-title-margin-bottom;
                @media all and (max-width:767px){
                    font-size: $hero-sub-title-font-size-responsive;
                    line-height: $hero-sub-title-line-height-responsive;
                    margin-bottom: $hero-sub-title-margin-bottom-responsive;
                }
            }
        }
    }
    .isms-right-column{
        float: left;
        width: 43%;
        padding-top: 57px;
        position: relative;
        left: 0 !important;
        svg{
            width: 100%;
            max-height: 500px;
        }
        @media all and (max-width:1200px){
            left:0;
            width:420px;
        }
    }
    @media all and (max-width:1200px){
        .container{
            max-width: 988px;
        }
    }
    @media all and (max-width:990px){
        text-align: center;
        h1 .box1{
            right:46px;
        }
        .isms-left-column{
            float: none;
            margin:0 auto;
        }
        .isms-right-column{
            float: none;
            margin:0 auto;
        }
    }
    @media all and (max-width:767px){
        width: auto;
        h1 .box1{
            right: -94px;
            top: -18px;
        }
        .isms-left-column{
            padding-top:30px;
            width: auto;
        }
        .isms-right-column{
            width: auto;
        }
    }
}

.shield-image-wrapper{
    width:136px;
    height:136px;
    background: url(images/shield.png) no-repeat;
    background-size:136px auto;
    margin:0 auto 22px;
}
.security-safe-hand-section{
    text-align: center;
    padding: $section-space 0;
    @media all and (max-width:767px){
        padding:$section-space-responsive 0;
    }

    .square-box-wrapper{
        font-weight: $font-black;
    }
    @media all and (max-width:990px){
        padding-bottom:0;
    }
    @media all and (max-width:767px){
        padding:30px 0;
    }
    h1{
        font-weight: $inner-title-font-weight;
        font-size: $inner-title-font-size;
        line-height:$inner-title-line-height ;
        margin-bottom:$inner-title-margin-bottom;
        @media all and (max-width:767px){
            margin-bottom:34px;
            font-size: $inner-title-font-size-responsive;
            line-height:$inner-title-line-height-responsive;
        }
    }
    p{
        max-width: $full-column-container-width;
        margin-left:auto;
        margin-right:auto;
    }
}
.security-gdpr-section{
    position: relative;
    .square-box-wrapper{
        font-size: inherit !important;
        font-weight: inherit;
    }
    @media all and (min-width:991px){
        &:before{
            content:'';
            display: block;
            position: absolute;
            left:0;
            right:0;
            bottom:0;
            height:190px;
            background: $background-color;
        }
    }
}
.sgs-left-column{
    float: left;
    width: 50%;
    position: relative;
    left: 56px;
    img{
        float: right;
        max-width: 928px;
    }
}
.sgs-right-column{
    float: right;
    padding-left: 185px;
    width: 50%;
    position: relative;
    left: 10px;
    padding-right: 15px;
    max-width: 560px;
    h2{
        font-size: $inner-title-font-size;
        line-height: $inner-title-line-height;
        margin-bottom:$inner-title-margin-bottom;
        font-weight: $inner-title-font-weight;
        @media all and (max-width:767px){
            font-size: $inner-title-font-size-responsive;
            line-height: $inner-title-line-height-responsive;
        }
        .box1{
            left: -37px;
            top: -5px;
            width: 18px;
            height: 18px;
        }
    }
    .gdpr-image-wrapper{
        margin-bottom:30px;
        @media all and (max-width:990px){
            text-align: center;
            padding-bottom:60px;
        }
        @media all and (max-width:767px){
            padding-bottom:30px;
        }
    }
    .gdpr-image{
        width: 101px;
        height:101px;
        background: url(images/gdpr-img1.png) no-repeat;
        background-size:101px auto; 
        text-indent: -999em;
        float: left;
        margin-right:44px;
        &.gdpr-image2{
            width:79px;
            background:url(images/gdpr-img2.png) no-repeat;
            background-size:79px auto; 
            margin-right:0;
            height:104px;
        }
        @media all and (max-width:990px){
            display: inline-block;
            float: none;
        }
    }
    
}
.security-gdpr-section{
    @media all and (max-width:1100px){
        .sgs-right-column{
            padding-left:130px;
        }
    }
    @media all and (max-width:990px){
        text-align: center;
        padding-bottom:115px;
        .sgs-left-column{
            float: none;
            width: auto;
            left:0;
            padding-bottom:60px;
            img{
                float: none;
                max-width: 100%;
            }
        }
        .sgs-right-column{
            float: none;
            width: auto;
            padding: 15px;
            left: 0;
            margin: 0 auto;
        }
    }
    @media all and (max-width:767px){
        padding-bottom:30px;
        .sgs-left-column{
            padding:30px 0;
        }
    }
}
.single-sign-on{
    background: $background-color;
    padding-top:$section-space;
    overflow: hidden;
    @media all and (max-width:990px){
        padding-bottom:$section-space;
    }
    @media all and (max-width:767px){
        padding:$section-space-responsive 0;
    }
    .sso-left-column{
        @media all and (min-width:991px){
            float: right;
            width:50%;
            position: relative;
            left: -45px;        
        }
        img{
            max-width:723px;
            display: block;
            @media all and (max-width:990px){
                margin:0 auto;
            }
            @media all and (max-width:990px){
                max-width: 100%;
            }
        }
        @media all and (max-width:990px){
            margin-bottom:60px;
        }
        @media all and (max-width:767px){
            margin-bottom:30px;
        }
    }
    .sso-right-column{
        float: left;
        width: 50%;
        padding-right: 20px;
        max-width: 380px;
        .square-box-wrapper{
            font-weight: inherit !important;
        }
        @media all and (max-width:990px){
            float: none;
            width:auto;
            padding-right:0;
            margin:0 auto;
            text-align: center;
        }
        .single-sign-on-image{
            width: 107px;
            height: 107px;
            background: url(images/sso-img.png) no-repeat;
            background-size: 107px auto;
            text-indent: -999em;
            float: left;
            margin-left: 35px;
            margin-bottom: 21px;
            @media all and (max-width:990px){
                margin:0 auto 21px;
                float: none;
            }
        }
        h2{
            font-size: $inner-title-font-size;
            line-height: $inner-title-line-height;
            margin-bottom:$inner-title-margin-bottom;
            font-weight: $inner-title-font-weight;
            @media all and (max-width:767px){
                font-size: $inner-title-font-size-responsive;
                line-height: $inner-title-line-height-responsive;
            }
            .box1{
                right: -16px;
                top: -15px;
                width: 18px;
                height: 18px;
            }
        }
    }
}
.commitment-to-security{
    padding-top:$section-space;
    padding-bottom:$section-space;
    @media all and (max-width:767px){
        padding-top:$section-space-responsive;
        padding-bottom:$section-space-responsive;
    }
    .square-box-wrapper{
        font-weight: inherit;
    }
    .cts-col-wrapper{
        max-width: 890px;
        margin:0 auto;
    }
    h2{
        font-size: $inner-title-font-size;
        line-height: $inner-title-line-height;
        margin-bottom:$inner-title-margin-bottom;
        font-weight: $inner-title-font-weight;
        @media all and (max-width:767px){
            font-size: $inner-title-font-size-responsive;
            line-height: $inner-title-line-height-responsive;
        }
        @media all and (min-width:768px){
            margin-bottom:48px;
        }
        text-align: center;
        .box1{
            right: -22px;
            top: -7px;
            width: 18px;
            height: 18px;
        }
    }
    .cts-col{
        @media all and (min-width:768px){
            float: left;
            width: 50%;
            padding:0 15px;
            &.last{
                float: right;
            }
        }
        max-width: 384px;
    }
}
.amazone-image-wrapper{
    width: 291px;
    height: 107px;
    background: url(images/amazone-image.png) no-repeat;
    background-size: 291px auto;
    text-indent: -999em;
    margin:0 auto 37px;
    @media all and (max-width:767px){
        width:200px;
        background-size: 200px auto;
        margin-bottom:0;
    }
    
}

.commitment-to-security{
    border-bottom:1px solid #e6e6e6;
}