/* Subscription popup starts */

.sign-up-link{
    @include primaryButton; 
    margin-bottom: 8px;
    @media all and (max-width:767px){
        width:100%;
    }
    cursor: pointer;
    text-align: center;
    }
 .signform-btn{
    @media all and (max-width:767px){
        margin-top:15px;
    }
 }
    .signupForm {
        @media all and (min-width:768px){
            display: flex;
            min-width: 340px;
            input{
                margin-right:10px;
            }
        }
        input[type=submit] {
            position: absolute;
            left: -999em;
        }
    }
.emailform-wrapper{
    position:relative;
    &.success{
        .icon:before{content:'\f00c'}
        .error-wraning-wrapper{color: $green; opacity: 1; visibility: visible;}
    }
    &.error{
        .error-wraning-wrapper{color: $primary; opacity: 1; visibility: visible;}
    }
    &.warning {
        .error-wraning-wrapper{color: $secondary; opacity: 1; visibility: visible;}
    }
    &.loading .signup-loader-wrapper{display: block;}
    .signup-loader{position:absolute;left: 50%;top: 5px;width: 50px;margin-left: -25px;}
} 
.email-suceess-message{
    border: 1px solid $green;color: $green;padding:15px;font-size: 20px;font-weight: 300;display: none;max-width: 395px; padding-left: 90px;
    .icon-wrapper{
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 32px;
        margin-left: 15px;
        width:64px;height:64px;float:left;border: 1px solid $green;border-radius: 64px;-webkit-border-radius:64px;-o-border-radius:64px;-ms-border-radius:64px;-moz-border-radius:64px;text-align: center;line-height: 62px;font-size: 40px;margin-right: 10px;
        i{
            margin-top:10px;
          }
    }
}

.successSignup .email-suceess-message{display:block;}

.error-wraning-wrapper{
    padding:10px;
    margin-bottom: 20px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    min-height: 40px;
    opacity: 0;
    visibility: hidden; 
    background: $white; 
    box-shadow: 0 0 4px 0 #000;
    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    transition: all 0.5s ease;
    position: absolute;
    left: 0;right: 0;
    top: -60px;
    text-align: center;
    &:before{content:'';position: absolute;left:50%;bottom: -10px;margin-left:-10px;border-top:10px solid #aaa;border-left:10px solid transparent;border-right:10px solid transparent;}
    .icon{
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        bottom: 0;
        border-radius: 2px 0 0 2px;
        &:before{
            content: "\f071";
            font-family: Font Awesome\ 5 Free;
            font-weight: $font-black;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -10px 0 0 -8px;
            font-size: 14px;
        }
    }
}

.subscribePopupOverlay{position: fixed;top:0;bottom:0;right:0;left:0;background: rgba(255,255,255,0.8);z-index: 11;}
.subscribePopup{
 background: $white;
 text-align:center;
 padding: 5px 20px;
}
.honourablePricingSection .error-wraning-wrapper:before{border-top-color:$white;}
.signup-loader-wrapper{
 position: absolute;
 top:0;
 left:0;
 right:0;
 border-radius: 2px;
 -webkit-border-radius: 2px;
 -o-border-radius: 2px;
 -ms-border-radius: 2px;
 -moz-border-radius: 2px;
 height: 58px;
 display: none;
 }

.successSignup .emailform, .successSignup .emailFormBelowText{display:none;}



.signup-loader-wrapper img{position: absolute;
 left: 50%;
 top: 5px;
 width: 50px;
 margin-left: -25px;}

.close-subscribe-popup{position: absolute;right: 10px;top: 10px;cursor: pointer;width: 20px;}


.signupForm{ 
    .emailform-wrapper.loading {
        .signupSubmit input[type="submit"]{display: none;}
        .email-submit-div{display: none;}
    }
    .signupSubmit input[type="submit"]{
        visibility: hidden;
    }
    .signupSubmit input[type="submit"], .email-submit-div{
        @include primaryButton;
    }
    .email-submit-div{
        line-height: 58px;
    }
    input[type="submit"] span{
        position: relative;
        color:$white;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        z-index: 1;
   }
}
.signupSubmit p{
    display:none;
}
.signupFormWrapper{
    margin-bottom:$section-space;
    @media(max-width: 767px){
        margin-bottom:$section-space-responsive;
    }
}
.signupformMainWrapper{
    .form-image-wrapper{
        display: none;
    }
}
/* Subscription popup ends */

