.wsp-container{
    overflow: hidden;
    .page-item-765, .page-item-2783, .page-item-2290, .page-item-1892, .page-item-1634, .page-item-1642, .page-item-2292, .wsp-posts-list li:last-child{
        display:none;
    }
}

.sitemap-col{
    margin-bottom:15px;
    @media all and (min-width:991px){
        float: left;
        width:33.3%;
        padding:10px;
        margin-bottom:0;
}
    h2{
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 20px;
        color:$primary;
    }
   
    li {
        margin-bottom: 5px;
        padding-bottom: 0;
     a{
        font-size: 16px;
    font-weight: 200;
    color: #333333;
    line-height: 28px;
}
    }
    .sitemap-col-inner{
        background: #f7f7f7;
        padding:20px;
    }
}
.entry-content .sitemap-col ul{
    margin-left:0;
}