@charset "utf-8";
/* CSS Document */
/** * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) * Richard Clark (http://richclarkdesign.com) * http://cssreset.com */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    -webkit-font-smoothing: antialiased;
}
html.js{margin-top:0 !important}
body {
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    line-height:20px;
    color: $light-text;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
nav ul {
    list-style: none;
}
html {
    -webkit-text-size-adjust: none;
    /* Prevent font scaling in landscape */
}
blockquote, q {
    quotes: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
input, select {
    vertical-align: middle;
    font-family: $body-font;
}
input[type="text"]:focus, input[type="password"]:focus{
    outline:none
}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea {
    width: 100%;
    height: 30px;
    -webkit-appearance:none;
    border-radius:0;
    -webkit-border-radius:0;
    -o-border-radius:0;
    -ms-border-radius:0;
    -moz-border-radius:0;
    border: 1px solid $light-text;
    box-shadow: none;
    font-family:$body-font;
}
textarea{
    height:100px;
    resize: none;
    overflow:auto;
    padding:10px;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
    cursor: pointer;
}
a:focus{
    outline:none
}
*{
    box-sizing:border-box;
    -o-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
:focus{
    box-shadow: none;
    outline: none;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}
.container{
    max-width: 1180px;
    padding:0 20px;
    margin:0 auto;
}
.a-center{
    text-align: center
}
.show{
    display: block !important
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
.hide{display: none;}
/*Typographi ===========================================================*/
h1{
    font-size: 40px;
    line-height: 48px;
    font-weight: $font-weight-title;
    color:$Header-title;
    margin-bottom: 12px;
    strong{
        font-weight: inherit;
    }
    @media all and (max-width:767px){
        font-size: 22px;
        line-height: 28px;
    }
}
h2{
    font-size:34px;
    line-height:48px;
    font-weight: $font-weight-title;
    margin-bottom: 18px;
    color:$Header-title;
    strong{
        font-weight: inherit;
    }
    @media all and (max-width:767px){
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px;
    }
}

h3{
    font-size:24px;
    line-height:30px;
    font-weight:$font-weight-title;
    color:$Header-title;
    margin-bottom: 10px;
}
h4{
    font-size:19px;
    line-height:25px;
    font-weight: $font-weight-title;
    color:$Header-title;
    margin-bottom: 10px;
    @media all and (max-width:767px){
        font-size: 16px;
        line-height: 22px;
    }
}
p, #tinymce p{
    @include Paragraph;
    margin-bottom:15px;
    strong{
        font-weight: 400;
    }
}
#tinymce p{
    text-align: inherit;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
}
code{
    font-family:$body-font;
    background: #f0f0f0;
    padding: 0 4px;
    font-weight: 400;
}
.featureContent strong{font-weight: 500;}
p:last-child{margin-bottom: 0;}
/*Ends Typographi ===========================================================*/


.page-container{
    max-width: 1040px;
    padding: 0 20px;
    margin: 0 auto;
}

.element-edit-link1-wrapper{display: none;}
.logged-in .element-edit-link1-wrapper{display: block; text-align: center;}
.element-edit-link1{    font-size: 14px;
    border: 1px solid $primary;
    color: $primary;
    padding: 5px;
}
/*Header starts===========================================================*/
.headerWrapper{
    min-height: 114px;
    margin-bottom: $section-space;
    h1{
        margin-bottom: 0;
    }
    @media all and (max-width:1023px){
        min-height: 55px;
    }
    @media all and (max-width:767px){
        min-height:54px;
        margin-bottom: $section-space-responsive; 
    }
}
 
.page-template-homepage,
.page-template-press-php,
.page-template-platformpage,
.page-template-survey-php,
.page-template-template1-features-detail, 
.page-template-employee-engagement, 
.page-template-events, 
.page-template-integration, 
.page-template-site-page, 
.page-template-services,
.page-template-csr,
.page-template-customer-success, 
.page-template-ebooks, 
.page-template-featurepage,
.page-template-main-features-template{ 
  .headerWrapper {
    margin-bottom: 0;
  }
}


.page-template-no-title .headerWrapper{
    @media all and (max-width:1149px){
        margin-bottom:0;
    }
}
.mobileMenuTitle{
    display: none;
}
.menu-handle-wrapper{
    position: absolute;
    right: 20px;
    top: 10px;
    width: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
    @include mq('phone-and-tablet'){
        display: block;
    }
}
.menu-handle-line{
    height:2px;
    background: $Header-title;
    margin-bottom:5px;
    width: 20px;
    margin-left: auto;
}
.menu-handle-line:last-child{
    margin-bottom: 0;
}
#header, .platform-template.fp-viewing-0 #header{
    padding: 27px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 4;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: $white;
    border-bottom: 1px solid $header-border;
    @include mq(lap-and-up){
        min-height: 115px;
    }
}

#logo{
    float:left;
    width: 175px;
    height:auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    z-index: 1;
    margin-top:6px;
    svg{
        display: block;
    }
}

#logo img{
    max-width:100%;
    height:auto;
}
// #header.sticky .headerRight{
//     margin-top:0;
// }
.headerRight{
    float: right;
    width: 100%;
    margin-left: -195px;
    padding-left: 205px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/*mainNav ===========================================================*/
.mainNav{
    float: right;
}
.desktop-menu{
    @include mq('phone-and-tablet'){
        display: none;
    }
}
.mainNav .mobile-menu {
    display: none;
    li{
        position: relative;
        a{
            line-height: 40px;
            font-size: 24px;
            color: $white;
            font-weight: 500;
            display: block;
            padding: 10px 20px;
            &.menu-toggle-handler{
                @include mq('lap-and-up'){
                    display: none;
                }
                position: absolute;
                right: 20px;
                top: 12px;
                width: 20px;
                padding: 0;
                height: 20px;
                background: none;
                svg{
                    fill:$white;
                    width: 100%;
                    height:100%;
                }
            }
        }
    }
    @include mq('phone-and-tablet'){
        display: block;
    }
}
// LEFT NAV IN HEADER STARTS
#header{
    .headerRight{
        .left_nav{
            float: left;
            padding-left: 40px;
            @include mq('desk-and-up'){
                padding-left: 83px;
            }
            .menu_overlay{
                display: block;
                position: fixed;
                top:147px;
                bottom: 0;
                left:0;
                right:0;
                background: rgba(0,0,0,0.68);
                display: none;
                &.show{
                    display: block;
                }
            }
            .main_nav_ul{
                .main_nav_li{
                    float: left;
                    padding-right: 18px;
                    
                    .nav_item{
                        display: inline-block;
                        height: auto;
                        padding: 19px 14px;
                        color: #7b7b7b;
                        font-size: 14px;
                        font-weight: $font-light;
                        
                        position: relative;
                        &.no-cursor{
                            cursor: default;
                        }
                        &:after{
                            content: '';
                        }
                        .icon{
                            position: absolute;
                            right: 0;
                            top: 27px;
                            display: block;
                            svg{
                                fill: #bac1c1;
                                height: 5px;
                                width: 9.2px;
                                display: block;
                            }
                        }
                        &:hover{
                            color:$Header-title;
                            svg{
                                fill:$Header-title;
                            }
                        }
                    }
                    .submenu_inner{
                        background: #fff;
                        position: relative;
                        box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
                        &:before{
                            content: "";
                            display: block;
                            position: absolute;
                            left: 50%;
                            margin-left: -250px;
                            top: -16px;
                            width: 32px;
                            height: 17px;
                            background: url(images/menu-top-arrow.png);
                        }
                    }
                    &.why_visibly_nav_li{
                        .submenu_inner:before{
                            margin-left: -137px;
                        }
                    }
                    &.commnunity_li{
                        .submenu_inner:before{
                            margin-left: -7px;
                        }
                    }
                        .submenu{
                            position: absolute;
                            top: 70px;
                            left: 0;
                            right: 0;
                            padding-top:45px;
                            display: none;
                            z-index: 2;
                            .container{
                                max-width: 1079px;
                            }
                            
                            .submenu_wrapper{
                                padding:35px 0 15px;
                                .submenu_title{
                                    font-size: 14px;
                                    line-height: 24px;
                                    font-weight: $font-medium ;
                                    color:$Header-title;
                                    border-bottom:1px solid $header-border;
                                    padding-bottom:14px;
                                    text-transform: uppercase;
                                    margin-bottom:15px;
                                }
                                .submenu_content { 
                                
                                    ul { 
                                    margin:0 -1px;
                                        li{
                                        padding:0 1px;
                                        float: left;
                                        width: 25%;
                                        .submenu_li_inner{
                                            a{
                                                display: block;
                                                position: relative;
                                                padding:22px 10px 22px 48px;
                                                -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
                                            }
                                            .icon{
                                                display: block;
                                                position: absolute;
                                                left: 12px;
                                                top: 50%;
                                                width: 31px;
                                                height: 28px;
                                                margin-top: -16px;
                                                svg{
                                                    width: 100%;
                                                    height: 100%;
                                                    .polls-plus-st2{fill:$theme;}
                                                    .polls-plus-st1{fill:$theme;}
                                                    .polls-plus-st0{fill:$themeLight1;}
                                                }
                                            }
                                            .submenu-text{
                                                font-size: 16px;
                                                line-height: 26px;
                                                color:$Header-title;
                                                font-weight: $font-medium;
                                                text-transform: capitalize;
                                                -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
                                            }
                                            .no-case{
                                                .submenu-text{
                                                    text-transform: none;
                                                }
                                            }
                                            &:hover{
                                                a{
                                                    background: $themeLight1;
                                                }
                                                .submenu-text{
                                                    color:$theme;
                                                }
                                            }
                                        }
                                        &.theme_li{
                                            svg{
                                                .communicate_st0{fill:$themeLight1;}
                                                .communicate_st1{fill:$theme;}
                                                .ic_st0{fill:none;}
                                                .ic_st1{fill:$theme;}
                                                .ic_st2{fill:$themeLight1;}
                                                //Podcast SVG 
                                                .podcast-st0{
                                                    fill:$theme;
                                                }
                                                .podcast-st1{
                                                    opacity:0.3;fill:$theme;stroke: $theme;enable-background:new;
                                                }
                                            }
                                            &:hover{
                                                a{
                                                    background: $themeLight1;
                                                }
                                                .submenu-text{
                                                    color:$theme;
                                                }
                                            }
                                        }
                                        &.primary_li{
                                            svg{
                                                .communicate_st0{fill:$primaryLight2;}
                                                .communicate_st1{fill:$primary;}
                                                .hr_st0{fill:none;}
                                                .hr_st1{fill:$primary;}
                                                .hr_st2{fill:$primaryLight2;}
                                                //Blog SVG
                                                .blog-st0{
                                                    opacity:0.3;fill:$primary;enable-background:new ;
                                                }
                                                .blog-st1{
                                                    fill:$primary;
                                                }
                                            }
                                            &:hover{
                                                a{
                                                    background: $primaryLight2;
                                                }
                                                .submenu-text{
                                                    color:$primary;
                                                }
                                            }
                                        }
                                        &.green_li{
                                            svg{
                                                .monitor_st0{fill:$green;}
                                                .monitor_st1{fill: $green; opacity: 0.2;}
                                                .sector_st0{fill:$greenLight1;}
                                                .sector_st1{fill:$green;}

                                                .event-st0{fill:none;}
                                                .event-st1{fill:$green;}
                                                .event-st2{opacity:0.3;fill:$green;}
                                            }
                                            &:hover{
                                                a{
                                                    background: $greenLight1;
                                                }
                                                .submenu-text{
                                                    color:$green;
                                                }
                                            }
                                        }
                                        &.secondary_li{
                                            svg{
                                                .advocate_st0{fill:none;}
                                                .advocate_st1{fill:$secondaryLight1;}
                                                .advocate_st2{fill:$secondary;}
                                                .marketing_st0{opacity:0.3;fill:$secondaryLight1;}
                                                .marketing_st1{fill:none;}
                                                .marketing_st2{fill:$secondary;}

                                                .eBooks-st0{opacity:0.3;fill:$secondary;enable-background:new    ;}
    .eBooks-st1{fill:$secondary;stroke:$secondary;stroke-width:16;stroke-miterlimit:10;}
    .eBooks-st2{fill:$secondary;stroke:$secondary;stroke-width:16;stroke-miterlimit:10;}
                                            }
                                            &:hover{
                                                a{
                                                    background: $secondaryLight1;
                                                }
                                                .submenu-text{
                                                    color:$secondary;
                                                }
                                            }
                                        }
                                    }
                                }
                                &.how_visibly_can_help_menu{
                                    ul li{
                                        width: auto;
                                        a{
                                            padding-right:160px;
                                        }
                                    }
                                }
                            }
                                .category_div{
                                    @media(min-width: 768px) and (max-width: 1024px){
                                        -webkit-align-items: stretch;
                                        -ms-flex-align: stretch;
                                        align-items: stretch;
                                    }
                                    .category{
                                        width: 25%;
                                        @media(min-width: 768px) and (max-width: 1024px){
                                            width: 50%;
                                        }

                                        @media(max-width: 767px){
                                            width: 100%;
                                        }
                                        .cat_wrap{
                                            margin: 0 15px;
                                            box-shadow: 0px 13px 26px 10px #f1f1f1;
                                            padding: 33px 22px;
                                            .cat_header{
                                                .icon_div{
                                                    padding-right: 12px;
                                                    svg{
                                                        width: 35px;
                                                    }
                                                }
                                                .title_div{
                                                    .cat_title{
                                                        font-weight: 500;
                                                        font-size: 21px;
                                                    }
                                                }
                                            }
                                            .cat_body{
                                                .cat_descr{
                                                    margin-bottom: 0;
                                                    padding: 18px 0;
                                                    line-height: 32px;
                                                    font-weight: 400;
                                                    @media(max-width: 767px){
                                                        text-align: left;
                                                        font-size: 14px;
                                                    }
                                                }
                                                .cat_link{
                                                    position: relative;
                                                    color: #316cfa;
                                                    text-decoration: underline;
                                                    font-weight: 600;
                                                    display: inline-block;
                                                    @media(max-width: 767px){
                                                        font-size: 12px;
                                                    }
                                                    &:after{
                                                        text-align: center;
                                                        content: "";
                                                        position: absolute;
                                                        right: -48px;
                                                        border: 2px dotted #316cfa;
                                                        border-radius: 50%;
                                                        padding: 15px;
                                                        background: url(images/right_arrow.png);
                                                        background-repeat: no-repeat;
                                                        background-position: center center;
                                                        top: -7px;
                                                    }
                                                }
                                            }

                                        }

                                        &.cat_one{
                                            .icon_div svg{
                                                .st0{
                                                    opacity:0.3;
                                                    fill:#256EFF;
                                                }
                                                .st1{
                                                    fill:none;
                                                }
                                                .st2{
                                                    fill:#256EFF;
                                                }
                                            }
                                        }
                                        &.cat_two{
                                            .icon_div svg{
                                                .st0{
                                                    opacity:0.3;
                                                    fill:#FF595E;
                                                }
                                                .st1{
                                                    fill:#FF595E;
                                                }

                                            }

                                        }
                                        &.cat_three{
                                            .icon_div svg{
                                                .st0{opacity:0.3;fill:#2FBF71;}
                                                .st1{fill:none;}
                                                .st2{fill:#2FBF71;}
                                            }

                                        }
                                        &.cat_four{
                                            .icon_div svg{
                                                .st0{

                                                    fill:none;
                                                }
                                                .st1{
                                                    fill:#F7BA24;fill-opacity:0.3;
                                                }
                                                .st2{
                                                    fill:#F7BA24;
                                                }
                                            }

                                        }
                                    }
                                }
                            }
                            .submenu_bottom_section{
                                background: $primaryLight2;
                                padding:20px 0;
                                .container{
                                    text-align: center;
                                }
                                p{
                                    font-size: 14px;
                                }
                                strong{
                                    font-size: 16px;
                                    font-weight: $font-medium;
                                    color:$newPrimary;
                                    margin-right: 6px;
                                }
                                .link_with_arrow{
                                    margin-left: 10px;
                                }
                            }
                        }
                        &:hover{
                            .submenu{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        
    }


// LEFT NAV IN HEADER ENDS
#mega-menu-wrap-top #mega-menu-top > li.mega-menu-item.login-link > a{
    font-weight: 500;    
}

.mainNav  ul#mega-menu-top > li{
    margin-right: 30px;
    text-align: center;
    float: left;
    position: relative;
    &.megamenu{
        position: static;
        .sub-menu{
            overflow: hidden;
            max-width:1200px;
            margin:0 auto;
        }
        li{
            float: left;
            width:33.3%;
            padding: 15px;
        }
    }
    @media all and (min-width:768px){
    .sub-menu-wrapper{
        position: absolute;
        left: 0;
        top: 100px;
        padding-top: 20px;
        right:0;
        text-align: left;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
        .sub-menu-wrapper-inner{
            opacity: 1;
        }
    }
    .sub-menu-wrapper-inner{
        background: #fff;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
        opacity: 0;
    }
    .sub-menu{
        
        padding: 10px;
        

        &:before{
            content:'';
            display: block;
            position: absolute;
            left: 36px;
            top: 12px;
            background: url(images/menu-arrow.png);
            width:36px;
            height:20px;
        }
        li a{
            height:auto;
            line-height: 30px;
        }
    }
    }
}
@media all and (min-width:980px){
    #mega-menu-wrap-top #mega-menu-top li.mega-menu-megamenu { 
        > ul.mega-sub-menu > li.mega-menu-row:before{
        content:'';
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -250px;
        top: 5px;
        width: 32px;
        height:17px;
        background: url(images/menu-top-arrow.png)
    }
    &.usecases-link{
        > ul.mega-sub-menu > li.mega-menu-row:before{
            margin-left:-120px;
        }
    }
    &.mega-services-link{
        > ul.mega-sub-menu > li.mega-menu-row:before{
            margin-left:180px;
        }
    }
}
    
}
.mainNav  ul#mega-menu-top > li:hover { 
    > a{
        color:$primary;
    }
    .sub-menu-wrapper{
        opacity: 1;
        visibility: visible;
        top:85px;
    }
}
@media all and (max-width:767px){
    .mainNav .sub-menu-wrapper{
        background: rgba(0, 0, 0, 0.18);
        display: none;
    }
}

.mainNav ul#mega-menu-top > li:last-child{
    margin-right:0;
}
.mega-menu-wrap{float:left;margin-right: 30px;}
.start-link-wrapper{float:left;}
.start-link-wrapper a{
    @include RequestDemoButton;
    background: none;
    color:$primary;
    border:1px solid $primary;
    &:hover{
        background: $primary;
        color:$white;
    }
}

$thick : 3px;
$pad : 0.7em;
$extra : calc(#{$pad} * 1.2);
$color : $primary;

#mega-menu-wrap-top #mega-menu-top > li.mega-menu-item > a{ 
    font-size:14px;
     font-weight: $font-regular;
     color:$Header-title;
     text-transform: capitalize;
     line-height: 58px;
    display:block;
    height: 58px;
    text-transform: capitalize;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
    @media all and (max-width:1100px){
        min-width: 80px;
    }
}

.mega-sub-menu li a{
    position: relative;
    display: block;
    .svg-icon{
        display: block;
        position: absolute;
        left:13px;
        top:9px;
        width: 25px;
        height: 25px;
        svg{
            width: 100%;
            height: 100%;
        }
    } 
    .mega-menu-title{
        padding-left:35px;
        font-weight: 400;
        -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
    } 
    .mega-menu-description{
        -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
        font-weight: $font-weight-paragraph !important;
    }
    &:hover{
        .mega-menu-title, .mega-menu-description{
            color:$primary;
        }
    }
}
.mega-indicator svg{
    fill: rgb(186, 193, 193);
    height: 5px;
    margin: 3px 0 0 5px;
    -webkit-transition: -webkit-transform .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: -webkit-transform .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: transform .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: transform .2s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform .2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    width: 9.2px;
}
  

.mainNav ul.start-link-wrapper li { 
        a{color:$primary;}
        &:hover a{color:$white;}
}
.mainNav ul li a:hover, .mainNav ul li.current-menu-item > a{
    color:$primary;
}
.mainNav ul li a span{
    position: relative;
    z-index: 1;
}


/*mainNav ends ===========================================================*/
/*Header ends ===========================================================*/

/* Footer starts ==================================================== */
#footer{
    background: $white;
    border-top-style: double;
}
.page-template-pricingpage, .page-template-usescase-template1, .press-feed-template-default,  .page-template-customer-success, .page-template-aboutpage{
    #footer{
        border-top:1px solid $header-border;
    }
}

/* Footer quick columns starts ==================================================== */
.footer-logo-wrapper{
    padding-bottom: 12px;
}
.footer-logo{
    margin-top: 33px;
    .become-partner-text{
        font-size: 16px;
        line-height: 22px;
        color:$Header-title;
        font-weight: $font-light;
        white-space: nowrap;
        margin-top: 12px;
        margin-left: -4px;
        a{
            color:$primary;
            &:hover{
                color:$theme;
            }
        }
    }
}
.footer-logo-link{
    display: block;
    width: 61px;
    overflow: hidden;
    @media all and (max-width:767px){
        margin:0 auto;
    }
}
.footer-logo-wrapper svg{
    width: 330px;
    height: 83px;
}
.footer-column {
    float: left;
    width: 25%;
    padding:0 15px;
    @media all and (max-width:900px){
        width:50%;
        margin-bottom:15px;
    }
}
.footer-description-col{
    width: 75px;
    float: left;
    padding-top: 13px;
    position: relative;
    z-index: 1;
}
.footer-column-wrapper{
    width: 100%;
    float: left;
    padding-top: 57px;
    margin-left: -75px;
    padding-left:75px;
}

.footer-column-wrapper-inner{
    @media all and (min-width:768px){
        max-width: 760px;
        margin-left: auto;
    }
    display: flex;
    flex-wrap: wrap;
}

.footer-link-heading{
    font-size: 16px;
    font-weight: $font-weight-footer-title;
    color:$Header-title;
    line-height: 48px;
    text-transform: uppercase;
    @include breakpoint(xs) {
        font-size:13px;
        line-height: 20px;
    }
}
.footer-column li { 
    a{
        font-size: 14px;
        font-weight: $font-weight-menu-link;
        color:$light-text;
        line-height: 29px;
        text-transform: capitalize;
    }
    &.no-case a{
        text-transform: none;
    }
}
.footer-column li a:hover{
    color:$primary;
}
.footer-quick-links-section{
    border-top: 1px solid #e4e4e4;
    @media all and (max-width:800px){
        padding-bottom:0;
    }
}
.footer-quick-links-wrapper #footer{
    padding-top:0;
    margin-top: 0;
    border-top: 0;
}
.footer-quick-links-section .container{
    position: relative;
}

/* Footer quick columns ends ==================================================== */
#footer .accountAvaibilityText{text-align: left; float: none;}

/* Take survery Section starts=====*/

.take-servey-section{
    background: #ffe3e5;
    min-height: 290px;
    position: relative;
    padding-right: 455px;
    @media all and (max-width:1160px){
        padding-right:300px;
    }
    @media all and (max-width:767px){
        min-height:100px;
    }
    .link_with_arrow{
        color:$white;
        svg{
            fill: $white;
            stroke: $white;
        }
    }
    p{
        text-align: left;
    }
    .take-servey-left{
        width: 100%;
        padding-top: 86px;
        padding-bottom: 37px;
        max-width: 660px;
        margin: 0 auto;
        @media all and (max-width:1160px){
            max-width: 440px;
            margin: 0 auto;
        }
        .take-servey-wrapper{
            text-align: right; 
            margin-right: 33px;
        }
    }
    .take-servey-right{
        background: url(assets/images/survey-block-bg.jpg);
        background-size: cover;
        background-position: center;
        width: 455px;
        padding-top: 96px;
        padding-bottom: 38px;
        padding: 96px 50px 38px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
    }
    @media all and (max-width:767px){
        padding-right:0;
        padding-left:0;
        .take-servey-left{
            padding-right: 0;
            float: none;
            width: auto;
            padding: 20px;
            max-width: 405px;
        }
        
    }
    .take-servey-right-inner{
        @media all and (max-width:767px){
            max-width: 365px;
            margin:0 auto;
        }
    }
    h2{
        color:$white;
        font-size: 29px;
        line-height: 40px;
        margin-bottom: 10px;
        @media all and (max-width:1160px){
            font-size: 18px;
            line-height: 30px;
        }
        @media all and (max-width:767px){
            font-size:14px;
            line-height:24px;
        }
    }
}
/* Take survery Section ends=====*/

// SURVERY SECTION STARTS

.take-servey-section{
    background: #464446;
    .container{
        @media(max-width: 767px){
            padding:0;
        }
    }
    .take-servey-right{
        width: 430px;
        padding: 86px 22px 38px;

        &:before{
            content:'';
            display: block !important;
            position: absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
            background: rgba(0,0,0,0.5);
        }
        .take-servey-right-inner{
            position: relative;
            z-index: 1;
        }
        @media(max-width: 1160px){
            width:300px;
        }
        @media(max-width: 767px){
            width: 100%;
            margin: 0;
            position: relative;
            padding:20px;
        }
    }
}

// SURVERY SECTION ENDS

// Bottom section starts
.bottom_section{
    background: #fae3e5;
    padding:$section-space 0;
    @media(max-width: 767px){
        padding:$section-space-responsive 0;
    }
    .inner_wrap{
        .healine{
            color: $primary;
            font-size: 38px;
            font-weight: $font-black;
            margin-bottom: 0;
            @media(max-width: 767px){
                font-size: 16px;
            }

        }
        .subtxt{
            font-size: 20px;
            margin-bottom: 0;
            margin-top: 34px;
            word-spacing: 2px;
            @media(max-width: 767px){
                margin-top:10px;
                font-size: 14px;
                line-height: 20px;
            }
        }
        .category_div{
            margin-top: 67px;
            padding: 0 54px;
            @media(max-width: 767px){

            }
            .cat_div{
                width: 27%;
                padding: 63px 0;
                background: $primary;
                @media(max-width: 767px){
                    width: 100%;
                    margin-bottom: 30px;
                }
                .cat_txt{
                    color: $white;
                    font-size: 21px;
                    font-weight: $font-regular;
                    position: relative;
                    &:after{
                        content: '';
                        position: absolute;
                        bottom: -7px;
                        left: 50%;
                        height: 2px;
                        background: $white;
                        width: 34px;
                        @include transform(translate(-50%,-50%));
                    }
                }
                &.cat_communications{
                    background: rgba(254,89,91,0.5);
                }
                &.cat_marketing{
                    background: #fff;
                    .cat_txt{
                        color: $primary;
                        &:after{
                            background: $primary;
                        }
                    }
                }
            }
        }
    }
}
// Bottom section ends

/* Footer copyright starts ==================================================== */
#footer-bottom-section{
    padding: 20px 0;
    border-top: 1px solid $header-border;
    margin-top: 37px;
}
.footerWrapper{
    position: relative;
}
.footer-bottom-left-links{
    float: left;
}
.footer-bottom-left-links li{
    float: left;
    margin-right: 21px;
}
.footer-bottom-left-links li a{
    @include lastFooterLine;
    text-transform: capitalize;
}
.footer-bottom-left-links li a:hover{
    color:$primary;
}
.footer-social-links-wrapper{
    float: right;
    margin-top: 0px;
    position: relative;
    z-index: 1;
}
.footer-copyright-block{
    float: left;
    width: 100%;
    margin-left: -343px;
    margin-right: -150px;
    text-align: center;
    padding-left: 177px;
    font-size: 13px;
    line-height: 36px;
    color: $light-text;
}
.footer-social-links-wrapper li{
    float: left;
    margin-right: 18px;
}
.footer-social-links-wrapper li .linkedin-icon i{
    position: relative;
    left: 0px;
    top: 0;
}
.footer-social-links-wrapper li i span{display: none;}
.footer-social-links-wrapper li .facebook-icon i{
    position: relative;
    left: 0px;
    top: 1px;
}
.footer-social-links-wrapper li .twitter-icon i{
    position: relative;
    left: 0px;
    top: 1px;
}
.footer-social-links-wrapper li:last-child{
    margin-right:0;
}
.footer-social-links-wrapper li a{
    display: block;
    width: 38px;
    height: 38px;
    padding: 8px 0px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
    -ms-border-radius:50%;
    -moz-border-radius:50%;
    border:1px solid $footer-icon;
    color: $footer-icon;
    text-align: center;
    // line-height: 37px;
    font-size: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.footer-social-links-wrapper li a:hover{
    color:$white;
    border-color:$primary;
    background:$primary;
}
#footer .signup-form-wrapper{
    padding-bottom:$section-space;
    padding-top: $section-space; 
    border-bottom:1px solid $footerBorder;
    @media all and (max-width:767px){
        padding-top:$section-space-responsive;
        padding-bottom: $section-space-responsive;
    }
}
.page-template-main-features-template{
    #footer .signup-form-wrapper{
        padding-top:0;
    }
}
.page-template-why-visibly{
    #footer .signup-form-wrapper{
        border-top:1px solid #efeeee;
    }
}
/* Footer copyright ends ==================================================== */

.signup-form-wrapper .pageInnerTitle{
    @include footerMainTitle;
}
.textwidget p{
    @include footerMainParagraph;
}
.footer-description .textwidget p{
    @include Paragraph;
    text-align: left;
    line-height: 28px;
    @media all and (max-width:767px){
        max-width: 220px;
    }
}
.copy-right-sec p{
    
    @include lastFooterLine;
}
.copy-right-sec{
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -120px;
    @media all and (max-width:979px){
        margin-left:-30px;
    }
    @media all and (max-width:800px){
        position: relative;
        left:0;
        text-align: center;
    }
}

.form-row{
    margin-bottom:15px;
    &:last-child{
        margin-bottom:0;
    }
}
/* Video page starts*/
.visibly_video_wrapper{height: calc(100vh);
    position: relative;}
    .visibly_video_wrapper video, .visibly_video_wrapper img{width: 100%;
        height: 100%;
        display: block;
        max-height: calc(100vh);
        object-fit: contain;
    }
    .video-image-page-logo{position: absolute;
        left: 0;
        top: 0;
        background: rgba(255,255,255,0.1);
        padding: 10px 20px 10px 10px;
        width: 130px;
        border-radius: 0 0 40px 0;}
        .video-image-page-logo svg{width: 100%;
            height: 100%;
            display: block;}
            .video_description{padding:20px 0 30px;}
            .visibly_video_wrapper h1{font-size: 30px;
                line-height: 36px;
                color: $Header-title;
                font-weight: 700;
                margin-bottom: 10px;
            }
            
            /* Video page ends */
            
            .element-edit-link{display: none;}
            .logged-in .element-edit-link{display: block;}
            .cat-links{margin-right:20px;}
            .screen-reader-text{margin-right:10px;position: relative;display: none;}
            .blogdetail{padding-bottom:30px;}
            .entry-content, #tinymce{
                h3{
                    @include mainTitle;
                    
                }
                strong{font-weight: 400; color:$Header-title;}
                img{max-width:100%; height:auto;}
                li{
                    position: relative;
                    padding-left: 25px;
                    @include Paragraph;
                    padding-bottom:15px;
                    
                        text-align: left !important;
                        @media all and (max-width:767px){
                            padding-left:20px;
                        }
                    &:before{
                        content: '';
                        display: block;
                        position: absolute;
                        left: 4px;
                        top: 9px;
                        width: 8px;
                        height: 8px;
                        background: $Header-title;
                        background-size: cover;
                        border-radius: 5px;
                        @media all and (max-width:767px){
                            top: 7px;
                            width: 6px;
                            height: 6px;
                        }
                    }
                    &:after{
                        top: 10px;
                        left: 0;
                        border-color: 
                        $primary;
                        z-index: 1;
                    }
                    
                }
            }
            .page-template-default .entry-content{
                @media all and (max-width:767px){
                    text-align: center;
                }
            }
            .full-width-buttons a.free-trial-link{ 
                max-width: none;
            }
            
          
            
            
            .heading-img h3{
                font-size: 30px;
                line-height: 36px;
                margin-bottom: 13px;
                color: $Header-title;
                font-weight: 500;
            }
            .signup-right-col .book-demo{
                float: none;
                width: inherit;
                max-width: inherit;
            }
            .heading-button h3{
                font-size: 31px;
                line-height: 26px;
                margin-bottom: 46px;
                color: $Header-title;
                font-weight: 500;
            }
            .heading-img{
                margin-bottom: 47px;
            }
            
           
           
            .accountAvaibilityText p, .appAvaibilityText p{
                @include smallTextBelowForm;
            }
            .signupFormImage img{
                width: 100%;
            }
           
            .successSignup .mainSignupForm .signupForm{max-width:580px;}
            .appAvaibilityText a{
                margin-right: 5px;
                text-decoration: none;
                border-bottom: inherit;
            }
            .appAvaibilityText i:hover{
                color: $primary;
                transition: all 0.5s;
            }
            
            
            .WaitText{
                float: right;
                position: relative;
                top: 83px;
                left: 50px;
                width: 250px;
            }
            .WaitText h2{
                color: $Header-title;
                /* float: right; */
                margin-right: 72px;
                font-weight: 500;
            }
            .WaitText p{
                /* float: right; */
                /* margin-left: 259px; */
                max-width: 238px;
                font-size: 14px;
                margin-top: 17px;
            }
            .WaitText a{
                /* float: right; */
                padding-right: 163px;
                text-align: left;
                margin-top: -11px;
                color: $theme;
                font-weight: 300;
                text-decoration: underline;
                border-bottom:0;
            }
            .WaitTextBottom {
                display: none;
            }
            .WaitTextBottom h2{
                color: $Header-title;
                font-weight: 500;
            }
            .WaitTextBottom a{
                color: $theme;
                font-weight: 300;
                text-decoration: underline;
                border-bottom:0;
            }
            .subscribeImage{
                background: url(assets/images/skewsubscribe.png) no-repeat $white -2px bottom;
                box-shadow: 0px 0px 32px 0px #484545;
                width: inherit !important;
                background-repeat: no-repeat;
            }
            
            .subscribeImageMobile{
                float: left;
                width: 45%;
                text-align: center;
                padding: 32px 15px 0px;
            }
            .subscribeImage .signupFormWrapper{
                float: left;
                width: 55%;
                padding-top: 195px;
                padding-left: 7px;
            }
            .subscribeImage .signupForm{}
            .subscribeImage .pagemainTitleWrapper {
                padding-bottom: 17px;
                text-align: left;
            }
            .subscribePopupOverlay {
                background: rgba(0,0,0,0.5) !important;
            }
            .subscribePopup {
                background: none !important;
                box-shadow:none;
            }
            .subscribePopupWrapper{
                margin: -308px 0 0 -570px;
                width: 1146px;
                position: fixed;
                top: 50%;
                left: 50%;
                z-index: 11;
            }
            .subscribeImageMobile img{
                width: 100%;
                max-width: 316px;
                display: block;
                margin: 0 auto;
                position: relative;
                left: 24px;
                height:auto;
            }
            @media screen and (max-width: 1400px) {
                .subscribeImage .signupFormWrapper {
                    width: 64%;
                    padding-top: 110px;
                }
                .subscribeImageMobile img{left:0;}
                .subscribePopupWrapper {
                    margin: -236px 0 0 -400px;
                    width: 800px;
                }
                .subscribeImageMobile {
                    width: 36%;
                }
                .subscribeImage{
                    background-position: -120px bottom;
                }
            }
            
            @media screen and (max-width: 1199px) {
                .signupFormImage {
                    left: 449px;
                }
                .demoMailImage .signupFormImage {
                    
                    display: none;
                }
                .WaitTextBottom{float: none;width: 269px;margin: 0 auto;text-align: center;display: block;}
            }
            @media screen and (max-width: 1100px) {
                .signupFormImage {
                    left: 374px;
                }
                .demoMailImage .signupFormImage {
                    
                    left: 391px;
                }
            }
            @media screen and (max-width: 1024px) {
                
                .signupFormImage{
                    display: none;
                }
            }
            @media screen and (max-width: 1000px) {
                .signupFormImage {
                    left: 297px;
                }
                .subscribePopupWrapper {
                    margin: -297px 0 0 -450px;
                    width: 900px;
                }
                .subscribeImage{background-position: -177px bottom;}
                .subscribeImage .signupFormWrapper{
                    padding-top: 80px;
                }
            }
            @media screen and (max-width: 979px) {
                
                .page-template-signuppage #footer{
                    padding-top: 0;
                }
                .pricingMainWrapper .subscribePopup .pagemainTitleWrapper {
                    padding-top: 0;
                    max-width: 480px;
                    padding: 0 0 20px 0;
                }
            }
            @media screen and (max-width: 950px) {
                .subscribePopupWrapper {
                    margin: -204px 0 0 -350px;
                    width: 700px;
                }
            }
            
            @supports (-webkit-overflow-scrolling: touch) {
                .signupformMainWrapper .appAvaibilityText{
                    display: none;
                }
            }
            @media screen and (max-width: 767px) {
                
               .demoHeading  .demoMailForm {
                    width: 562px;
                    max-width: 100%;
                }
                .demoFormBtn .demoBtnBlock {
                    max-width: 562px;
                }
                .demoMailForm input {
                    
                    height: 46px;
                    
                    font-size: 12px;
                }
                
                .demoHeading h1{
                    font-size: 25px;
                }
                .WaitTextBottom h2{
                    font-size: 25px;
                }
                .indiaPricingColWrapper .pricingCol {
                    
                    width: 100%;
                }
                .signupFormBox h2 {
                    
                    text-align: center;
                }
                .signupForm{
                    text-align: center;
                    margin: 0 auto;
                    float: none !important;
                }
               .featureBannerCols  .featureContentCol .signupForm{
                   margin-left: 0;
                   min-width: 0;
                   text-align: center;
                   display: block;
                }
                .indiaPricingColWrapper .pricingColInner::before {
                    position: absolute;
                    bottom: 17px;
                    content: "";
                    left: 20px;
                    width: auto;
                    right: 20px;
                    height: 0;
                    border: 1px solid #cccc;
                    top: auto;
                }
                .signupFormImage{
                    display: none;
                }
                .signupFormBox {
                    width: 100%;
                    margin-top: 19px;
                    top: 0 !important;
                    
                }
                .mainSignupForm {
                    
                    padding-bottom: 0px;
                }
                .haveQueBlock {
                    padding-top: 0;
                    padding-bottom: 100px;
                }
                .haveQueTitle span {
                    
                    font-size: 18px;
                }
                .haveQueTitle {
                    
                    font-size: 18px;
                }
                .pricingBasicFeatureWrapper .pageInnerTitle {
                    margin-bottom: 57px;
                    margin-top: 57px;
                }
                .pricingTitle {
                    margin-top: 40px;
                }
                
                .pricingColInner {
                    padding: 0px 5px 40px;  margin-bottom: 40px;
                }
                .subscribePopupWrapper {
                    
                    width: 300px;
                    
                    margin-left: -150px;
                    
                    margin-top: -150px;
                }
                .subscribeImage{background:$white;}
                .subscribeImageMobile{
                    display: none;
                }
                .subscribeImage .signupFormWrapper{
                    float: none;
                    width: auto;
                    padding-top: 20px;
                    padding-left: 0;
                }
            }
            
            @media screen and (max-width: 600px) {
                .demoFormBtn .demoBtnBlock {
                    max-width: 389px;
                }
                
            }
            @media screen and (max-width: 567px) {
                .signupFormBox .signupInputWrapper{
                    width: 100%;
                    float: none;
                    margin-right: 0;
                    padding-right: 0;
                    
                }
                .signupFormBox .signupSubmit{
                    width: 100%;
                    margin-top: 20px;
                }
                .signupFormBox .appAvaibilityText {
                    text-align: center;
                    margin: 0 auto;
                    float: none;
                }
                .signupFormBox .accountAvaibilityText{
                    text-align: center;
                    margin: 0 auto;
                    float: none;
                }
            }
            @media screen and (max-width: 560px) {
               
                .signupFormBox .signupInputWrapper{
                    padding-left: 20px;
                    padding-right: 20px;
                }
                .signupFormBox .signupSubmit{
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
            @media screen and (max-width: 500px) {
                .demoFormBtn .demoBtnBlock {
                    max-width: 310px;
                }
            }
            
            @media screen and (max-width: 415px) {
                .heading-button h3 {
                    font-size: 29px;
                }
               
                .appAvaibilityText{
                    width: 100%;
                }
                .accountAvaibilityText{
                    float: none;
                    width: 100%;
                    margin-top: 2px;
                    text-align: center;
                    margin: 0 auto;
                }
                .demoHeading h1{
                    font-size: 20px;
                }
                .WaitTextBottom h2{
                    font-size: 20px;
                }
            }
            @media screen and (max-width: 400px) {
                
                .heading-button h3 {
                    font-size: 25px;
                }
            }
            @media screen and (max-width: 364px) {
                .book-demo h2 {
                    font-size: 28px;
                }
                
                
                .demoHeading h1{
                    font-size: 18px;
                }
                .WaitTextBottom h2{
                    font-size: 18px;
                }
            }
            @media screen and (max-width: 340px) {
                .heading-button h3 {
                    font-size: 23px;
                }
                
            }
            .videoPopupWrapper{display:none;}
            .videoPopupWrapper.active{display: block;}
            .videoOverlay{position:fixed; left:0; top:0; right:0; bottom:0; background:rgba(0,0,0,0.5); z-index:9;}
            .videoPopup{position:fixed;left:50%;top:50%;margin: -180px 0 0 -316px;width: 632px;z-index:9;height: 360px;background: $white;padding: 5px;}
            .videoPopup iframe{width:100%;height:100%;border: 0;}
            .closeVideoPopup{position:absolute;right: 5px;top: 5px;background: $white;width: 30px;height: 30px;text-align: center;padding-top: 3px;opacity: 0; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease; cursor: pointer;}
            .videoPopup:hover .closeVideoPopup{opacity:1;}
            
            
            .archiveMainWrapper .page-header{
                padding: 20px 0;
                background: $footerBorder;
                margin-bottom: 10px;
            }
            .archiveMainWrapper .page-title{color:$Header-title; padding-bottom:10px;}
            .archiveMainWrapper .page-title:last-child{padding-bottom:0;}
            .archiveMainWrapper .page-header .vcard{
                color: $primary;
            }
            .archiveMainWrapper .hentry{margin-bottom: 30px;border-bottom: 1px solid $footerBorder;padding-bottom: 30px;}
            .archiveMainWrapper .hentry:last-child{border-bottom:0;}
            .footer-blog-nav{
                .nav-links{display: block;}
            }
            .nav-links{display: inline-block;}
            .pagination:before, .comments-pagination:before, .pagination:after, .comments-pagination:after{content:''; display:table;}
            .pagination:after, .comments-pagination:after{clear:both;}
            .pagination, .comments-pagination{zoom:1;}
            .pagination,
            .comments-pagination {
                font-size: 14px;
                font-size: 0.875rem;
                font-weight: 800;
                padding: 0px 0 25px;
                text-align: center;
            }
            
            .pagination .icon,
            .comments-pagination .icon {
                width: 0.666666666em;
                height: 0.666666666em;
            }
            
            .comments-pagination {
                border: 0;
            }
            
            .page-numbers {
                padding: 0.5em 0.75em;
                color: $Header-title;
            }
            
            .page-numbers.current {
                color: $primary;
                display: inline-block;
            }
            
            .page-numbers.current .screen-reader-text {
                clip: auto;
                height: auto;
                overflow: auto;
                position: relative !important;
                width: auto;
            }
            
            .prev.page-numbers,
            .next.page-numbers {
                -webkit-border-radius: 2px;
                border-radius: 2px;
                display: inline-block;
                font-size: 24px;
                font-size: 1.5rem;
                line-height: 1;
                padding: 0.25em 0.5em 0.4em;
            }
            
            .prev.page-numbers,
            .next.page-numbers {
                -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
                transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
            }
            
            .prev.page-numbers {
                float: left;
            }
            
            .next.page-numbers {
                float: right;
            }
            
            
            /* css add by @kinjal Birare  */
            /*  this css for video linkdn */
            .visibly_video_wrapper .video-wrapper{
                margin: 0 auto;
                text-align: center;
            }
            .footer-social-links-wrapper .textwidget{
                float: right;
            }
            .footer-social-links-wrapper ul li {
                float: left;
                margin-right: 18px;
            }
            .country-dropdown-wrapper{
                position: relative;
                i{
                    position: absolute;
                    right: 10px;
                    top: 15px;
                    font-size: 26px;
                    color: $footer-icon;
                }
                .country-dropdown{
                    background: none;
                }
            }

            @include breakpoint(xs) {
                h1, h2, p { 
                    span{font-size: inherit !important;}
                }
        }

.request-demo-btn{
    @include RequestDemoButton;
    background: none;
    color:$primary;
    border:1px solid $primary;
    &:hover{
        background: $primary;
        color:$white;
    }
    &.white-btn{
        background: $white;
        border-color:$white;
        color: $primary;
    }
}
.squareBox{
    position: absolute;
    border:3px solid #fdbc28;
    border-radius: 2px;
    color:transparent;
    display: none;
    &.orange{
        border-color:#fa7921;
    }
    &.red{
        border-color:$primary;
    }
    &.green{
        border-color:$green;
    }
    &.blue{
        border-color:$theme;
    }
}
.free-trial-block .squareBox{
    display: block;
}

// CONTACT SECTION STARTS
body.home { 
    #contact_section{
        padding: $section-space 0;
        @media all and (max-width:767px){
            padding:$section-space-responsive 0;
        }
        .contact_form{
            margin: 41px auto 0;
        }
    }
}
#contact_section{
    
    .inner_wrap{
        .title{
            text-align: center;
            p{
                font-weight: 500;
                font-size: 24px;
                line-height: 44px;
                color:$Header-title;
                @media(max-width: 767px){
                    font-size: 12px;
                    line-height: 22px;
                }
            }
        }
        .contact_form{
            form{
                .field{
                    margin-bottom: 15px;
                    input, textarea{
                        font-size: $input-font-size;
                        padding: 0px 9px;
                        color:$input-font-color;
                        border: 1px solid $form-border;
                        font-weight: $input-font-weight;
                        height: 58px;
                        display: block;
                        &::placeholder { 
                            color: $input-placeholder-color;
                            opacity: 1; 
                            font-weight: 300;
                        }

                        &:-ms-input-placeholder {
                            color:$input-placeholder-color;
                            font-weight: 300;
                        }

                        &::-ms-input-placeholder { 
                            color:$input-placeholder-color;
                            font-weight: 300;
                        }
                    }
                    textarea{
                        height:$textarea-height;
                        padding:$textarea-padding;
                    }
                    input[type=text], input[type=email], input[type=tel]{
                        width: 100%;
                    }
                }
                .last_field{

                    margin-top: 38px;
                    .inner_wrap{
                        align-items: start;
                    }

                    .checkbox_field{
                        width: 50%;
                        font-size: 12px;
                        @media(max-width: 1024px){
                            width: 100%;
                        }
                        .wpcf7-list-item-label{
                            margin-left: 0;
                            line-height: 25px;
                            font-weight: 300;
                            a{
                                color: $theme;
                                text-decoration: underline;
                                &:hover{
                                    color: $primary;
                                }
                            }
                        }
                        .checkbox-policy{
                            .wpcf7-list-item-label{
                                display: none;
                            }
                        }
                        .custom_container{
                            display: inline;
                            position: relative;
                            top: 0;
                            cursor: pointer;
                            margin-left: 10px;
                            font-size: 12px;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            height: 0;
                            display: block;
                            input {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                height: 0;
                                width: 0;
                            }
                            .checkmark {
                                position: absolute;
                                top: -10px;
                                left: -18px;
                                height: 15px;
                                width: 15px;
                                background-color: #fff;
                                border: 1px solid #ccc;
                                &:after {
                                    content: "";
                                    position: absolute;
                                    display: none;
                                    left: 5px;
                                    top: 1px;
                                    width: 2px;
                                    height: 7px;
                                    border: solid white;
                                    border-width: 0 2px 2px 0;
                                    -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                }
                            }
                            input:checked ~ .checkmark {
                                background-color: #2196F3;
                            }
                            input:checked ~ .checkmark:after {
                                display: block;
                            }

                        }
                    }
                    .submit_field{
                        width: 50%;
                        padding-left: 77px;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;

                        -webkit-align-items: center;
                        -ms-flex-align: center;
                        align-items: center;
                        position: relative;
                        @media(max-width: 1024px){
                            margin: 12px auto 0;
                            padding-left: 0;
                            width: 100%;
                        }
                        input[type=submit]{
                            @include primaryButton; 
                            margin-left: auto;
                        }
                        .ajax-loader{
                            right:150px;
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}
// CONTACT SECTION ENDS
.select2-container--default .select2-selection--single .select2-selection__placeholder{
    color:$input-placeholder-color !important;
}
body.single-post .st-sticky-share-buttons{
    top:50% !important;
    margin-top:-104px !important;
}

.page-template-blog, 
.single, 
.page-template-events, 
.page-template-ebooks, 
.page-template-default,
.page-template-template1-features-detail
{
    #footer{
        border-top: 1px solid #ececec;
    }
}

.page-template-pricingpage .footer-quick-links-section{
    border-top:0;
}

