.thanks-signup-page{
    text-align: center;
    padding-bottom:60px;
    .thanks-content{
        padding-bottom: 60px;
    }
    .thanks-image{
        max-width: 209px;
        margin:0 auto;
        img{
            display: block;
            max-width: 100%;
            height:auto;
        }
    }
}