.usescases-detail-title{
    color: $Header-title;
    max-width: 790px;
    margin: 0 auto 20px;
    text-align: center;
    strong{
        font-weight: inherit;
    }
    font-size: $inner-page-main-title-font-size;
    line-height: $inner-page-main-title-line-height;
    font-weight: $inner-page-main-title-font-weight;
    @media all and (max-width:767px){
        font-size: $inner-page-main-title-font-size-responsive;
		line-height: $inner-page-main-title-line-height-responsive;
    }
}

.construnction-remote-location-section{
    text-align: center;
    margin:0 auto 148px;
   position: relative;
   @media all and (max-width:767px){
    margin-bottom:0;
}
    .crls-title{
        font-size: 30px;
        font-weight: 300;
        line-height: 1.5em;
        margin-bottom: 41px;
        color: $primary;
        @media all and (max-width:979px){
            font-size: 18px;
            margin-bottom: 20px;
            line-height: 24px;
        }
    }
    .crls-image-wrapper{
        position: relative;
        max-width: 1130px;
        margin: 0 auto;
        left: -2px;
        padding:0 92px 0 63px;
        .crls-sqaure{
            position: absolute;
            left: 270px;
            right: 152px;
            top: 69px;
            bottom: -147px;
            opacity: 0.15;
            background: $primary;
            @media all and (max-width:767px){
                left:120px;
                right:64px;
                bottom: -60px;
            }
            &.square2{
                background: $theme;
                left: 160px;
                top: 122px;
                right: 64px;
                bottom: -75px;
                @media all and (max-width:767px){
                    left: 60px;
                    right: 34px;
                    bottom: -30px;
                }
            }
        }
        img{
            max-width:100%;
            height:auto;
            position: relative;
            z-index: 1;
            display: block;
        }
        @media all and (max-width:767px){
            padding:0 102px 0 33px;
            margin-bottom:90px;
        }
        
        .crls-image-inner{
            position: relative;
            max-width: 829px;
            &:before{
                content:'';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top:0;
                bottom:0;
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0b8d47+20,ff595d+100 */
    background: #0b8d47; /* Old browsers */
    background: -moz-linear-gradient(left,  #0b8d47 20%, #ff595d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #0b8d47 20%,#ff595d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #0b8d47 20%,#ff595d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b8d47', endColorstr='#ff595d',GradientType=1 ); /* IE6-9 */
    opacity: 0.52;
        z-index: 2;
            }
    }
    }
    .crls-caption-wrapper{
        position: absolute;
    left: 0;
    right: 0;
    bottom: 75px;
    background: rgba(0,0,0,0.8);
    z-index: 2;
    font-size: 26px;
    line-height: 48px;
    color: #fff;
    font-weight: 300;
    text-align: left;
    padding:42px 32px 44px 56px;
    @media all and (max-width:990px){
        font-size: 20px;
        line-height: 32px;
    }
    @media all and (max-width:767px){
        font-size: 14px;
        line-height: 24px;
        padding: 15px;
        bottom:0;
        background: #f7f7f7;
        color: $default-content;
        text-align: center;
        position: relative;
    }
    }
    
}

.construnction-how-we-help-section{
    text-align: center;
    padding:$section-space 0;
    @media all and (max-width:767px){
        padding:$section-space-responsive 0;
    }
    .container{
        max-width:1070px;
    }
    .chwhs-title{
        color:$default-content;
        margin-bottom:46px;
        strong{
            font-weight: $font-black;
        }
        font-size: $inner-title-font-size;
        line-height: $inner-title-line-height;
        font-weight: $inner-title-font-weight;
        @media all and (max-width:767px){
            font-size: $inner-title-font-size-responsive;
            line-height: $inner-title-line-height-responsive;
        }
    }
    
}
.usescases-detail-page .retail-page{
    .construction-employees-magazine-section{
        padding-bottom: 134px;
        .cems-left-col{
            margin-bottom:0;
        }
        @media all and (max-width:1200px){
            padding-bottom:0;
        }
    }    
    @media all and (max-width:1200px){
    .contsructions-TV-projects-section{
            padding-top:60px;
    }
    }
}
@media all and (min-width:991px){
.technology-page, .healthcare-page { 
    .construction-employees-magazine-section{
        padding-bottom:134px;
    }
}
.non-profit-page, .education-page{
    .construction-employees-magazine-section{
        padding-bottom:132px;
    }
}
}
.technology-page .construction-employees-magazine-section .cems-left-col img{
    background: #fff;
}
.construction-employees-magazine-section{
    padding: $section-space 0px 273px;
    overflow: hidden;
    position: relative;
    &:before{
        content:'';
        display: block;
        position: absolute;
        left:0;
        right:0;
        top:0;
        bottom:134px;
        background: $background-color;
    }
    .cems-inner{
        position: relative;
        z-index: 1;
    }
    
    .container{
        max-width: 995px;
    }
    @media all and (max-width:991px){
        background: $background-color;
        padding:60px 0;
    }
    @media all and (max-width:767px){
        padding: $section-space-responsive 0 0;
        .cems-inner{
            padding-bottom:$section-space-responsive;
            .cems-inner{
                padding:0;
            }
            p{margin-bottom: 0;}
        }
        
    }
}
.cems-left-col{
    img{
        display: block;
        @media all and (min-width:991px){
            max-width: 1473px;
            margin-bottom: -282px;
            margin-left: -541px;
        }
        @media all and (max-width:990px){
            max-width:100%;
            margin-bottom: -90px;
            margin-left: -7%;
        }
        @media all and (max-width:767px){
            margin-bottom:-50px;
            max-width:150%;
            margin-left:-36%;
        }
    }
    @media all and (min-width:991px){
        float: right;
        width: 50%;
        margin-top: 21px;
        padding-left: 20px;    
    }
    @media all and (max-width:990px){
        margin-bottom:60px;
    }
    @media all and (max-width:767px){
        margin-bottom:40px;
    }
}
@media all and (min-width:991px){
.technology-page .cems-left-col img{
max-width:765px;
}
.construction-template2 .cems-left-col img{
    max-width: 929px;
}
}
.construction-template3 .cems-left-col img{
    margin-left:0;
    margin-bottom:0;
    @media all and (max-width:990px){
        max-width:100%;
        margin:0 auto;
    }
}
.cems-right-col{
    position: relative;
    z-index: 1;
    margin:0 auto;
    max-width: 330px;
    @media all and (min-width:991px){
        margin-top:108px;
        float: left;
        width: 50%;
        .cems-main-title{
            text-align: left;
        }
    }
    @media all and (max-width:990px){
        text-align: center;
    }
}
.cems-main-title{
        color:$default-content;
        text-align: center;
        font-size: $inner-title-font-size;
        line-height: $inner-title-line-height;
        margin-bottom:$inner-title-margin-bottom;
        font-weight: $inner-title-font-weight;
        @media all and (max-width:767px){
            font-size: $inner-title-font-size-responsive;
            line-height: $inner-title-line-height-responsive;
        }
        strong, b{
            font-weight: inherit;
        }
        @media all and (max-width:767px){
            font-size: 18px;
            line-height: 24px;
            margin-bottom:20px;
            
        }
}

.construction-employees-magazine-section ~ .contsructions-TV-projects-section{
    @media all and (min-width:768px){
        margin-top:-40px;
        position: relative;
        z-index: 1;
    }
}

.contsructions-TV-projects-section{
    text-align: center;
    .container{
        max-width:1070px;
    }
    @media all and (max-width:767px){
        padding-top:$section-space-responsive;
        padding-bottom:0;
    }
}
.ctps-title{
    font-size: $inner-title-font-size;
        line-height: $inner-title-line-height;
        margin-bottom:$inner-title-margin-bottom;
        font-weight: $inner-title-font-weight;
        @media all and (max-width:767px){
            font-size: $inner-title-font-size-responsive;
            line-height: $inner-title-line-height-responsive;
        }
        color:$default-content;
        margin-bottom:87px;
        strong, b{
            font-weight: inherit;
        }
        @media all and (max-width:767px){
            font-size: 18px;
            line-height: 24px;
            margin-bottom:20px;
        }
}
.ctps-image-section {
    margin-bottom:82px;
    @media all and (max-width:767px){
        margin-bottom:40px;
    }
    img{
        max-width: 100%;
        display: block;
        margin:0 auto;
    }
}

.healthcare-page{
    .ctps-image-section img{
        max-width:450px;
        width:100%;
    }
}
.usescases-detail-page .more-feature-section{
    padding-top:116px;
}

#tinymce .crls-image-wrapper{
    min-height:955px;
}
.construction-template2{
    
    .construction-employees-magazine-section:before{
        background: $background-color;
    }
    .cems-left-col img{
        margin-left:-110px;        
        margin-bottom:0;
    }
    @media all and (max-width:990px){
        .construction-employees-magazine-section{
            background: $background-color;
        }
        .cems-left-col img{
            margin-left: 0;
            max-width: 100%;
        }
    }
    &.science-page{
        .construction-employees-magazine-section{
            padding-bottom:131px;
        }
    }
    &.financial-page{
        .construction-employees-magazine-section{
            padding-bottom:124px;
        }
    }
}
.usescases-detail-page
{
    .construction-template3.hospital-pages, .construction-template3.events-page{
        .construction-employees-magazine-section{
            padding-bottom:0;
            margin-bottom:100px;
            &:before{
                bottom:0;
            }
        }
    }
}
