.why-visibly-page{
    .pageTitleWrapper .innerPageTitleWrapper { 
        
        @media all and (max-width:979px){
            padding:0;
            margin-bottom:$section-space-responsive;
        }
        .bannerTitle .text-description{
            padding-bottom:0;
        }

        .bannerTitleImage .image-container{
            @media all and (max-width:979px){
                margin-bottom:$section-title-bottom-space-responsive;
            }
        }

        &.alt{
            .bannerTitleImage .image-container{
                @media all and (min-width:980px){
                    margin-right:51px;
                    margin-left:0;
                }
            }
        }

    }
    
}

