<div class="csr-wrapper">
    <div class="csr-hero-section">
    <div class="chs-inner">
    <h1><span class="square-box-wrapper"><span class="squareBox box1 red">.</span>Corporate social <strong>responsibility</strong></span></h1>
    <div class="chs-desc">
    <p>We actively engage our people to make the world and the world of work a better place.</p>
    </div>
    <div class="free-trial-block">
    <div class="book-demobutton"><a class="free-trial-link" title="Request Demo" href="https://visibly.io/request-a-demo-by-mail/">Request Demo</a></div>
    </div>
    </div>
    </div>
    <div class="csr-top-section">
    <div class="container">
    <h2><span class="square-box-wrapper"><span class="squareBox box1 red">.</span>Operational <strong>ownership</strong> and our social programs</span></h2>
    <p>We have developed an active social program that includes bowling, restaurants, community work, cinema, restaurants and a sports club which ensures there is more to working in Visibly than just technology! The team are constructively engaged in operational activities of the company and are encouraged to participate in discussions and decision making that impact the key issues surrounding the business performance. Every employee is responsible for different areas of operational effectiveness. This ensures that people take more pride, ownership and involvement in the running of ‘their’ space (e.g. roles are assigned such as “Energy Saving Manager” in which the most recent electricity bill is sent to the whole team along with suggestions for saving energy). He or she is asked to report back to the operations task list coordinator on a weekly basis and the notes are distributed to the whole team.</p>
    <div class="csr-quote-wrapper">
    <div class="quote-icon"><i class="fas fa-quote-left"><span class="icon-text">quote</span></i></div>
    <div class="csr-quote-text">Anything I can do to help these children feel more positive about the world around them has got to be worth it.</div>
    <div class="quote-bottom-detail cf">
    <div class="csr-quote-author">- Asma Pathek</div>
    <div class="learn-more-in-homaPage"><a title="Operational ownership and our social programs" href="/blog-my-charity-day/"><span class="text">Read more</span> </a></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="importance-of-val-section alt cf">
    <div class="ivs-left-column">
    <div class="ivsl-img-wrapper"><img src="https://visibly.io/wp-content/uploads/2019/07/importans-of-values-image.jpg" alt="The importance of values" title="The importance of values" /></div>
    </div>
    <div class="ivs-right-column">
    <div class="ivs-right-column-inner">
    <h2><span class="square-box-wrapper"><span class="squareBox box1 red">.importance </span> The importance of <strong>values</strong></span></h2>
    <div class="ivs-para">
    <p>The values that have historically permeated Visibly in relation to our services are essential to the confidence and quality of the relationships we have with our clients. We value integrity in communication and action; social responsibility with respect to waste management and making a contribution to the community; and we possess an energetic can-do attitude. As a company we understand that in order to maintain the loyalty of our clients we need to work closely as a team, show attention to detail and deliver. Visibly continuously looks for improvements in every aspect of its activity and performance. We understand that the best companies in the world invest genuine time and effort in their career development, performance management, feedback mechanisms and training. </p>
    </div>
    </div>
    </div>
    </div>
    <div class="passion-for-diversity-section">
    <div class="pfd-columns-wrapper cf">
    <div class="pfd-left-column">
    <div class="pfd-left-column-image-wrapper cf"><img src="https://visibly.io/wp-content/uploads/2019/07/passion-for-image.jpg" alt="A passion for diversity" title="A passion for diversity" /></div>
    </div>
    <div class="pfd-right-column">
    <h2><span class="square-box-wrapper"><span class="squareBox box1 red">.</span> A passion for <strong>diversity </strong></span></h2>
    <p>There are very exciting career opportunities for women in Visibly. We have carried out an annual Women In Technology open day to showcase careers in technology. Woman can meet Visibly women actually working in technology, and also facilitate an open discussion on women in technology. The last Women In Technology open day attracted nearly 120 female participants. The day consists of a presentations followed by a view of working women in technology at Visibly and about the career opportunities at Visibly. Various questions are invited from all the participants on the activities carried out at Visibly. All the participants are taken on the tech tour to give them a real feeling of life as part of a dynamic technology community. Visibly’s HR team has a target of ensuring that 50% of all employees at Visibly are women. </p>
    </div>
    </div>
    </div>
    <div class="job-openin-promise-section">
    <div class="jops-columns-wrapper cf">
    <div class="job-right-column">
    <div class="jrc-inner">
    <h2>Our promise to you</h2>
    <p>If you decide to put your trust in us, we promise to create a career for you. We promise to put your safety first and at all times. We promise to challenge you in everything that you do, and help you to be the best you can possibly be. We promise to listen and then act. We promise to show and not tell, and we promise to be a human first software company. Come and grow with us! </p>
    </div>
    </div>
    <div class="jops-left-column">
    <div class="jopslc-inner">
    <h2>Current <strong>job</strong> openings</h2>
    <div class="job-block-wrapper">
    <div class="job-item last">
    <h3><a href="#">Business Development Manager</a></h3>
    <p>UK</p>
    <p>Salary negotiable</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>