<link rel='stylesheet' id='twentyseventeen-style-css'  href='../../style.css?ver=4.9.6' type='text/css' media='all' />
<body id="tinymce">
    
    
    <div class='mainWrapper founderMainWrapper'>
        
        
        <!-- page title wrapper -->
        <div class = "pageTitleWrapper page-container">
            <div class = "innerPageTitleWrapper"> 
                <div class = "bannerTitle">  
                    <div class = "text-description"> 
                        <div><h1 class = "PageTitle">Recruitment  </h1></div> 
                        <!-- page Title -->
                        <div class="mainTitle">
                            <!--   Retain the culture you’ve worked so hard to build -->
                            Turn your employees into talent magnets      </div>
                            <!--Banner Sub title -->
                            <div class="Paragraph">If you work in the corporate recruitment function today you are under immense pressure to recruit talent in an extremely tough global market. Great talent is now so tough to find, that it is no longer the responsibility of just one department. It has never been so important for employees to have access to employer brand content and job vacancies to share with their networks. Pool tables and beer fridges alone will not be enough to recruit the best talent, job seekers want to know the real inner workings of your company and have access to employee feedback without bias or exaggeration.</div>
                            <!-- Banner description -->
                            <div class="full-width-buttons">
                                
                                <div class="signupForm">
                                    <div class="free-trial-block">
                                        <div class="book-demobutton">
                                            <a class="free-trial-link" title="Request Demo" href="https://visibly.io/request-a-demo-by-mail/">Request Demo</a>
                                        </div>
                                    </div>
                                </div>      </div>
                            </div>    
                        </div>
                        <div class = "bannerTitleImage">
                            <div class = "image-container">
                                <img width="447" height="837" src="https://visibly.io/wp-content/uploads/2018/12/Image-Vertical1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://visibly.io/wp-content/uploads/2018/12/Image-Vertical1.jpg 447w, https://visibly.io/wp-content/uploads/2018/12/Image-Vertical1-251x470.jpg 251w" sizes="100vw" />  </div>
                            </div>
                            
                            
                        </div>
                    </div>
                    <!-- end page title wrapper -->
                    
                    <!-- second part (why you help you sscle) -->
                    <div class="anyalitcsMainContainerWrapper">
                        <div class = "anyalticsWrppaerContainer page-container"> 
                            <div class = "innerAnyalticsWrppaerContainer">
                                <div class = "mainTitle">Find out how we bring the employer brand to life</div>
                                <!-- Second para title -->
                                
                                <div class="textWrapper">
                                    <div class="content textWrapperContent"><div></div>
                                    <div class="content textWrapperContent"><div></div>
                                    <div class="content textWrapperContent">Visibly hooks up with your applicant tracking system (<a href="https://www.workable.com/">Workable</a> being a popular one), so that your employees have access to and can share all of your latest job vacancies to their networks. Not only are employee referrals the most economic way of recruiting, but they are also a proven source of culture fit candidates.</div></div>
                                    <div class="mainContainerOfanyalitcs clearfix">
                                        <div class="anyalitcsImageContainer"><img src="http://visibly.io/wp-content/uploads/2018/12/HR-Recruitment.jpg" alt="Founder-analytics" /></div>
                                        <div class="anyalitcsContent">
                                            <div class="content"><div></div>
                                            <div class="content textWrapperContent">
                                                The second way we help recruiters is by providing ongoing employee generated content to market the real workplace environment. We know that job seekers no longer trust direct Marketing, however, when promoted through your own employees, the conversion rate from job seeker to applicant goes up by 10x.
                                            </div></div>
                                        </div>
                                    </div>
                                    <!-- main content -->
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    <!-- End Second part -->
                    
                    
                </div>
                
            </div>
            
        </body>