<link rel='stylesheet' id='twentyseventeen-style-css'  href='../../style.css?ver=4.9.6' type='text/css' media='all' />
<body id="tinymce">
    
    <div class='mainWrapper founderMainWrapper'>
        
        
        <!-- page title wrapper -->
        <div class = "pageTitleWrapper page-container">
            <div class = "innerPageTitleWrapper"> 
                <div class = "bannerTitle">  
                    <div class = "text-description"> 
                        <div><h1 class = "PageTitle">Sales  </h1></div> 
                        <!-- page Title -->
                        <div class="mainTitle">
                            <!--   Retain the culture you’ve worked so hard to build -->
                            Build trusted relationships and create customer loyalty      </div>
                            <!--Banner Sub title -->
                            <div class="Paragraph">In an era when prospects no longer wish to be sold to, it has never been more important for sales people to build trust online. Salespeople need access to content that breaks through the noise yet still speaks to prospects on a one to one level. 
                                
                                &nbsp;
                                
                                &nbsp;</div>
                                <!-- Banner description -->
                                <div class="full-width-buttons">
                                    
                                    <div class="signupForm">
                                        <div class="free-trial-block">
                                            <div class="book-demobutton">
                                                <a class="free-trial-link" title="Request Demo" href="https://visibly.io/request-a-demo-by-mail/">Request Demo</a>
                                            </div>
                                        </div>
                                    </div>      </div>
                                </div>    
                            </div>
                            <div class = "bannerTitleImage">
                                <div class = "image-container">
                                    <img width="447" height="837" src="https://visibly.io/wp-content/uploads/2018/12/Sales-Vertical.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://visibly.io/wp-content/uploads/2018/12/Sales-Vertical.jpg 447w, https://visibly.io/wp-content/uploads/2018/12/Sales-Vertical-251x470.jpg 251w" sizes="100vw" />  </div>
                                </div>
                                
                                
                            </div>
                        </div>
                        <!-- end page title wrapper -->
                        
                        <!-- second part (why you help you sscle) -->
                        <div class="anyalitcsMainContainerWrapper">
                            <div class = "anyalticsWrppaerContainer page-container"> 
                                <div class = "innerAnyalticsWrppaerContainer">
                                    <div class = "mainTitle">Find out how we get help Sales teams build relationships</div>
                                    <!-- Second para title -->
                                    
                                    <div class="textWrapper">
                                        <div class="content textWrapperContent">Social selling is about person to person relationships, and ultimately about building trust. Social selling enables salespeople to nurture relationships over the long term, and removes the need for cold selling. Researching prospects on social media before engaging, means sales people can identify the right fits for their product or service. That means faster conversion rates and happier, long term clients who deliver a higher lifetime value to the business.</div>
                                        <div class="mainContainerOfanyalitcs clearfix">
                                            <div class="anyalitcsImageContainer"><img src="http://visibly.io/wp-content/uploads/2018/12/Sales-Middle.jpg" alt="Founder-analytics" /></div>
                                            <div class="anyalitcsContent">
                                                <div class="content">Secure communication feeds can be created inside Visibly to share content between one another, departments or customers. Similarly, feeds can be created per subject matter (e.g. SaaS Event).
                                                    
                                                    The asset library provides sales teams with the ultimate content sharing and management system. Coupled with the ability to create and edit content on the go, Visibly helps sales teams to subtly collect competitor information and work in unison with Marketing to prospect attendees at events and conferences.
                                                    
                                                    Sales teams can set up their own industry RSS feeds and share thought leadership pieces directly to their networks, adding in <a href="https://en.wikipedia.org/wiki/UTM_parameters">UTM</a> links to track conversion rates back to their CRM or Google Analytics. Marketing can also suggest appropriate articles, tag individuals or entire departments to share those suggestions.</div>
                                                </div>
                                            </div>
                                            <!-- main content -->
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                            <!-- End Second part -->
                            
                        </div>
                    </body>