<link rel='stylesheet' id='twentyseventeen-style-css'  href='../../style.css?ver=4.9.6' type='text/css' media='all' />
<body id="tinymce">

<div class='mainWrapper founderMainWrapper'>

  
        <!-- page title wrapper -->
        <div class = "pageTitleWrapper page-container">
          <div class = "innerPageTitleWrapper"> 
           <div class = "bannerTitle">  
            <div class = "text-description"> 
             <div><h1 class = "PageTitle">HR  </h1></div> 
             <!-- page Title -->
             <div class="mainTitle">
              <!--   Retain the culture you’ve worked so hard to build -->
              Supporting your change and transformation      </div>
            <!--Banner Sub title -->
            <div class="Paragraph">Visibly supports the HR function across several different stages of the employee lifecycle including but not limited to attraction, onboarding, retention and even managing an internal talent marketplace e.g. Alumni and contingent workers.</div>
            <!-- Banner description -->
            <div class="full-width-buttons">
              
      <div class="signupForm">
                        
      
          <div class="free-trial-block">
                <div class="book-demobutton">
                  <a class="free-trial-link" title="Request Demo" href="https://visibly.io/request-a-demo-by-mail/">Request Demo</a>
              </div>
      </div>
      </div>      </div>
          </div>    
        </div>
          <div class = "bannerTitleImage">
         <div class = "image-container">
          <img width="447" height="837" src="https://visibly.io/wp-content/uploads/2018/12/Development-Department.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://visibly.io/wp-content/uploads/2018/12/Development-Department.jpg 447w, https://visibly.io/wp-content/uploads/2018/12/Development-Department-251x470.jpg 251w" sizes="100vw" />  </div>
      </div>
      
      
      </div>
      </div>
      <!-- end page title wrapper -->
      
      <!-- second part (why you help you sscle) -->
      <div class="anyalitcsMainContainerWrapper">
        <div class = "anyalticsWrppaerContainer page-container"> 
          <div class = "innerAnyalticsWrppaerContainer">
            <div class = "mainTitle">Find out some specific ways we support HR</div>
            <!-- Second para title -->
            
            <div class="textWrapper">
              <div class="content textWrapperContent">When an applicant has been offered a new job, they often go through a garden leave period, which can be anything from one to six months (depending on seniority). This is an extremely tense time for the new employer, particularly if you work in a talent competitive space like Tech or Science. The applicant will spend months being counter offered and chased by external recruiters. For this reason, it is so important to start building the psychological contract as early on in the relationship as possible.</div>
              <div class="mainContainerOfanyalitcs clearfix">
                <div class="anyalitcsImageContainer"><img src="http://visibly.io/wp-content/uploads/2019/01/Screen-Shot-2019-01-14-at-14.39.56.png" alt="Founder-analytics" /></div>
                <div class="anyalitcsContent">
                  <div class="content">Visibly provides secure and exclusive two-way communications that build trust, and helps new employees embed into their new teams. Once on-boarded Visibly offers the perfect platform for reinforcing the EVP back into the workforce. Culture measurement tools then identify areas of negativity, or positivity that need focus, either to improve engagement or leverage for advocacy.</div>
                </div>
              </div>
              <!-- main content -->
      
            </div>
      
          </div>
        </div>
      </div>
      
      <!-- End Second part -->
      </div>

</body>      