<link rel='stylesheet' id='twentyseventeen-style-css'  href='../../style.css?ver=4.9.6' type='text/css' media='all' />
<body id="tinymce">

<div class='mainWrapper founderMainWrapper'>

  
        <!-- page title wrapper -->
        <div class = "pageTitleWrapper page-container">
          <div class = "innerPageTitleWrapper"> 
           <div class = "bannerTitle">  
            <div class = "text-description"> 
             <div><h1 class = "PageTitle">Communications  </h1></div> 
             <!-- page Title -->
             <div class="mainTitle">
              <!--   Retain the culture you’ve worked so hard to build -->
              A more effective way to shape the company's image and values.      </div>
            <!--Banner Sub title -->
            <div class="Paragraph">No matter what department your employees work in, the way they feel about your brand will impact your customer experience, and this directly impacts the bottom line.</div>
            <!-- Banner description -->
            <div class="full-width-buttons">
              
      <div class="signupForm">
                        
      
          <div class="free-trial-block">
                <div class="book-demobutton">
                  <a class="free-trial-link" title="Request Demo" href="https://visibly.io/request-a-demo-by-mail/">Request Demo</a>
              </div>
      </div>
      </div>      </div>
          </div>    
        </div>
          <div class = "bannerTitleImage">
         <div class = "image-container">
          <img width="447" height="837" src="https://visibly.io/wp-content/uploads/2018/12/Image-Vertical4.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://visibly.io/wp-content/uploads/2018/12/Image-Vertical4.jpg 447w, https://visibly.io/wp-content/uploads/2018/12/Image-Vertical4-251x470.jpg 251w" sizes="100vw" />  </div>
      </div>
      
      
      </div>
      </div>
      <!-- end page title wrapper -->
      
      <!-- second part (why you help you sscle) -->
      <div class="anyalitcsMainContainerWrapper">
        <div class = "anyalticsWrppaerContainer page-container"> 
          <div class = "innerAnyalticsWrppaerContainer">
            <div class = "mainTitle">Find out how we help you activate the brand internally</div>
            <!-- Second para title -->
            
            <div class="textWrapper">
              <div class="content textWrapperContent">Communication departments can drive employee advocacy programs to activate employees around the brand, by giving them greater clarity around the company's mission, vision and values.</div>
              <div class="mainContainerOfanyalitcs clearfix">
                <div class="anyalitcsImageContainer"><img src="http://visibly.io/wp-content/uploads/2018/12/Comm-Values.jpg" alt="Founder-analytics" /></div>
                <div class="anyalitcsContent">
                  <div class="content">Companies that are used to creating and posting content internally for their colleagues transition better to external employee advocacy than those that do not. This is why Visibly focusses so heavily on internal communications. Employee advocacy start internally, not on social media.
      
      Visibly helps communication functions to better understand their own workforce, and specifically the alignment between core values and employee behaviours. Behaviours are expressed through employee content, however it is the workforce feedback that gives communication department the data they need to drive change.</div>
                </div>
              </div>
              <!-- main content -->
      
            </div>
      
          </div>
        </div>
      </div>
      
      <!-- End Second part -->
      
      </div>

</body>      