<link rel='stylesheet' id='twentyseventeen-style-css'  href='../../style.css?ver=4.9.6' type='text/css' media='all' />
<body id="tinymce">

<div class='mainWrapper founderMainWrapper'>
    
    
    <!-- page title wrapper -->
    <div class = "pageTitleWrapper page-container">
        <div class = "innerPageTitleWrapper"> 
            <div class = "bannerTitle">  
                <div class = "text-description"> 
                    <div><h1 class = "PageTitle">C-Suite  </h1></div> 
                    <!-- page Title -->
                    <div class="mainTitle">
                        <!--   Retain the culture you’ve worked so hard to build -->
                        Align your workforce      </div>
                        <!--Banner Sub title -->
                        <div class="Paragraph">As a board member, your day to day interaction with the workforce is limited, making it harder to influence change. This is why it is so important to codify the values that you want to instil inside your business early on, making them a compass for employee behaviours. In an ever-evolving workplace, pinning a poster to the walls with your values simply won't cut it anymore, you need employees to live your values, and that means hearing, seeing, experiencing them every day.</div>
                        <!-- Banner description -->
                        <div class="full-width-buttons">
                            
                            <div class="signupForm">
                                
                                
                                <div class="free-trial-block">
                                    <div class="book-demobutton">
                                        <a class="free-trial-link" title="Request Demo" href="https://visibly.io/request-a-demo-by-mail/">Request Demo</a>
                                    </div>
                            </div>
                        </div>      </div>
                    </div>    
                </div>
                <div class = "bannerTitleImage">
                    <div class = "image-container">
                        <img width="447" height="837" src="https://visibly.io/wp-content/uploads/2018/12/banner-img.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Founder-image" srcset="https://visibly.io/wp-content/uploads/2018/12/banner-img.png 447w, https://visibly.io/wp-content/uploads/2018/12/banner-img-251x470.png 251w" sizes="100vw" />  </div>
                    </div>
                    
                    
                </div>
            </div>
            <!-- end page title wrapper -->
            
            <!-- second part (why you help you sscle) -->
            <div class="anyalitcsMainContainerWrapper">
                <div class = "anyalticsWrppaerContainer page-container"> 
                    <div class = "innerAnyalticsWrppaerContainer">
                        <div class = "mainTitle">How we help you drive your company values</div>
                        <!-- Second para title -->
                        
                        <div class="textWrapper">
                            <div class="content textWrapperContent">Visibly supports C-suite in the promotion of values and behaviours, helping them contextualise them in a way that makes them feel more real and liveable.</div>
                            <div class="mainContainerOfanyalitcs clearfix">
                                <div class="anyalitcsImageContainer"><img src="http://visibly.io/wp-content/uploads/2018/12/anyalitcs-top-1.png" alt="Founder-analytics" /></div>
                                <div class="anyalitcsContent">
                                    <div class="content">The most important part of this feature is the way in which employees are empowered to promote the values as opposed to senior management imposing them on employees. In other words, employees are in control of defining what behaviours they think best represent the values. This feedback helps C-suite understand how "lived" the values actually are, and if the workforce truly agrees with their definition.</div>
                                </div>
                            </div>
                            <!-- main content -->
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <!-- End Second part -->
    </div>

</body>