<link rel='stylesheet' id='twentyseventeen-style-css'  href='../../style.css?ver=4.9.6' type='text/css' media='all' />
<body id="tinymce">


<div class='mainWrapper founderMainWrapper'>

  
        <!-- page title wrapper -->
        <div class = "pageTitleWrapper page-container">
          <div class = "innerPageTitleWrapper"> 
           <div class = "bannerTitle">  
            <div class = "text-description"> 
             <div><h1 class = "PageTitle">Marketing  </h1></div> 
             <!-- page Title -->
             <div class="mainTitle">
              <!--   Retain the culture you’ve worked so hard to build -->
              Humanise your brand and attract more customers into the funnel      </div>
            <!--Banner Sub title -->
            <div class="Paragraph">With the increase in customer acquisition cost (CAC) on paid social, and the decline of organic reach, we are all having to reconsider our customer acquisition models.</div>
            <!-- Banner description -->
            <div class="full-width-buttons">
              
      <div class="signupForm">
                        
      
          <div class="free-trial-block">
                <div class="book-demobutton">
                  <a class="free-trial-link" title="Request Demo" href="https://visibly.io/request-a-demo-by-mail/">Request Demo</a>
                </div>
      </div>
      </div>      </div>
          </div>    
        </div>
          <div class = "bannerTitleImage">
         <div class = "image-container">
          <img width="447" height="837" src="https://visibly.io/wp-content/uploads/2018/12/Marketing-Department.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://visibly.io/wp-content/uploads/2018/12/Marketing-Department.jpg 447w, https://visibly.io/wp-content/uploads/2018/12/Marketing-Department-251x470.jpg 251w" sizes="100vw" />  </div>
      </div>
      
      
      </div>
      </div>
      <!-- end page title wrapper -->
      
      <!-- second part (why you help you sscle) -->
      <div class="anyalitcsMainContainerWrapper">
        <div class = "anyalticsWrppaerContainer page-container"> 
          <div class = "innerAnyalticsWrppaerContainer">
            <div class = "mainTitle">Find out how we help you build an authentic brand</div>
            <!-- Second para title -->
            
            <div class="textWrapper">
              <div class="content textWrapperContent">For many businesses, employee advocacy is a logical strategy to attract more clients into the top of the Marketing funnel. Collectively employees have far more connections on their social media accounts than the average corporate Marketing department. Consumers (B2B & B2C) are also far savvier buyers than before, and far less trusting.</div>
              <div class="mainContainerOfanyalitcs clearfix">
                <div class="anyalitcsImageContainer"><img src="http://visibly.io/wp-content/uploads/2018/12/Marketing-Middle.png" alt="Founder-analytics" /></div>
                <div class="anyalitcsContent">
                  <div class="content">It was Steve Jobs of Apple who said "“Marketing is about values. It’s a complicated and noisy world, and we’re not going to get a chance to get people to remember much about us. No company is. So we have to be really clear about what we want them to know about us.” Well, the world is not getting any quieter, and it's not going to change anytime soon. For this reason, Marketers of all disciplines need to look internally first. Articulating your brand around your people is in its most simplistic form, honest. We are going through a massive shift in brand communications, socially, politically and economically, where brands (personal and commercial) that are (perceived as) honest with their core values, are succeeding. Marketers can emulate this by empowering their own employees to talk on behalf of their brand.</div>
                </div>
              </div>
              <!-- main content -->
      
            </div>
      
          </div>
        </div>
      </div>
      
      <!-- End Second part -->
      
      </div>

      </body>