<div class="employee-engagment-section employee-advocacy-section">
    <div class="ees-top-section">
    <div class="ees-top-section-inner">
    <h1><span class="square-box-wrapper"><span class="squareBox box1 blue">.</span>Employee advocacy</span></h1>
    <div class="ees-banner-cation-wrapper">
    <p>Create a culture where your people promote your company without being asked.</p>
    </div>
    <div class="free-trial-block">
    <div class="book-demobutton"><a class="free-trial-link" title="Request Demo" href="https://visibly.io/request-a-demo-by-mail/">Request Demo</a></div>
    </div>
    </div>
    </div>
    <div class="ee-mean-section">
    <div class="container">
    <h2><span class="square-box-wrapper"><span class="squareBox box1 blue">.</span><strong>What</strong> does employee advocacy actually mean?</span></h2>
    <p>Employee advocacy is a form of word of mouth marketing. It is when an organisation encourages their own employees to promote the brand online and offline. Word of mouth marketing is one of the most powerful ways an organisation can promote itself. Modern technology now gives brands an even better way of leveraging their own internal teams to act as advocates, creating powerful word of mouth marketing campaigns that build brand awareness externally and improve communications internally. With social media a company can amplify this strategy, turning employees into brand ambassadors on their behalf. It’s not just the numbers that make employee advocacy such an attractive marketing strategy. Any posts that are shared by your own employees are far more authentic than those promoted directly. People believe their friends and are 83% more likely to act on a recommendation from someone they know (source Nielsen). Employee advocacy has many benefits ranging from brand awareness to recruitment, sales, customer support, employer branding, internal communications, PR and employee engagement. It touches every department and if done correctly, can be the foundation on which to transform workplace culture.</p>
    </div>
    </div>
    <div class="ee-slow-section">
    <div class="container cf">
    <div class="ees-left-column"><img src="https://visibly.io/wp-content/uploads/2019/08/ea-slow-banner.jpg" alt="Why is employee engagement so low?" /></div>
    <div class="ees-right-column">
    <h2><span class="square-box-wrapper"><span class="squareBox box1 blue">.</span>Why is employee advocacy so <strong>misunderstood?</strong></span></h2>
    <p>Modern employee advocacy was conceived following the 2008 financial crisis. As consumer confidence waned, Marketers searched out new ways to rebuild trust. As such, employee advocacy was created to reach new networks and create more authentic messaging. The problem was that little attention was paid to why employees might want to advocate in the first place. As a result, many organisations that launched the first wave of advocacy programs failed. </p>
    </div>
    </div>
    </div>
    <div class="ee-solution-section">
    <div class="container">
    <h2><span class="square-box-wrapper"><span class="squareBox box1 blue">.</span>How does Visibly <strong>solve</strong> this problem?</span></h2>
    <p>In short Visibly is not an advocacy software it is an employee experience and culture change platform. When we built Visibly we looked at advocacy in its totality, not just as a standalone external marketing piece. We believe that real advocacy comes from within, and occurs naturally as a byproduct of great culture. For this reason we created a platform that focusses on transformation, leveraging advocacy and Appreciative Inquiry to drive better brand experiences internally and externally. </p>
    </div>
    </div>
    </div>