<div class="integration-section">
    <div class="integration-three-col-wrapper">
    <div class="container cf">
    <div class="itc-column">
    <div class="itcc-top-text">Bespoke</div>
    <div class="itcc-bottom-text">Workflows</div>
    </div>
    <div class="itc-column">
    <div class="itcc-top-text">400+</div>
    <div class="itcc-bottom-text">Enterprise Integrations</div>
    </div>
    <div class="itc-column">
    <div class="itcc-top-text">Free</div>
    <div class="itcc-bottom-text">Native Integrations</div>
    </div>
    </div>
    </div>
    <div class="integration-we-help-you-section">
    <div class="container">
    <h2><span class="square-box-wrapper"><span class="squareBox box1 yellow">.</span>We help you orchestrate powerful enterprise workflow <strong>automations</strong> across the business.</span></h2>
    <p>Whether in HR, Recruitment, Marketing, Communications, or any other business function, we can set up complex integrations and workflows between Visibly and your existing applications. Working with our global integrations partner, we already have 150,000 pre-made recipes, with the ability to create new ones in days, not months. No matter the type of application, HRIS, ATS, CRM, Marketing Automation, Project Management etc. We ensure your entire cloud ecosystem is connected, secure and driving a better user experience for everyone.</p>
    <div class="request-link-wrapper"><a class="integration-contact-form-popup" title="Request more information about our enterprise integrations" href="#integration-contact-form">Request more information about our enterprise integrations</a></div>
    
    [xyz-ips snippet="integration-email-popup"]</div>
    </div>
    <div class="native-integration-section">
    <div class="container cf">
    <div class="nis-left-column"><img title="Native integrations right out of the box" src="http://beta.visibly.io/wp-content/uploads/2019/07/native-integration-imac.png" alt="Native integrations right out of the box" /></div>
    <div class="nis-right-column">
    <h2><span class="square-box-wrapper"><span class="squareBox box1 yellow">.</span><strong>Native</strong> integrations </span></h2>
    <p>Visibly has a number of native integrations, available right out of the box. Simply add your security key and start connecting If you need more complex workflows, or you can’t find the application you need in our native list, then you will most likely require an enterprise integration, if this is the case <a href="http://beta.visibly.io/contact/">contact us</a> and we’ll run through the process.</p>
    </div>
    </div>
    </div>
    <div class="connect-slack-env-section">
    <div class="container cf">
    <div class="cles-left-column"><img title="Connect your Slack environment" src="http://beta.visibly.io/wp-content/uploads/2019/07/slack-screen.jpg" alt="Connect your Slack environment" /></div>
    <div class="cles-right-column">
    <h2><span class="square-box-wrapper"><span class="squareBox box1 yellow">.</span>Connect <strong>to Slack </strong></span></h2>
    <p>If you have a development team, it’s going to be very hard, if not impossible to prize them off their Slack environment. With Visibly there’s no need, we can trigger Visibly notifications right inside Slack, so your developers can see what’s going on without the constant need of logging in and out of multiple applications. We have both native and enterprise integrations with Slack, offering unlimited possibilities.</p>
    </div>
    </div>
    </div>
    </div>