<div class="featureMainBox plateform">
    <div class="mainWrapper featureMainWrapper">
    <div class="pagemainTitleWrapper a-center">
    <div>
    <h1 class="pageTitleForH1Tag"><span class="square-box-wrapper"><span class="squareBox box1 yellow">.</span><span class="squareBox box2 green">.</span><span class="squareBox box3 red">.</span>One platform for all of your communication needs</span></h1>
    </div>
    </div>
    <div class="feature-main-video-wrapper">
    <div id="visbly-web-video" class="banner-video-wrapper">
    <p><script src="https://fast.wistia.com/embed/medias/pqy4k83g0s.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script></p>
    <div class="wistia_responsive_padding" style="padding: 56.25% 0 0 0; position: relative;">
    <div class="wistia_responsive_wrapper" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;"><span class="wistia_embed wistia_async_pqy4k83g0s popover=true popoverAnimateThumbnail=true videoFoam=true" style="display: inline-block; height: 100%; position: relative; width: 100%;">.</span></div>
    </div>
    </div>
    </div>
    <div class="our-feature-section">
    <div class="container">
    <div class="our-feature-main-title"><span class="square-box-wrapper"><span class="squareBox box1 blue">.</span><span class="squareBox box2 red">.</span></span><strong>Features</strong> overview</div>
    <div class="feature-column-wrapper">
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-feeds-icon">.</span>FEEDS</div>
    <div class="fc-content">Tailored feeds to satisfy all communications.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="/platform/feeds/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-advocacy-icon">.</span>ADVOCACY DIAGNOSTICS</div>
    <div class="fc-content">Scientifically researched advocacy diagnostics.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="/platform/advocacy-diagnostics/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-asset-mgt-icon">.</span>ASSET MANAGEMENT</div>
    <div class="fc-content">End to end media asset management.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="/platform/asset-management/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-asset-editor-icon">.</span>MEDIA EDITORS</div>
    <div class="fc-content">Edit and optimise photos and videos.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="/platform/media-editors/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-campaigns-icon">.</span>CAMPAIGNS</div>
    <div class="fc-content">Targetted communications campaigns.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="/platform/campaigns/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-moderation-icon">.</span>MODERATION</div>
    <div class="fc-content">Brand governance and compliance.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="/platform/moderation/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-polls-n-pulse-icon">.</span>POLLS AND PULSE</div>
    <div class="fc-content">Surveys to measure employee engagement.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="/platform/polls-and-pulse/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-analytics-icon">.</span>ANALYTICS</div>
    <div class="fc-content">Analytics for adoption, social media and more.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="/platform/analytics/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-gamification-icon">.</span>GAMIFICATION</div>
    <div class="fc-content">Create competition through points and leaderboards.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="/platform/gamification/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-email-icon">.</span>Emails</div>
    <div class="fc-content">Create and send HTML <br />
    emails.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="/platform/email/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-print-mgt-icon">.</span>PRINT MANAGEMENT</div>
    <div class="fc-content">Design, print and ship employee magazines.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="/platform/print-management/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-sms-icon">.</span>SMS &amp; PUSH</div>
    <div class="fc-content">Send bespoke SMS notifications.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="/platform/sms-push/">Learn more</a></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>