<div class="security-page">
    <div class="security-safe-hand-section">
    <div class="container">
    <div class="shield-image-wrapper">.</div>
    <h2>You’re in <strong>safe</strong> hands</h2>
    <p>Visibly is committed to helping protect customers with leading privacy and security technologies that are designed to safeguard personal information, as well as comprehensive methods to help protect corporate data in an enterprise environment. Visibly uses a consistent, integrated security infrastructure throughout the process, all applications designed by Visibly are built with enhanced security in mind.</p>
    </div>
    </div>
    <div class="security-gdpr-section">
    <div class="container cf">
    <div class="sgs-left-column"><img title="GDPR and encryption" src="http://beta.visibly.io/wp-content/uploads/2019/07/gdpr-image.png" alt="GDPR and encryption" /></div>
    <div class="sgs-right-column">
    <div class="gdpr-image-wrapper cf">
    <div class="gdpr-image gdpr-image1">.</div>
    <div class="gdpr-image gdpr-image2">.</div>
    </div>
    <h2><span class="square-box-wrapper"><span class="squareBox box1 yellow">.</span><strong>GDPR</strong> and encryption</span></h2>
    <p>We primarily collect data when a user signs-up for Visibly services. Where data tracking is enabled we make sure that we do not collect any personally identifiable information. Visibly as data controller &amp; data processor takes full responsibility for implementing technical and organisational measures to comply with the regulation including full encryption through SSL and Cloudfront. If you have any doubts or questions, please feel free to contact us at <a href="mailto:privacy@visibly.io">privacy@visibly.io</a></p>
    </div>
    </div>
    </div>
    <div class="single-sign-on">
    <div class="container cf">
    <div class="sso-left-column"><img title="SSO" src="http://beta.visibly.io/wp-content/uploads/2019/07/sso-image.jpg" alt="SSO" /></div>
    <div class="sso-right-column">
    <div class="single-sign-on-image-wrapper cf">
    <div class="single-sign-on-image">.</div>
    </div>
    <h2><span class="square-box-wrapper"><span class="squareBox box1 yellow">.</span><strong>Single</strong> sign on</span></h2>
    <p>Single sign-on (SSO) is a system that enables users to securely authenticate with multiple applications and websites by logging in only once—with just one set of credentials (username and password). With SSO, the application or website that the user is trying to access relies on a trusted third party to verify that users are who they say they are. SSO saves time and energy because users do not have to repeatedly log into multiple applications.</p>
    </div>
    </div>
    </div>
    <div class="commitment-to-security">
    <div class="container">
    <div class="amazone-image-wrapper">.</div>
    <h2><span class="square-box-wrapper"><span class="squareBox box1 yellow">.</span>A <strong>committment</strong> to security</span></h2>
    <div class="cts-col-wrapper cf">
    <div class="cts-col">
    <p>All Visibly servers, databases and storage are located in a top-tier and secure cloud networks in order to provide customers with the greatest flexibility. Visibly utilises the same platform Amazon uses - Amazon Web Services (AWS).</p>
    <p>Visibly does not run our own routers, load balancers, DNS servers, or physical servers. All of our services and data are hosted in AWS facilities and protected by AWS security, as described at <a href="http://aws.amazon.com/security/sharing-the-security-responsibility">http://aws.amazon.com/security/sharing-the-security-responsibility.</a></p>
    <p>Visibly services have been built with disaster recovery in mind. All of our infrastructure is spread across 3 AWS data centers (availability zones) and will continue to work should any one of those data centers fail unexpectedly. Amazon does not disclose the location of its data centers. As such, Visibly builds on the physical security and environmental controls provided by AWS <a href="http://aws.amazon.com/security"> http://aws.amazon.com/security.</a></p>
    </div>
    <div class="cts-col last">
    <p>All of our servers are within our own virtual private cloud (VPC) with network access control lists (ACL’s) that prevent unauthorised requests getting to our internal network. Visibly uses a backup solution for datastores that contain customer data.</p>
    <p>Visibly has been developed using Amazon S3 which supports user authentication to control access to data. You can use access control mechanisms such as bucket policies and Access Control Lists (ACLs) to selectively grant permissions to users and groups of users. The Amazon S3 console highlights your publicly accessible buckets, indicates the source of public accessibility, and also warns you if changes to your bucket policies or bucket ACLs would make your bucket publicly accessible. You can securely upload/download your data to Amazon S3 via SSL endpoints using the HTTPS protocol.</p>
    </div>
    </div>
    </div>
    </div>
    </div>