<div class="agency-wrapper traning-wrapper">
    
    
    <div class="agency-communication-section">
            
        
    <div class="acs-inner">
            
        
    <h1><span class="square-box-wrapper"><span class="squareBox box1 blue">.</span>Software and communications training</span></h1>
    
        
            
        
    <div class="acs-desc">
            
        
    <p>We have a comprehensive training program that consists of both remote online, offsite and onsite group sessions.</p>
    
        
            </div>
    
        
            
        
    <div class="free-trial-block">
            
        
    <div class="book-demobutton"><a class="free-trial-link" title="Request Demo" href="https://visibly.io/request-a-demo-by-mail/">Request Demo</a></div>
    
        
            </div>
    
        
            </div>
    
        
            </div>
    
        
            
        
    <div class="communication-support-section">
            
        
    <div class="container">
            
        
    <h2><span class="square-box-wrapper"><span class="squareBox box1 blue">.</span><strong>What</strong> type of training do we offer and to whom?</span></h2>
    
        
            
        
    <p>Our classroom and off-site training courses are delivered by acknowledged experts in their field - top-tier practitioners who are ahead of the curve in their subject - backed by comprehensive, highly engaging training materials and unrivalled ongoing support. Our many client references and referrals are testimony to the fact that this training transforms efficiency, embeds positive new behaviours - and delivers sustainable improvements in results.</p>
    
        
            </div>
    
        
            </div>
    
        
            
        
    <div class="bafta-award-section">
            
        
    <div class="container">
            
        
    <div class="bafta-award-inner cf">
            
        
    <div class="bas-left-column"><img src="https://visibly.io/wp-content/uploads/2019/07/training-in-hurry.png" alt="Training you won’t forget in a hurry" title="Training you won’t forget in a hurry" /></div>
    
        
            
        
    <div class="bas-right-column">
            
        
    <h2><span class="square-box-wrapper"><span class="squareBox box1 blue">.</span>Training you <strong>won’t</strong> forget in a hurry </span></h2>
    
        
            
        
    <p>For the more adventurous we also offer a unique 2-3 day seminar in the South of France (Perpignan), mixing classic classroom training with kayaking, white water rafting, horse riding, wine tasting, water skiing, wakeboarding, paddle boarding, canyoning, wellness spa and more.</p>
    
        
            
        
    <p>Come and enjoy top class training in amongst the beauty of the Pyrénées-Orientales.</p>
    
        
            </div>
    
        
            </div>
    
        
            </div>
    
        
            </div>
    
        
            
        
    <div class="worldclass-employer-section">
            
        
    <div class="container">
            
        
    <h2><span class="square-box-wrapper"><span class="squareBox box1 blue">.</span>Train the <strong>trainer</strong> for individuals or groups</span></h2>
    
        
            
        
    <p>When rolling out training across multiple employee groups, it's sometimes easier and more cost effective to train one representative from each group and supply them with the knowledge to up skill the rest of the workforce.  A competent and skilled group of internal trainers will also help a lot in supporting any future change and transformation initiatives that your organisation might undertake.</p>
    
        
            </div>
    
        
            </div>
    
        
            </div>