<div class="featureMainBox featurepage">
    <div class="mainWrapper featureMainWrapper">
    <div class="pagemainTitleWrapper a-center">
    <div>
    <h1 class="pageTitleForH1Tag"><span class="square-box-wrapper"><span class="squareBox box1 yellow">.</span><span class="squareBox box2 green">.</span><span class="squareBox box3 red">.</span>Visibly works for everyone </span></h1>
    </div>
    </div>
    <div class="container">
    <div class="featureBannerCols cf">
    <div class="featureImageCol">
    <p><script src="https://fast.wistia.com/embed/medias/tj8hnshfmm.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_tj8hnshfmm popover=true popoverContent=link" style="display: inline; position: relative;"><a class="svg-link" href="#">[xyz-ips snippet="why-visibly-banner"]<span class="play-btn">.</span></a></span></p>
    </div>
    <div class="featureContentCol">
    <div class="featureContentColInner">
    <div class="bannerFeaturesListWrapper">
    <div class="bannerFeatureBlock employeeBlock">
    <div class="bannerFeatureBlockInner">[xyz-ips snippet="For-EMPLOYEES-icon"]
    
    <div class="bannerFeatureTitle">EMPLOYEES</div>
    <div class="bannerFeatureDesc">One centralised platform for all your online and offline employee communications.</div>
    </div>
    </div>
    <div class="bannerFeatureBlock customBlock">
    <div class="bannerFeatureBlockInner">[xyz-ips snippet="For-customer-icon"]
    
    <div class="bannerFeatureTitle">CUSTOMERS</div>
    <div class="bannerFeatureDesc">Leverage employee advocacy for more authentic customer brand communications.</div>
    </div>
    </div>
    <div class="bannerFeatureBlock talentBlock">
    <div class="bannerFeatureBlockInner">[xyz-ips snippet="For-job-seeker"]
    
    <div class="bannerFeatureTitle">JOB SEEKERS</div>
    <div class="bannerFeatureDesc">Promote a living, breathing and activated employer brand.</div>
    </div>
    </div>
    <div class="bannerFeatureBlock guestBlock">
    <div class="bannerFeatureBlockInner bannerFeatureGuest">[xyz-ips snippet="For-guest-icon"]
    
    <div class="bannerFeatureTitle">GUESTS</div>
    <div class="bannerFeatureDesc">Manage resellers, partners, vendors, supply chain, shareholder communications.</div>
    </div>
    </div>
    </div>
    <div class="full-width-buttons">
    <div class="signupForm">
    <div class="free-trial-block">
    <div class="book-demobutton"><a class="free-trial-link" title="Request Demo" href="https://visibly.io/request-a-demo-by-mail/">Request Demo</a></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="our-feature-section">
    <div class="container">
    <div class="our-feature-main-title"><span class="square-box-wrapper"><span class="squareBox box1 blue">.</span><span class="squareBox box2 red">.</span></span><strong>Industry</strong> overview</div>
    <div class="feature-column-wrapper">
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-construction-icon">.</span>CONSTRUCTION</div>
    <div class="fc-content">Off-site and non-technical workers.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="https://visibly.io/why-visibly/construction/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-technology-icon">.</span>TECHNOLOGY</div>
    <div class="fc-content">Rapidly growing headcount and diluting culture.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="https://visibly.io/why-visibly/technology/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-retail-icon">.</span>RETAIL</div>
    <div class="fc-content">Dispersed work teams and non-desk workers.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="https://visibly.io/why-visibly/retail/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-engineering-icon">.</span>MANUFACTURING</div>
    <div class="fc-content">Remote locations or non-technical workers.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="https://visibly.io/why-visibly/manufacturing/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-healthcare-icon">.</span>healthcare</div>
    <div class="fc-content">Engaged workers means satisfied patients.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="https://visibly.io/why-visibly/healthcare/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-leisure-icon">.</span>Hospitality</div>
    <div class="fc-content">De-centralised non-desk workers.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="https://visibly.io/why-visibly/hospitality/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-science-icon">.</span>Science</div>
    <div class="fc-content">Hazardous environments and non desk workers.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="https://visibly.io/why-visibly/science/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-financial-icon">.</span>FINANCIAL</div>
    <div class="fc-content">Highly regulated industries.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="https://visibly.io/why-visibly/financial/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-events-icon">.</span>EVENTS</div>
    <div class="fc-content">Complex stakeholder communications .</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="https://visibly.io/why-visibly/events/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-media-icon">.</span>Logistics</div>
    <div class="fc-content">Remote and non-technical workers.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="https://visibly.io/why-visibly/logistics/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-education-icon">.</span>EDUCATION</div>
    <div class="fc-content">Complex communication requirements.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="https://visibly.io/why-visibly/education/">Learn more</a></div>
    </div>
    </div>
    <div class="feature-column">
    <div class="feature-column-inner">
    <div class="fc-title"><span class="fc-icon-wrapper fc-non-profit-icon">.</span>NON PROFIT</div>
    <div class="fc-content">Encouraging shy <br />
    advocates.</div>
    <div class="fc-learn-more-link-wrapper"><a title="Learn more" href="https://visibly.io/why-visibly/non-profit/">Learn more</a></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>