//colors
$background-color:#ffecb2;
$border:#e1e1e1;
$default-content:#333333;
$footer-main-title:#282828;
$green : #2fbf71;
$greenLight1:#c0ecd4;
$greyText: #b8b5b5;
$form-border:#e6e6e6;
$footer-icon:#b3b3b3;
$footer-bottom-background:#eae9e9;
$Header-title:#1c1c1c;
$light-text: #7b7b7b;
$lightOrange:#fdd7bc;
$light-blue:#dae7ff;
$lightPink:#ffe3e4;
$lightYellow:#fff4d4;
$lightGreen: #dcf4e7;
$lightGray:#eeeded;
$lightPinkForHelpBoxHover:#ffacae;
$lightPinkForHelpBoxActive:#ffacae;
$errorBackground:#ffefef;
$orange : #fa7921;
$primary: #ff595e;
$primary2 : #FC7A83;
$newPrimary:#ff595e;
$primaryLight1:rgb(209, 198, 198);
$primaryLight2:#ffd1d2;
$primaryLight3 : #FFC5CD;
$secondary: #ffbf00;
$secondaryLight1: #ffedb8;
$theme : #256eff;
$themeLight1:#c2d7ff;
$titleGrayBorder:#dad9d9;
$white:#ffffff;
$footerBorder:#efeeee;
$subscribeFormBackground:#f0efef;
$color-light-grey:#666666;
$paragraph-color:#333333;
$header-border: #f6f6f6;
$section-border:#e7e8e7;
$section-pink-border:#fecece;
$section-yellow-border:#e7d59c;

$blue-theme-bgcolor:#c8dbff;
$blue-theme-bordercolor:#abc7fc;

$pink-theme-bgcolor:$lightPink;
$pink-theme-bordercolor:#f6b3b5;

$green-theme-bgcolor:$greenLight1;
$green-theme-bordercolor:#80e7ae;

/* MIXIN : MEDIA QUERIES
 *    EX : @include mq( 'lap-and-up' ) { CODE }
 * ------------------------------------------------------------------------- */
$phone:            "screen and (max-width: 767px)";
$tablet:           "screen and (min-width: 768px) and (max-width: 1023px)";
$phone-and-tablet: "screen and (max-width: 1023px)";
$tablet-and-up:    "screen and (min-width: 768px)";
$tablet-portrait:  "screen and (min-width: 768px) and (max-width: 959px)";
$tablet-landscape: "screen and (min-width: 960px) and (max-width: 1023px)";
$lap:              "screen and (min-width: 1024px) and (max-width: 1219px)";
$lap-and-up:       "screen and (min-width: 1024px)";
$desk-and-up:      "screen and (min-width: 1220px)";
$lap-and-desk:     "screen and (min-width: 1024px) and (max-width: 1679px)";
$wide-and-up:      "screen and (min-width: 1680px)";
$retina:           "(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi)";

@mixin mq($alias) {
  @if $alias == "phone" {
    @media #{$phone} {
      @content;
    }
  } @else if $alias == "tablet" {
    @media #{$tablet} {
      @content;
    }
  } @else if $alias == "phone-and-tablet" {
    @media #{$phone-and-tablet} {
      @content;
    }
  } @else if $alias == "tablet-and-up" {
    @media #{$tablet-and-up} {
      @content;
    }
  } @else if $alias == "tablet-portrait" {
    @media #{$tablet-portrait} {
      @content;
    }
  } @else if $alias == "tablet-landscape" {
    @media #{$tablet-landscape} {
      @content;
    }
  } @else if $alias == "lap" {
    @media #{$lap} {
      @content;
    }
  } @else if $alias == "lap-and-up" {
    @media #{$lap-and-up} {
      @content;
    }
  } @else if $alias == "desk-and-up" {
    @media #{$desk-and-up} {
      @content;
    }
  } @else if $alias == "lap-and-desk" {
    @media #{$lap-and-desk} {
      @content;
    }
  } @else if $alias == "wide-and-up" {
    @media #{$wide-and-up} {
      @content;
    }
  } @else if $alias == "retina" {
    @media #{$retina} {
      @content;
    }
  }
}

//  FONT FAMILY

$heading-font: "Montserrat", sans-serif;
$body-font   :  "Montserrat", sans-serif;

//font weight
$font-light     : 300;
$font-regular   : 400;
$font-medium    : 500;
$font-semi-bold : 600;
$font-bold      : 700;
$font-extra-bold: 800;
$font-black     : 900;


// Title fonts size, line height and font-weight

// main title
$main-title-font-size:47px;
$main-title-line-height:57px;
$main-title-font-weight:$font-extra-bold;
$main-title-margin-bottom:10px;

$main-title-font-size-responsive:18px;
$main-title-line-height-responsive:28px;

//sub title
$hero-sub-title-font-size:18px;
$hero-sub-title-line-height:30px;
$hero-sub-title-font-weight:$font-light;
$hero-sub-title-margin-bottom:30px;

$hero-sub-title-font-size-responsive:14px;
$hero-sub-title-line-height-responsive:24px;
$hero-sub-title-margin-bottom-responsive:20px;

//Button 
$btn-width:138px;
$btn-height:58px;
$btn-font-size:14px;
$btn-font-weight:$font-medium ;
$btn-radius:2px;

//section space
$section-space:132px;
$section-half-space:66px;
$section-space-responsive:50px;
$section-spacing:$section-space;
$mobile-section-spacing:$section-space-responsive;
$section-title-bottom-space:86px;
$section-title-bottom-space-responsive:25px;

$feature-section-space:$section-space;
$feature-section-space-responsive:$section-space-responsive;


//inner title
$inner-title-font-size:30px;
$inner-title-line-height:35px;
$inner-title-margin-bottom:25px;
$inner-title-font-weight:$font-extra-bold;

$inner-title-font-size-responsive:20px;
$inner-title-line-height-responsive:25px;

// inner page main title
$inner-page-main-title-font-size:35px;
$inner-page-main-title-line-height:40px;
$inner-page-main-title-font-weight:$font-black;

$inner-page-main-title-font-size-responsive:20px;
$inner-page-main-title-line-height-responsive:25px;

// Input fonts
$input-font-size:16px;
$input-font-color:$default-content;
$input-font-weight:$font-light;
$input-placeholder-color:$light-text;
$textarea-height:210px;
$textarea-padding:17px 9px;

//Banner 
$banner-height:604px;
$banner-image-height-responsive:280px;

//Pargraph
$para-font-size:14px;
$para-line-height:1.8;
$para-font-weight:$font-light;
$para-color:$default-content;
$para-margin-bottom:15px;

$para-font-size-reponsive:12px;
$para-line-height-reponsive:18px;

$home-block-big-title:40px;
$home-block-big-title-font-size:$home-block-big-title;
$home-block-big-title-line-height:50px;

$title-bottom-margin:25px;

$half-column-container-width:335px;
$full-column-container-width:720px;
// Flex Mixins


/* MIXIN : FLEXBOX
 *    EX : @include flexbox;
 *    EX : @include flex-direction( value );
 * ------------------------------------------------------------------------- */
@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@mixin inline-flex {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -moz-box-direction: reverse;
    -moz-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-direction: reverse;
    -moz-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}
@mixin flex-wrap($value: nowrap) {
  // No Webkit/FF Box fallback.
  -webkit-flex-wrap: $value;
  @if $value == nowrap {
    -ms-flex-wrap: none;
  } @else {
    -ms-flex-wrap: $value;
  }
  flex-wrap: $value;
}
@mixin flex-flow($values: (row nowrap)) {
  // No Webkit/FF Box fallback.
  -webkit-flex-flow: $values;
  -ms-flex-flow: $values;
  flex-flow: $values;
}
@mixin order($int: 0) {
  -webkit-box-ordinal-group: $int + 1;
  -moz-box-ordinal-group: $int + 1;
  -webkit-order: $int;
  -ms-flex-order: $int;
  order: $int;
}
@mixin flex-grow($int: 1) {
  -webkit-box-flex: $int;
  -moz-box-flex: $int;
  -webkit-flex-grow: $int;
  -ms-flex: $int;
  flex-grow: $int;
}
@mixin flex-shrink($int: 0) {
  -webkit-flex-shrink: $int;
  -moz-flex-shrink: $int;
  -ms-flex: $int;
  flex-shrink: $int;
}
@mixin flex-basis($value: auto) {
  -webkit-flex-basis: $value;
  flex-basis: $value;
}
@mixin flex($fg: 1, $fs: 0, $fb: auto) {

  // Set a variable to be used by box-flex properties
  $fg-boxflex: $fg;

  // Box-Flex only supports a flex-grow value so lets grab the
  // first item in the list and just return that.
  @if type-of($fg) == 'list' {
    $fg-boxflex: nth($fg, 1);
  }

  -webkit-box: $fg-boxflex;
  -moz-box: $fg-boxflex;
  -webkit-flex: $fg $fs $fb;
  -ms-flexbox: $fg $fs $fb;
  flex: $fg $fs $fb;
}

@mixin justify-content($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -moz-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  justify-content: $value;
}
@mixin align-items($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -moz-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  align-items: $value;
}
@mixin align-self($value: auto) {
  -webkit-align-self: $value;
  @if $value == flex-start {
    -ms-flex-item-align: start;
  } @else if $value == flex-end {
    -ms-flex-item-align: end;
  } @else {
    -ms-flex-item-align: $value;
  }
  align-self: $value;
}
@mixin align-content($value: stretch) {
  -webkit-align-content: $value;
  @if $value == flex-start {
    -ms-flex-line-pack: start;
  } @else if $value == flex-end {
    -ms-flex-line-pack: end;
  } @else {
    -ms-flex-line-pack: $value;
  }
  align-content: $value;
}
