//Used for paragraphs
$font-weight-paragraph:300;


// Used for pricing column title
$font-weight-pricing-column-title:200;

//Blog list post title
$font-weight-blog-list-post-title:200;


// Used for general titles
$font-weight-title:300;

//Used for header and footer menu and footer text
$font-weight-menu-link:300;

// Used for button text(like Book demo, free trial)
$font-weight-button:300;

//Used for pricing page faq title
$font-weight-faqTitle:300;

//Used in pricing column page text below request demo button
$font-weight-pricing-levev-text:300;


//Used for footer links title
$font-weight-footer-title:400;

//Used for feature hero right section title
$font-weight-feature-hero-title:400;

//Used for feature tabbing title
$font-weight-feature-tab-title:400;

// Used for avatar name in testimonial
$font-weight-avatar-name:400;

// Used at footer survey form link
$font-weight-survey-link:400;

$font-medium:500;
$font-semibold:600;
$font-bold:700;
$font-black:900;







