/* general css start */
*, div, input, :before, :after, select, textarea{
    box-sizing: border-box;
    margin:0;
}
body {
    font-family: 'Montserrat', sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
   
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 819px;
    padding: 0 20px;
    margin: 0 auto;
    width: auto !important;
}

a {
    cursor: pointer;
}

/* general css end */
.values-wrapper .values-content {
    border-bottom: 1px solid #ccc;
}

.values-wrapper .values-content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 10px;
    color: #1c1c1c;
}

.values-wrapper .post-rating-value-lable {
    position: absolute;
    max-width: 125px;
    width: 100%;
    z-index: 1;
    bottom: 0px;
    top: 0px;
    left: -1px;
    padding: 11px;
    background: #ff595e;
    color: #ffffff;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    border-right: 1px solid #ccc;
}

.values-wrapper .value-container-ranking {
    padding-left: 25px;
    max-width: 100%;
    position: relative;
}

.values-wrapper .value-container-ranking i {
    position: absolute;
    font-size: 20px;
    left: 3px;
    top: 3px;
}

.values-wrapper .value-container-ranking span {
    word-break: break-word;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding-left: 12px;
}

.values-wrapper .post-rating-voting-vote-part-wrapper {
    position: relative;
    padding-left: 145px;
}

.values-wrapper .post-rating-voting-vote-part-wrapper ul {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 0px;
    padding-left: 0px;
}

.values-wrapper .post-rating-voting-vote-part-wrapper li {
    font-size: 12px;
    line-height: 48px;
    color: #ff595e;
    font-weight: 600;
    list-style-type: none;
    float: left;
    width: 8.95%;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid #ccc;

}
.values-wrapper .post-rating-voting-vote-part-wrapper li:hover{
    background-color: #ff595e;
    color: #fff;
}

.values-wrapper .post-rating-value-table-wrapper {
    position: relative;
}

.values-wrapper .post-rating-voting-vote-part-wrapper li:last-child {
    border: none;
}

.post-rating-main {
    border: 2px solid #ccc;
}

.likely-wrapper span {
    font-size: 16px;
    font-weight: 500;
    color: #1c1c1c;
}

.not-likely-wrapper,
.very-likely-wrapper {
    position: relative;
}

.not-likely-wrapper span {
    position: absolute;
    left: 150px;
    top: 4px;
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 500;
}

.very-likely-wrapper span {
    position: absolute;
    right: 0px;
    top: 4px;
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 500;
}

/* feedback section css */
.feedback-title-content h1,
.thanks-title h2 {
    font-size: 25px;
    font-weight: 600;
    color: #1c1c1c;
    margin: 0px;
}

.feedback-title-content {
    text-align: center;
    padding-top: 80px;
}

.thanks-wrapper {
    text-align: center;
    margin-top: 60px;
    border: 2px solid #ccc;
    padding: 7px;
}

.inner-thanks-wrapper {
    padding: 10px 20px;
    border: 1px solid #ccc;
}

.feedback-title-content p,
.thanks-title p {
    font-size: 18px;
    font-weight: 500;
    color: #ff595e;
    margin: 0px;
    margin-top: 4px;
}

.feedback-textarea {
    margin-top: 30px;
}
.npsnumber.active {
      background: #ff595f;
      color: #fff;
}
.npsThankyouTitle {
   font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 10px;
    color:#1c1c1c;
    text-align: center;
}
.hide{
    display: none;
}

.feedback-textarea textarea {
    width: 95%;
    resize: none;
    max-width: 776px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 20px;
    font-size: 16px;
    color: #1c1c1c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}



textarea::placeholder,
input::placeholder {
    font-size: 16px;
    color: #7b7b7b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.feedback-list li {
    font-size: 16px;
    font-weight: 500;
    color: #1c1c1c;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    float: left;
    list-style-type: none;
    position: relative;
    text-align: left;
    padding-bottom: 10px;
}

.feedback-list {
    max-width: 724px;
    text-align: center;
    margin: 0 auto;
}

.feedback-list li:before {
    height: 12px;
    width: 12px;
    position: absolute;
    left: -22px;
    top: 3px;
    content: '';
    background-color: #1c1c1c;
    border-radius: 50%;
    display: inline-block;
}

.feedback-list ul {
    width: 100%;
    float: left;
}

.email-wrapper {
    max-width: 64rem;
    margin: auto;
}

.email-input {
    display: flex;
}

.email-wrapper input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 15px;
    font-size: 16px;
    color: #1c1c1c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.email-wrapper button {
    max-width: 185px;
    width: 100%;
    padding: 11px;
    margin-top: 10px;
    background: #ff595e;
    color: #ffffff;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 0px;
    cursor: pointer;
    font-weight: bold;
    line-height: 18px;
    float: right;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

/* responsive start */

@media only screen and (max-width: 767px) {
    .values-wrapper .post-rating-value-lable {
        position: relative;
        width: auto;
        max-width: 100%;
        left: 0px;
        border-right: none;
    }

    .values-wrapper .post-rating-voting-vote-part-wrapper {
        padding-left: 0px;
    }

    .values-wrapper .post-rating-voting-vote-part-wrapper li {
        width: 8.7%;
    }
    .not-likely-wrapper span{
        left: 0px;
        font-size: 14px;
    }
    .very-likely-wrapper span{
        font-size: 14px;
    }
    p{
        font-size: 14px !important;
    }
    .values-wrapper .value-container-ranking span{
        font-size: 14px;
    }
    .feedback-title-content h1, .thanks-title h2{
        font-size: 20px;
    }
    .feedback-title-content{
        padding-top: 50px;
    }
    .feedback-textarea textarea{
        width: 85%;
    }
    .feedback-list li{
        width: 100%;
        font-size: 14px;
    }
    .feedback-list ul{
        padding-left: 20px;
    }
    .email-input input[type="text"]{
        width: 100%;
        padding-right: 0px;
        padding-left: 5px;
    }
    .email-input button{
        float: none;
        margin-top: 20px;
        padding: 15px;
        max-width: 100%;
        margin-left: 1px;
    }
    .email-input{
        display: block;
    }
    textarea::placeholder,
input::placeholder {
    font-size: 14px;
}
.thanks-wrapper{
    margin-top: 40px;
}
button{
    float: none;
}
.send-btn{
    text-align: center;
    margin: 0 auto;
}
}

.ratebox-title{padding-bottom: 20px;}
.ratebox-subtitle{
    font-size: 13px;
    line-height: 18px;
    color: #256eff;
    font-weight: 400;
    text-align: center;
    padding-bottom: 26px;
    max-width: 700px;
    margin: 0 auto;
}
.employee-survey .ratebox-subtitle{
    max-width: 640px;
}
.ratebox-close-button{
    position: absolute;
    right:10px;
    top:10px;
    height:20px;
    width:20px;    
}
.ratebox-close-button svg{
    width:100%;
    height:100%;
}
.ratebox-table-wrapper table{
    border-collapse: collapse;
    width: 100%;
}
.ratebox-table-wrapper td{
    text-align: center;
}
@media all and (min-width:768px){
.ratebox-table-wrapper td:first-child{
    text-align: left;
    width:40%;
}
}
.ratebox-header{
    margin-bottom: 20px;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 15px;
    margin: 0 30px 20px;
}

.ratebox-table-wrapper th{
    padding:10px;
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid #eee;
}
.ratebox-table-wrapper th.step-header{
    font-size: 16px;
    background: #eee;
    font-weight: 800;
}
.mobile-ratebox-title{
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500;
    display: none;
}
.ratebox-table-wrapper tbody tr:nth-child(even){
    background: #eee;;
}
.ratebox-table-wrapper th, .ratebox-table-wrapper td{
    width:12%;
}
.ratebox-table-wrapper td{
    padding:10px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 300;
    color: #333;
}

.ratebox-table-wrapper td input[type="radio"]{
    position: absolute;
    left:-999em;
}
.radio-circle{
    border: 1px solid #888;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 30px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.radio-circle:before{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #ff595e;
    margin: -5px 0 0 -5px;
    opacity: 0;
}

input:checked + .radio-circle:before{
    opacity: 1;
}

@media all and (max-width:767px){
    .ratebox-table-wrapper thead{
        display: none;
    }
    .ratebox-table-wrapper table, .ratebox-table-wrapper tbody{
        display: block;
    }
    .ratebox-table-wrapper tr{
        display: block;
        padding:10px 0;
        border-bottom: 1px solid #eee;
    }
    .ratebox-table-wrapper tbody tr:nth-child(even){
        background:none;
    }
    .ratebox-table-wrapper td:first-child{
        width:100%;
        font-weight: 500;
    }
    .ratebox-table-wrapper td{
        width: 100%;
        display: flex;
        text-align: left;
        padding: 5px 0;
    }
    .ratebox-table-wrapper td[data-label]:before{
        content:attr(data-label)": ";
        min-width: 160px;
        display: block;
        padding-right: 15px;
    }
    .mobile-ratebox-title{
      
        display: block;
    }
    
}
.ratebox-table-wrapper .success-message
{
    background: #eee;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 30px;
    max-width: 370px;
    margin: 20px auto 0;
}
@media all and (min-width:768px){
    .button-wrapper{
        margin-top: 63px;
    }
}
.button-wrapper input{
    border: 0;
    color: #ffffff;
    text-transform: capitalize;
    line-height: 36px;
    height: 36px;
    background: #ff595e;
    padding: 0 15px;
    display: inline-block;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    min-width: 104px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    float: right;
}

.button-wrapper input:hover{
    background: #ff4045;
}
.form-error{
    font-size: 13px;
    line-height: 18px;
    color:#ff595e;
    font-weight: 300;
    padding-top: 9px;
    float: left;
}


@media all and (max-width:767px){
    .form-error{
        width: 100%;
        margin-bottom: 15px;
    }
}

.logo-wrapper{
    width: 150px;
height: 55px;
float: left;
margin-bottom:8px;
}

.logo-wrapper svg .logo-cls-1{fill:#000}
.logo-wrapper svg .logo-cls-2{fill:#ffbf00}
.logo-wrapper svg .logo-cls-3{fill:#ff595e}
.container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px 15px;
}

.surveyMainTitle{
    padding: 4px 0 80px;
    font-size: 20px;
    color: #1c1c1c;
    font-weight: 300;
    text-align: center;
}
#surveyStepCount{
    min-width: 12px;
    display: inline-block;
    text-align: center;
}
.surveyMainTitle .header-block-bold-font{
    font-weight: 800;
    color: #1c1c1c;
}
.survey-slider .slick-dots li{
    list-style: none;
    float: left;
    width: 12.5%;
    position: relative;
    text-align: center;
    pointer-events: none;
}
.employee-survey .survey-slider .slick-dots li{width:20%}
.survey-slider .slick-dots li:before{
    content: '';
    position: absolute;
    top: 18px;
    right: 0;
    height: 2px;
    border: 1px solid #8ea6d5;
    width: 100%;
    left: 50%;
}
.survey-slider .slick-dots li.completed-tab:before{
    border: 1px solid #256eff;
}
.survey-slider .slick-dots li:last-child:before{
    right: 50%;
    top: 50%;
    content: '';
    border: 1px solid #8ea6d5;
    height: 2px;
    width: auto;
    opacity: 0;
}
.survey-slider .slick-dots{
    padding: 0 0 10px 0;
    position: absolute;
    top: -210px;
    left: -40px;
    right: -40px;
}
.slick-number-wrapper{
    width: 38px;
    height: 38px;
    border-radius: 24px;
    color: #8ea6d5;
    font-size: 20px;
    font-weight: 400;
    border: 2px solid #8ea6d5;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    z-index: 1;
    position: relative;
    background: #ffffff;
}
.slick-active .slick-number-wrapper{
    color: #256eff;
    border: 2px solid #256eff;
}
.slick-icon{
    fill: #ffffff;
    display: block;
    position: relative;
    top: 4px;
    display: none;
}
.slick-dots .completed-tab .slick-number {
    display: none;
}
.slick-dots .completed-tab .slick-icon {
    display: block;
}
.slick-dots .completed-tab .slick-number-wrapper{
    background: #256eff;
    border: 2px solid #256eff;
}
.main-body-survey-container {
    padding: 0 55px 100px;
}
.survey-slider-section{
    box-shadow: 5px 15px 31px 11px #f1efef;
    /* margin-top: 115px; */
}
.survey-slider-section .step-content .content-title-header {
    font-size: 18px;
    font-weight: 500;
    color: #1c1c1c;
    position: relative;
    margin-right: 30px;
}

.survey-slider-section .step-content {
    float: right;
}
#tourStepText{
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #1c1c1c;
}
.content-body-download-survey {
    padding: 30px 30px 0 30px;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -59px;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-disabled{
    display: none !important;
}
.slick-prev {
    right: 178px;
    display: none !important;
}

.slick-next {
    right: 30px;
}

.content-body-download-survey .slider-next-button {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
    display: none;
    color: #ff595e;
    position: relative;
    left: 5px;
}
.content-body-download-survey .slider-next-button.show{
    display: block;
}
.survey-slide-inner{
    padding: 0 30px 20px;
}
.slick-prev:before, .slick-next:before, .slick-prev:after, .slick-next:after{
    opacity: 1;
    background-size: 25px 25px;
    position: absolute;
    top: -1px;
    left: -2px;
    content: "";
    color: #ffffff;
    background: url(/img/prev.png) no-repeat;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.slick-prev:before{
    background-image: url(../images/arrows/Back-normal.png);
}
.slick-prev:hover:before, .slick-next:hover:before{
    opacity: 0;
}
.slick-prev:hover:after, .slick-next:hover:after{
    opacity: 1;
}
.slick-prev:after{
    background-image: url(../images/arrows/Back-normal-red.png);
    opacity: 0;
}
.slick-next:before{
    background-image: url(../images/arrows/Next-normal.png);
}
.slick-next:after{
    background-image: url(../images/arrows/Next-normal-red.png);
    opacity: 0;
}

.error-message{
    position: fixed;
    left: 50%;
    bottom: -130px;
    background: #fa595e;
    box-shadow: 0 0 15px -5px #00000073;
    padding: 20px 15px;
    color: #fff;
    transform: translateX(-50%) translateY(0);
    -o-transform: translateX(-50%) translateY(0);
    -webkit-transform: translateX(-50%) translateY(0);
    -o-transform: translateX(-50%) translateY(0);
    -ms-transform: translateX(-50%) translateY(0);
    -moz-transform: translateX(-50%) translateY(0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.error-message.show{
    bottom:0;
}


@media all and (max-width:900px){
.ratebox-subtitle{
        max-width: 510px;
    margin: 0 auto;
}
.survey-slider .slick-dots{
    top: -230px;
}
}
@media all and (max-width:767px){
    .logo-wrapper{
        float: none;
        margin: 0 auto;
    }
    .main-body-survey-container{
        padding: 0;
    }
    .surveyMainTitle{
        font-size: 12px;
    }
    .survey-slider .slick-dots{
        left: 0;
        right: 0;
        top: -299px;
    }
    .survey-slider-section .step-content{
        float:none;
        overflow: hidden;
    }
    .survey-slider-section .step-content .content-title-header{
    float: right;
    margin-right: 30px;
}
    .survey-slider-section .content-title-header{margin-right: 0;margin-bottom: 10px;}
    .content-body-download-survey{
        padding:0;
    }
    .survey-slider-section{
        box-shadow:none;
    }
    .survey-slide-inner{
        padding:0;
    }
    .slick-prev, .slick-next{
    top: -125px;
    }
    .slick-next{
        right: 0;
    }
    .slick-prev{
        right: 130px;
    }
    .ratebox-header{
        margin-left:0;
        margin-right:0;
    }
    #tourStepText{
    font-size: 14px;
    line-height: 20px;
}
.ratebox-subtitle{
    max-width: 290px;
}
.error-message{
    left: 0;
    right: 0;
    transform: translate(0);
    font-size: 12px;
    padding: 15px;
}
}

@media all and (max-width:320px){
    .slick-next{
        top: -145px;
    }
    .survey-slider .slick-dots{
        top: -319px;
    }
    .survey-slider .slick-dots li:before{
    top: 13px;
}
    .slick-number-wrapper{
        width:25px;
        height:25px;
        line-height: 23px;
        font-size: 12px;
    }
}

/* Thank you page starts */
.thanks-message{
    display: none;
}
.thank-you-page .thanks-message{
    display: block;
}
.thank-you-page .survey-container{
    display: none;
}

.thank-you-page{
    background: url(../images/thank-you-bg.png);
    display: flex;
    align-items: center;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.thank-you-page .container{
    text-align: center;
}
.thank-you-page .thankyou-title{
    font-weight: 900;
    color:#1c1c1c;
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 9px;
}
.thank-you-page .thankyou-content{
    font-weight: 400;
    color:#1c1c1c;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 52px;
}
.thankyou-button-wrapper{
}
.thankyou-button-wrapper .button{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    line-height: 58px;
    height: 58px;
    background: #ff595e;
    padding: 0 15px;
    display: inline-block;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    margin-bottom: 8px;
    min-width: 136px;
    text-align: center;
    text-decoration: none;
}
.thankyou-button-wrapper .button:hover{
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
}
.thankyou-button-wrapper .close-btn{
    color:#0045e2;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    right: -88px;
    top: 50%;
    margin-top: -13px;
}
.thankyou-button{
    display: inline-block;
    position: relative;
}
@media all and (max-width:767px){

    .thank-you-page .thankyou-title{
    font-size: 18px;
    line-height: 24px;
}
.thank-you-page .thankyou-content{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
}
.thankyou-button-wrapper{
}
.thankyou-button-wrapper .button, .thankyou-button-wrapper .close-btn{
    font-size: 12px;
    right: -50px;
}
.thankyou-button-wrapper .button{
}
}
/* Thank you page ends */