<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
</head>

<body style="background-color: #ededed; margin:0;">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800&display=swap');

        * {
            padding: 0;
            margin: 0;
            font-family: 'Montserrat', sans-serif;
        }

        body {
            background-color: #ededed;
        }
    </style>
    <table cellpadding="0" cellspacing="0" style="min-width:766px;width:766px;margin:0 auto;padding:0 30px;">
        <tbody>
            <tr>
                <td style="text-align: center;"><a href="https://visibly.io/">
                        <img style="width: 195px; margin: 0 auto;margin-bottom: 39px;"
                            src="https://visibly.io/wp-content/uploads/2018/07/logo-email-template.png"
                            alt="Visibly" /></a></td>
            </tr>
            <tr>
                <td style="background-color:#d0e1fe;margin-bottom:180px;">
                    <table cellpadding="0" cellspacing="0" valign="bottom" style="width:100%;">
                        <tbody>
                            <tr>
                                <td style="padding:0 30px;background:#256eff;">
                                    <table cellpadding="0" cellspacing="0" valign="bottom" style="width:145px;">
                                        <tr>
                                            <td style="padding-right: 15px;"><img style="width:19px; height:21px;" width="19" height="21" src="https://visibly.io/email/survey-email-html/images/quickpulse.png"></td>
                                            <td><span
                                                style="color:#fff;font-size:16px;font-family: 'Montserrat', sans-serif;font-weight:500;line-height:28px;">Quick Pulse</span></td>
                                        </tr>
                                    </table>
                                    
                                    
                                         
                                </td>
                                <td
                                    style="padding:13px;background:#adc8f8; text-align: left;">
                                    <p style="color:#002d78;font-weight:400;font-family: 'Montserrat', sans-serif;font-size:13px; width: 595px;line-height:20px; margin:0;">My work provides me with opportunities to build my capabilities and
                                        improve myself.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background:#d0e1fe;border-bottom: 3px solid #256eff;">
                    <table cellpadding="0" cellspacing="0" valign="bottom" style="width:100%;">
                        <tbody>
                            <tr>
                                <td style="width:525px;padding:20px 30px;">
                                    <span style="display: block;margin:50px auto"><img src="https://visibly.io/email/survey-email-html/images/survey.png"
                                            alt="survey-image" width="522px" height="313px" /></span>
                                </td>
                                <td style="width:174px;">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td style="line-height:21px;display: block;width:170px;">
                                                    <a style="cursor:pointer; display: inline-block;" href="{{ $link }}&op=1" class="button_link" target="_blank"><button style="background-color: #fff;font-family: 'Montserrat', sans-serif;
                                                            border: none;
                                                            color: #256eff;
                                                            padding: 15px 0;
                                                            text-align: center;
                                                            text-decoration: none;
                                                            display: inline-block;
                                                            font-size: 16px;
                                                            font-weight: 600;
                                                            margin: 4px 2px;
                                                            width:150px;
                                                            outline:none;
                                                            cursor: pointer">Always</button>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="line-height:21px;display: block;width:170px;">
                                                    <a style="cursor:pointer; display: inline-block;" href="{{ $link }}&op=3" class="button_link" target="_blank"><button style="background-color: #fff;font-family: 'Montserrat', sans-serif;
                                                            border: none;
                                                            color: #256eff;
                                                            padding: 15px 0;
                                                            outline:none;
                                                            text-align: center;
                                                            text-decoration: none;
                                                            display: inline-block;
                                                            font-size: 16px;
                                                            font-weight: 600;
                                                            margin: 4px 2px;
                                                            width:150px;
                                                            cursor: pointer">Often</button>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="line-height:21px;display: block;width:170px;">
                                                    <a style="cursor:pointer; display: inline-block; text-decoration: none;color:#256eff;"
                                                        href="{{ $link }}&op=4" class="button_link" target="_blank"><button style="background-color: #fff;font-family: 'Montserrat', sans-serif;
                                                            border: none;
                                                            color: #256eff;
                                                            padding: 15px 0;
                                                            outline:none;
                                                            text-align: center;
                                                            text-decoration: none;
                                                            display: inline-block;
                                                            font-size: 16px;
                                                            font-weight: 600;
                                                            margin: 4px 2px;
                                                            width:150px;
                                                            cursor: pointer">Sometimes</button>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="line-height:21px;display: block;width:170px;">
                                                    <a style="cursor:pointer;display: inline-block; text-decoration: none; color:#256eff;"
                                                        href="{{ $link }}&op=6" class="button_link" target="_blank"><button style="background-color: #fff;font-family: 'Montserrat', sans-serif;
                                                            border: none;
                                                            color: #256eff;
                                                            padding: 15px 0;
                                                            outline:none;
                                                            text-align: center;
                                                            text-decoration: none;
                                                            display: inline-block;
                                                            font-size: 16px;
                                                            font-weight: 600;
                                                            margin: 4px 2px;
                                                            width:150px;
                                                            cursor: pointer">Rarely</button>
                                                    </a>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="line-height:21px;display: block;width:170px;">
                                                    <a style="cursor:pointer;display: inline-block; text-decoration: none; color:#256eff;"
                                                        href="{{ $link }}&op=7" class="button_link" target="_blank"><button style="background-color: #fff;font-family: 'Montserrat', sans-serif;
                                                            border: none;
                                                            color: #256eff;
                                                            padding: 15px 0;
                                                            outline:none;
                                                            text-align: center;
                                                            text-decoration: none;
                                                            display: inline-block;
                                                            font-size: 16px;
                                                            font-weight: 600;
                                                            margin: 4px 2px;
                                                            width:150px;
                                                            cursor: pointer">Never</button>
                                                    </a>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; padding-top: 40px; color: #333333; font-weight: 400; font-size: 14px;">Made by Visibly Ltd <span style="color: #1c1c1c;">•</span> <a style="color: #256dfc; font-weight: 300; border-bottom: 1px solid #256dfc; text-decoration: none;" href="https://visibly.io/blog/" target="blank">Our Blog</a><br /><br /><a style="text-decoration: none; color: #333333;">o2h SciTech <span style="color: #1c1c1c;">•</span> Park Mill Lane, Hauxton, Cambridge<span style="color: #1c1c1c;"> •</span> CB22 5HX </a> <br /><br /><span style="color: #1c1c1c;"> •</span> United Kingdom</td>
            </tr>
            <tr> 
                <td style="text-align: center; padding-top: 17px; padding-bottom: 30px;"><a class="linkedin-icon" style="display: inline-block; margin-right: 5px; vertical-align: middle; " title="Linkedin" href="https://www.linkedin.com/company/visiblyhq/"><img src="https://visibly.io/email/survey-email-html/images/linkedin-gray-icon.png" style="width:34px; height:34px;" width="34" height="34" /></a> <a class="facebook-icon" style="display: inline-block; margin-right: 5px; vertical-align: middle;" title="Facebook" href="https://www.facebook.com/BeVisibly/"><img src="https://visibly.io/email/survey-email-html/images/facebook-gray-icon.png" style="width:34px; height:34px;" width="34" height="34" /></a> <a class="twitter-icon" style="display: inline-block; margin-right: 5px; vertical-align: middle;" title="Twitter" href="https://twitter.com/BeVisibly"><img src="https://visibly.io/email/survey-email-html/images/twitter-gray-icon.png" style="width:34px; height:34px;" width="34" height="34" /></a></td>
            </tr>
        </tbody>
    </table>
</body>

</html>
