<div class="homepageWrapper">
    <div class="homePageBanner clearfix">
    <div class="mainBannerCaptionWrapper">
    <div class="mainBannerCaptionInner">
    <h1 class="hero-banner-title" style="text-align: left;"><span style="font-size: 45px;"><span class="first-line">Activate every employee.</span></span></h1>
    <p style="text-align: left;"><span style="font-size: 20px; color: #1c1c1c;">A workforce communications and people analytics platform designed to drive engagement and advocacy.  </span></p>
    </div>
    <div class="emailform-wrapper">
    <div class="homeBannerSignupForm">
    <div class="free-trial-block">
    <div class="book-demobutton"><a class="free-trial-link" title="Request Demo" href="https://visibly.io/request-a-demo-by-mail/">Request Demo</a><a class="free-trial-link white-button" title="Launch Free Trial">Launch Free Trial</a></div>
    <p>[xyz-ips snippet="Signup-form"]</p>
    <div class="success-message">Thank you for registration. Please check your email for next step instructions.</div>
    </div>
    </div>
    <div class="email-popup-text"> </div>
    </div>
    </div>
    <div class="mainBannerIllustrator">
    <div class="hero-banner-container-wrapper">[xyz-ips snippet="Homepage-Hero-banner"]</div>
    </div>
    </div>
    </div>
    <p><!--Main banner ends--><!--Second section starts--></p>
    <div class="homeSecondSectionWrapper">
    <div class="container">
    <div class="heading-for-second-section">
    <h2 style="text-align: center;"><span style="font-size: 22px;" class = "section-section-visibly-help-title"> <strong style="font-weight: 400;">Online, offline, office based, remote, technical</strong> or <strong style="font-weight: 400;"> non-technical, smartphone </strong> or <strong style="font-weight: 400;"> no smartphone.</strong>Visibly helps you <strong style="font-weight: 400;">reach every employee.</strong></span></h2>
    </div>
    <div class="home-second-section cf">
    <div class="home-second-img-column">
    <div id="visbly-web-video" class="banner-video-wrapper">
    <p><script src="https://fast.wistia.com/embed/medias/is1sjnvf3k.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script></p>
    <div class="wistia_responsive_padding" style="padding: 56.25% 0 0 0; position: relative;">
    <div class="wistia_responsive_wrapper" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;"><span class="wistia_embed wistia_async_is1sjnvf3k popover=true popoverAnimateThumbnail=true videoFoam=true" style="display: inline-block; height: 100%; position: relative; width: 100%;"> </span></div>
    </div>
    </div>
    <p class="responsive-watch-platform"><span style="font-size: 20px;"><span class="watch-platform" style="color: #ff595e;"> Watch the platform in action! </span></span></p>
    </div>
    <div class="home-second-content-column"><!-- </p>
    <h2 style="text-align: left;"><span style="font-size: 30px;">Align your workforce to a common purpose </span></h2>
    <p> -->
    <p class="p1" style="text-align: left;"><span style="font-weight: 200;">Communicating with every employee solves just one part of the engagement conundrum. Through advocacy, Visibly shifts the employee from a relatively top-down passive role to a genuinely active participant in both communication and transformation. Our platform activates every potential advocate in your organisation, empowering your employees to drive a more open and positive workplace culture. </span></p>
    <p class="find-out-how-visibly-text"><span style="font-size: 18px;"><span class="watch-platform" style="color: #ff595e;">Discover how Visibly could do this fo<strong style="color: #ff595e;"> you! </strong><span style="color: #ff595e;">!</span></span></span></p>
    </div>
    </div>
    </div>
    </div>
    <p><!--Second section ends--><!-- third section -->[xyz-ips snippet="join-organisations-logo"]<!-- end third section --></p>
    <div class="ourProcessSection">
    <div class="container">
    <div class="process-title"><span class="block-title"> How it works </span></div>
    <div class="processColumnWrapper">
    <div class="innerColumnProcess clearfix">
    <div class="processColumn">
    <div class="innerProcessColumn">
    <div class="processImage">[xyz-ips snippet="Homepage-define-needs-images"]</div>
    <h3>Identify</h3>
    <p class="process-column-description"><span style="font-weight: 200;">Our 3P diagnostics tool helps identify active promoters or detractors within the organisation.</span></p>
    <p class="learn-more-in-homaPage"><a href="#"> Learn more </a></p>
    </div>
    </div>
    <p><!-- second --></p>
    <div class="processColumn">
    <div class="innerProcessColumn">
    <div class="processImage">[xyz-ips snippet="Homepage-set-objectives-images"]</div>
    <h3>Nurture</h3>
    <p class="process-column-description"><span style="font-weight: 200;">Segment and tailor internal communications to nurture and engage every employee.</span></p>
    <p class="learn-more-in-homaPage"><a href="#"> Learn more </a></p>
    </div>
    </div>
    <p><!-- third --></p>
    <div class="processColumn active-process-column">
    <div class="innerProcessColumn">
    <div class="processImage">[xyz-ips snippet="Homepage-launch-and-optimise"]</div>
    <h3>Activate</h3>
    <p class="process-column-description"><span style="font-weight: 300;"><span style="font-weight: 200;">Activate and empower proven internal advocates to share their stories on social media. </span></span></p>
    <p class="learn-more-in-homaPage"><a href="#"> Learn more </a></p>
    </div>
    </div>
    <p><!-- four --></p>
    <div class="processColumn">
    <div class="innerProcessColumn">
    <div class="processImage">[xyz-ips snippet="Homepage-measure"]</div>
    <h3>Measure</h3>
    <p class="process-column-description"><span style="font-weight: 300;"><span style="font-weight: 200;">Measure program output and ROI, gain valuable insights into program health.</span></span></p>
    <p class="learn-more-in-homaPage"><a href="#"> Learn more </a></p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>