<div class="homepageWrapper generalWrapperContainer">
    
<div class="homePageBanner  clearfix">
    
<div class="mainBannerCaptionWrapper">
    
<div class="mainBannerCaptionInner">
    
<h1><span style="font-size: 33px;"><span class="first-line">A new way to measure and nurture</span><br />
    a culture of employee advocacy.</span> </h1>

    
<p><span style="font-size: 18px;">Visibly aligns your workforce to a common vision, driving your business performance through an employee-led culture.</span></p>

    </div>

    <br />
    
<div class="emailform-wrapper">
    
<div class="watchvideolinkwrapper clearfix">
    
<div class="watchVideoLink"><script src="https://fast.wistia.com/embed/medias/tj8hnshfmm.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_tj8hnshfmm popover=true popoverContent=link" style="display: inline; position: relative;"><a class="watchOverViewLink" href="#">Watch Overview <i class="far fa-play-circle"></i></a></span></div>

    </div>

    
<div class="homeBannerSignupForm">
    
<div class="free-trial-block">
    
<div class="book-demobutton"><a class="free-trial-link" title="Request Demo" href="https://visibly.io/request-a-demo-by-mail/">Request Demo</a><a class="free-trial-link white-button" title="Launch Free Trial">Launch Free Trial</a></div>

    
    [xyz-ips snippet="Signup-form"]
    
    
<div class="success-message">Thank you for registration. Please check your email for next step instructions.</div>

    </div>

    </div>

    
<div class="email-popup-text"> </div>

    </div>

    </div>

    
<div class="mainBannerIllustrator">[xyz-ips snippet="Homepage-Hero-banner"]</div>

    </div>

    </div>

    <!--Main banner ends--><!--Second section starts-->
    
<div class="homeSecondSectionWrapper generalWrapperContainer">
    
<div class="container">
    
<div class="home-second-section cf">
    
<div class="home-second-img-column">
    
<div id="visbly-web-video" class="banner-video-wrapper"><script src="https://fast.wistia.com/embed/medias/is1sjnvf3k.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
    
<div class="wistia_responsive_padding" style="padding: 56.25% 0 0 0; position: relative;">
    
<div class="wistia_responsive_wrapper" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;"><span class="wistia_embed wistia_async_is1sjnvf3k popover=true popoverAnimateThumbnail=true videoFoam=true" style="display: inline-block; height: 100%; position: relative; width: 100%;"> </span></div>

    </div>

    </div>

    
<p class="responsive-watch-platform"><span style="font-size: 20px;"><span class="watch-platform" style="color: #ff595e;"> Watch the platform in action! </span></span></p>

    </div>

    
<div class="home-second-content-column">
    
<h2><span style="font-size: 30px;">Let us support your culture and business transformation  </span></h2>

    
<p><span style="font-weight: 300;">The 2018 Gallup report (Employee Engagement) found that 87% of global workforces are either disengaged or unhappy. Staff attrition is at an all time high and recruiting talent is getting harder. Business leaders recognise the need to become more culture and employee-centric, however this means implementing the tools and strategies to support such a transformation. </span></p>

    
<p><span style="font-size: 20px;"><span class="watch-platform" style="color: #ff595e;"> Watch the platform in action! </span></span></p>

    </div>

    </div>

    </div>

    </div>

    <!--Second section ends-->
    
<div class="homeFeatureSectionWrapper generalWrapperContainer">
    
<div class="homeFeatureSection alt pinkSection culture-measurement-section">
    
<div class="container clearfix">
    
<div class="homeFeatureImage">[xyz-ips snippet="Homepage-Culture-Measurement-images"]</div>

    
<div class="homeFeatureDescription">
    
<h2><span style="font-size: 30px;">Employee polls and surveys </span></h2>

    
<p>Our polls and surveys have been scientifically researched by trained psychologists. They are based on a model that recognises 7 key pillars of the workplace that drive superior performance, positive wellbeing, commitment and engagement at work..</p>

    
<div class="homeFeatureDescriptionInner">
    
<p class="homeFeatureIcon"><img class="" src="https://visibly.io/wp-content/uploads/2019/02/heart-icon.png" alt="" width="26" /></p>

    
<h4>Segment your data</h4>

    
<p>Drill down into your analytics, find out where your values are truly lived, or just words on a poster. </p>

    </div>

    
<div class="homeFeatureDescriptionInner">
    
<p class="homeFeatureIcon"><img class="" src="https://visibly.io/wp-content/uploads/2019/02/graph-icon.png" alt="" width="36" /></p>

    
<h4>Understand your culture</h4>

    
<p>Find out where are the culture holes, and how to plug them through better communications and appreciate inquiry methodology.</p>

    </div>

    </div>

    </div>

    </div>

    
<div class="homeFeatureSection internal-communication-seciton">
    
<div class="container clearfix">
    
<div class="homeFeatureImage">[xyz-ips snippet="Homepage-communication-images"]</div>

    
<div class="homeFeatureDescription">
    
<h2><span style="font-size: 30px;">Internal communications that reach and engage every employee</span></h2>

    
<p>Whether your employees work in a warehouse in Kentucky, a bank in London or a lorry in the Scottish highlands, we help you reach and communicate with every single person.</p>

    
<div class="homeFeatureInnterColumns cf">
    
<div class="homeFeatureInnterColumn">
    
<div class="homeFeatureDescriptionInner">
    
<div class="homeFeatureSqaureShapeWrapper homeFeatureSqaureShapeWrapperFirstBlock">
    
<div class="sqaure-shape"> </div>

    </div>

    
<h4>Use your existing comms tools </h4>

    
<p>Connect up Outlook, Gmail, Slack, Yammer, Mailchimp or any other tools that you already use as part of your communications stack.</p>

    </div>

    </div>

    
<div class="homeFeatureInnterColumn">
    
<div class="homeFeatureDescriptionInner">
    
<div class="homeFeatureSqaureShapeWrapper">
    
<div class="sqaure-shape"> </div>

    
<div class="sqaure-shape"> </div>

    </div>

    
<h4>Peer to peer</h4>

    
<p>Help your employees communicate peer to peer, in a fun and engaging way.</p>

    </div>

    
<div class="homeFeatureDescriptionInner">
    
<div class="homeFeatureSqaureShapeWrapper">
    
<div class="sqaure-shape"> </div>

    
<div class="sqaure-shape"> </div>

    
<div class="sqaure-shape"> </div>

    
<div class="sqaure-shape"> </div>

    </div>

    
<h4>Drive employee interactions</h4>

    
<p>Hashtags, comments, GIFs, likes and emojis to drive employee interactions.</p>

    </div>

    </div>

    </div>

    </div>

    </div>

    </div>

    
<div class="homeFeatureSection alt employeeSocialEmpowermentSection blueSection">
    
<div class="container clearfix">
    
<div class="homeFeatureImage">[xyz-ips snippet="Homepage-social-enablement-images"]</div>

    
<div class="homeFeatureDescription">
    
<h2><span style="font-size: 30px;">Activate your </span><span style="font-size: 30px;">brand advocates on social</span></h2>

    
<p>Visibly is an enterprise employee advocacy platform, helping organisations to activate their employee voice safely and consistently on social media.</p>

    
<div class="homeFeatureDescriptionInner">
    
<p class="homeFeatureIcon"><img class="" src="https://visibly.io/wp-content/uploads/2019/02/authenticity-icon.png" alt="" width="26" /></p>

    
<h4>Authenticity</h4>

    
<p>Create and publish employee generated content (EGC). Curate and publish existing content from RSS feeds or your company blog and jobs. Measure your brand reach and conversions through powerful social analytics and UTM links.</p>

    </div>

    
<div class="homeFeatureDescriptionInner">
    
<p class="homeFeatureIcon"><img class="" src="https://visibly.io/wp-content/uploads/2019/02/collabration-creativity-icon.png" alt="" width="26" /></p>

    
<h4>Collaboration and creativity</h4>

    
<p>Share media assets with anyone in the organisation via mobile or desktop apps. Put creativity into the hands of the employee with powerful video and photo editors.</p>

    </div>

    </div>

    </div>

    </div>

    </div>

    
<div class="ourProcessSection generalWrapperContainer">
    
<div class="container">
    
<div class="ourProcessHeding">
    
<div class="sqaure-shape" style="border-color: #ff595e; left: 50%; margin-left: -146px; width: 13px; top: -3px; height: 12px;"> </div>

    
<div class="sqaure-shape" style="border-color: #ff595e; left: 50%; margin-left: 117px; width: 16px; top: 2px; height: 18px;"> </div>

    
<div class="sqaure-shape" style="border-color: #ffbf00; left: 50%; margin-left: 145px; width: 13px; top: -18px; height: 15px;"> </div>

    
<h2 style="text-align: center;"><span style="font-size: 30px;">Our process</span></h2>

    
<p style="text-align: center;">Employee advocacy is the result of a great culture and engaged employees. Visibly uses a tried and tested model called Appreciative Inquiry to transform your culture and amplify positive employee stories.  </p>

    </div>

    
<div class="processColumnWrapper">
    
<div class="innerColumnProcess clearfix">
    
<div class="processColumn">
    
<div class="innerProcessColumn">
    
<div class="processImage">[xyz-ips snippet="Homepage-define-needs-images"]</div>

    
<div class="process-column-description">
    
<h3>1.<br />
    Culture diagnostics </h3>

    
<p>Our culture diagnostics tool enables you to measure levels of employee engagement and happiness, we then suggest areas of improvement.  </p>

    </div>

    </div>

    </div>

    <!-- second -->
    
<div class="processColumn">
    
<div class="innerProcessColumn">
    
<div class="processImage">[xyz-ips snippet="Homepage-set-objectives-images"]</div>

    
<div class="process-column-description">
    
<h3>2.<br />
    Internal comms  </h3>

    
<p>We offer a centralised internal communications tool that also connects up all your existing stack. We offer top down and peer to peer communications.  </p>

    </div>

    </div>

    </div>

    <!-- third -->
    
<div class="processColumn">
    
<div class="innerProcessColumn">
    
<div class="processImage">[xyz-ips snippet="Homepage-launch-and-optimise"]</div>

    
<div class="process-column-description">
    
<h3>3.<br />
    Social enablement</h3>

    
<p>Once your employee engagement reaches levels associated with advocacy, Visibly activates promotors on social at scale. </p>

    </div>

    </div>

    </div>

    
<div class="processColumn">
        
<div class="innerProcessColumn">
        
<div class="processImage">[xyz-ips snippet="Homepage-launch-and-optimise"]</div>

        
<div class="process-column-description">
        
<h3>3.<br />
        Social enablement</h3>

        
<p>Once your employee engagement reaches levels associated with advocacy, Visibly activates promotors on social at scale. </p>

        </div>

        </div>

        </div>

    </div>

    </div>

    </div>

    </div>