//For all the Form elements
@mixin button{
     font-size:$btn-font-size;
     font-weight: $btn-font-weight;
     color:$white;
     line-height: $btn-height;
     height:$btn-height;
     width:$btn-width;
}
@mixin primaryButton {
     @include button;
     display: block;
     -webkit-appearance: none;
     text-transform: capitalize;
     background:$primary;
     border:1px solid $primary;
     text-align: center;
     position: relative;
     border-radius: $btn-radius;
     -webkit-border-radius:$btn-radius;
     -o-border-radius:$btn-radius;
     -ms-border-radius:$btn-radius;
     -moz-border-radius:$btn-radius;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     transition: all 0.5s ease;
     cursor: pointer;
     &:hover{
          -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
      }
      
      
      
      
      
      
}
@function set-bg-color($color) {
     @if ($color == $theme) {
          @return $theme;
     }@else if($color == $secondary) {
         @return $secondary;
     }@else if($color ==  $default-content){
         @return $default-content;
     }@else if($color ==  $light-text){
          @return $light-text;
     }@else if($color == $green){
           @return $green;
     }@else if($color == $orange){
          @return $orange;
     }@else if($color == $primary){
          @return $primary;
     }@else{
         @return $Header-title;
     }
   }
 
@mixin inputStyle {
     background:none;
    @include inputValue;
    @include formBorder;
    width: 100%;
    height:58px;
    padding: 10px;
    border-radius: 2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -moz-border-radius:2px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 0 10px;
    &.error-input{
         background: $errorBackground;
    }
}

@mixin placeHolder{
     font-size:16px;
     font-weight:300;
     color:$light-text;
}
@mixin inputValue{
    font-size:16px;
    font-weight: 300;
    color:$default-content; 
    line-height: 55px;
}
@mixin formBorder{
  border:1px solid $form-border;
}
@mixin smallTextBelowForm{
     font-size:12px;
     font-weight:300;
     color:$light-text;
     line-height:19.9px;
}
@mixin Formlink{
    font-size:12px;
    font-weight:300;
    color:$primary;
    line-height:19.9px;
}

