//For Header 

//menu-link

//example for mixin 
//  .data{
//      @include button;
//      background:set-bg-color($yellow);
// }

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
@mixin transition($transition) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin RequestDemoButton{
    font-size:14px;
    font-weight: $font-medium;
    color:$white;
    text-transform: capitalize;
    line-height: 58px;
    height:58px;
    background: $primary;
    padding:0 15px;
    display: inline-block;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover{
        -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
    }
    @include breakpoint(xs) {
        font-size: 12px;
        padding: 0 10px;
        min-width: 130px;
    }

}
//logo
@mixin logo{
    height:51px;
    width:51px;
}
@mixin contentLink {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #256eff;
    @include breakpoint(xs) {
        font-size:14px;
        line-height: 20px;
      }
}

//For Page

//For Title
@mixin PageTitle {
  font-size:$inner-page-main-title-font-size;
  line-height: $inner-page-main-title-line-height;
  font-weight:$inner-page-main-title-font-weight;
  color:$Header-title;
  margin-bottom: 20px;
 @include breakpoint(xs) {
    font-size:$inner-page-main-title-font-size-responsive;
  line-height: $inner-page-main-title-line-height-responsive;
    margin-bottom:10px;
    text-align:center;
  }
}
@mixin mainTitle{
    font-size: $inner-title-font-size;
    line-height: $inner-title-line-height;
    margin-bottom:$inner-title-margin-bottom;
    font-weight: $inner-title-font-weight;
    @media all and (max-width:767px){
        font-size: $inner-title-font-size-responsive;
        line-height: $inner-title-line-height-responsive;
    }
}

@mixin subTitle{
    font-size:16px;
    font-weight:$font-weight-paragraph;
    color:#333333;
    line-height: 30px;
    @include breakpoint(xs) {
       font-size:12px;
       line-height:18px;
     }
}
@mixin blockTitle{
    font-size:18px;
    font-weight:400;
    color:$Header-title;
    line-height:30px;
   @include breakpoint(xs) {
        font-size:14px;
        line-height:20px;
      }
}

@mixin homePageSubTitle{
    font-size:18px;
    font-weight:300;
    color:$default-content;
    line-height:35px;
    margin-bottom: 25px;
    &:last-child{
        margin-bottom: 0;
    }
    @include breakpoint(xs) {
        font-size:11px;
        line-height:18px;
        max-width:100%;
        margin-bottom: 15px;
      }
}
//For content

@mixin Paragraph{
    font-size:$para-font-size;
    font-weight:$para-font-weight;
    color:$para-color;
    line-height:$para-line-height;
    @include breakpoint(xs) {
        font-size:$para-font-size-reponsive;
        line-height:$para-line-height-reponsive;
        text-align: center;
    } 
}

//For Testimonial 
@mixin testimonialParagraph{
    font-size:14px;
    color:$light-text;
    line-height:23px;
    margin-bottom: 22px;
    font-weight: $font-weight-paragraph;
}
@mixin testimonialName{
    font-size:14px;
    color:$Header-title;
    line-height:18px;
    font-weight: $font-weight-avatar-name;
}

@mixin bottomText{
    font-size:16px;
    color:$Header-title;
    line-height:68px;
    font-weight: 300;
}

@mixin bannerParagraph{
    font-size:23px;
    color:$default-content;
    font-weight:300;
    line-height:35px;
}
@mixin bannerMainTitle{
    font-size:37px;
    color:$Header-title;
    font-weight:$font-weight-title;
    line-height:60px;
}
//Footer Signup 
@mixin footerMainTitle {
      font-size:31px;
      font-weight: 300;
      color:$footer-main-title;
      line-height: 48px;
      @include breakpoint(xs) {
        font-size:20px;
        line-height:26px;
    }
}

@mixin footerMainParagraph {
   font-size:16px;
   font-weight: 200;
   color:$Header-title;
   line-height: 28px;
   @include breakpoint(xs) {
    font-size:12px;
    line-height: 18px;
    }
}

//For Footer
@mixin footerTitle{
    font-size: 16px;
    font-weight: $font-weight-footer-title;
    color:$Header-title;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 10px;
    @include breakpoint(xs) {
        font-size:13px;
        line-height: 20px;
    }
}

@mixin lastFooterLine{
    font-size:13px;
    font-weight: $font-weight-menu-link;
    color:$light-text;
    line-height: 36px;
}
@mixin footerIcon {
      color:$footer-icon;
}

//block For Visibly Help you
@mixin visiblyHelpBlockMenu{
     font-size:21px;
     font-weight: 400;
     line-height: 30px;
     @include breakpoint(xs) {
        font-size:16px;
        line-height: 22px;
     }

}
//for table

@mixin tableHeader{
    font-size:14px;
    font-weight:400;
    color:$Header-title;
    line-height:28px;
}
@mixin tableContent{
    font-size:14px;
    font-weight:300;
    color:$default-content;
    line-height:28px;
}

@mixin playIconCircle {
    width: 30px;
    height: 30px;
    border: 2px solid $theme;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
    -moz-border-radius: 30px;
    display: inline-block;
    vertical-align: -4px;
    margin-right: 5px;
    top: -2px;
    position: relative;
    text-align: left;
    line-height: 34px;
    cursor: pointer;
}

@mixin playIcon{
    font-size: 12px;
    text-align: center;
    position: relative;
    top: -6px;
    left: 9px;
}
a{
  transition: .5s all;
}
$pageH1fontSize:34px;
$pageh2fontsize:31px;
