/* general css start */

body {
    font-family: 'Montserrat', sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 819px;
    padding: 0 20px;
    margin: 0 auto;
    width: auto !important;
}

a {
    cursor: pointer;
}

/* general css end */
.values-wrapper .values-content {
    border-bottom: 1px solid #ccc;
}

.values-wrapper .values-content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 10px;
    color: #1c1c1c;
}

.values-wrapper .post-rating-value-lable {
    position: absolute;
    max-width: 125px;
    width: 100%;
    z-index: 1;
    bottom: 0px;
    top: 0px;
    left: -1px;
    padding: 11px;
    background: #ff595e;
    color: #ffffff;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    border-right: 1px solid #ccc;
}

.values-wrapper .value-container-ranking {
    padding-left: 25px;
    max-width: 100%;
    position: relative;
}

.values-wrapper .value-container-ranking i {
    position: absolute;
    font-size: 20px;
    left: 3px;
    top: 3px;
}

.values-wrapper .value-container-ranking span {
    word-break: break-word;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding-left: 12px;
}

.values-wrapper .post-rating-voting-vote-part-wrapper {
    position: relative;
    padding-left: 145px;
}

.values-wrapper .post-rating-voting-vote-part-wrapper ul {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin: 0px;
    padding-left: 0px;
}

.values-wrapper .post-rating-voting-vote-part-wrapper li {
    font-size: 12px;
    line-height: 48px;
    color: #ff595e;
    font-weight: 600;
    list-style-type: none;
    float: left;
    width: 8.95%;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid #ccc;

}
.values-wrapper .post-rating-voting-vote-part-wrapper li:hover{
    background-color: #ff595e;
    color: #fff;
}

.values-wrapper .post-rating-value-table-wrapper {
    position: relative;
}

.values-wrapper .post-rating-voting-vote-part-wrapper li:last-child {
    border: none;
}

.post-rating-main {
    border: 2px solid #ccc;
}

.likely-wrapper span {
    font-size: 16px;
    font-weight: 500;
    color: #1c1c1c;
}

.not-likely-wrapper,
.very-likely-wrapper {
    position: relative;
}

.not-likely-wrapper span {
    position: absolute;
    left: 150px;
    top: 4px;
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 500;
}

.very-likely-wrapper span {
    position: absolute;
    right: 0px;
    top: 4px;
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 500;
}

/* feedback section css */
.feedback-title-content h1,
.thanks-title h2 {
    font-size: 25px;
    font-weight: 600;
    color: #1c1c1c;
    margin: 0px;
}

.feedback-title-content {
    text-align: center;
    padding-top: 80px;
}

.thanks-wrapper {
    text-align: center;
    margin-top: 60px;
    border: 2px solid #ccc;
    padding: 7px;
}

.inner-thanks-wrapper {
    padding: 10px 20px;
    border: 1px solid #ccc;
}

.feedback-title-content p,
.thanks-title p {
    font-size: 18px;
    font-weight: 500;
    color: #ff595e;
    margin: 0px;
    margin-top: 4px;
}

.feedback-textarea {
    margin-top: 30px;
}
.npsnumber.active {
      background: #ff595f;
      color: #fff;
}
.npsThankyouTitle {
   font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 10px;
    color:#1c1c1c;
    text-align: center;
}
.hide{
    display: none;
}

.feedback-textarea textarea {
    width: 95%;
    resize: none;
    max-width: 776px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 20px;
    font-size: 16px;
    color: #1c1c1c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

button {
    max-width: 180px;
    width: 100%;
    padding: 16px;
    margin-top: 10px;
    background: #ff595e;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    line-height: 18px;
    float: right;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

textarea::placeholder,
input::placeholder {
    font-size: 16px;
    color: #7b7b7b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.feedback-list li {
    font-size: 16px;
    font-weight: 500;
    color: #1c1c1c;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    float: left;
    list-style-type: none;
    position: relative;
    text-align: left;
    padding-bottom: 10px;
}

.feedback-list {
    max-width: 724px;
    text-align: center;
    margin: 0 auto;
}

.feedback-list li:before {
    height: 12px;
    width: 12px;
    position: absolute;
    left: -22px;
    top: 3px;
    content: '';
    background-color: #1c1c1c;
    border-radius: 50%;
    display: inline-block;
}

.feedback-list ul {
    width: 100%;
    float: left;
}

.email-wrapper {
    max-width: 64rem;
    margin: auto;
}

.email-input {
    display: flex;
}

.email-wrapper input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 15px;
    font-size: 16px;
    color: #1c1c1c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.email-wrapper button {
    max-width: 185px;
    width: 100%;
    padding: 11px;
    margin-top: 10px;
    background: #ff595e;
    color: #ffffff;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 0px;
    cursor: pointer;
    font-weight: bold;
    line-height: 18px;
    float: right;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

/* responsive start */

@media only screen and (max-width: 767px) {
    .values-wrapper .post-rating-value-lable {
        position: relative;
        width: auto;
        max-width: 100%;
        left: 0px;
        border-right: none;
    }

    .values-wrapper .post-rating-voting-vote-part-wrapper {
        padding-left: 0px;
    }

    .values-wrapper .post-rating-voting-vote-part-wrapper li {
        width: 8.7%;
    }
    .not-likely-wrapper span{
        left: 0px;
        font-size: 14px;
    }
    .very-likely-wrapper span{
        font-size: 14px;
    }
    p{
        font-size: 14px !important;
    }
    .values-wrapper .value-container-ranking span{
        font-size: 14px;
    }
    .feedback-title-content h1, .thanks-title h2{
        font-size: 20px;
    }
    .feedback-title-content{
        padding-top: 50px;
    }
    .feedback-textarea textarea{
        width: 85%;
    }
    .feedback-list li{
        width: 100%;
        font-size: 14px;
    }
    .feedback-list ul{
        padding-left: 20px;
    }
    .email-input input[type="text"]{
        width: 100%;
        padding-right: 0px;
        padding-left: 5px;
    }
    .email-input button{
        float: none;
        margin-top: 20px;
        padding: 15px;
        max-width: 100%;
        margin-left: 1px;
    }
    .email-input{
        display: block;
    }
    textarea::placeholder,
input::placeholder {
    font-size: 14px;
}
.thanks-wrapper{
    margin-top: 40px;
}
button{
    float: none;
}
.send-btn{
    text-align: center;
    margin: 0 auto;
}
}

.ratebox-title{
    padding-right:40px;
}
.ratebox-wrapper{
    padding:10px;
    max-width: 730px;
    margin:0 auto;
}
.ratebox-close-button{
    position: absolute;
    right:10px;
    top:10px;
    height:20px;
    width:20px;    
}
.ratebox-close-button svg{
    width:100%;
    height:100%;
}
.ratebox-table-wrapper table{
    border-collapse: collapse;
    width: 100%;
}
.ratebox-table-wrapper td{
    text-align: center;
}
@media all and (min-width:768px){
.ratebox-table-wrapper td:first-child{
    text-align: left;
    width:40%;
}
}
.ratebox-header{
    margin-bottom:30px;
}

.ratebox-table-wrapper th{
    padding:10px;
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid #eee;
}
.ratebox-table-wrapper th.step-header{
    font-size: 16px;
    background: #eee;
}
.mobile-ratebox-title{
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
}
.ratebox-table-wrapper tbody tr:nth-child(even){
    background: #eee;;
}
.ratebox-table-wrapper th, .ratebox-table-wrapper td{
    width:12%;
}
.ratebox-table-wrapper td{
    padding:10px;
    font-size: 12px;
    font-weight: 400;
}

.ratebox-table-wrapper td input[type="radio"]{
    position: absolute;
    left:-999em;
}
.radio-circle{
    border: 1px solid #888;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 30px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.radio-circle:before{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #ff595e;
    margin: -5px 0 0 -5px;
    opacity: 0;
}

input:checked + .radio-circle:before{
    opacity: 1;
}

@media all and (max-width:767px){
    .ratebox-table-wrapper thead{
        display: none;
    }
    .ratebox-table-wrapper table, .ratebox-table-wrapper tbody{
        display: block;
    }
    .ratebox-table-wrapper tr{
        display: block;
    }
    .ratebox-table-wrapper td:first-child{
        width:100%
    }
    .ratebox-table-wrapper td{
        width: 100%;
        display: flex;
        text-align: left;
    }
    .ratebox-table-wrapper td[data-label]:before{
        content:attr(data-label)": ";
        width: 140px;
        display: block;
    }
    
}
.ratebox-table-wrapper .success-message
{
    background: #eee;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 30px;
    max-width: 370px;
    margin: 20px auto 0;
}
.button-wrapper{
    margin-top:10px;
}
.button-wrapper input{
    float: right;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
    line-height: 48px;
    height: 48px;
    background: #ff595e;
    padding: 0 15px;
    display: inline-block;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-bottom: 8px;
    min-width: 106px;
    text-align: center;
}